<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>Unable to update article</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error.msg}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default br-none">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        Edit Article
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title" value="" class="form-control" ng-model="article.title" ng-keyup="setSlug()" required>
            </div>
        </div>
        <div class="form-group">
            <label for="slug" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-class="{active: article.slug.linked}" ng-click="toggleSlugLink()"><i class="fa" ng-class="{'fa-link': article.slug.linked, 'fa-unlink': !article.slug.linked}"></i></button>
                    </span>
                    <input type="text" id="slug" name="slug" value="" class="form-control" ng-model="article.slug.url" required ng-readonly="article.slug.linked">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="description" name="description" class="form-control" ng-model="article.description" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
                <summernote id="content" config="options" ng-model="article.content"></summernote>
            </div>
        </div>
        <div class="form-group">
            <label for="articlePhoto" class="col-sm-2 control-label">Article Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="articlePhotoSmall" name="articlePhotoSmall" value="" ng-model="article.photos.small">
                <input type="hidden" id="articlePhotoMedium" name="articlePhotoMedium" value="" ng-model="article.photos.medium">
                <input type="hidden" id="articlePhotoLarge" name="articlePhotoLarge" value="" ng-model="article.photos.large">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-article">
                        <div class="upload-drop" ng-show="article.photos.large === ''" ng-file-drop="photoUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{cardImg}}" alt="" ng-show="article.photos.large !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="photoUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="article.photos.large === ''">Select image</span>
                            <span ng-show="article.photos.large !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="article.photos.large = ''; article.photos.medium = ''; article.photos.small = '';" ng-show="article.photos.large !== ''">Remove image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="deck" class="col-sm-2 control-label">Deck</label>
            <div class="col-sm-10">
                <select class="form-control" ng-options="deck._id as deck.name for deck in decks" ng-model="article.deck"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="related" class="col-sm-2 control-label">Related Articles</label>
            <div class="col-sm-10">
                <select class="form-control" ng-options="item._id as item.title for item in articles" ng-model="article.related" multiple></select>
            </div>
        </div>
        <div class="form-group">
            <label for="related" class="col-sm-2 control-label">Class Tags</label>
            <div class="col-sm-10">
                <select size="9" class="form-control" ng-options="klass as klass for klass in klassTags" ng-model="article.classTags" multiple></select>
            </div>
        </div>
        <div class="form-group">
            <label for="featured" class="col-sm-2 control-label">Featured</label>
            <div class="col-sm-10">
                <select id="featured" name="featured" class="form-control" ng-options="featured.value as featured.name for featured in articleFeatured" ng-model="article.featured" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="premium" class="col-sm-2 control-label">Premium</label>
            <div class="col-sm-10">
                <select id="premium" name="premium" class="form-control" ng-options="premium.value as premium.name for premium in articlePremium" ng-model="article.premium.isPremium" required></select>
            </div>
        </div>
        <div class="form-group" ng-show="article.premium.isPremium">
            <label for="expiryDate" class="col-sm-2 control-label">Premium Expiry Date</label>
            <div class="col-sm-10">
                <div date-picker data-id="expiryDate" data-name="expiryDate" ng-model="article.premium.expiryDate" ng-disabled="!article.premium.isPremium"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="active" class="col-sm-2 control-label">Active</label>
            <div class="col-sm-10">
                <select id="active" name="active" class="form-control" ng-options="active.value as active.name for active in articleActive" ng-model="article.active" required></select>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="form.$invalid" ng-click="editArticle()">Update Article</button>
        </div>
    </div>
    </form>
    </div>
</div>
