<div class="db-classes clearfix">
    <div class="db-class db-class-mage"><a href="./admin/decks/add/mage"></a></div>
    <div class="db-class db-class-shaman"><a href="./admin/decks/add/shaman"></a></div>
    <div class="db-class db-class-warrior"><a href="./admin/decks/add/warrior"></a></div>
    <div class="db-class db-class-rogue"><a href="./admin/decks/add/rogue"></a></div>
    <div class="db-class db-class-paladin"><a href="./admin/decks/add/paladin"></a></div>
    <div class="db-class db-class-priest"><a href="./admin/decks/add/priest"></a></div>
    <div class="db-class db-class-warlock"><a href="./admin/decks/add/warlock"></a></div>
    <div class="db-class db-class-hunter"><a href="./admin/decks/add/hunter"></a></div>
    <div class="db-class db-class-druid"><a href="./admin/decks/add/druid"></a></div>
</div>