<div class="forgot-form row">
    <div class="login-form-header">
        <div class="key-border"><i class="fa fa-refresh"></i>             </div>
        <h1>Reset Password</h1>
    </div>
    <alert-box></alert-box>
    <div>
        
        <p class="reset-text">Enter your email address and we will email you a link to reset your password.</p>

<!--
        <div class="panel panel-danger error-modal animated" ng-show="showError">
            <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                <strong>Unable to send email</strong>
            </div>
            <div class="panel-body">
                <ul class="error text-danger">
                    <li ng-repeat="err in errors">{{err.msg}}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-success animated" ng-show="showSuccess">
            <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true" ng-click="showSuccess = false">&times;</button>
                <strong>Email sent successfully!</strong>
            </div>
        </div>
-->
        <form class="form-horizontal form-modal" role="form" name="form">
        <div class="form-group">
            <input type="email" class="form-control login-email" id="email" placeholder="Email Address" ng-model="forgot.email" required>
            <div class="login-charm">@</div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-blue btn-block btn-login" ng-disabled="form.$invalid" ng-click="forgotPassword(); setTitle('Forgot Password')">Reset Password</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
        <div class="sign-up m-t-md"><span class="pull-left">Already have an account?</span>
            <a href="https://tempostorm.com/login" ng-if="setState" ng-click="setState('login'); setTitle('User Login')" class="pull-right">Login</a>
            <a ui-sref="app.login" ng-if="!setState" href="#" class="pull-right">Login</a>
        </div>

        </form>
    </div>
</div>