<div class="login-form row">
    <div class="login-form-header">
    
    </div>
    <div class="login-form-auth col-sm-12 wrapper-none">
        <a href="#" class="btn  btn-twitch" ng-click="twitchLogin()"><i class="fa fa-twitch"></i>SIGN IN <br>Twitch</a>
        <a href="#" class="btn  btn-bnet" ng-click="bnetLogin()"><img src="../img/BattleNet_white.png" class="bat-net-img">SIGN IN <br>Battlenet</a>
    </div>
    
    <div class="login-form-email col-sm-12 wrapper-none">
        <form class="form-horizontal form-modal" role="form" name="loginForm">
        <div class="form-group m-b-sm">
            <input type="email" class="form-control  login-email" id="email" name="email" placeholder="Email Address" ng-model="loginInfo.email" required>
            <div class="login-charm">@</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control  login-email" id="password" name="password" placeholder="Password" ng-model="loginInfo.password" required>
            <div class="login-charm lock"><i class="fa fa-lock"></i></div>
        </div>

        <div class="remember-me">
            <span class="fa-stack fa-lg">
                <a class="remember-me-i" href="#" ng-click="remember = !remember">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i ng-if="remember" class="fa fa-check fa-stack-1x"></i>
                </a>
            </span>
            Remember Me
            <p class="forgot-password pull-right">
                <a href="https://tempostorm.com/forgot-password" ng-if="setState" ng-click="setState('forgot'); setTitle('Forgot Password')">Forgot Password?</a>
                <a ui-sref="app.forgotPassword" ng-if="!setState">Forgot Password?</a>
            </p>
        </div>

        <button type="submit" id="login-modal-btn" class="btn btn-blue btn-block btn-login" ng-disabled="loginForm.$invalid" ng-bind="loginText" ng-click="login(loginInfo.email, loginInfo.password)"></button>
        </form>
        <div class="sign-up m-t-md">
            <span class="pull-left">Don't have an account?</span>
            <a href="https://tempostorm.com/signup" ng-if="setState" ng-click="setState('signup'); setTitle('User Signup')" class="pull-right">Sign Up</a>
            <a ui-sref="app.signup" ng-if="!setState" class="pull-right">Sign Up</a>
        </div>
    </div>
</div>
