<div class="verify-form row">
    <div class="col-sm-12">
        <h2 class="m-b-lg">Verification Required</h2>
        <p class="white">You should receive an email shortly with a link to verify your account and log you in.</p>
<!--
        <div class="panel panel-danger error-modal animated" ng-show="showError">
            <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                <strong>Unable to verify account</strong>
            </div>
            <div class="panel-body">
                <ul class="error text-danger">
                    <li ng-repeat="err in errors">{{err.msg}}</li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal form-modal" role="form" name="verifyForm">
        <div class="form-group">
            <input type="email" class="form-control input-dark login-email" id="email" placeholder="Email" ng-model="verify.email" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-dark login-email" id="code" placeholder="Authorization Code" ng-model="verify.code" required>
        </div>
        <button type="submit" class="btn btn-blue btn-block" ng-disabled="verifyForm.$invalid" ng-click="verifyEmail(verify.email, verify.code)">Verify Account</button>
        </form>
-->
    </div>
</div>