<div class="verify-form row">
    <div class="col-sm-12">
        <p class="white">We just sent you an email to verify your account. Copy the verification code and paste it in to this form or click the link from your email to finish signing up.</p>
        <div class="panel panel-danger error-modal animated" ng-show="showError">
            <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                <strong>Unable to verify account</strong>
            </div>
            <div class="panel-body">
                <ul class="error text-danger">
                    <li ng-repeat="err in errors">{{err.msg}}</li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal form-modal" role="form" name="verifyForm">
        <div class="form-group">
            <input type="email" class="form-control input-dark login-email" id="email" placeholder="Email" ng-model="verify.email" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-dark login-email" id="code" placeholder="Authorization Code" ng-model="verify.code" required>
        </div>
        <button type="submit" class="btn btn-blue btn-block" ng-disabled="verifyForm.$invalid" ng-click="verifyEmail(verify.email, verify.code)">Verify Account</button>
        </form>
    </div>
</div>