@import 'ts-colors.scss';

// Description: styles related to the admin section

//*************************************

// 1... admin team
// 2... admin meta snapshot
// 4... admin banner
// 5... admin poll
// 6... Drag and Drop

//*************************************


//*************************************
// 1... admin team
//*************************************


.upload-drop-team {
    height: 188px !important;
    width: 188px !important;
}


.photo-input .upload-drop { border-radius: 4px; border: 1px dashed #ccc; text-align: center; color: #666; }
.photo-input .upload-drop.active { border: 1px dashed #66afe9; color: #357ebd; background: #e6f7ff; }

.social-addon-group {
    width: 100%;
}

.social-addon {
    width: 10%;
    text-align: right;
}

//*************************************
// 2... admin meta snapshot
//*************************************

.button-block {}
.button-block button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.snap-num {
    width:50px;
}

.cardBtn {
    background: none;
    border: none;
    outline: none;
    padding: 2px 8px;
}

.cardBtn.green {
    background: #5CB85C;
    border: none;
    outline: none;
    padding: 2px 8px;
    color: white;
}

.cardBtn.danger {
    background: #D9534F;
    border: none;
    outline: none;
    padding: 2px 8px;
    color: white;

}

.cardAddList {
    padding: 5px;
    padding-right: 0px;
}

.cardAddList img {
    margin-top: -5px;
    height:40px;
}

.cardToss {
    background-color: #f2dede;
}

.cardKeep {
    background-color: #dff0d8;
}

textarea[name=intro],
textarea[name=explanation],
textarea[name=weeklyNotes],
textarea[name=thoughts] {
    resize: vertical;
}

.tierHeading {
    line-height: 1.75
}


//*************************************
// 4... admin banner
//*************************************

textarea[name=description] {
    resize: none;
}
label p {
    font-weight: 500;
    font-size: 13px;
}

//*************************************
// 5... admin poll
//*************************************

.poll-item-edit { width:auto; }
.edit-button-fix .badge {padding: 5px 15px }

//*************************************
// 6... General Admin
//*************************************

.admin-article-related-bg {
    background-color: #F5F5F5;
}

.admin-side-nav {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1000;
    background: #1c2b36;
    border-right: 1px solid rgba(0,0,0,.15);
}

.admin-side-nav > ul.nav > li > a {
    color: #7ca1ae;
}

.admin-side-nav ul.nav li a:hover {
    color: #FFF;
    background: #16232d;
}

.admin-side-nav > ul.nav > li.active > a {
    color: #FFF;
    background: #131e26;
}

.admin-side-nav ul.nav li.active a:hover {
    color: #FFF;
    background: #131e26;
}

.nav li.active .fa-angle-right {
    display: none;
}

.nav li .fa-angle-down {
    display: none;
    margin-right: 5px;
}

.nav li.active .fa-angle-down {
    display: inline;
}

.nav-sub {
    background: #000;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-left: -20px;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.active .nav-sub {
    opacity: 1;
    margin-left: 0;
    height: auto !important;
    overflow: auto;
}

.nav-sub li a {
    text-indent: 24px;
    color: #7ca1ae;
}

.nav-sub li.active a {
    color: #FFF;
}

.nav-sub li a:hover {
    background: #000;
}

.admin-content {
    height: 100%;
    min-height: 100%;
    margin-left: 200px;
}

.admin-content-title {
    font-size: 24px;
    font-weight: 300;
    color: #555;
    background-color: #f6f8f8;
    border-bottom: 1px solid #ddd;
}

.admin-dark {  }

//*************************************
// 6... Drag and Drop
//*************************************

/* dnd lists */
ul[dnd-list] > li {
	position: relative;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    list-style: none;
    display: block;
    background-color: #ddd;
    min-height: 52px;
}
