// Description: file to build css for adding new decks to HS

//*************************************

// 1... HS deck mixin library
// 2... HS decks 

//*************************************


//*************************************
// 1... HS deck mixin library
//*************************************

// $deck = type of deck, druid or warrior etc.
// $character = character varients of the deck, ie rexxar or alleria as hunters

@mixin hs-deck-images ($deck, $character) {

    .hs-deck.small.#{$deck}.#{$character} { background: url('../img/decks/#{$deck}.png') center center no-repeat; background-size: cover; }
    .hs-deck.large.#{$deck}.#{$character} { background: url('../img/decks/#{$deck}-large.png') center center no-repeat; background-size: cover; }
    .hs-deck.long.#{$deck}.#{$character} { background-image: url('../img/decks/long/#{$character}.png'); background-position: right center; background-repeat: no-repeat; }

}

//*************************************
// 2... HS decks 
//*************************************



@include hs-deck-images (druid, malfurion);
@include hs-deck-images (hunter, rexxar);
@include hs-deck-images (hunter, alleria);
@include hs-deck-images (mage, jaina);
@include hs-deck-images (mage, medivh);
@include hs-deck-images (paladin, uther);
@include hs-deck-images (priest, anduin);
@include hs-deck-images (rogue, valeera);
@include hs-deck-images (shaman, thrall);
@include hs-deck-images (warlock, guldan);
@include hs-deck-images (warrior, garrosh);
@include hs-deck-images (warrior, magni);
