@import 'ts-colors.scss';

// Description: hearthstone home file for general styles for hearthstone main page as well as styles for filter

//*************************************

// 1... general styles
// 2... filters

//*************************************


//*************************************
// 1... general styles
//*************************************

/* hs - home */
.hs-home-title { background: #2766ad url('../img/hs/top-banner.jpg') center center no-repeat; background-size: cover; }
.hs-home-logo { margin: 60px auto; }

/* hs - content */
.hs-content { margin-right: -10px; padding-top: 80px; }
.hs-content > .row { margin: 0 auto; max-width: 1448px; }
.hs-content h1.title { font-family: 'Open Sans Bold'; font-size: 26px; color: #DDD; letter-spacing: 2px; text-transform: uppercase; }
.hs-content h3.sub-title { font-size: 14px; color: #d3eefa; }

//*************************************
// 2... filters
//*************************************


.hs-filter-bar { padding: 20px 0; background: rgba(36,104,171,.3); }

.hs-filter-bar .filter-class { margin: 0; padding: 0px; }
.hs-filter-bar .filter-class li { list-style: none; margin-right: 30px; display: inline-block; *display: inline; zoom: 1; width: 62px; height: 63px; 

    &:last-child {
    
        @media (min-width: 767px) {
            
            margin-right: 0px;
            
        }
    }
}

//.hs-filter-bar .filter-class li:last-child { margin-right: 0px; }

.hs-filter-bar .filter-class li a { display: block; width: 62px; height: 63px; overflow: hidden; text-indent: -99999px; background: url('../img/class-icons.png') no-repeat; opacity: .5; }
.hs-filter-bar .filter-class li a.active { opacity: 1; }
.hs-filter-bar .filter-class li a.not-selected { opacity: .3; }
.hs-filter-bar .filter-class li a.not-selected:hover { opacity: .6; }


.hs-filter-bar .filter-class li .warlock { background-position: 0px 0px; }
.hs-filter-bar .filter-class li .warrior { background-position: 0px -63px; }
.hs-filter-bar .filter-class li .hunter { background-position: 0px -126px; }
.hs-filter-bar .filter-class li .rogue { background-position: 0px -189px; }
.hs-filter-bar .filter-class li .priest { background-position: 0px -252px; }
.hs-filter-bar .filter-class li .paladin { background-position: 0px -315px; }
.hs-filter-bar .filter-class li .mage { background-position: 0px -378px; }
.hs-filter-bar .filter-class li .druid { background-position: 0px -441px; }
.hs-filter-bar .filter-class li .shaman { background-position: 0px -504px; }
/* end filters */