@import 'ts-colors.scss';


.ow-titles {
    line-height:1.5;
    margin: 0;
    font-family: 'Open Sans Bold';
    color: $white;
    font-size: 30px;
}

    
.no-pad-left {
    padding-left: 0;
}

.ts-div {
    background-color:rgba(19,18,19,.7); 
    box-shadow: 2px 12px 10px rgba(0,0,0,.75); 
    border: 1px solid rgba(255,255,255,0.2); outline: 1px solid #000;
}

.ow-heroes {
    padding: 15px 20px 20px 20px;
}

.ow-hero-filters {
    position: relative;
}

.ow-hero-filters { 
    position: relative; 
    margin: 0 auto; max-width: 1448px; 
    height: 510px; padding: 0; 

    li { 
        list-style: none; 
        position: absolute; 
        
        :nth-child(1) { top: 15px; left: 10.9px; }
        :nth-child(2) { top: 15px; left: 96.8px; }
        :nth-child(3) { top: 15px; left: 182.7px; }
        :nth-child(4) { top: 15px; left: 268.6px; }
        
        :nth-child(5) { top: 15px; left: 10.9px; }
        :nth-child(6) { top: 15px; right: 105px; }
        :nth-child(7) { top: 15px; right: 195px; }
        :nth-child(8) { top: 15px; right: 300px; }
        
        :nth-child(9) { top: 15px; right: 15px; }
        :nth-child(10) { top: 15px; right: 105px; }
        :nth-child(11) { top: 80px; left: 195px; }
        :nth-child(12) { top: 80px; left: 300px; }
        
        :nth-child(13) { top: 80px; left: 15px; }
        :nth-child(14) { top: 80px; left: 105px; }
        :nth-child(15) { top: 80px; left: 195px; }
        :nth-child(16) { top: 80px; right: 300px; }
        
        :nth-child(17) { top: 80px; right: 15px; }
        :nth-child(18) { top: 80px; right: 105px; }
    }

}