// 1... tempo storm color imports

@import 'ts-colors.scss';

// 2... local variables

$size: 71px;
$pos-x: 2px;
$pos-y: 4px;

// 3... local mixins library

@mixin ow-hero-list ($hero, $size, $pos-x, $pos-y) { 
     
  .ow-hero-filters li a.#{$hero} {
            background: url("../../dist/img/overwatch/hero-thumbnails/#{$hero}.png") no-repeat;
            width: 65px;
            height: 65px;
            display: inline-block;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid #FFF;
            text-indent: -99999px;
            outline: none;
            opacity: 1;  
            float: left;
            margin-left: 8px;
            margin-right: 8px;
            background-position: #{$pos-x} #{$pos-y};
            background-size: #{$size} auto;                
            z-index: 100;    
        }    
    }


//styles start


// 4... style overides


.no-side-pad {
    padding-left: 0;
    padding-right: 0;
}

    
.no-pad-left {
    padding-left: 0;
}

.ts-div {
    background-color:rgba(19,18,19,.7); 
    box-shadow: 3px 4px 5px rgba(0,0,0,.75); 
    border: 1px solid rgba(255,255,255,0.2); outline: 1px solid #000;
}

.m-b-18 {
    margin-bottom: 18px;
}

//overwatch specific styles


// 5... OW typography

.ow-content h1.title {
    font-family: 'Open Sans Bold';
    font-size: 26px;
    color: #DDD;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.ow-content h3.sub-title {
    font-size: 14px;
    color: #d3eefa;
}



// 6... background & header

.ow-bg {
    margin: 0;
    padding: 0 !important;
    background: $ts-black url('../../dist/img/overwatch/hero-top-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}

.ow-upper-bg {
    margin: 0;
    padding: 0 !important;
    background: $ts-black url('../../dist/img/overwatch/hero-top-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 1050px;
  
}

.ow-lower-bg {
    margin: 0;
    padding: 0 !important;
    background: $ts-black url('../../dist/img/overwatch/hero-top-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;

}


.ow-home-title {
    background: $ts-blue url('../../dist/img/overwatch/top-banner.jpg') no-repeat center center;
    background-size: cover;
    
        @media (max-width: 1050px) {
        
            background-position: left; 
        
        }
}

.ow-home-logo {
    margin: 33px;
    margin-left: 12.05%; 
    height: 80%;
    width: 360px;
    
      @media (max-width: 1050px) {
        
            margin-left:auto;
            margin-right: auto;
        
        }
    

}



// 7... Hero filter lists


.ow-hero-list {
    margin: 0;
    padding: 0;
    z-index: 100;
    
}

.ow-heroes {
    padding: 15px 20px 20px 20px;
}



.ow-herobar-home {
    position: relative; 
    padding: 22px 0 0 0; 
   // margin-top: 18px;
    height: 648px;
  
    
        @media (max-width: 1200px) {
        
            height: auto; 
        
        }
}

.ow-hero-filters { 
    
    ul {
        text-align: center; 
    }
        
        li { 
            list-style: none; 
            position: relative;
            display: inline-block;
            
            a {
            margin-bottom: 22px;
            }
       }
        
    }

@include ow-hero-list (bastion, $size, 5px, $pos-y);
@include ow-hero-list (hanzo, $size, $pos-x, $pos-y);
@include ow-hero-list (junkrat, $size, -10px, 1px);
@include ow-hero-list (lucio, $size, $pos-x, 1px);
@include ow-hero-list (mccree, 72px, 2px, 0px);
@include ow-hero-list (mercy, $size, $pos-x, 1px);
@include ow-hero-list (pharah, $size, $pos-x, $pos-y);
@include ow-hero-list (reaper, $size, $pos-x, $pos-y);
@include ow-hero-list (reinhardt, $size, $pos-x, $pos-y);
@include ow-hero-list (roadhog, $size, $pos-x, $pos-y);
@include ow-hero-list (soldier-76, $size, $pos-x, $pos-y);
@include ow-hero-list (symmetra, $size, $pos-x, $pos-y);
@include ow-hero-list (torbjorn, $size, -7px, 1px);
@include ow-hero-list (tracer, $size, $pos-x, 1px);
@include ow-hero-list (widowmaker, $size, $pos-x, $pos-y);
@include ow-hero-list (winston, 72px, $pos-x, -1px);
@include ow-hero-list (zarya, $size, $pos-x, 1px);
@include ow-hero-list (zenyatta, $size, $pos-x, $pos-y);


    .ow-hero-filters li a.active {
            background-color: $ow-yellow;
            } 
            
    .ow-hero-filters li a:hover {
             background-color: $ow-yellow;
            }

.ow-hero-selected {
    position: absolute;
    width: 100%;
    height: 550px;
    padding: 0;
    bottom: 0;
    background: url('../../dist/img/overwatch/hero-sidebar/bastion.png') center ;
    opacity: 0.3;
}


// 8... Hero page hero list bar

.ow-hero-bar {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px 0 0 0;
    background-color:rgba(19,18,19,.7); 
    box-shadow: 3px 4px 5px rgba(0,0,0,.75); 
    z-index: 100;
  
}

.ow-hero-bar li a {
    margin-bottom: 10px !important;
}

// 9... Overwatch skillbar styles

.ow-hero-skillbar {
    width: 100%;
    background-color: rgba($ts-blue, 0.7);
    border-top: 3px solid $ts-blue;
    border-bottom: 3px solid $ts-blue;
    z-index: 300;
    margin-top: -203px;
    position: relative;
}

// 10... overwatch hero brief

.ow-hero-brief {
    
    z-index: 100;
    
    h1 {
        font-style: italic;
        font-size: 7em;
        margin-top: 75px;
        font-weight: 900;
    }
    
    ul {
    padding-left: 0;
    }
    
    h1,
    li {
        text-transform: uppercase;
        color: $white;
        
        text-shadow: 2px 2px $ts-black;
        
    }
    
    li {
        list-style-type: none;
        line-height: 2.5em;
        font-weight: 700;

        
    }
    
    li:first-of-type {
            margin-bottom: 20px; 
            font-size: 1.5em;
    }
   
    li:nth-of-type(2) {
        
    }
    
    .ow-role {
    
        font-weight: 900;
        color: $ow-yellow;
       
    }
}



.test {
    background-color: green;
}


// 11.... overwatch Hero image

.ow-character-img {
    
    
    img {
        position: absolute;
        top: -100px;
        left: -50px;
        width: 145%;
        z-index: 10;
    }

}
