@import 'ts-colors.scss';

// Description: Styles for user profiles

//*************************************

// 1... profile-page
// 2... profile-deck
// 3... profile-edit
// 4... profile social
// 5... profile connect
// 6... profile guides
// 7... profile - no content
// 8... subscription

//*************************************

//*************************************
// 1... profile-page
//*************************************


.profile-page .profile-info-body h1 { color: white; font-weight: bold; font-size: 24px; letter-spacing: 5px; }
.profile-page .profile-info-body h1 small { color: white; font-weight: bold; font-size: 12px; letter-spacing: 1px; display: block; }
.profile-page h2 { color: white; font-size: 18px; letter-spacing: 3px; }
.profile-page h2 small { color: #C4C4C4; font-size: 16px; letter-spacing: 3px; display: block }

.profile-page .profile-col-header { height: 35px; margin-top: 30px; }
.profile-page p { color: #C4C4C4; }

.profile-page .profile-info { text-align: center; margin-bottom: 100px; }
.profile-page .profile-scroll { min-height: 600px; }
.profile-page .profile-img { width: 115px; height: 115px; border-radius: 50%; background-color: rgba(200,200,200,.4); padding: 5px; margin: auto; }
.profile-page .profile-img img { width: 100%; }
.profile-page .profile-info .profile-info-body .profile-social { margin: 30px 0px; }
.profile-page .profile-info .profile-info-body .profile-social a { margin: 0px 5px; height: 40px; width: 40px; background-color: white; display: inline-block; border-radius: 50%; }
.profile-page .profile-info .profile-info-body .profile-social a:hover .fa-twitter { color: #55acee; }
.profile-page .profile-info .profile-info-body .profile-social a:hover .fa-twitch { color: #6441a5; }
.profile-page .profile-info .profile-info-body .profile-social a:hover .fa-youtube { color: #cd201f; }
.profile-page .profile-info .profile-info-body .profile-social a:hover .fa-facebook { color: #3b5998; }
.profile-page .profile-info .profile-info-body .profile-social a:hover .fa-instagram { color: #3f729b; }
.profile-page .profile-info .profile-info-body .profile-social a i { font-size: 22px; line-height: 1.85; color: rgb(75,75,75); }
.profile-page .profile-info .profile-info-body .counts h2 { display: inline-block; margin: 30px 5%; }
.profile-page .profile-info .profile-info-body .description { margin: 30px 0px; }


//.profile-page .activity-filter li { display: inline-block; }
//.profile-page .activity-filter .profile-filter-btn { background-color: rgba(0,0,0,.6); border-radius: 0; opacity: .8 }
//.profile-page .activity-filter .profile-filter-btn:hover { opacity: 1; text-shadow: none; font-weight: 700; border-color: black;}
//.profile-page .activity-filter .profile-filter-btn.active { background-color: #2766ad; opacity: 1; text-shadow: none; border-color: black; font-weight: 700;}
//.profile-page .activity-filter .profile-filter-btn:focus { background-color: rgba(0,0,0,.6); outline:none; text-shadow: none; border-color: black;}
//.profile-page .activity-filter .profile-filter-btn:focus.active { background-color: #2766ad; outline:none; text-shadow: none; border-color: black;}


.profile-page {
    .activity-filter {
        li { 
            display: inline-block; 
        }

        .profile-filter-btn { 
            background-color: rgba(0,0,0,.7); 
            border-radius: 0;
            font-weight: 700;
            opacity: .8;
            text-shadow: none;
            color: rgba(255, 255, 255, .7);

            &:hover { 
                opacity: 1; 
                border-color: black;
                font-weight: 700;
                color: rgba(255, 255, 255, 1);
            }

            &.active { 
                background-color: #2766ad; 
                opacity: 1; 
                border-color: black;
                font-weight: 700;    
            }
            
            &:focus { 
                background-color: rgba(0,0,0,.6); 
                outline:none; 
                border-color: black;
                font-weight: 700;
                color: rgba(255, 255, 255, .7);
                
                &.active { 
                    background-color: #2766ad; 
                    outline:none; 
                    border-color: black;
                    font-weight: 700;
                    color: rgba(255, 255, 255, .7);
                }
            }
        }
    }
}

.profile-page .activity-filter .profile-filter-btn:focus { background-color: rgba(0,0,0,.6); outline:none; text-shadow: none; border-color: black;}
.profile-page .activity-filter .profile-filter-btn:focus.active { background-color: #2766ad; outline:none; text-shadow: none; border-color: black;}


.profile-page .activity-list .activity { padding: 30px 25px 25px 25px; display: flex; overflow: hidden; opacity: 1; transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; }
.profile-page .activity-list .activity:hover { background: rgba(255,255,255,.2); transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; }
.profile-page .activity-list .activity .activity-left { height: 100% }
.profile-page .activity-list .activity .activity-left .activity-img { width: 60px; height: 60px; border-radius: 50%; background-color: rgb(255,255,255); padding: 2px; }
.profile-page .activity-list .activity .activity-left .activity-img img { width: 100%; }
.profile-page .activity-list .activity .activity-left .activity-btn-wrapper { opacity: .15; transition: .2s }
.profile-page .activity-list .activity:hover .activity-left .activity-btn-wrapper { opacity: 1; }
.profile-page .activity-list .activity .activity-left .activity-btn-wrapper .activity-btn { display: inline-block; width:25px; height: 25px; text-align: center; background-color: rgba(255,255,255,.75); border-radius: 50%; line-height: 1.75; }

.profile-page .activity-list .activity .activity-right { padding-left: 25px; color: white; width: 100%; }
.profile-page .activity-list .activity .activity-right .activity-content .activity-header {  }
.profile-page .activity-list .activity .activity-right .activity-content .activity-header h2 { font-size: 14px; letter-spacing: 2px; max-width: 80%; }
.profile-page .activity-list .activity .activity-right .activity-content .activity-header h2.deleted { font-size: 14px; letter-spacing: 2px; width: 100%; color: rgba(215,215,215,.8); }
.profile-page .activity-list .activity .activity-right .activity-content .activity-header h2 .color-wrapper { color: rgba(215,215,215,1) }
.profile-page .activity-list .activity .activity-right .activity-content .activity-header h2 a { font-weight: bold; }
.profile-page .activity-list .activity .activity-right .activity-content .activity-header h2 a:hover { text-decoration: underline; }
.profile-page .activity-list .activity .activity-right .activity-content .activity-foot { color: rgba(200,200,200,.75); }

.profile-page .activity-list .activity,
.profile-page .show-more { border: 1px black solid; outline: 1px rgba(255,255,255,.2) solid; outline-offset: -2px; box-shadow: 2px 2px 3px rgba(0,0,0,.75); background: rgba(0,0,0,.85); transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; }
.profile-page .show-more:hover { background: rgba(255,255,255,.1); }
.profile-page .show-more:hover a { color: rgba(255,255,255,1); }
.profile-page .show-more { height: 55px; text-align: center; }
.profile-page .show-more a { color: rgba(255,255,255,.8); font-size: 18px; line-height:3; display: block; height: 100%; width: 100%; transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; }
.profile-page .show-more a:focus { outline: none; border: none; }

.profile-page .activity-list .activity .activity-body {
    color: rgba(215,215,215,1);
}

/*.profile-page .activity-list .articleComment .activity-right .activity-body,*/
.profile-page .activity-list .articleComment .activity-right .activity-header h2 a,
.profile-page .activity-list .forumComment .activity-right .activity-header h2 a,
.profile-page .activity-list .forumPost .activity-right .activity-header h2 a,
.profile-page .activity-list .forumPost .activity-left i,
.profile-page .activity-list .createArticle .activity-right .activity-header h2 a,
.profile-page .activity-list .createArticle .activity-left i,{
    color: rgb(0,126,195);
}
.profile-page .activity-list .articleComment .activity-left .activity-img,
.profile-page .activity-list .forumComment .activity-left .activity-img,
.profile-page .activity-list .forumPost .activity-left .activity-img,
.profile-page .activity-list .createArticle .activity-left .activity-img {
    background-color: rgb(0,126,195);
}

/*.profile-page .activity-list .createGuide .activity-right .activity-body,*/
.profile-page .activity-list .createGuide .activity-right .activity-header h2 a,
.profile-page .activity-list .createGuide .activity-left i,
.profile-page .activity-list .guideComment .activity-right .activity-header h2 a {
    color: #785b97;
}
.profile-page .activity-list .createGuide .activity-left .activity-img,
.profile-page .activity-list .guideComment .activity-left .activity-img {
    background-color: #785b97;
}

/*.profile-page .activity-list .createDeck .activity-right .activity-body,*/
.profile-page .activity-list .createDeck .activity-right .activity-header h2 a,
.profile-page .activity-list .createDeck .activity-left i,
.profile-page .activity-list .snapshotComment .activity-right .activity-header h2 a,
.profile-page .activity-list .deckComment .activity-right .activity-header h2 a {
    color: rgb(187,80,24);
}
.profile-page .activity-list .createDeck .activity-left .activity-img,
.profile-page .activity-list .snapshotComment .activity-left .activity-img,
.profile-page .activity-list .deckComment .activity-left .activity-img {
    background-color: rgb(187,80,24);
}

.profile-page .activity-list .signup .activity-right .activity-header h2 {
    color: gold;
}
.profile-page .activity-list .signup .activity-left .activity-img {
    background-color: gold;
}
.profile-page .activity-list .activity.signup {
    outline: 1px rgba(255,215,0,.2) solid;
    outline-offset: -2px;
}

//*************************************
// 2... profile-deck
//*************************************

.profile-decks { margin: 15px -15px; }
.profile-deck { padding: 5px 5px; }
.profile-deck .panel.premium { border-color: #f0c55c; }
.profile-deck .premium-flag { position: absolute; top: 6px; right: 6px; width: 76px; height: 51px; background: url('../img/premium.png') no-repeat; }
.profile-deck .panel { margin-bottom: 0px; border: 1px solid #ccc; border-radius: 0px; }
.profile-deck .panel .panel-heading,
.profile-deck .panel .panel-body { padding-left: 80px; }

.profile-deck-premium { position: absolute; top: 5px; right: 5px; }

.profile-deck-class { position: absolute; left: 15px; top: 15px; width: 60px; height: 60px; background: url('../img/class-sprites.png') no-repeat; overflow: hidden; text-indent: 100%; }
.profile-deck-class.mage { background-position: 0px -60px; }
.profile-deck-class.shaman { background-position: 0px -300px; }
.profile-deck-class.warrior { background-position: 0px 0px; }
.profile-deck-class.rogue { background-position: 0px -120px; }
.profile-deck-class.paladin { background-position: 0px -480px; }
.profile-deck-class.priest { background-position: 0px -360px; }
.profile-deck-class.warlock { background-position: 0px -420px; }
.profile-deck-class.hunter { background-position: 0px -240px; }
.profile-deck-class.druid { background-position: 0px -180px; }

//*************************************
// 3... profile-edit
//*************************************

.edit-profile-view {
    padding: 25px 0px 0px 0px;
}

.profile-edit-wrapper {
    background: rgba(25,25,25,.95);
    padding:35px;
    border: 2px solid rgba(255,255,255,.2);
    margin-bottom: 50px;
}

.profile-edit-wrapper h2 {
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: 0px;
}

.profile-edit-wrapper h3 {
    font-size: 12px;
    color: rgba(255,255,255,.3);
    margin: 8px 0px;
}

.profile-edit-wrapper .basic-wrapper {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.profile-edit-wrapper .basic-wrapper .notification {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    
    line-height: 2;
    color: white;
    background: black;
    padding: 20px;
    border: 1px solid #CD201F;
    margin-bottom: 10px;
}

.profile-edit-wrapper .basic-wrapper .notification p {
    text-indent: 10px;
    margin: 0px;
}

.profile-edit-wrapper .basic-wrapper .notification div {
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    background: white;
    width: 30px;
    height: 30px;
}

.profile-edit-wrapper .gravatar {
    width: 75%;
    margin: 0px auto 20px auto;
}

.profile-edit-nav button {
    background: none;
    margin-right: 40px;
    border: none;
    text-align: center;
    padding: 6px 5px;
}

.profile-edit-nav button.active {
    border-bottom: 3px #2268AD solid;
}
.profile-edit-nav button.focus {
    border-bottom: 3px #2268AD solid;
}

.profile-edit-wrapper .gravatar-button {
    border-right: 2px rgba(25,25,25,1) solid;
    padding:10px;
    text-align: center;
    line-height: 2.5;
    background: #2268AD;
}

.profile-edit-wrapper .basic-form div,
.profile-edit-wrapper .basic-form span {
    margin: 5px 0px;
    padding: 0px;
    position: relative;
}

.profile-edit-wrapper .email-charm {
    font-size: 18px;
    color: rgba(255,255,255,.75);
    font-weight: bold;
    right: 25px;
    top: 5px;
    position: absolute !important;
}

.profile-edit-wrapper .basic-form textarea {
    width: 98%;
    margin: 0px 1%;
    padding: 15px;
    border-radius: 0px;
    border: 1px solid rgba(255,255,255,.2);
    background: black;
    color: rgba(255,255,255,.7);
    resize: vertical;
}

.profile-edit-wrapper .basic-form input {
    padding-right: 40px;
    height: 45px;
    border-radius: 0px;
    border: 1px solid rgba(255,255,255,.2);
    background: black;
    margin: auto;
    width: 95%;
    color: rgba(255,255,255,.7);
}

.profile-edit-wrapper .reset-password {
    border: none;
    outline: none;
    margin: 0px 2.5%;
    width: 95%;
    background: #cd201f;
}

.profile-edit-wrapper .reset-password h2 {
    height:47px;
    line-height: 3.75;
}

//*************************************
// 4... profile social
//*************************************


.profile-edit-wrapper .social-wrapper {
    margin: 10px 0px;
}

.profile-edit-wrapper .social-wrapper .link {
    transition: .1s;
    
    margin-top: 15px;
    display: flex;
}

.profile-edit-wrapper .social-wrapper .link.invalid {
    background: rgba(255, 0,0,.25);
}

.profile-edit-wrapper .social-wrapper .link input {
    color: white;
    border: none;
    background: none;
}

@media (max-width: 768px) {
    .profile-edit-wrapper .social-wrapper .link input {
        padding: 0px 10px;
    }
}

.profile-edit-wrapper .social-wrapper .social-input {
    width: 100%;
}

.profile-edit-wrapper .social-wrapper .link .logo-wrapper {
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
}

.profile-edit-wrapper .social-wrapper .link .logo-wrapper i {
    color: white;
    font-size: 18px;
    line-height: 2.25;
    width: 40px;
}

.profile-edit-wrapper .social-wrapper .static-text {
    color: rgba(95,95,95,.90) !important;
    padding-left: 10px;
}

.twitchWidth {
    padding: none;
    width: 148px;
}

.youtubeWidth {
    padding: none;
    width: 346px;
}

.twitterWidth {
    padding: none;
    width: 138px;
}

.facebookWidth {
    padding: none;
    width: 155px;
}

.instagramWidth {
    padding: none;
    width: 160px;
}

//*************************************
// 5... profile connect
//*************************************


.twitchBack {
    background: #6441a5 !important;
}
.twitchBorder {
    border: 2px #6441a5 solid !important;
}
.blizzBack {
    background: #22324B !important;
}
.blizzBorder {
    border: 2px #22324B solid !important;
}
.gravBack {
    background: #1e8cbe !important;
}
.gravBorder {
    border: 2px #1e8cbe solid !important;
}
.youtubeBack {
    background: #cd201f !important;
}
.youtubeBorder {
    border: 2px #cd201f solid !important;
}
.twitterBack {
    background: #55acee !important;
}
.twitterBorder {
    border: 2px #55acee solid !important;
}
.facebookBack {
    background: #3b5998 !important;
}
.facebookBorder {
    border: 2px #3b5998 solid !important;
}
.instagramBack {
    background: #3f729b !important;
}
.instagramBorder {
    border: 2px #3f729b solid !important;
}

.profile-edit-wrapper .connect-wrapper {
    margin: 0px 0px;
}
.profile-edit-wrapper .connect-wrapper .connect {
    margin: 10px 0px;
    height: 100px;
    width: 100%;
    background: black;
}

.profile-edit-wrapper .connect-wrapper .connect .logo-wrapper {
    text-align: center;
    width: 100px;
    height: 100%;
    float: left;
}

.profile-edit-wrapper .connect-wrapper .connect .logo-wrapper i {
    line-height: 2.5;
    font-size: 40px;
    color: white;
}

.profile-edit-wrapper .connect-wrapper .connect img {
    padding: 30px;
    width: 100%;
    height: 100%;
}

.profile-edit-wrapper .connect-wrapper .connect .connect-body {
    height: 100%;
    position: relative;
}

.profile-edit-wrapper .connect-wrapper .connect .connect-body span {
    color: white;
    position: absolute;
    top: 20px;
    left: 120px;
}

.profile-edit-wrapper .connect-wrapper .connect .connect-body .link {
    padding: 5px 10px;
    border-radius: none;
    border: none;
    background: rgba(65,65,65,.75);
    margin: 35px 25px 0px 0px;
    float: right;
}

.profile-edit-wrapper .connect-wrapper .connect .connect-body .link i {
    color: white;
}


//*************************************
// 5... profile premium
//*************************************

.profile-edit-wrapper .update-card-btn,
.profile-edit-wrapper .update-profile-btn {
    margin-top: 20px;
    background: #2268AD;
    border: none;
    border-radius: none;
    padding: 10px 20px;
    color: white; 
    font-size: 12px; 
    letter-spacing: 3px;
    font-weight: bold;
}
.profile-edit-wrapper .update-card-btn:disabled,
.profile-edit-wrapper .update-profile-btn:disabled {
    opacity: .3
}

.profile-edit-wrapper .update-card-btn {
    margin-top: 0px;
    float: left;
}
.profile-edit-wrapper .cancel-subscription {
    background: #ad2222;
    margin-top: 0px;
    float: left;
}
.profile-edit-wrapper .update-card-btn-wrapper {
    margin-top: 20px;
}

.profile-edit-wrapper .premium-wrapper {
    margin: 20px 0px 0px 0px;
}

.profile-edit-wrapper .premium-wrapper i {
    color: white;
    font-size: 24px;
    float: left;
}

.profile-edit-wrapper .premium-btns {
    display: flex;
}

.profile-edit-wrapper .prem-btn {
    background: black;
    padding: 15px;
    outline: 1px solid rgba(255,255,255,.2);
    outline-offset: -2px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.profile-edit-wrapper .prem-btn h3 {
    text-align: left;
    margin: 0px;
}
.profile-edit-wrapper .prem-btn .price-wrap {
    width: 100%;
    text-align: center;
    padding: 60px 0px 80px 0px;
}
.profile-edit-wrapper .prem-btn .price-wrap h2 {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    color: rgba(255,255,255,.5);
    font-size: 24px;
}
.profile-edit-wrapper .prem-btn.active .price-wrap h2 {
    color: rgba(255,255,255,1);
}
.profile-edit-wrapper .prem-btn .price-wrap h3 {
    text-align: center;
    font-size: 14px;
    margin: 0px;
}
.profile-edit-wrapper .prem-btn:first-child {
    margin-right: 10px;
/*    height: 200px;*/
}
.profile-edit-wrapper .prem-btn:nth-child(2) {
    margin: 0px 10px;
}
.profile-edit-wrapper .prem-btn:last-child {
    margin-left: 10px;
/*    height: 200px;*/
}

.profile-edit-wrapper .monthly {
    border: 2px solid rgba(34,104,173,.5);
}

.profile-edit-wrapper .monthly.active {
    border: 2px solid rgba(34,104,173,1);
}

.profile-edit-wrapper .tri-monthly {
    border: 2px solid rgba(116,65,140,.5);
}

.profile-edit-wrapper .tri-monthly.active {
    border: 2px solid rgba(116,65,140,1);
}

.profile-edit-wrapper .six-month {
    border: 2px solid rgba(253,184,19,.5);
}

.profile-edit-wrapper .six-month.active {
    border: 2px solid rgba(253,184,19,1);
}

.profile-edit-wrapper .premium-form {
    margin: 20px 0px;
    display: flex;
}

.profile-edit-wrapper .premium-form input {
    color: rgba(255,255,255,.7);
    padding: 10px;
    border: 1px solid rgba(255,255,255,.3);
    background: black;
    flex: 3 0 0;
}

.profile-edit-wrapper .premium-form .cvc {
    flex: 1 0 0;
}

.profile-edit-wrapper .premium-form input:first-child {
    margin-right: 10px;
}
.profile-edit-wrapper .premium-form input:nth-child(2) {
    margin: 0px 10px;
}
.profile-edit-wrapper .premium-form input:last-child {
    margin-left: 10px;
}

//*************************************
// 6... profile guides
//*************************************

.profile-guides { margin: 15px -15px; }

//*************************************
// 7... profile - no content
//*************************************

.profile-no-content { margin-top: 20px; color: #FFF; border: 1px solid #000; background: rgba(0,0,0,.6); border-radius: 4px; padding: 20px 30px; }

//*************************************
// 8... subscription
//*************************************

.badge-grey { padding: 5px 10px; background: #F2F2F2; color: #222; }
.badge-green { padding: 5px 10px; background: #27c24c; }
.spinner { 
    display: inline-block; 
    opacity: 0;
    max-width: 0;/*
    -webkit-transition: opacity 0.25s, max-width 0.45s; 
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;  Duration fixed since we animate additional hidden width */
}
.has-spinner.disabled {
    cursor:progress;
}
.has-spinner.disabled .spinner {
    max-width: 50px; 
    opacity: 1; 
}
