//*************************************
// ...tempostorm tv & video of the day
//*************************************


/* video of the day and temp tv styles */

.ts-content { margin-right: -10px; padding-top: 80px; }
.ts-content > .row { margin: 0 auto; max-width: 1448px; }
.ts-content h1.title { font-family: 'Open Sans Bold'; font-size: 26px; color: #DDD; letter-spacing: 2px; text-transform: uppercase; }
.ts-content h3.sub-title { font-size: 14px; color: #d3eefa; }



/* tempostorm tv */
.tempostorm-tv { margin: 0; padding: 0; }
.tempostorm-tv li { margin: 0 0 10px 0; list-style: none; position: relative; }
.tempostorm-tv .tempostorm-tv-stream { position: relative; top: 0px; left: 0px; display: block; border: 1px solid #000; background: rgba(19,18,19,.7); box-shadow: 2px 2px 3px rgba(0,0,0,.75); transition: top .25s ease-in-out, box-shadow .25s ease-in-out, background .25s ease-in-out; }
.tempostorm-tv .tempostorm-tv-stream:hover { top: -10px; box-shadow: 2px 12px 10px rgba(0,0,0,.75); }

.tempostorm-tv .tempostorm-tv-stream .inner { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; border: 1px solid rgba(255,255,255,.2); z-index: 4; }
.tempostorm-tv .tempostorm-tv-wrapper img { width: 200px; height: 112px; }
.tempostorm-tv .tempostorm-tv-stream .tempostorm-tv-content { margin-left: 200px; padding: 10px 15px; height: 112px; position: relative; }
.tempostorm-tv .tempostorm-tv-stream .tempostorm-tv-content h1 { margin-bottom: 5px; font-size: 16px; color: #f7ef22; letter-spacing: 2px; text-transform: uppercase; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-shadow: 1px 1px 1px rgba(0,0,0,.7); }
.tempostorm-tv .tempostorm-tv-stream .tempostorm-tv-content h3 { font-size: 10px; color: #DDD; letter-spacing: 2px; text-transform: uppercase; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.tempostorm-tv .tempostorm-tv-stream .tempostorm-tv-content .streamer { position: absolute; bottom: 10px; left: 0px; font-size: 16px; color: #67a0d6; letter-spacing: 2px; text-transform: uppercase; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-shadow: 1px 1px 1px rgba(0,0,0,.7); max-width: 100%; padding: 0px 120px 0px 15px; }
.tempostorm-tv .tempostorm-tv-stream .tempostorm-tv-content .viewers { position: absolute; bottom: 10px; right: 15px; font-size: 16px; color: #DDD; letter-spacing: 2px; text-transform: uppercase; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-shadow: 1px 1px 1px rgba(0,0,0,.7); }

@media (max-width: 767px) {
    .tempostorm-tv .tempostorm-tv-stream .tempostorm-tv-content { margin-left: 0px; }
}