@mixin hots-hero-talents ($hero, $talents) {
    
    $smallInc: -30;
    $largeInc: -102;
    
    .talents-icon {
        
        &.#{$hero} { 
            
            background: url('../img/hots/talents/#{$hero}.png') no-repeat;
    
            @each $talent in $talents {
                
                $small: $smallInc*map-get($talent, pos);
                $large: $largeInc*map-get($talent, pos);

                @each $talentName in map-get($talent, class) {

                    &.#{$talentName} { background-position: 0px #{$small}px; }
                    &.large.#{$talentName} { background-position: -30px #{$large}px; }
                    
                }
                
            }

        }
    }
}

@include hots-hero-talents ( heroName, (
    ( class: (className1, className2, className6), pos: 0 ),
    ( class: (className3), pos: 1 ),
    ( class: (className4), pos: 2 ),
    ( class: (className5), pos: 3 )
) );