
// Descriptive variables

$white: #fff;
$black: #000;
$light-blue: #428bca;
$light-grey: #ddd;

$ts-black: #121111;
$ts-red: #aa2526;
$ts-green: #27c24c;
$ts-yellow: #f7ef22;
$ts-grey: #bababa; // ts font
$ts-dark-grey: #666; 

$ow-orange: #fdb813;

//tempostorm blues

$ts-blue: #2766ad;
$ts-dark-blue: #083f7d;


// Article colors

$article-blue: #67a0d6; //need this blue?? .home-article .home-article-content
$article-orange: #d07828;
$article-purple: #8968ad;





//tempo storm main colours


$memeber-purple: #D27A2A;


//hots colors

$hots-purple: #8968ad;
$hots-dark-purple: #221b36; 

//talent cal colors

$tc-purple: #4d286c;

//tempstorm Scrollbar colors

$sb-track: #333; // scrollbar
$sb-thumb: #454545; //scrollbar thumb

//Notification Dropdown colors

$notification-font: #555;
$notification-font: #f5f5f5;
$notification-border: $light-grey;



$avatar-white: #F2F2F2;





// $smoke: #f5f5f5;
// $light-smoke: #F2F2F2;


$off-black: #1b1b1b;


// HS class colours

$druid-orange: rgb(255, 125, 10); 
$hunter-green: rgb(171, 212, 115);
$mage-blue: rgb(105, 204, 240);
$paladin-pink: rgb(245, 140, 186);
$priest-white: white;
$rogue-yellow: rgb(255, 245, 105);
$shaman-blue: rgb(0, 112, 222);
$warlock-pink: rgb(148, 130, 201);
$warrior-tan: rgb(199, 156, 110); 


// Functional Variables


