// Description: scss file for tempostorms color variables to be imported to all scss files

//*************************************

// 1... Descriptive color variables
// 2... Tempostorm specific colors
// 3... Overwatch specific colors
// 4... Article colors
// 5... hots colors
// 6... talent calculator colors
// 7... tempstorm Scrollbar colors
// 8... Notification Dropdown colors
// 9... Hearthstone class colours
// 10... random colors 

//*************************************

//*************************************
// 1... Descriptive color variables
//*************************************

$white: rgba(255, 255, 255, 1);// #fff;
$black: rgba(0, 0, 0, 1); //#000;


$light-blue: rgba(39, 102, 173, 1); //#428bca;
$light-grey: rgba(221, 221, 221, 1); //#ddd;

$grey-blue: #d3eefa;

//*************************************
// 2... Tempostorm specific colors
//*************************************

$off-black: rgba(27, 27, 27, 1); //#1b1b1b;

$ts-blue: rgba(39, 102, 173, 1); //#2766ad; This is Tempostorm sites main blue
$ts-dark-blue: rgba(39, 102, 173, 1); //#083f7d;

$ts-black: rgba(18, 17, 17, 1); //#121111;
$ts-red: rgba(170, 37, 38, 1); //#aa2526;
$ts-green: rgba(39, 194, 76, 1); //#27c24c;
$ts-yellow: rgba(247, 239, 34, 1); //#f7ef22;
$ts-grey: rgba(186, 186, 186, 1); //#bababa; // ts font color !!!!
$ts-dark-grey: rgba(102, 102, 102, 1); //#666; 
$ts-purple: rgba(137, 104, 173, 1); //#8968ad;
$opac-div: rgba(19,18,19,.7); // used for dark divs with opacity of 70% 

$memeber-orange: rgba(210, 122, 42, 1); //#D27A2A;
$avatar-white: rgba(242, 242, 242, 1); //#F2F2F2;

//*************************************
// 3... Overwatch specific colors
//*************************************

$ow-yellow: rgba(253, 184, 19, 1); //#fdb813;
$strong-vs: #4dc9ef;
$weak-vs: #f04a5e;

//*************************************
// 4... Article colors
//*************************************

$article-blue: rgba(103, 160, 214, 1); //#67a0d6; .home-article .home-article-content
$article-orange: rgba(208, 120, 40, 1); //#d07828;
$article-purple: $ts-purple; //#8968ad;

//*************************************
// 5... hots colors
//*************************************

$hots-purple: $ts-purple; //#8968ad;
$hots-dark-purple: rgba(34, 27, 54, 1); //#221b36; 

//*************************************
// 6... talent calculator colors
//*************************************

$tc-purple: rgba(77, 40, 108, 1); //#4d286c;

//*************************************
// 7... tempstorm Scrollbar colors
//*************************************

$sb-track: rgba(51, 51, 51, 1); //#333; // scrollbar
$sb-thumb: rgba(69, 69, 69, 1); //#454545; //scrollbar thumb

//*************************************
// 8... Notification Dropdown colors
//*************************************

$notification-font: rgba(85, 85, 85, 1); //#555;
$notification-font: rgba(245, 245, 245, 1); //#f5f5f5;
$notification-border: $light-grey;

//*************************************
// 9... Hearthstone class colours
//*************************************

$druid-orange: rgba(255, 125, 10, 1); //#FF7D0A
$hunter-green: rgba(171, 212, 115, 1); //#ABD473
$mage-blue: rgba(105, 204, 240, 1); //#69CCF0
$paladin-pink: rgba(245, 140, 186, 1); //#F58CBA
$priest-white: $white;
$rogue-yellow: rgba(255, 245, 105, 1); //#FFF569
$shaman-blue: rgba(0, 112, 222, 1); //#0070DE
$warlock-pink: rgba(148, 130, 201, 1); //#9482C9 
$warrior-tan: rgba(199, 156, 110, 1); //#C79C6E

//*************************************
// 10... random colors 
//*************************************

// $smoke: #f5f5f5;
// $light-smoke: #F2F2F2;

//*************************************
// 11... HOTS Snapshot
//*************************************

$bright-purple: #7d3193;
$bright-green: #35b44b;
$bright-red: #d62a28;
$bright-orange: #fba31b;

//*************************************
// 12... New ts admin colors
//*************************************

//$light-font: rgba(179, 179, 177, 1); //#B3B3B1

$light-font: rgba(170, 170, 170, 1.0); //#aaaaaa
$dark-font: rgba(91, 91, 91, 1); //#5b5b5b
$gradient-grey: rgba(19,19,19, 1);
$btn-green: rgba(52,180,74,1); //#34b44a
$btn-red: rgba(239,67,35,1);//#ef4323

$admin-blue: #2e4362;
$black-50: rgba(0,0,0,.5);//#
$black-20: rgba(0,0,0,.2);//#
$white-15: rgba(255,255,255,.15);
$white-02: rgba(255,255,255,.02);
$white-04: rgba(255,255,255,.04);
$white-08: rgba(255,255,255,.08);
$white-50: rgba(255,255,255,.5);
$white-80: rgba(255,255,255,.80);