@import 'ts-colors.scss';

// Description: scss file for tempostorms mixins for the entire site

//*************************************

// 1... tempo storm basic style mixins

//*************************************


//*************************************
// 1... tempo storm basic style mixins
//*************************************


// mixin for opac div with box-shadow
// will not work on divs that have elements positioned absolute that exceed the size of the div due to firefox.

@mixin ts-div-styles {
    
    outline: 1px solid rgba(255,255,255,.2);
    outline-offset: -2px;
    border: 1px solid rgba(0,0,0,1);
    background-color: $opac-div; 
    box-shadow: 3px 4px 5px rgba(0,0,0,.75);
    
}

$color: $ts-blue;

@mixin ts-hover-glow ($color) {

        transition: box-shadow 0.2s ease 0.2s;
        //transition: border 0.1s ease 0.1s;
        
       
        @media screen and (min-width: 767px) {
            &:hover { 
                //color: rgba(255,255,255,1); 
                box-shadow: 0px 0px 30px rgba($color, 1);
                animation: pulse 2s infinite;
                border: 1px solid rgba($color, 0.8);
                
                @-webkit-keyframes pulse {
                  0% {
                    -webkit-box-shadow: 0px 0px 30px rgba($color, 1);
                  }
                  50% {
                      -webkit-box-shadow: 0px 0px 20px rgba($color, 0.5);
                  }
                  100% {
                      -webkit-box-shadow: 0px 0px 30px rgba($color, 1);
                  }
                }
                @keyframes pulse {
                  0% {
                    -moz-box-shadow: 0px 0px 30px rgba($color, 1);
                    box-shadow: 0px 0px 30px rgba($color, 1);
                  }
                  50% {
                      -moz-box-shadow: 0px 0px 20px rgba($color, 0.5);
                      box-shadow: 0px 0px 20px rgba($color, 0.5);
                  }
                  100% {
                      -moz-box-shadow: 0px 0px 30px rgba($color, 1);
                      box-shadow: 0px 0px 30px rgba($color, 1);
                  }
                }

            }
        }

}