<div ng-if="article.photos.large && article.photos.large.length" class="container-fluid article-photo-banner pos-rl" style="background: url('./photos/articles/{{article.photos.large}}') center center no-repeat; background-size: cover;">
    <div ng-class="{overcast:article.theme === 'overcast'}" ng-if="article.theme"></div>
</div>
<div class="container">
    
    <!-- article page -->
    <div class="article-page">
        
        <!-- article right -->
        <aside class="article-right">
            
            <!-- deck -->
            <div class="article-deck" ng-if="article.deck._id">
                <div class="db-deck clearfix">
                    <div class="db-deck-header db-deck-{{article.deck.playerClass.toLowerCase()}}">
                        <div class="db-arena">
                            <span ng-show="!article.deck.arena">Contructed</span>
                            <span ng-show="article.deck.arena">Arena</span>
                        </div>
                    </div>
                    <div class="db-deck-cards">
                        <div class="db-deck-card" ng-class="{multi:item.qty > 1 || item.card.rarity == 'Legendary'}" ng-repeat="item in article.deck.cards" data-tooltip-img="https://s3-us-west-2.amazonaws.com/ts-node/cards/{{item.card.photos.large}}" data-tooltip-pos="left" hs-card>
                            <div class="db-deck-card-mana">{{item.card.cost}}</div>
                            <div class="db-deck-card-qty" ng-show="item.qty > 1">{{item.qty}}</div>
                            <div class="db-deck-card-legendary" ng-show="item.card.rarity == 'Legendary'"><i class="fa fa-star"></i></div>
                            <div class="db-deck-card-photo"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node/cards/{{item.card.photos.small}}" alt=""></div>
                            <div class="db-deck-card-name">{{item.card.name}}</div>
                        </div>
                        <div class="db-deck-footer db-deck-{{article.deck.playerClass.toLowerCase()}}">
                            <div class="db-deck-footer-wrapper">
                                <div class="db-deck-dust">{{getDust()}}</div>
                                <div class="dust-bottle-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="./decks/{{article.deck.slug}}" class="btn btn-block btn-blue m-b-sm">VIEW DECK</a>
            </div>
            <!-- / deck -->
            
            <!-- article related -->
            <div class="article-related" ng-if="article.related && article.related.length">
                <h3>RELATED ARTICLES</h3>
                <ul>
                    <li ng-repeat="item in article.related"><a href="./articles/{{item.slug.url}}">{{item.title}}</a></li>
                </ul>
            </div>
            <!-- / article related -->
            
            <!-- ad -->
            <div class="ad-square">
                <a href="http://www.kinguin.net/"><img src="./img/kinguin-square.png" alt="Kinguin"></a>
            </div>
            <!-- / ad -->
            
        </div>
        <!-- / article right -->
        
        <!-- article left -->
        <div class="article-left">

            <!-- article header -->
            <div class="article-header">
                
                <!-- article-votes -->
                <div class="article-votes">
                    <div class="vote-count vote-large"><span ng-if="article.votesCount > 0">+</span>{{article.votesCount}}</div>
                    <div class="btn-group">
                        <button class="btn-vote-up vote-large" ng-class="{active: article.voted === 1}" ng-click="voteUp(article)"><i class="fa fa-plus"></i></button>
                        <button class="btn-vote-down vote-large" ng-class="{active: article.voted === -1}" ng-click="voteDown(article)"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- / article-votes -->
                
                <h1 class="article-title">{{article.title}}</h1>
                <p>posted by <a href="./user/{{article.author.username}}" class="m-r-sm">@{{article.author.username}}</a><i class="fa fa-clock-o text-muted"></i> {{article.createdDate | date:'mediumDate'}}</p>
            </div>
            <!-- / article header -->

            <!-- article content -->
            <div class="article-content" ng-bind-html="getContent()"></div>
            <!-- / article content -->

            <!-- comments -->
            <div class="article-comments">
                <h3>COMMENTS</h3>
                <div class="comments">
                    <p class="no-comments" ng-if="!article.comments || !article.comments.length">There are currently no comments on this article.</p>
                    <div class="comment" ng-repeat="comment in article.comments">
                        <div class="avatar">
                            <a href="./user/{{comment.author.username}}"><img src="./img/profile.jpg" alt="" /></a>
                        </div>
                        <div class="panel">
                            <div class="panel-heading pos-rl">
                                <span class="arrow left"></span>
                                <a href="./user/{{comment.author.username}}">@{{comment.author.username}}</a>
                                <div class="pull-right">
                                    <div class="comment-votes m-l-sm pull-right">
                                        <div class="vote-count vote-small"><span ng-if="comment.votesCount > 0">+</span>{{comment.votesCount}}</div>
                                        <div class="btn-group">
                                            <button class="btn-vote-up vote-small" ng-class="{active: comment.voted === 1}" ng-click="voteComment(1, comment)"><i class="fa fa-plus"></i></button>
                                            <button class="btn-vote-down vote-small" ng-class="{active: comment.voted === -1}" ng-click="voteComment(-1, comment)"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <span class="fa fa-clock-o text-muted"></span>
                                    <span class="text-muted" am-time-ago="comment.createdDate"></span>
                                </div>
                            </div>
                            <div class="panel-body">{{comment.comment}}</div>
                        </div>
                    </div>
                    <div class="comment-add">
                        <div class="avatar">
                            <a href="./user/{{app.user.getUsername()}}" ng-if="app.user.isLogged()"><img src="./img/profile.jpg" alt="" /></a>
                            <a href="#" ng-if="!app.user.isLogged()"><img src="./img/profile.jpg" alt="" /></a>
                        </div>
                        <form class="form-horizontal" name="commentForm" novalidate>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="comment.comment" placeholder="ADD A COMMENT" required>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" ng-disabled="commentForm.$invalid" ng-click="commentPost()">POST</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- / commments -->

        </div>
        <!-- / article left -->

    </aside>
    <!-- / article page -->
</div>