<div ng-if="article.photos.large && article.photos.large.length" class="container-fluid article-photo-banner pos-rl" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/articles/{{article.photos.large}}">
    <div ng-class="{overcast:article.theme === 'overcast'}" ng-if="article.theme"></div>
</div>
<div class="container container-dark">

    <!-- article page -->
    <div class="article-page clearfix">

        <!-- article right -->
        <div class="article-right">

            <!-- deck -->
            <div class="article-deck" ng-if="article.deck._id">
                <div class="db-deck clearfix">
                    <div class="db-deck-header db-deck-{{article.deck.playerClass.toLowerCase()}}">
                        <div class="db-arena">
                            <span ng-show="!article.deck.arena">Contructed</span>
                            <span ng-show="article.deck.arena">Arena</span>
                        </div>
                    </div>
                    <div class="db-deck-cards">
                        <div class="db-deck-card" ng-class="{multi:item.qty > 1 || item.card.rarity == 'Legendary'}" ng-repeat="item in article.deck.cards" data-tooltip-img="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{item.card.photos.large}}" data-tooltip-pos="left" hs-card>
                            <div class="db-deck-card-mana">{{item.card.cost}}</div>
                            <div class="db-deck-card-qty" ng-show="item.qty > 1">{{item.qty}}</div>
                            <div class="db-deck-card-legendary" ng-show="item.card.rarity == 'Legendary'"><i class="fa fa-star"></i></div>
                            <div class="db-deck-card-photo"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{item.card.photos.small}}" alt=""></div>
                            <div class="db-deck-card-name">{{item.card.name}}</div>
                        </div>
                        <div class="db-deck-footer db-deck-{{article.deck.playerClass.toLowerCase()}}">
                            <div class="db-deck-footer-wrapper">
                                <div class="db-deck-dust">{{getDust()}}</div>
                                <div class="dust-bottle-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="./decks/{{article.deck.slug}}" class="btn btn-block btn-blue m-b-sm">VIEW DECK</a>
            </div>
            <!-- / deck -->

            <!-- article related -->
            <div class="article-related" ng-if="article.related && article.related.length && relatedActive()">
                <div class="article-section">
                    <div class="article-section-title clearfix">
                        <a href="#" ng-click="show.related = !show.related"><h3 class="pull-left">RELATED ARTICLES</h3></a>
                        <div class="m-l-md m-r-md pull-right">
                            <a href="#" ng-click="show.related = !show.related">
                                <i class="fa" ng-class="{ 'fa-angle-down': !show.related, 'fa-angle-up': show.related }"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-section-content" ng-show="show.related">
                        <ul>
                            <li ng-repeat="item in article.related" ng-if="item.active"><a href="./articles/{{item.slug.url}}">{{item.title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / article related -->

            <!-- ad -->
            <div class="ad-square">
                <a href="http://www.kinguin.net/"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/kinguin-square.png" alt="Kinguin"></a>
            </div>
            <!-- / ad -->

        </div>
        <!-- / article right -->

        <!-- article left -->
        <div class="article-left">
            
            <!-- article header -->
            <div class="article-header clearfix">

                <!-- article-votes -->
                <div class="article-votes pull-right clearfix">
                    <div class="vote-count vote-large m-l-sm pull-right"><span><em ng-show="article.votesCount > 0">+</em>{{article.votesCount}}</span></div>
                    <div class="vote-count-btns vote-large pull-left" ng-if="!isPremium() || app.user.isSubscribed()">
                        <a href="#" class="btn-vote-up vote-large" ng-class="{active: article.voted === 1}" ng-click="voteUp(article)"><i class="fa fa-plus-square"></i></a>
                        <a href="#" class="btn-vote-down vote-large" ng-class="{active: article.voted === -1}" ng-click="voteDown(article)"><i class="fa fa-minus-square"></i></a>
                    </div>
                </div>
                <!-- / article-votes -->

                <div>
                    <h1 class="article-title">{{article.title}}</h1>
                    <p class="article-page-author">posted by <a href="./user/{{article.author.username}}" class="m-r-sm">@{{article.author.username}}</a><i class="fa fa-clock-o"></i> {{article.createdDate | date:'mediumDate'}}</p>
                </div>


            </div>
            <!-- / article header -->

            <!-- subscribe -->
            <div class="article-subscribe" ng-if="isPremium() && !app.user.isSubscribed()">
                <p>{{article.description}}...</p>
                
                <h1 class="article-title">CONTINUE READING THIS ARTICLE...</h1>
                <h2>Signup for T/S Premium today!</h2>
                
                <div class="article-section">
                    <div class="article-section-title">
                        <h3>WHAT IS T/S PREMIUM?</h3>
                    </div>
                    <div class="article-section-content">
                        <p>T/S Premium is designed to take your Hearthstone game to the next level. The best professionals in the game bringing you exclusive content daily to keep you ahead of the meta.<br><br>
Premium Membership grants you access to features and content designed to help you become the best player you can be, all while supporting the players and writers. These include exclusive mulligan guides, gameplay videos, commentary, deck/meta analysis, articles, and theory discussion to name a few. We're constantly rolling out new member benefits, and your support makes it happen.</p>
                    </div>
                </div>

                <div class="article-section">
                    <div class="article-section-title">
                        <h3>WHY SIGN UP FOR T/S PREMIUM?</h3>
                    </div>
                    <div class="article-section-content">
                        <ul class="premium-features">
                            <li><i class="fa fa-check"></i> Access exclusive content as it is released.</li>
                            <li><i class="fa fa-check"></i> Comprehensive deck guides by the pros (with in-depth mulligan explanation, gameplay videos, and analysis)</li>
                            <li><i class="fa fa-check"></i> Exclusive member-only articles.</li>
                            <li><i class="fa fa-check"></i> Support the contributors, developers, and players.</li>
                            <li><i class="fa fa-check"></i> Access and help expedite all upcoming member features such as profile customization.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 premium-plan">
                        <div class="article-section">
                            <div class="article-section-title">
                                <h3 class="text-center">MONTHLY</h3>
                            </div>
                            <div class="article-section-content">
                                <div class="premium-icon premium-monthly"></div>
                                <div class="premium-price">
                                    <em>$7.99</em>
                                    <small>per month</small>
                                </div>
                                <ul class="premium-features">
                                    <li><i class="fa fa-check"></i> Premium Articles</li>
                                    <li><i class="fa fa-check"></i> Premium Decks</li>
                                    <li><i class="fa fa-check"></i> Premium Videos</li>
                                    <li><i class="fa fa-check"></i> Early access to new content</li>
                                </ul>
                                <a href="#" class="btn btn-blue btn-block" ng-click="getPremium('monthly')">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 premium-plan">
                        <div class="article-section">
                            <div class="article-section-title">
                                <h3 class="text-center">THREE MONTHS</h3>
                            </div>
                            <div class="article-section-content">
                                <div class="premium-icon premium-quarterly"></div>
                                <div class="premium-price">
                                    <em>$6.99</em>
                                    <small>per month</small>
                                </div>
                                <ul class="premium-features">
                                    <li><i class="fa fa-check"></i> Premium Articles</li>
                                    <li><i class="fa fa-check"></i> Premium Decks</li>
                                    <li><i class="fa fa-check"></i> Premium Videos</li>
                                    <li><i class="fa fa-check"></i> Early access to new content</li>
                                </ul>
                                <a href="#" class="btn btn-purple btn-block" ng-click="getPremium('quarterly')">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 premium-plan">
                        <div class="article-section">
                            <div class="article-section-title">
                                <h3 class="text-center">SIX MONTHS</h3>
                            </div>
                            <div class="article-section-content">
                                <div class="premium-icon premium-semi"></div>
                                <div class="premium-price">
                                    <em>$5.99</em>
                                    <small>per month</small>
                                </div>
                                <ul class="premium-features">
                                    <li><i class="fa fa-check"></i> Premium Articles</li>
                                    <li><i class="fa fa-check"></i> Premium Decks</li>
                                    <li><i class="fa fa-check"></i> Premium Videos</li>
                                    <li><i class="fa fa-check"></i> Early access to new content</li>
                                </ul>
                                <a href="#" class="btn btn-orange btn-block" ng-click="getPremium('semi')">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- / subscribe -->
            
            <!-- article -->
            <div ng-if="!isPremium() || app.user.isSubscribed()">
            
                <!-- article content -->
                <div class="article-page-content clearfix" ng-bind-html="getContent()"></div>
                <!-- / article content -->

                <!-- comments -->
                <div class="article-comments">
                    <div class="article-section">
                        <div class="article-section-title clearfix">
                            <a href="#" ng-click="show.comments = !show.comments"><h3 class="pull-left">COMMENTS</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                <a href="#" ng-click="show.comments = !show.comments">
                                    <i class="fa" ng-class="{ 'fa-angle-down': !show.comments, 'fa-angle-up': show.comments }"></i>
                                </a>
                            </div>
                        </div>
                        <div class="article-section-content" ng-show="show.comments">
                            <div class="comments">
                                <p class="no-comments" ng-if="!article.comments || !article.comments.length">There are currently no comments on this article.</p>
                                <div class="comment" ng-repeat="comment in article.comments">
                                    <div class="avatar">
                                        <a href="./user/{{comment.author.username}}"><img gravatar-src-once="comment.author.email" alt="" /></a>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading pos-rl clearfix">
                                            <span class="arrow left"></span>
                                            <a href="./user/{{comment.author.username}}">@{{comment.author.username}}</a>
                                            <div class="pull-right">
                                                <div class="comment-votes m-l-sm pull-right clearfix">
                                                    <div class="vote-count vote-small m-l-xs pull-right"><span><em ng-show="comment.votesCount > 0">+</em>{{comment.votesCount}}</span></div>
                                                    <div class="vote-count-btns vote-small pull-left">
                                                        <a href="#" class="btn-vote-up vote-small" ng-class="{active: comment.voted === 1}" ng-click="voteComment(1, comment)"><i class="fa fa-plus-square"></i></a>
                                                        <a href="#" class="btn-vote-down vote-small" ng-class="{active: comment.voted === -1}" ng-click="voteComment(-1, comment)"><i class="fa fa-minus-square"></i></a>
                                                    </div>
                                                </div>
                                                <div class="comment-ago hidden-xs">
                                                    <span class="fa fa-clock-o"></span>
                                                    <span am-time-ago="comment.createdDate"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">{{comment.comment}}</div>
                                    </div>
                                </div>
                                <div class="comment-add">
                                    <div class="avatar">
                                        <a href="./user/{{app.user.getUsername()}}" ng-if="app.user.isLogged()"><img gravatar-src="app.user.getUserEmail()" alt="" /></a>
                                        <a href="#" ng-if="!app.user.isLogged()"><img src="./img/profile.jpg" alt="" /></a>
                                    </div>
                                    <form class="form-horizontal" name="commentForm" novalidate>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-dark" ng-model="comment.comment" placeholder="ADD A COMMENT" required>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-default input-dark" ng-disabled="commentForm.$invalid" ng-click="commentPost()">POST</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / commments -->
            
            </div>
            <!-- / article -->

        </div>
        <!-- / article left -->

    </aside>
    <!-- / article page -->
</div>