<div class="container content-padding">
    <div class="row">
        <div class="col-sm-12">
            <ul class="filter-class clearfix">
                <li class="active">
                    <a href="#">
                        <span class="filter-class-icon all"></span>
                        <span class="filter-class-text">ALL</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon warrior"></span>
                        <span class="filter-class-text">WARRIOR</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon mage"></span>
                        <span class="filter-class-text">MAGE</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon rogue"></span>
                        <span class="filter-class-text">ROGUE</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon druid"></span>
                        <span class="filter-class-text">DRUID</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon hunter"></span>
                        <span class="filter-class-text">HUNTER</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon shaman"></span>
                        <span class="filter-class-text">SHAMAN</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon priest"></span>
                        <span class="filter-class-text">PRIEST</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon warlock"></span>
                        <span class="filter-class-text">WARLOCK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="filter-class-icon paladin"></span>
                        <span class="filter-class-text">PALADIN</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>