<!-- section banner -->
<div class="container-fluid section-banner">
    <div class="container section-articles">
        <h1 class="section-title">ARTICLES</h1>
    </div>
</div>
<!-- / section banner -->

<!-- class filter -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="filter-class clearfix">
                <li ng-class="{active:klass === 'all'}">
                    <a href="#" ng-click="setKlass('all')">
                        <span class="filter-class-icon all"></span>
                        <span class="filter-class-text">ALL</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Warrior'}">
                    <a href="#" ng-click="setKlass('Warrior')">
                        <span class="filter-class-icon warrior"></span>
                        <span class="filter-class-text">WARRIOR</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Mage'}">
                    <a href="#" ng-click="setKlass('Mage')">
                        <span class="filter-class-icon mage"></span>
                        <span class="filter-class-text">MAGE</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Rogue'}">
                    <a href="#" ng-click="setKlass('Rogue')">
                        <span class="filter-class-icon rogue"></span>
                        <span class="filter-class-text">ROGUE</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Druid'}">
                    <a href="#" ng-click="setKlass('Druid')">
                        <span class="filter-class-icon druid"></span>
                        <span class="filter-class-text">DRUID</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Hunter'}">
                    <a href="#" ng-click="setKlass('Hunter')">
                        <span class="filter-class-icon hunter"></span>
                        <span class="filter-class-text">HUNTER</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Shaman'}">
                    <a href="#" ng-click="setKlass('Shaman')">
                        <span class="filter-class-icon shaman"></span>
                        <span class="filter-class-text">SHAMAN</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Priest'}">
                    <a href="#" ng-click="setKlass('Priest')">
                        <span class="filter-class-icon priest"></span>
                        <span class="filter-class-text">PRIEST</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Warlock'}">
                    <a href="#" ng-click="setKlass('Warlock')">
                        <span class="filter-class-icon warlock"></span>
                        <span class="filter-class-text">WARLOCK</span>
                    </a>
                </li>
                <li ng-class="{active:klass === 'Paladin'}">
                    <a href="#" ng-click="setKlass('Paladin')">
                        <span class="filter-class-icon paladin"></span>
                        <span class="filter-class-text">PALADIN</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- / class filter -->

<div class="container">
    
    <!-- page flipping -->
    <div class="page-flipper page-flipper-top clearfix" ng-show="pagination.totalPages() > 1">
        <div class="pull-right">
            <span class="btn-group">
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() == 1" ng-click="pagination.setPage(pagination.page() - 1)" disabled="disabled"><i class="fa fa-arrow-circle-left"></i></button>
                <button class="btn btn-sm btn-blue" ng-repeat="i in pagination.pagesArray()" ng-click="pagination.setPage(i)" ng-class="{active:pagination.isPage(i)}">{{i}}</button>
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() + 1 > pagination.totalPages() || pagination.results() == 0" ng-click="pagination.setPage(pagination.page() + 1)" disabled="disabled"><i class="fa fa-arrow-circle-right"></i></button>
            </span>
        </div>
    </div>
    <!-- / page flipping -->
    
    <!-- articles -->
    <div class="articles">
        <!-- article -->
        <div class="home-article" ng-repeat="article in articles">
            <div class="panel">
                <div class="panel-heading" ng-if="article.photos && article.photos.medium.length">
                    <div class="article-img pos-rl">
                        <div ng-class="{overcast:article.theme === 'overcast'}" ng-if="article.theme"><a href="./articles/{{article.slug.url}}"></a></div>
                        <a href="./articles/{{article.slug.url}}"><img src="./photos/articles/{{article.photos.medium}}" alt="{{article.title}}" class="img-responsive"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <h3><a href="./articles/{{article.slug.url}}">{{article.title}}</a></h3>
                    <p>{{article.description}}</p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left m-r-sm">
                        <span class="text-muted">by <a href="./user/{{article.author.username}}">@{{article.author.username}}</a></span>
                    </div>
                    <div class="pull-right">
                        <div class="pull-left m-r-sm">
                            <span class="fa fa-clock-o text-muted"></span>
                            <span class="text-muted">{{article.createdDate | date : 'mediumDate'}}</span>
                        </div>
                        <div class="pull-left m-r-sm">
                            <span class="fa fa-comment-o text-muted"></span>
                            <a href="./articles/{{article.slug.url}}"><span class="text-muted">{{article.comments.length}} Comment<span ng-hide="article.comments.length === 1">s</span></span></a>
                        </div>
                        <div class="pull-left">
                            <span class="fa fa-thumbs-o-up text-muted"></span>
                            <span class="text-muted"><span ng-show="article.votesCount > 0">+</span><span ng-show="article.votesCount < 0">-</span>{{article.votesCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / article -->
        <p ng-if="!articles.length && klass === 'all'">There are curently no articles yet.</p>
        <p ng-if="!articles.length && klass !== 'all'">There are curently no articles under <strong>{{klass}}</strong> yet.</p>
    </div>
    <!-- / articles -->
    
    <!-- page flipping -->
    <div class="page-flipper page-flipper-bottom clearfix" ng-show="pagination.totalPages() > 1">
        <div class="pull-right">
            <span class="btn-group">
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() == 1" ng-click="pagination.setPage(pagination.page() - 1)" disabled="disabled"><i class="fa fa-arrow-circle-left"></i></button>
                <button class="btn btn-sm btn-blue" ng-repeat="i in pagination.pagesArray()" ng-click="pagination.setPage(i)" ng-class="{active:pagination.isPage(i)}">{{i}}</button>
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() + 1 > pagination.totalPages() || pagination.results() == 0" ng-click="pagination.setPage(pagination.page() + 1)" disabled="disabled"><i class="fa fa-arrow-circle-right"></i></button>
            </span>
        </div>
    </div>
    <!-- / page flipping -->
    
</div>
