<div class="container-fluid">
    <div class="container">
        <div class="db-steps-current pull-left">
            <h1 class="ts-blue ts-font m-t-sm m-b-none">Step {{step}}</h1>
            <small class="white">{{stepDesc[step]}}</small>
        </div>
        <ul class="db-steps clearfix pull-right">
            <li class="steps-arrow steps-arrow-prev">
                <a href="#" ng-click="prevStep()">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li ng-class="{active:step === 1}">
                <a href="#" ng-click="step = 1">
                    STEP 1
                    <small>BUILD</small>
                </a>
            </li>
            <li ng-class="{active:step === 2}">
                <a href="#" ng-click="step = 2">
                    STEP 2
                    <small>MULLIGANS</small>
                </a>
            </li>
            <li ng-class="{active:step === 3}">
                <a href="#" ng-click="step = 3">
                    STEP 3
                    <small>DESCRIPTION</small>
                </a>
            </li>
            <li ng-class="{active:step === 4}">
                <a href="#" ng-click="step = 4">
                    STEP 4
                    <small>MATCH-UPS</small>
                </a>
            </li>
            <li ng-class="{active:step === 5}">
                <a href="#" ng-click="step = 5">
                    STEP 5
                    <small>SUBMIT</small>
                </a>
            </li>
            <li class="steps-arrow steps-arrow-next">
                <a href="#" ng-click="nextStep()">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="db-builder">
        <form class="form-horizontal" name="dbForm" novalidate>
        <div class="db-right">
            <div class="db-mana-curve clearfix">
                <div class="db-mana-curve-title">
                    <a href="#" ng-click="showCurve = !showCurve">
                        <div class="pull-right">
                            <i class="fa" ng-class="{ 'fa-angle-down': !showCurve, 'fa-angle-up': showCurve }"></i>
                        </div>
                        MANA CURVE
                    </a>
                </div>
                <div class="db-mana-curve-content clearfix" ng-show="showCurve">
                    <ul class="clearfix">
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(0)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(0)}}px;"></span></div>
                            <div class="db-mana-curve-num">0</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(1)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(1)}}px;"></span></div>
                            <div class="db-mana-curve-num">1</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(2)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(2)}}px;"></span></div>
                            <div class="db-mana-curve-num">2</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(3)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(3)}}px;"></span></div>
                            <div class="db-mana-curve-num">3</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(4)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(4)}}px;"></span></div>
                            <div class="db-mana-curve-num">4</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(5)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(5)}}px;"></span></div>
                            <div class="db-mana-curve-num">5</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(6)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(6)}}px;"></span></div>
                            <div class="db-mana-curve-num">6</div>
                        </li>
                        <li>
                            <div class="db-mana-curve-amt">{{deck.manaCount(7)}}</div>
                            <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(7)}}px;"></span></div>
                            <div class="db-mana-curve-num">7<span>+</span></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="db-deck clearfix">
                <div class="db-deck-header db-deck-{{className.toLowerCase()}}">
                    <div class="db-arena has-hover" ng-click="deck.arena = !deck.arena">
                        <span ng-show="!deck.arena">Constructed</span>
                        <span ng-show="deck.arena">Arena</span>
                    </div>
                    <div class="db-deck-count">{{deck.getSize()}} / 30</div>
                </div>
                <div class="db-deck-cards">
                    <div class="db-deck-card" ng-class="{multi:card.qty > 1 || card.legendary}" ng-click="deck.removeCard(card)" ng-right-click="deck.removeCard(card)" ng-repeat="card in deck.cards" data-tooltip-img="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.large}}" data-tooltip-pos="left" hs-card>
                        <div class="db-deck-card-mana">{{card.cost}}</div>
                        <div class="db-deck-card-qty" ng-show="card.qty > 1">{{card.qty}}</div>
                        <div class="db-deck-card-legendary" ng-show="card.legendary"><i class="fa fa-star"></i></div>
                        <div class="db-deck-card-photo"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.small}}" alt=""></div>
                        <div class="db-deck-card-name">{{card.name}}</div>
                    </div>
                    <div class="db-deck-footer db-deck-{{className.toLowerCase()}}">
                        <div class="db-deck-footer-wrapper">
                            <div class="db-deck-dust">{{deck.getDust()}}</div>
                            <div class="dust-bottle-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- / db-right -->
        <div class="db-left clearfix">
            <div class="db-section db-animated" ng-hide="step !== 1">
                <div class="db-section-title clearfix">
                    <h1 class="pull-left">CARD PICKER</h1>
                    <div class="pull-left">
                        <ul class="db-filter-classes clearfix">
                            <li ng-class="{active: cards.current === cards.class}"><a href="#" class="active {{className.toLowerCase()}}" ng-click="cards.current = cards.class; pagination.setPage(1)" ng-tooltip title="{{className}}">{{className}}</a></li>
                            <li ng-class="{active: cards.current === cards.neutral}"><a href="#" class="active neutral" ng-click="cards.current = cards.neutral; pagination.setPage(1)" ng-tooltip title="Neutral">Neutral</a></li>
                        </ul>
                    </div>
                    <div class="db-filters pull-right clearfix">
                        <form>
                            <div class="db-search">
                                <input type="text" name="search" class="input-sm input-dark" placeholder="Search..." ng-model="filters.search">
                            </div>
                            <div class="db-mechanics">
                                <div class="dropdown">
                                    <button class="btn db-mechanics-btn input-dark" type="button" data-toggle="dropdown">
                                        <span>Mechanics ({{filters.mechanics.length}})</span>
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="list-group dropdown-menu dropdown-dark">
                                        <li class="list-group-item" ng-class="{active: inMechanics(mechanic)}" ng-repeat="mechanic in mechanics">
                                            <a href="#" ng-click="toggleMechanic(mechanic); pagination.setPage(1); $event.preventDefault(); $event.stopPropagation()">{{mechanic}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="db-mana">
                                <div class="dropdown">
                                    <button class="btn db-mana-btn input-dark" type="button" data-toggle="dropdown">
                                        <span>Mana Cost: {{getManaCost()}}</span>
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="list-group dropdown-menu dropdown-dark">
                                        <li class="list-group-item" ng-class="{active: filters.mana === 'all'}">
                                            <a href="#" ng-click="filters.mana = 'all'; pagination.setPage(1)">All</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 0}">
                                            <a href="#" ng-click="filters.mana = 0; pagination.setPage(1)">0</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 1}">
                                            <a href="#" ng-click="filters.mana = 1; pagination.setPage(1)">1</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 2}">
                                            <a href="#" ng-click="filters.mana = 2; pagination.setPage(1)">2</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 3}">
                                            <a href="#" ng-click="filters.mana = 3; pagination.setPage(1)">3</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 4}">
                                            <a href="#" ng-click="filters.mana = 4; pagination.setPage(1)">4</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 5}">
                                            <a href="#" ng-click="filters.mana = 5; pagination.setPage(1)">5</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === 6}">
                                            <a href="#" ng-click="filters.mana = 6; pagination.setPage(1)">6</a>
                                        </li>
                                        <li class="list-group-item" ng-class="{active: filters.mana === '7+'}">
                                            <a href="#" ng-click="filters.mana = '7+'; pagination.setPage(1)">7+</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div><!-- / db-filters -->
                </div>
                <div class="db-cards">
                    <!-- arrows --><!--
                    <button class="btn db-arrow db-arrow-left" ng-disabled="pagination.page == 1" ng-click="pagination.setPage(pagination.page - 1)"><i class="fa fa-arrow-circle-left"></i></button>
                    <button class="btn db-arrow db-arrow-right" ng-disabled="pagination.page == pagination.pages()" ng-click="pagination.setPage(pagination.page + 1)"><i class="fa fa-arrow-circle-right"></i></button>-->
                    <!-- cards -->
                    <div class="db-cards-view-wrapper clearfix">
                        <div class="db-cards-view clearfix">
                            <div class="db-card" ng-class="{'db-card-disabled':!deck.isAddable(card)}" ng-repeat="card in filtered = ( cards.current | filter: filters.search | filter: filters.byMechanics() | filter: filters.byMana())">
                                <a href="#" data-tooltip-img="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.large}}" ng-click="deck.addCard(card)" ng-right-click="deck.removeCardFromDeck(card)" hs-card>
                                    <img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.medium}}" alt="{{card.name}}">
                                </a>
                            </div>
                            <div class="db-cards-no-match" ng-show="!filtered.length">No Matches Found</div>
                        </div>
                    </div>
                </div><!-- / db-cards -->
            </div><!-- / step 1 -->
            <!-- step 2 -->
            <div class="db-section db-mulligans db-animated" ng-hide="step !== 2">
                <div class="db-section-title clearfix">
                    <h1 class="pull-left">MULLIGANS</h1>
                    <ul class="db-filter-classes pull-right">
                        <li ng-class="{ active: currentMulligan.klass === class }" ng-repeat="class in classes">
                            <a href="#" class="{{class.toLowerCase()}}" ng-class="{ active: isMulliganSet(deck.getMulligan(class)) }" ng-click="setMulligan(deck.getMulligan(class))" ng-tooltip title="{{class}}">{{class}}</a>
                        </li>
                    </ul>
                </div>
                
                <div class="db-mulligan-content row" ng-repeat="mulligan in deck.mulligans" ng-show="currentMulligan == mulligan">
                    <div class="col-xs-6">
                        <h3>Keep against {{mulligan.klass}} (with coin):</h3>
                        <div class="mulligan-cards" ng-show="deck.cards.length">
                            <div class="db-mulligan-card" ng-class="{active:deck.inMulligan(mulligan, true, card)}" ng-repeat="card in deck.cards" ng-click="deck.toggleMulligan(mulligan, true, card)" data-tooltip-img="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.large}}" data-tooltip-pos="right" hs-card>
                                <div class="db-mulligan-card-photo"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.small}}" alt=""></div>
                                <div class="db-mulligan-card-name">{{card.name}}</div>
                            </div>
                        </div>
                        <p ng-show="!deck.cards.length">You must have cards in your deck to select mulligans.</p>
                    </div>
                    <div class="col-xs-6">
                        <h3>Instructions:</h3>
                        <textarea class="form-control input-dark db-mulligan-instructions" ng-model="mulligan.withCoin.instructions"></textarea>
                    </div>
                    <div class="col-xs-6">
                        <h3>Keep against {{mulligan.klass}} (without coin):</h3>
                        <div class="mulligan-cards" ng-show="deck.cards.length">
                            <div class="db-mulligan-card" ng-class="{active:deck.inMulligan(mulligan, false, card)}" ng-repeat="card in deck.cards" ng-click="deck.toggleMulligan(mulligan, false, card)" data-tooltip-img="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.large}}" data-tooltip-pos="right" hs-card>
                                <div class="db-mulligan-card-photo"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/cards/{{card.photos.small}}" alt=""></div>
                                <div class="db-mulligan-card-name">{{card.name}}</div>
                            </div>
                        </div>
                        <p ng-show="!deck.cards.length">You must have cards in your deck to select mulligans.</p>
                    </div>
                    <div class="col-xs-6">
                        <h3>Instructions:</h3>
                        <textarea class="form-control input-dark db-mulligan-instructions" ng-model="mulligan.withoutCoin.instructions"></textarea>
                    </div>
                </div>
            </div>
            <!-- / step 2 -->
            <!-- step 3 -->
            <div class="db-descriptions db-animated" ng-hide="step !== 3">
                <div class="db-section m-b-md">
                    <div class="db-section-title">
                        <h1><label for="contentEarly">EARLY GAME</label></h1>
                    </div>
                    <summernote id="contentEarly" config="options" ng-model="deck.contentEarly"></summernote>
                </div>
                <div class="db-section m-b-md">
                    <div class="db-section-title">
                        <h1><label for="contentMid">MID GAME</label></h1>
                    </div>
                    <summernote id="contentMid" config="options" ng-model="deck.contentMid"></summernote>
                </div>
                <div class="db-section">
                    <div class="db-section-title">
                        <h1><label for="contentLate">LATE GAME</label></h1>
                    </div>
                    <summernote id="contentLate" config="options" ng-model="deck.contentLate"></summernote>
                </div>
            </div>
            <!-- / step 3 -->
            <!-- step 4 -->
            <div class="db-against db-section db-animated" ng-hide="step !== 4">
                <div class="db-section-title">
                    <h1>MATCH-UPS</h1>
                </div>
                <div class="wrapper-md">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="db-sw-title">
                                <div class="db-sw-title-vs">VS</div>
                                <div class="db-sw-title-strong">STRONG</div>
                                <div class="db-sw-title-weak">WEAK</div>
                            </div>
                            <div class="db-sw-classes">
                                <div class="db-sw-class" ng-repeat="class in classes">
                                    <div class="db-sw-circle-strong" ng-class="{ 'active': deck.isStrong(deck.getStrong(class)) }"><a href="#" class="small active {{class.toLowerCase()}}" ng-click="deck.toggleStrong(deck.getStrong(class))" ng-class="{ 'class-icon': deck.isStrong(deck.getStrong(class)) }"></a></div>
                                    <div class="db-sw-circle-class clearfix">
                                        <a href="#" class="db-sw-arrow" ng-click="deck.toggleStrong(deck.getStrong(class))"><i class="fa fa-angle-left"></i></a>
                                        <a href="#" class="db-sw-class-icon class-icon small active {{class.toLowerCase()}}" ng-tooltip title="{{class}}"></a>
                                        <a href="#" class="db-sw-arrow" ng-click="deck.toggleWeak(deck.getWeak(class))"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                    <div class="db-sw-circle-weak" ng-class="{ 'active': deck.isWeak(deck.getWeak(class)) }"><a href="#" class="small active {{class.toLowerCase()}}" ng-click="deck.toggleWeak(deck.getWeak(class))" ng-class="{ 'class-icon': deck.isWeak(deck.getWeak(class)) }"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="db-section m-t-lg">
                                <div class="db-section-title">
                                    <h1>DESCRIPTION</h1>
                                </div>
                                <textarea class="form-control input-dark" ng-model="deck.against.instructions"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / step 4 -->
            <!-- step 5 -->
            <div class="db-section db-animated" ng-hide="step !== 5">
                <div class="panel panel-danger error-modal animated" ng-show="showError">
                    <div class="panel-heading">
                        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                        <strong>Unable to add deck</strong>
                    </div>
                    <div class="panel-body">
                        <ul class="error text-danger">
                            <li ng-repeat="error in errors">{{error.msg}}</li>
                        </ul>
                    </div>
                </div>
                <div class="db-section-title">
                    <h1>SAVE YOUR DECK</h1>
                </div>
                <div class="wrapper-md">
                    <div class="row">
                        <div class="form-group">
                            <label for="name" class="control-label col-sm-2">Deck Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" name="name" class="form-control input-dark" ng-model="deck.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deckType" class="control-label col-sm-2">Deck Type</label>
                            <div class="col-sm-10">
                                <div class="dropdown">
                                    <button class="btn input-dark input-dark-block" type="button" data-toggle="dropdown">
                                        <span>{{deck.deckType}}</span>
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="list-group dropdown-menu dropdown-dark">
                                        <li class="list-group-item" ng-class="{active: deck.deckType === type}" ng-repeat="type in deckTypes">
                                            <a href="#" ng-click="deck.deckType = type">{{type}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--<select id="deckType" name="deckType" class="form-control input-dark" ng-options="type as type for type in deckTypes" ng-model="deck.deckType" required></select>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label col-sm-2">Description</label>
                            <div class="col-sm-10">
                                <textarea id="description" name="description" class="form-control input-dark" ng-model="deck.description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="control-label col-sm-2">Video<br><small>(YouTube only)</small></label>
                            <div class="col-sm-10">
                                <input type="text" id="video" name="video" class="form-control input-dark" ng-model="deck.video">
                            </div>
                        </div>
                        <div ng-if="app.user.isAdmin() || app.user.isProvider()">
                            <div class="form-group">
                                <label for="premium" class="col-sm-2 control-label">Premium</label>
                                <div class="col-sm-10">
                                    <div class="dropdown">
                                        <button class="btn input-dark input-dark-block" type="button" data-toggle="dropdown">
                                            <span>{{isPremium()}}</span>
                                            <b class="caret"></b>
                                        </button>
                                        <ul class="list-group dropdown-menu dropdown-dark">
                                            <li class="list-group-item" ng-class="{active: deck.premium.isPremium === type.value}" ng-repeat="type in premiumTypes">
                                                <a href="#" ng-click="deck.premium.isPremium = type.value">{{type.text}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="deck.premium.isPremium">
                                <label for="expiryDate" class="col-sm-2 control-label">Expiry Date</label>
                                <div class="col-sm-10">
                                    <div date-picker data-id="expiryDate" data-name="expiryDate" data-class="input-dark" ng-model="deck.premium.expiryDate" ng-disabled="!deck.premium.isPremium"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="app.user.isAdmin() || app.user.isProvider()">
                            <div class="form-group">
                                <label for="premium" class="col-sm-2 control-label">Featured</label>
                                <div class="col-sm-10">
                                    <div class="dropdown">
                                        <button class="btn input-dark input-dark-block" type="button" data-toggle="dropdown">
                                            <span>{{isFeatured()}}</span>
                                            <b class="caret"></b>
                                        </button>
                                        <ul class="list-group dropdown-menu dropdown-dark">
                                            <li class="list-group-item" ng-class="{active: deck.featured === type.value}" ng-repeat="type in featuredTypes">
                                                <a href="#" ng-click="deck.featured = type.value">{{type.text}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="public" ng-model="deck.public" value="true"> Make this deck public
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="public" ng-model="deck.public" value="false"> Make this deck private
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-none">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-blue" ng-disabled="!deck.validDeck() || !deck.validVideo() || dbForm.$invalid" ng-click="updateDeck()">Update Deck</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / step 5 -->
        </div>
        </form>
    </div>
</div>