<!-- footer -->
<div class="app-footer wrapper-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h1>TWITTER</h1>
                <ul>
                    <li><a href="#">@yoyo23</a> lorem ipsum dolor sit amet ut augue.</li>
                    <li><a href="#">@yoyo23</a> lorem ipsum dolor sit amet ut augue.</li>
                    <li><a href="#">@yoyo23</a> lorem ipsum dolor sit amet ut augue.</li>
                    <li><a href="#">@yoyo23</a> lorem ipsum dolor sit amet ut augue.</li>
                    <li><a href="#">@yoyo23</a> lorem ipsum dolor sit amet ut augue.</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h1>POPULAR DISCUSSIONS</h1>
                <ul>
                    <li><a href="#">This is a forum post</a></li>
                    <li><a href="#">This is a forum post</a></li>
                    <li><a href="#">This is a forum post</a></li>
                    <li><a href="#">This is a forum post</a></li>
                    <li><a href="#">This is a forum post</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h1>INFORMATION</h1>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h1>CATEGORIES</h1>
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./articles">Articles</a></li>
                    <li><a href="./decks">Decks</a></li>
                    <li><a href="./deck-builder">Deck Builder</a></li>
                    <li><a href="./forum">Forum</a></li>
                    <li><a href="./the-team">The Team</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h1>FOLLOW US</h1>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- / footer -->