<div class="container m-b-md">
    <div class="forum-thread-title clearfix">
        <h1>{{thread.title}}</h1>
    </div>
    <form method="post" name="form" novalidate>
    <div class="row">
        <div class="form-group m-b-sm clearfix">
            <label for="title" class="control-label col-sm-12">Title</label>
            <div class="col-sm-12">
                <input type="text" id="title" name="title" class="form-control" ng-model="post.title" required>
            </div>
        </div>
        <div class="form-group m-b-sm clearfix">
            <label for="content" class="control-label col-sm-12">Content</label>
            <div class="col-sm-12">
                <summernote id="content" config="options" ng-model="post.content" required></summernote>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-blue" ng-disabled="form.$invalid" ng-click="addPost()">Add Post</button>
            </div>
        </div>
    </div>
    </form>
</div>