<div class="container m-b-md">
    <div class="forum-thread-title clearfix">
        <a href="./forum/{{post.thread.slug.url}}/add" class="btn btn-blue pull-right">Write a Post</a>
        <h1>{{thread.title}}</h1>
    </div>
    <div class="forum-post clearfix">
        <div class="author">
            <a href="#" class="avatar"><img src="./img/profile.jpg" alt=""></a>
            <div class="author-info">
                <a href="./user/{{post.author.username}}">@{{post.author.username}}</a>
            </div>
        </div>
        <div class="forum-post-content">
            <h1 class="forum-post-title">{{post.title}}</h1>
            <em am-time-ago="post.createdDate"></em>
            <div class="forum-post-content-html clearfix" ng-bind-html="post.getContent()"></div>
        </div>
        <div class="forum-post-comments">
            <h3>Comments</h3>
            <div class="comments">
                <p class="no-comments" ng-if="!post.comments || !post.comments.length">There are currently no comments on this post.</p>
                <div class="comment" ng-repeat="comment in post.comments">
                    <div class="avatar">
                        <a href="./user/{{comment.author.username}}"><img src="./img/profile.jpg" alt="" /></a>
                    </div>
                    <div class="panel">
                        <div class="panel-heading pos-rl">
                            <span class="arrow left"></span>
                            <a href="./user/{{comment.author.username}}">@{{comment.author.username}}</a>
                            <div class="pull-right">
                                <div class="comment-votes m-l-sm pull-right">
                                    <div class="vote-count vote-small"><span ng-if="comment.votesCount > 0">+</span>{{comment.votesCount}}</div>
                                    <div class="btn-group">
                                        <button class="btn-vote-up vote-small" ng-class="{active: comment.voted === 1}" ng-click="voteComment(1, comment)"><i class="fa fa-plus"></i></button>
                                        <button class="btn-vote-down vote-small" ng-class="{active: comment.voted === -1}" ng-click="voteComment(-1, comment)"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <span class="fa fa-clock-o text-muted"></span>
                                <span class="text-muted" am-time-ago="comment.createdDate"></span>
                            </div>
                        </div>
                        <div class="panel-body">{{comment.comment}}</div>
                    </div>
                </div>
                <div class="comment-add">
                    <div class="avatar">
                        <a href="./user/{{app.user.getUsername()}}" ng-if="app.user.isLogged()"><img src="./img/profile.jpg" alt="" /></a>
                        <a href="#" ng-if="!app.user.isLogged()"><img src="./img/profile.jpg" alt="" /></a>
                    </div>
                    <form class="form-horizontal" name="commentForm" novalidate>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="comment.comment" placeholder="ADD A COMMENT" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" ng-disabled="commentForm.$invalid" ng-click="commentPost()">POST</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>