<!-- banner start -->
<div class="container-fluid nav-pad padding-none hidden-xs" ng-if="banner.slides.length">
    <div class="home-banner">
        <div class="banner-bolt"></div>
        <a href="#" class="banner-prev" ng-if="banner.slides.length > 1" ng-click="banner.prev()"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="banner-next" ng-if="banner.slides.length > 1" ng-click="banner.next()"><i class="fa fa-angle-right"></i></a>
        <div class="banner-pages-wrapper">
            <ul class="banner-pages" ng-if="banner.slides.length > 1">
                <li ng-class="{ active: banner.current == $index }" ng-repeat="slide in banner.slides">
                    <a href="#" ng-click="banner.setCurrent($index)" ng-class="{ active: slides.current == $index }" ng-tooltip title="{{slide.title}}"></a>
                </li>
            </ul>
        </div>
        <div class="banner-slide-wrapper">
            <div class="banner-slide slide-animation" ng-class="{ active: banner.current == $index }" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/img/{{slide.photo}}" ng-repeat="slide in banner.slides">
                <video loop autoplay ng-if="slide.hasVideo">
                    <source src="https://s3-us-west-2.amazonaws.com/ts-node2/img/brm.mp4" type="video/mp4" />
                </video>
                <div class="banner-panel" ng-class="{ 'has-button': slide.button.hasButton }">
                    <h1>{{slide.title}}</h1>
                    <p>{{slide.description}}</p>
                    <div class="banner-btn-wrapper" ng-if="slide.button.hasButton">
                        <a href="{{slide.button.buttonLink}}" class="banner-btn" ng-if="slide.button">{{slide.button.buttonText}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- filter start -->
<div class="container-fluid padding-none filter-bar filter-bar-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 clearfix">
                <h1 class="pull-left">FILTER <br>CONTENT:</h1>
                <ul class="filter-class pull-right">
                    <li class="all" ng-class="{active:klass === 'all'}">
                        <a href="#" ng-click="setKlass('all')" ng-tooltip title="All Classes">All Classes</a>
                    </li>
                    <li class="druid" ng-class="{active:klass === 'Druid'}">
                        <a href="#" ng-click="setKlass('Druid')" ng-tooltip title="Druid">Druid</a>
                    </li>
                    <li class="hunter" ng-class="{active:klass === 'Hunter'}">
                        <a href="#" ng-click="setKlass('Hunter')" ng-tooltip title="Hunter">Hunter</a>
                    </li>
                    <li class="mage" ng-class="{active:klass === 'Mage'}">
                        <a href="#" ng-click="setKlass('Mage')" ng-tooltip title="Mage">Mage</a>
                    </li>
                    <li class="paladin" ng-class="{active:klass === 'Paladin'}">
                        <a href="#" ng-click="setKlass('Paladin')" ng-tooltip title="Paladin">Paladin</a>
                    </li>
                    <li class="priest" ng-class="{active:klass === 'Priest'}">
                        <a href="#" ng-click="setKlass('Priest')" ng-tooltip title="Priest">Priest</a>
                    </li>
                    <li class="rogue" ng-class="{active:klass === 'Rogue'}">
                        <a href="#" ng-click="setKlass('Rogue')" ng-tooltip title="Rogue">Rogue</a>
                    </li>
                    <li class="shaman" ng-class="{active:klass === 'Shaman'}">
                        <a href="#" ng-click="setKlass('Shaman')" ng-tooltip title="Shaman">Shaman</a>
                    </li>
                    <li class="warlock" ng-class="{active:klass === 'Warlock'}">
                        <a href="#" ng-click="setKlass('Warlock')" ng-tooltip title="Warlock">Warlock</a>
                    </li>
                    <li class="warrior" ng-class="{active:klass === 'Warrior'}">
                        <a href="#" ng-click="setKlass('Warrior')" ng-tooltip title="Warrior">Warrior</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- filter end -->

<!-- content banner start -->
<div class="container-fluid home-content-banner hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <h1>NEWS</h1>
            </div>
            <div class="col-md-5 col-lg-4">
                <h1>DECKS</h1>
            </div>
        </div>
    </div>
</div>
<!-- content banner end -->

<!-- content start -->
<div class="container home-content">
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="home-articles">
                    <!-- article -->
                    <div class="article-wrapper" ng-repeat="article in articles">
                        <div class="article" ng-class="{ premium: article.premium.isPremium }">
                            <a href="./articles/{{article.slug.url}}"></a>
                            <div class="article-premium" ng-if="article.premium.isPremium"></div>
                            <div class="article-theme" ng-class="{overcast:article.theme === 'overcast'}" ng-if="article.theme !== 'none'"><a href="./articles/{{article.slug.url}}"></a></div>
                            <div class="article-img" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/articles/{{article.photos.medium}}"></div>
                            <div class="article-content-wrapper">
                                <div class="article-content flex-col">
                                    <h1>{{article.title}}</h1>
                                    <p class="flex-grow">{{article.description}}</p>
                                    <div class="article-info">
                                        <div class="pull-left m-r-sm">
                                            <span>by <a href="./user/{{article.author.username}}">@{{article.author.username}}</a></span>
                                        </div>
                                        <div class="pull-right">
                                            <div class="pull-left m-r-sm">
                                                <span class="fa fa-clock-o"></span>
                                                <span>{{article.createdDate | date : 'mediumDate'}}</span>
                                            </div>
                                            <div class="pull-left m-r-sm">
                                                <span class="fa fa-comment-o"></span>
                                                <a href="./articles/{{article.slug.url}}">{{article.comments.length}} Comment<span ng-if="article.comments.length === 1">s</span></a>
                                            </div>
                                            <div class="pull-left">
                                                <span class="fa fa-thumbs-o-up"></span>
                                                <span><span ng-if="article.votesCount > 0">+</span>{{article.votesCount}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / article -->
                    <p class="no-articles" ng-show="!articles.length && klass === 'all' && !loading.articles">There are curently no articles yet.</p>
                    <p class="no-articles" ng-show="!articles.length && klass !== 'all' && !loading.articles">There are curently no articles under <strong>{{klass}}</strong> yet.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 home-decks">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="./deck-builder" class="create-a-deck">
                            <img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/img/create-a-deck.png" alt="create a deck">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <div class="home-decks">
                            <h1 class="decks-title decks-title-small">FEATURED DECKS</h1>
                            <!-- deck -->
                            <div class="deck-wrapper" ng-repeat="deck in decksFeatured">
                                <div class="deck {{deck.playerClass.toLowerCase()}}" ng-class="{ premium: deck.premium.isPremium }">
                                    <a href="./decks/{{deck.slug}}"></a>
                                    <div class="deck-overlay"></div>
                                    <div class="deck-premium" ng-if="deck.premium.isPremium"></div>
                                    <div class="deck-title">{{deck.name}}</div>
                                    <div class="deck-score"><span><em ng-if="deck.votesCount > 0">+</em>{{deck.votesCount}}</span></div>
                                    <div class="deck-info clearfix">
                                        <div class="pull-left m-r-sm">
                                            <span>by <a href="./user/{{deck.author.username}}">@{{deck.author.username}}</a></span>
                                        </div>
                                        <div class="pull-right">
                                            <span class="fa fa-clock-o"></span>
                                            <span>{{deck.createdDate | date : 'mediumDate'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / deck -->
                            <p class="home-no-decks" ng-show="!decksFeatured.length && klass === 'all' && !loading.featured">There are currently no featured decks yet.</p>
                            <p class="home-no-decks" ng-show="!decksFeatured.length && klass !== 'all' && !loading.featured">There are currently no featured decks under <strong>{{klass}}</strong> yet.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <div class="home-decks">
                            <h1 class="decks-title decks-title-small">COMMUNITY DECKS</h1>
                            <!-- deck -->
                            <div class="deck-wrapper" ng-repeat="deck in decks">
                                <div class="deck {{deck.playerClass.toLowerCase()}}" ng-class="{ premium: deck.premium.isPremium }">
                                    <a href="./decks/{{deck.slug}}"></a>
                                    <div class="deck-overlay"></div>
                                    <div class="deck-premium" ng-if="deck.premium.isPremium"></div>
                                    <div class="deck-title">{{deck.name}}</div>
                                    <div class="deck-score"><span><em ng-if="deck.votesCount > 0">+</em>{{deck.votesCount}}</span></div>
                                    <div class="deck-info clearfix">
                                        <div class="pull-left m-r-sm">
                                            <span>by <a href="./user/{{deck.author.username}}">@{{deck.author.username}}</a></span>
                                        </div>
                                        <div class="pull-right">
                                            <span class="fa fa-clock-o"></span>
                                            <span>{{deck.createdDate | date : 'mediumDate'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / deck -->
                            <p class="home-no-decks" ng-show="!decks.length && klass === 'all' && !loading.community">There are currently no decks yet.</p>
                            <p class="home-no-decks" ng-show="!decks.length && klass !== 'all' && !loading.community">There are currently no decks under <strong>{{klass}}</strong> yet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->