<div class="container container-dark">
    <div class="row">
        <div class="xs-col-4">
            <img ng-src="./img/hots/hots-logo.png" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <div ui-view="calc"></div>
        </div>
        <div class="col-xs-3">
            <div class="tc-section">
                <div class="tc-section-title">
                    <h3>HERO SELECT</h3>
                </div>
                <ul class="hero-list">
                    <li ng-repeat="hero in heroes" ng-class="{ active: hero._id == currentHero._id }"><a ui-sref="app.hots.talentCalculator.hero({ hero: hero.className })" class="{{hero.className}}" hots-hero tooltip-pos="left">{{hero.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>