<div class="guide-page">

    <div class="container container-dark">

        <!-- header -->
        <div class="padding-none guide-header">
            <div class="wrapper-lg guide-header-inner clearfix">
                <div class="pull-left">
                    <h1>{{guide.name}}</h1>
                    <p>posted by <a href="./user/{{guide.author.username}}" class="m-r-sm">@{{guide.author.username}}</a><i class="fa fa-clock-o"></i> {{guide.createdDate | date:'mediumDate'}}</p>
                </div>
                <div class="pull-right">
                    <!-- guide-votes -->
                    <div class="guide-votes clearfix">
                        <div class="vote-count vote-large m-l-sm pull-right"><span><em ng-show="guide.votesCount > 0">+</em>{{guide.votesCount}}</span></div>
                        <div class="vote-count-btns vote-large pull-left">
                            <a href="#" class="btn-vote-up vote-large" ng-class="{active: guide.voted === 1}" ng-click="voteUp(guide)"><i class="fa fa-plus-square"></i></a>
                            <a href="#" class="btn-vote-down vote-large" ng-class="{active: guide.voted === -1}" ng-click="voteDown(guide)"><i class="fa fa-minus-square"></i></a>
                        </div>
                    </div>
                    <!-- / guide-votes -->
                </div>
            </div>
        </div>
        <!-- / header -->

        <div class="row">
            <div class="col-xs-12 m-t-md">
                
                <!-- guide right -->
                <div class="guide-right">
                    
                </div>
                <!-- / guide right -->
                
                <!-- guide left -->
                <div class="guide-left">
                    
                    <!-- guide heroes -->
                    <div class="guide-heroes clearfix m-b-md">
                        <div class="guide-hero-wrapper guide-heroes-{{guide.heroes.length}}" ng-repeat="hero in guide.heroes">
                            <div class="guide-hero" ng-class="{ active: hero == getCurrentHero() }">
                                <a href="#" ng-click="setCurrentHero(hero)">
                                    <div class="guide-hero-title">{{hero.hero.name}}</div>
                                    <div class="guide-hero-image {{hero.hero.className}}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- / guide heroes -->
                    
                    <!-- guide talents -->
                    <div class="guide-section">
                        <div class="guide-section-title clearfix">
                            <a href="#" ng-click="show.talents = !show.talents"><h3 class="pull-left">{{getCurrentHero().hero.name.toUpperCase()}} TALENTS</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                <a href="#" ng-click="show.talents = !show.talents">
                                    <i class="fa" ng-class="{ 'fa-angle-down': !show.talents, 'fa-angle-up': show.talents }"></i>
                                </a>
                            </div>
                        </div>
                        <div class="guide-section-content" ng-show="show.talents">
                            <!-- hero talents -->
                            <div class="guide-talents clearfix" ng-repeat="hero in [getCurrentHero()]">
                                <div class="guide-talent-wrapper" ng-repeat="talent in hero.hero.talents" ng-if="selectedTalent(hero, talent.tier, talent)">
                                    <div class="guide-talent">
                                        <div class="guide-talent-level">LEVEL {{talent.tier}}</div>
                                        <div class="guide-talent-icon talents-icon large active {{hero.hero.className}} {{talent.className}}" hots-talent></div>
                                        <div class="guide-talent-dots">
                                            <div class="guide-talent-dot" ng-class="{ active: selectedTalent(hero, talent.tier, dot) }" ng-repeat="dot in getTalents(hero, talent.tier)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / hero talents -->
                        </div>
                    </div>
                    <!-- / guide talents -->
                    
                    <!-- guide description -->
                    <div class="guide-section">
                        <div class="guide-section-title clearfix">
                            <a href="#" ng-click="show.description = !show.description"><h3 class="pull-left">DESCRIPTION</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                <a href="#" ng-click="show.description = !show.description">
                                    <i class="fa" ng-class="{ 'fa-angle-down': !show.description, 'fa-angle-up': show.description }"></i>
                                </a>
                            </div>
                        </div>
                        <div class="guide-section-content" ng-show="show.description">
                            <p class="m-b-none">{{guide.description}}</p>
                        </div>
                    </div>
                    <!-- / guide description -->

                    <!-- guide -->
                    <div ng-if="!isPremium() || app.user.isSubscribed() || app.user.isAdmin() || app.user.isProvider()">
                    
                        <!-- guide video -->
                        <div class="guide-section" ng-if="guide.video && guide.video.length">
                            <div class="guide-section-title clearfix">
                                <a href="#" ng-click="show.video = !show.video"><h3 class="pull-left">VIDEO</h3></a>
                                <div class="m-l-md m-r-md pull-right">
                                    <a href="#" ng-click="show.video = !show.video">
                                        <i class="fa" ng-class="{ 'fa-angle-down': !show.video, 'fa-angle-up': show.video }"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="guide-section-content unpadded" ng-show="show.video">
                                <div class="guide-video" ng-bind-html="getVideo()"></div>
                            </div>
                        </div>
                        <!-- / guide video -->
                        
                        <!-- guide matchups -->
                        <div class="guide-section">
                            <div class="guide-section-title clearfix">
                                <a href="#" ng-click="show.matchups = !show.matchups"><h3 class="pull-left">MATCH-UPS</h3></a>
                                <div class="m-l-md m-r-md pull-right">
                                    <a href="#" ng-click="show.matchups = !show.matchups">
                                        <i class="fa" ng-class="{ 'fa-angle-down': !show.matchups, 'fa-angle-up': show.matchups }"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="guide-section-content unpadded" ng-show="show.matchups">
                                <div class="guide-matchups row">
                                    <div class="col-xs-4">
                                        <div class="guide-synergy">
                                            <h1>SYNERGY</h1>
                                            <span>Who do they play well with?</span>
                                        </div>
                                        <ul class="hero-list">
                                            <li ng-repeat="hero in heroes" ng-class="{ active: hasSynergy(hero) }"><a href="#" class="{{hero.className}}" hots-hero>{{hero.name}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="guide-strong">
                                            <h1>STRONG AGAINST</h1>
                                            <span>Who are they strong against?</span>
                                        </div>
                                        <ul class="hero-list">
                                            <li ng-repeat="hero in heroes" ng-class="{ active: hasStrong(hero) }"><a href="#" class="{{hero.className}}" hots-hero>{{hero.name}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="guide-weak">
                                            <h1>WEAK AGAINST</h1>
                                            <span>Who are they weak against?</span>
                                        </div>
                                        <ul class="hero-list">
                                            <li ng-repeat="hero in heroes" ng-class="{ active: hasWeak(hero) }"><a href="#" class="{{hero.className}}" hots-hero>{{hero.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / guide matchups -->

                        <!-- guide-gameplay -->
                        <div class="guide-section" ng-repeat="content in guide.content">
                            <div class="guide-section-title clearfix">
                                <a href="#" ng-click="show.content[$index] = !show.content[$index]"><h3 class="pull-left">{{content.title}}</h3></a>
                                <div class="m-l-md m-r-md pull-right">
                                    <a href="#" ng-click="show.content[$index] = !show.content[$index]">
                                        <i class="fa" ng-class="{ 'fa-angle-down': !show.content[$index], 'fa-angle-up': show.content[$index] }"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="guide-section-content" ng-show="show.content[$index]">
                                <p class="m-b-none">{{getContent(content.body)}}</p>
                            </div>
                        </div>
                        <!-- / guide-gameplay -->

                        <!-- comments -->
                        <div class="guide-section">
                            <div class="guide-section-title clearfix">
                                <a href="#" ng-click="show.comments = !show.comments"><h3 class="pull-left">COMMENTS</h3></a>
                                <div class="m-l-md m-r-md pull-right">
                                    <a href="#" ng-click="show.comments = !show.comments">
                                        <i class="fa" ng-class="{ 'fa-angle-down': !show.comments, 'fa-angle-up': show.comments }"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="guide-section-content" ng-show="show.comments">
                                <div class="guide-comments">
                                    <div class="comments">
                                        <p class="no-comments" ng-if="!guide.comments || !guide.comments.length">There are currently no comments on this guide.</p>
                                        <div class="comment" ng-repeat="comment in guide.comments">
                                            <div class="avatar">
                                                <a href="./user/{{comment.author.username}}"><img gravatar-src-once="comment.author.email" alt="" /></a>
                                            </div>
                                            <div class="panel">
                                                <div class="panel-heading pos-rl clearfix">
                                                    <span class="arrow left"></span>
                                                    <a href="./user/{{comment.author.username}}">@{{comment.author.username}}</a>
                                                    <div class="pull-right">
                                                        <div class="comment-votes m-l-sm pull-right clearfix">
                                                            <div class="vote-count vote-small m-l-xs pull-right"><span><em ng-show="comment.votesCount > 0">+</em>{{comment.votesCount}}</span></div>
                                                            <div class="vote-count-btns vote-small pull-left">
                                                                <a href="#" class="btn-vote-up vote-small" ng-class="{active: comment.voted === 1}" ng-click="voteComment(1, comment)"><i class="fa fa-plus-square"></i></a>
                                                                <a href="#" class="btn-vote-down vote-small" ng-class="{active: comment.voted === -1}" ng-click="voteComment(-1, comment)"><i class="fa fa-minus-square"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="comment-ago hidden-xs">
                                                            <span class="fa fa-clock-o"></span>
                                                            <span am-time-ago="comment.createdDate"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">{{comment.comment}}</div>
                                            </div>
                                        </div>
                                        <div class="comment-add">
                                            <div class="avatar">
                                                <a href="./user/{{app.user.getUsername()}}" ng-if="app.user.isLogged()"><img gravatar-src="app.user.getUserEmail()" alt="" /></a>
                                                <a href="#" ng-if="!app.user.isLogged()"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/img/profile.jpg" alt="" /></a>
                                            </div>
                                            <form class="form-horizontal" name="commentForm" novalidate>
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-dark" ng-model="comment.comment" placeholder="ADD A COMMENT" required>
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-default input-dark" ng-disabled="commentForm.$invalid" ng-click="commentPost()">POST</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / commments -->
                        
                    </div>
                    <!-- / guide -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
