<!-- header -->
<div class="app-header">
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-tempo" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app.home">{{app.name}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:$state.includes('app.home')}"><a ui-sref="app.home">Home</a></li>
                    <li ng-class="{active:$state.includes('app.articles')}"><a ui-sref="app.articles">Articles</a></li>
                    <li ng-class="{active:$state.includes('app.decks')}"><a ui-sref="app.decks.list">Decks</a></li>
                    <li ng-class="{active:$state.includes('app.deckBuilder')}"><a ui-sref="app.deckBuilder.class">Deck Builder</a></li>
                    <li ng-class="{active:$state.includes('app.forum')}"><a ui-sref="app.forum.home">Forum</a></li>
                    <li ng-class="{active:$state.includes('app.team')}"><a ui-sref="app.team">The Team</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active:$state.includes('app.login')}" ng-hide="app.user.isLogged()"><a ui-sref="app.login">Login</a></li>
                    <li ng-class="{active:$state.includes('app.signup')}" ng-hide="app.user.isLogged()"><a ui-sref="app.signup">Signup</a></li>
                    <!-- notifications here -->
                    <li class="dropdown" ng-show="app.user.isLogged()">
                        <a href="#" class="dropdown-toggle clear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="profile-avatar profile-avatar-sm pull-right">
                            <img src="./img/blank.png" alt="">
                          </span>
                          <span class="hidden-sm hidden-md">{{app.user.getUsername()}}</span> <b class="caret"></b>
                        </a>
                        <!-- dropdown -->
                        <ul class="dropdown-menu animated">
                          <li><a href="./user/{{app.user.getUsername()}}">Profile</a></li>
                          <li class="divider" ng-show="app.user.isAdmin()"></li>
                          <li ng-show="app.user.isAdmin()"><a ui-sref="app.admin.dashboard">Admin</a></li>
                          <li class="divider"></li>
                          <li><a href="#" ng-click="app.user.logout()">Logout</a></li>
                        </ul>
                        <!-- / dropdown -->
                    </li>
                </ul>
            </div><!-- / nav-collapse -->
        </div><!-- / container -->
    </div>
</div>
<!-- / header -->

<!-- content -->
<div class="app-content" ui-view="content">
</div>
<!-- / content -->

<!-- footer -->
<footer ng-hide="$state.includes('app.admin') || $state.includes('app.deckBuilder')"></footer>
<!-- / footer -->