<div class="container">
    <!-- activities -->
    <div class="activities" ng-show="activities.length">
        <!-- activity -->
        <div class="activity" ng-repeat="activity in activities">
            <div class="avatar">
                <a href="./user/{{user.username}}"><img src="./img/profile.jpg" alt="" /></a>
            </div>
            <div class="panel">
                <div class="panel-heading pos-rl">
                    <span class="arrow left"></span>
                    <span ng-bind-html="activity.getActivity()"></span>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <span class="fa fa-clock-o text-muted"></span>
                        <span class="text-muted">{{activity.createdDate | date : 'medium'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / activity -->
    </div>
    <!-- / activities -->
    <p class="profile-no-content" ng-show="!activities.length">@{{user.username}} has no site activity yet.</p>
</div>