<div class="container">
    <!-- activities -->
    <div class="activities" ng-show="activities.length">
        <!-- activity -->
        <div class="activity" ng-repeat="activity in activities">
            <div class="avatar">
                <a href="./user/{{user.username}}"><img gravatar-src-once="user.email" /></a>
            </div>
            <div class="panel">
                <div class="panel-heading pos-rl">
                    <span class="arrow left"></span>
                    <span>{{user.username}}</span>
                    <span activity-article ng-if="activity.activityType == 'createArticle'"></span>
                    <span activity-signup ng-if="activity.activityType == 'signup'"></span>
                    <span activity-article-comment ng-if="activity.activityType == 'articleComment'"></span>
                    <span activity-deck ng-if="activity.activityType == 'createDeck'"></span>
                    <span activity-deck-comment ng-if="activity.activityType == 'deckComment'"></span>
                    <span activity-forum-post ng-if="activity.activityType == 'forumPost'"></span>
                    <span activity-forum-comment ng-if="activity.activityType == 'forumComment'"></span>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <span class="fa fa-clock-o text-muted"></span>
                        <span class="text-muted">{{activity.createdDate | date : 'medium'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / activity -->
    </div>
    <!-- / activities -->
    <p class="profile-no-content" ng-show="!activities.length">@{{user.username}} has no site activity yet.</p>
</div>