<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 m-t-md">
            <div class="signup-form row">
                <div class="col-sm-6">
                    <h1>Reset Password</h1>
                    <p>Please enter a new password for your account. Your new credentials will be emailed to you for your records.</p>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-danger error-modal animated" ng-show="showError">
                        <div class="panel-heading">
                            <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                            <strong>Unable to reset password</strong>
                        </div>
                        <div class="panel-body">
                            <ul class="error text-danger">
                                <li ng-repeat="err in errors">{{err.msg}}</li>
                            </ul>
                        </div>
                    </div>
                    <form class="form-horizontal form-modal" role="form" name="form">
                    <div class="form-group">
                        <label for="email" class="control-label sr-only">Email</label>
                        <input type="email" class="form-control input-dark first" id="email" placeholder="Email" ng-model="reset.email" readonly required>
                    </div>
                    <input type="hidden" name="code" ng-model="reset.code">
                    <div class="form-group">
                        <label for="password" class="control-label sr-only">New Password</label>
                        <input type="password" class="form-control input-dark" id="password" placeholder="New Password" ng-model="reset.password" required>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="control-label sr-only">Confirm Password</label>
                        <input type="password" class="form-control input-dark last" id="cpassword" placeholder="Confirm Password" ng-model="reset.cpassword" required>
                    </div>
                    <button type="submit" class="btn btn-default btn-block" ng-disabled="form.$invalid" ng-click="resetPassword()">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>