<div class="{{theme}} panel error-modal animated" ng-if="show()" ng-class="{'panel-danger': !isSuccess(), 'panel-success': isSuccess()}">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="reset()">&times;</button>
        <strong>{{getMessage('msg')}}</strong>
    </div>
    <div class="panel-body" ng-if="!isSuccess()">
        <ul class="error text-danger" ng-repeat="(errKey, errArr) in getMessage('errorList') track by $index">
            <li ng-repeat="errMsg in errArr track by $index">
				<span ng-if="!(errMsg === 'can\'t be blank')">{{errMsg}}</span>
				<span ng-if="errMsg === 'can\'t be blank'">{{errKey}} {{errMsg}}</span>
			</li>
        </ul>
    </div>
</div>