<div class="panel panel-default br-none" ng-if="show()" ng-class="{'admin-alert-error': !isSuccess(), 'admin-alert-success': isSuccess()}">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="reset()">&times;</button>
        <h3>{{getMessage('msg')}}</h3>
    </div>
    <div class="panel-body wrapper-lg" ng-if="!isSuccess()">
        <ul class="white m-b-none">
            <li ng-repeat="error in getMessage('errorList') track by $index">
				{{error}}
			</li>
        </ul>
    </div>
</div>