<alert-box theme="admin-new"></alert-box>
<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>Unable to update whitelist</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error.msg}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default br-none">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading clearfix">
        <h3 class="pull-left">Tournament Whitelist</h3>
    </div>
    <div class="panel-body p-t-none p-b-none">
        <div class="form-group">
            <div class="col-sm-12 padding-none">

                <ul class="admin-list padding-none m-b-none" ng-if="draftPlayers.length">
                    <li ng-repeat="user in draftPlayers" class="admin-list-item gradient-add">
                        <div class="list-accent-div">
                            <div class="clearfix z-5 full-div">
                                <div class="pull-left">{{user.username}} - {{user.email}}</div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-remove" ng-click="removeUserPrompt(user)">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                
                <p class="wrapper-lg white" ng-if="!draftPlayers.length">You have not whitelisted any users for the tournament yet. Click the add <strong>Add User</strong> button to add users.</p>
                <div class="admin-list m-b-none">
                    <div class="admin-list-item gradient-add admin-list-item">
                        <div class="list-accent-div">
                            <a ng-click="userAddPrompt()" class="add-element"><i class="fa fa-plus-circle"></i>Add User</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-12">
            <button type="submit" class="btn admin-btn-blue pull-right" ng-disabled="form.$invalid" ng-click="updateSettings()">Update Whitelist</button>
        </div>
    </div>
    </form>
</div>
