<div class="panel panel-default br-none">
  <div class="panel-heading clearfix">
    <h3 class="pull-left">Tournament Decks</h3>
  </div>
  <div class="panel-body">

    <div class="row">

      <div class="col-md-12">
        <h3>Completed Drafts</h3>
      </div>
      <div ng-repeat="player in officialPlayers" class="col-md-12 draft-build">
        <div class="row admin-draft-decks"><h4>{{ player.username }}</h4>
          <div class="col-md-12 decks">
            <div class="col-md-4 deck {{deck.playerClass.toLowerCase()}}" ng-repeat="deck in player.draft.decks">

              <div class="deck-title-bar">
                <div class="deck-title-bar-inner">
                  <div class="deck-title">{{deck.name}}</div>
                </div>
              </div>

              <div class="deck-cards">
                <div class="iscroll-wrapper" iscroll="{mouseWheel: true, momentum: true, refreshInterval: 500, scrollbars: true, interactiveScrollbars: true}">
                  <div class="iscroll-scroller">

                    <div class="deck-card {{card.card.playerClass.toLowerCase()}}" ng-class="{multi:card.cardQuantity > 1, legendary: card.card.rarity === 'Legendary'}"
                         ng-repeat="card in deck.deckCards track by card.card.id"
                         data-tooltip-img="'https://cdn-tempostorm.netdna-ssl.com/cards/' + card.card.photoNames.large"
                         data-tooltip-pos="left" hs-card
                         ng-click="removeCardFromDeck(card)">
                      <div class="card-pool-card-mana">{{card.card.cost}}</div>
                      <div class="card-pool-card-qty" ng-if="card.cardQuantity > 1">{{card.cardQuantity}}</div>
                      <div class="card-pool-card-legendary" ng-if="card.card.rarity === 'Legendary'">
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="card-pool-card-photo">
                        <img ng-src="https://cdn-tempostorm.netdna-ssl.com/cards/{{card.card.photoNames.small}}" alt="card.card.name">
                      </div>
                      <div class="card-pool-card-name">{{card.card.name}}</div>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>


      </div>
    </div>


    <div class="row">
      <div ng-if="pendingPlayers.length > 0" class="col-md-12">
        <h4>Players who haven't completed drafts</h4>
      </div>
      <div ng-repeat="pending in pendingPlayers" class="col-md-12">
        {{ pending.username }}
      </div>
    </div>
  </div>
</div>
