<alert-box theme="admin-new"></alert-box>

<div class="panel panel-default br-none polls-section">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        <h3><span ng-if="mode === 'add'">Add</span><span ng-if="mode === 'edit'">Edit</span> Poll</h3>
    </div>
    <div class="panel-body padding-none p-t-none p-b-none flex-check">
        <div class="col-sm-12 col-md-4 col-lg-3 leftside-content padding-none">
            
            <ul class="edit-nav m-b-md">
                <li class="pull-left" ng-class="{selected: page==='general'}"><a href="#" ng-click="page = 'general'" >General</a></li>
                <li class="pull-left" ng-class="{selected: page==='items'}"><a href="#" ng-click="page = 'items'" >Items</a></li>
            </ul>
            
            <div ng-if="page === 'general'">
                <div class="form-group">
                    <label for="title" class="col-sm-12 control-label">Title</label>
                    <div class="col-sm-12">
                        <input type="title" id="title" name="title" class="form-control" ng-model="poll.title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="subtitle" class="col-sm-12 control-label">Subtitle</label>
                    <div class="col-sm-12">
                        <input type="subtitle" id="subtitle" name="subtitle" class="form-control" ng-model="poll.subtitle" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-12 control-label">Poll Type</label>
                    <div class="col-sm-12">
                        <select id="type" name="type" class="form-control" ng-options="pollType.value as pollType.key for pollType in poll.getPollTypes()" ng-model="poll.pollType" required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="view" class="col-sm-12 control-label">View</label>
                    <div class="col-sm-12">
                        <select id="view" name="view" class="form-control" ng-options="viewType.value as viewType.key for viewType in poll.getViewTypes()" ng-model="poll.viewType" required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="voteLimit" class="col-sm-12 control-label">Vote Limit</label>
                    <div class="col-sm-12">
                        <select id="voteLimit" name="voteLimit" class="form-control" ng-disabled="!poll.items.length" ng-options="number as number for number in poll.getVoteLimits()" ng-model="poll.voteLimit"></select>
                    </div>
                </div>
            </div>

            <div ng-if="page === 'items'">
                <div class="panel panel-fix">
                    <ul class="admin-list padding-none m-b-none" dnd-list="poll.items" ng-if="poll.items.length">
                        <li class="admin-list-item list-underline gradient-add clearfix"
                            ng-repeat="pollItem in poll.items"
                            dnd-draggable="pollItem"
                            dnd-moved="poll.pollItemsUpdateDND(poll.items, $index)"
                            dnd-disable-if="poll.items.length < 2" 
                            ng-class="{ active: poll.activePollItem === pollItem }"
                        >
                            <div class="list-accent-div pointer-item" ng-click="poll.toggleActivePollItem(pollItem)">
                                <span class="full-div">{{pollItem.name}}</span>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-remove btn-xs" ng-click="$event.stopPropagation(); poll.pollItemDeletePrompt(pollItem)"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="panel-body" ng-show="!poll.items.length">
                        <p class="m-b-none">There are no items added for this poll yet.</p>
                    </div>
                    
                    <div class="admin-list padding-none m-b-none">
                        <div class="admin-list-item list-underline gradient-add clearfix">
                            <div class="list-accent-div">
                                <a href="#" class="add-element" ng-click="poll.addPollItem()">
                                    <i class="fa fa-plus-circle"></i>Add Poll Item
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div ng-show="page === 'general'" class="col-sm-12 col-md-8 col-lg-9">
            <div class="form-group">
                <label for="description" class="col-sm-12 control-label">Description</label>
                <div class="col-sm-12">
                    <summernote id="description" config="poll.getSummernoteOptions()" ng-model="poll.description"></summernote>
                </div>
            </div>
        </div>
        
        <div ng-show="page === 'items'" class="col-sm-12 col-md-8 col-lg-9">
            <div ng-if="poll.activePollItem">
                <div class="row form-group">
                    <label for="itemName" class="col-sm-12 control-label">Item Name</label>
                    <div class="col-sm-12">
                        <input type="text" id="itemName" name="itemName" class="form-control" ng-model="poll.activePollItem.name" ng-change="poll.pollItemUpdated(poll.activePollItem)" required>
                    </div>
                </div>
                <div class="row form-group" ng-if="poll.pollType == 'img'">
                    <label for="itemPhoto" class="col-sm-12 control-label">Item Image</label>
                    <div class="col-sm-12">
                        <input type="hidden" id="itemPhotoThumb" name="itemPhotoThumb" value="" ng-model="poll.activePollItem.photoNames.thumb">
                        <input type="hidden" id="itemPhotoLarge" name="itemPhotoLarge" value="" ng-model="poll.activePollItem.photoNames.large">
                        <div class="photo-input">
                            <div class="upload-thumbnail upload-thumbnail-poll">
                                <div class="upload-drop" ng-show="poll.activePollItem.photoNames.thumb === ''" ng-file-drop="photoUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                                <img ng-src="{{poll.getPollItemImage()}}" alt="" ng-show="poll.activePollItem.photoNames.thumb !== ''">
                            </div>
                            <div class="btn-toolbar">
                                <button class="btn btn-default" ng-file-select="poll.pollItemPhotoUpload($files)" onclick="this.value=null" accept="image/*">
                                    <span ng-show="poll.activePollItem.photoNames.thumb === ''">Select image</span>
                                    <span ng-show="poll.activePollItem.photoNames.thumb !== ''">Change image</span>
                                </button>
                                <a href="#" class="btn btn-danger" ng-click="poll.removePollItemPhoto(poll.activePollItem)" ng-show="poll.activePollItem.photoNames.thumb !== ''">Remove image</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-12">
            <button type="submit" class="btn admin-btn-blue pull-right" ng-disabled="form.$invalid || poll.pollItems.length <= 2 || poll.saving" ng-click="poll.save()">
				<span ng-if="mode === 'add'">Add</span><span ng-if="mode === 'edit'">Edit</span> Poll<i class="fa fa-spinner fa-pulse m-l-xs" ng-if="poll.saving"></i>
			</button>
        </div>
    </div>
    </form>
</div>