// Description: 

//*************************************

// 1... mixins
// 2... section specific styles


//*************************************


//*************************************
// 1... mixins
//*************************************

@mixin hs-snapshot-background {
    background: linear-gradient(to top, rgba(31, 38, 80, 0.9), rgba(32, 54, 95, 0.9));
    border: 1px solid rgba(255, 255, 255, 0.2);
}

//*************************************
// 2... section specific styles
//*************************************

.hs-plg {
    @include hs-snapshot-background;
}

.ow-plg {

}

.hots-plg {

}

//.ts-plg {
//    @include ts-div-styles;
//
//}

//*************************************
// 3... Types of plgs
//*************************************


.plg-sidebar {
    padding-top: 35px;
    padding-bottom: 35px;
}

.fullwidth-plg-div {
    width: 100%;
}

.plg-div {
    width: 100%;
}



.article-plg-fix {
    width: 98.7%;
}

//*************************************
// 3.1. DEFAULT plg
//*************************************

.default {
    
    .plg-long {
 
        padding-top: 15px;
        padding-bottom: 15px;
        @include hs-snapshot-background;
        
        &.plg-dbl {
            @media (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;

            }
        }

    //    .ad-wrap {
    //        .adsbygoogle {
    //            max-height: 122px;
    //            text-align: center;
    //        }
    //    }
    }
    
}

//*************************************
// 3.2. HSSNAPSHOT plg
//*************************************

.hs-snapshot {
    
    .plg-long {
 
        padding-top: 15px;
        padding-bottom: 15px;

        &.plg-dbl {
            @media (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;

            }
        }

    }
    
}

//*************************************
// ---- plg standin divs ----
//*************************************

.plg-md-rt {
    width: 300px;
    height: 250px;
    background-color: rgba(137, 104, 173, 1);
    margin: auto;
}

.plg-lg-rt {
    width: 300px;
    height: 280px;
    background-color: rgba(137, 104, 173, 1);
    margin: auto;
}

.plg-leader {
    width: 728px;
    height: 90px;
    background-color: rgba(137, 104, 173, 1);
    margin: auto;
}