Thumbs.db
*.csv
*.dat
*.iml
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
client/vendor
dist
client/dist
.sass-cache/*
modules/.sass-cache/*
client/css/.sass-cache/*
server/uploads/photos/banners/*
server/uploads/photos/articles/*
server/uploads/photos/cards/*
server/uploads/photos/decks/*
server/uploads/photos/polls/*
server/uploads/photos/snapshots/*
server/uploads/photos/teams/*
server/logs/tempostorm.log
server/logs/tempostorm.err
server/logs/*
*.brackets.json
.brackets.json
.jshint.rc
server/configs/assets.json
