<tr>
    <td colspan="100" align="center">
        <table cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td align="center" width="175" height="45" bgcolor="#3d6fb6" style="border-radius:4px;color:#ffffff;display:block">
                    <a href=<% url %> style="color:#ffffff;font-size:14px;font-weight:bold;font-family:Helvetica,arial,sans-serif;text-decoration:none;line-height:45px;width:100%;display:inline-block" target="_blank">
                        <% text %>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>