<tr>
    <td width="16.7%">&nbsp;</td>
    <td align="center" style="font-size:13px;font-family:Helvetica,arial,sans-serif;color:#5a6171;line-height:150%">
        <%= text %>
    </td>
    <td width="16.7%">&nbsp;</td>
</tr>