<tr>
    <td align="center">
        <table cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td width="600">
                    <table width="600" cellspacing="0" cellpadding="0" bgcolor="#3d6fb6">
                        <tbody><tr>
                            <td colspan="3" width="100%" height="17px" style="line-height:17px;font-size:17px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="26.3%" align="left" style="padding-left:50px">
                                <a href=<%= url %> style="border:none;text-decoration:none" target="_blank">
                                    <img src= <%= imgSrc %> width="158" height="28" alt="Tempostorm" border="0" style="color:#ffffff;font-family:Helvetica,arial,sans-serif;display:block;border:none" class="CToWUd">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" height="17px" style="line-height:17px;font-size:17px">&nbsp;</td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>