<tr>
    <td align="center">
        <table>
            <tbody>
            <tr>
                <td align="left" colspan="2" style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#8c94a4">
                    Keep up to date with Tempostorm?<br>
                    Follow us at:
                    <a href="http://mandrillapp.com/track/click/30293776/www.facebook.com?p=eyJzIjoiV19rbmNJSmNFUzZLQ1NLdUxja193Ui1KaHBVIiwidiI6MSwicCI6IntcInVcIjozMDI5Mzc3NixcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LmZhY2Vib29rLmNvbVxcXC90ZW1wb3N0b3JtSFNcIixcImlkXCI6XCI0NWM4NzhiZTAzOWQ0ZmY5YTM3YzJjNzNkYzU5OGE1M1wiLFwidXJsX2lkc1wiOltcImJiNTdhNjczNWQ3ZTUwMWUzMDA4MzNmYTJkOWRkZjYyMGEyYjk2ODNcIl19In0" style="border:none;text-decoration:none" target="_blank">
                        <img src="http://www.tempostorm.com/img/email//facebook.png" width="12" height="12" border="0" style="border:none;width:12px;min-height:12px" class="CToWUd">
                    </a>
                    <a href="http://mandrillapp.com/track/click/30293776/www.twitter.com?p=eyJzIjoiRU5fb202VHJJYmdzakpJelJNR1FjMTlxQVlnIiwidiI6MSwicCI6IntcInVcIjozMDI5Mzc3NixcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LnR3aXR0ZXIuY29tXFxcL3RlbXBvX3N0b3JtXCIsXCJpZFwiOlwiNDVjODc4YmUwMzlkNGZmOWEzN2MyYzczZGM1OThhNTNcIixcInVybF9pZHNcIjpbXCIyY2I5ZmVlYjBkNGM4MTc1Y2NjMDg2NjY1MDk4ZDE0YTliNGMzMWI1XCJdfSJ9" style="border:none;text-decoration:none" target="_blank">
                        <img src="http://www.tempostorm.com/img/email//twitter.png" width="12" height="12" border="0" style="border:none;width:12px;min-height:12px" class="CToWUd">
                    </a>
                    <a href="http://mandrillapp.com/track/click/30293776/www.youtube.com?p=eyJzIjoicEtfZ0MxdV9lTXkzYlZTM3l0eHZKa2Zta2k0IiwidiI6MSwicCI6IntcInVcIjozMDI5Mzc3NixcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy55b3V0dWJlLmNvbVxcXC91c2VyXFxcL3JleW5hZDI3XCIsXCJpZFwiOlwiNDVjODc4YmUwMzlkNGZmOWEzN2MyYzczZGM1OThhNTNcIixcInVybF9pZHNcIjpbXCI2ZWU0ZjExYWVmZWUzNTQ3OTcwM2JlN2U2MWM2Yjc2ODBiMzE3MDAxXCJdfSJ9" style="border:none;text-decoration:none" target="_blank">
                        <img src="http://www.tempostorm.com/img/email//youtube.png" width="12" height="12" border="0" style="border:none;width:12px;min-height:12px" class="CToWUd">
                    </a>
                </td>
            </tr>
            <tr>

            </tr>
            </tbody>
        </table>
    </td>
</tr>