<div class="footer-bar-body">
    <div class="footer-toggle" ng-class="{ small: small }" ng-click="toggleSmall()">
        <i class="fa fa-times"></i>
    </div>

    <div class="footer-bar" ng-class="{ small: small }">


        <img class="bar-footer-img" src="https://s3-us-west-2.amazonaws.com/cdn.tempostorm.com/img/bar/packs.png">
        <a target="_blank" href="https://tempostorm.com/articles/get-old-gods-packs-for-less-through-the-amazon-app">
            <img class="bar-logo-mini" src="https://s3-us-west-2.amazonaws.com/cdn.tempostorm.com/img/bar/whisperslogo.png">
        </a>

        <div class="content">
            <img class="bar-backing" src="https://staging-cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/footer-assets/packopenoverlay.png">
            <a target="_blank" href="https://tempostorm.com/articles/get-old-gods-packs-for-less-through-the-amazon-app">
                <img class="bar-logo" src="https://s3-us-west-2.amazonaws.com/cdn.tempostorm.com/img/bar/whisperslogo.png">
            </a>

            <ul class="clearfix">
                <li><span class="highlight-text">More</span> Packs</li>
                <li><span class="highlight-text">More</span> Legendaries</li>
                <li><span class="highlight-text">Less</span> Dollars</li>
                <li><span class="blurb-text">Get more Packs for less with Amazon!</span></li>
            </ul>
<!--            <img class="hs-card" src="https://staging-cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/footer-assets/card-packs.png">-->
            <a target="_blank" href="https://tempostorm.com/articles/get-old-gods-packs-for-less-through-the-amazon-app" class="learn-more-btn">Learn More</a>
        </div>
    </div>
</div>