<a ui-sref="app.articles.article({ slug: article.slug.url })" class="home-article active">
    <div class="inner"></div>
    <div class="article-premium" ng-if="isPremium(article)"></div>
    <img ng-src="	
https://s3-us-west-2.amazonaws.com/cdn.tempostorm.com/articles/{{article.photos.small}}" class="img-responsive">
    <div class="article-icon {{article.articleType.join(' ')}}"></div>
    <div class="home-article-content">
        <h1 class="{{article.articleType.join(' ')}}">{{article.title}}</h1>
        <p>{{getDescription(article.description)}}</p>
    </div>
</a>