<div class="container-fluid filters-back {{currentMapBack()}}">
    <div class="container m-t-md m-b-md">
        <div class="hero-name text-center">{{hero().name}}</div>
        <div class="hero-description text-center">{{hero().title}}</div>
    </div>
    <div class="container">
        <div class="row no-pad">
            <div class="col-xs-12 col-sm-8 m-b-md">
                <div class="row">
                    <div class="col-xs-12">
                        <div hots-filter-role filters="filters"></div>
                        <div hots-filter-universe filters="filters"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 m-b-md hots-filters-search">
                <form ng-submit="updateSearch()">
                    <div class="input-group">
                        <input type="text"
                               placeholder="Search by Hero Name..."
                               class="form-control input-dark" ng-model="searchHeroes">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-blue">
                                <span ng-if="!$parent.initializing">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span ng-if="$parent.initializing">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid hero-back {{hero().className}}">
        <ul class="hero-filters clearfix">
            <li ng-repeat="hero in heroDots">
                <button class="{{hero.className}}" ng-class="{ 'active': hasFilterHero(hero), 'not-selected': !hasFilterHero(hero) && hasAnyFilterHero(),  'filtered': isFiltered(hero) }" ng-if="hero.className" ng-click="toggleFilterHero(hero)" ng-tooltip title="{{hero.name}}">{{hero.name}}</button>
                <button class="empty" ng-class="{ 'filtered': hasAnyFilter() }" ng-if="!hero.className"></button>
            </li>
        </ul>
    </div>
    <div class="container m-b-sm">
        <div class="filters-maps">
            <ul class="text-center">
                <li class="m-b-md" ng-repeat="map in maps"><button class="{{map.className}}" ng-class="{ 'active': hasFilterMap(map), 'not-selected': !hasFilterMap(map) && hasAnyFilterMap() }" ng-click="toggleFilterMap(map)" ng-tooltip title="{{map.name}}">{{map.name}}</button></li>
            </ul>
        </div>
    </div>
</div>