<ul class="hero-roles clearfix">
    <li><button class="hero-role warrior" ng-class="{ 'active': hasFilterRole('Warrior') }" ng-click="toggleFilterRole('Warrior')" ng-tooltip title="Warrior"></button></li>
    <li><button class="hero-role assassin" ng-class="{ 'active': hasFilterRole('Assassin') }" ng-click="toggleFilterRole('Assassin')" ng-tooltip title="Assassin"></button></li>
    <li><button class="hero-role support" ng-class="{ 'active': hasFilterRole('Support') }" ng-click="toggleFilterRole('Support')" ng-tooltip title="Support"></button></li>
    <li><button class="hero-role specialist" ng-class="{ 'active': hasFilterRole('Specialist') }" ng-click="toggleFilterRole('Specialist')" ng-tooltip title="Specialist"></button></li>
</ul>