<ul class="hero-universes clearfix">
    <li><button class="hero-universe warcraft" ng-class="{ 'active': hasFilterUniverse('Warcraft') }" ng-click="toggleFilterUniverse('Warcraft')" ng-tooltip title="Warcraft"></button></li>
    <li><button class="hero-universe starcraft" ng-class="{ 'active': hasFilterUniverse('Starcraft') }" ng-click="toggleFilterUniverse('Starcraft')" ng-tooltip title="Starcraft"></button></li>
    <li><button class="hero-universe diablo" ng-class="{ 'active': hasFilterUniverse('Diablo') }" ng-click="toggleFilterUniverse('Diablo')" ng-tooltip title="Diablo"></button></li>
    <li><button class="hero-universe retro" ng-class="{ 'active': hasFilterUniverse('Blizzard') }" ng-click="toggleFilterUniverse('Blizzard')" ng-tooltip title="Retro"></button></li>
</ul>