<div class="visible-lg-block hidden-md">
    <div class="sub-nav-redbull-large">
        <div class="sub-nav-packs"><img ui-sref="app.hs.draft" class="img-responsive sub-nav-pack" ng-src="{{app.cdn}}img/card-packs.png" ng-init="shakePack()"></img></div>
        <button ui-sref="app.hs.draft" class="btn btn-blue sub-nav-btn">Build a Sealed Deck!</button>
    </div>
    <div class="sub-nav-redbull-small">
        <div class="redbull-pack-btn">
            <div class="sub-nav-small-packs"><img ui-sref="app.hs.draft" class="pack-img img-responsive sub-nav-pack" ng-src="{{app.cdn}}img/card-packs.png" ng-init="shakePack()"></img>
            <button ui-sref="app.hs.draft" class="btn btn-blue sub-nav-btn sub-nav-btn-small">Build a Sealed Deck!</button></div>
        </div>
    </div>
</div>