<div class="twitter-tweets-wrapper">
    <ul class="twitter-tweets">
        <li ng-repeat="tweet in tweets">
            <div class="inner"></div>
            <div class="twitter-tweet-wrapper clearfix">
                <img ng-src="{{tweet.logoUrl}}" class="pull-left img-responsive">
                <div class="twitter-tweet-content pos-rl">
                    <div class="ago" am-time-ago="tweet.timestamp"></div>
                    <h1>{{tweet.fullName}}</h1>
                    <a ng-href="{{tweet.authorUrl}}" target="_blank">@{{tweet.screenName}}</a>
                    <p ng-bind-html="getContent(tweet.text)"></p>
                </div>
            </div>
        </li>
    </ul>
</div>