@import '_mixins.scss';

.redbull-draft {
    
    .draft-build {
        
        .draft-build-filtering {
            position: fixed;
            top: 52px;
            left: 0px;
            bottom: 0px;
            width: 300px;
            background: rgba(0,0,0,.4);
            border-right: 1px solid #000;
            
            h3 {
                height: 35px;
                line-height: 35px;
                font-size: 10px;
                text-indent: 20px;
                text-transform: uppercase;
                color: #FFF;
                background: #315178;
                margin-bottom: 0px;
                font-family: 'Open Sans Bold';
            }
            
            .mana-curve {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 299px;
                
                ul {
                    display: block;
                    width: 90%;
                    padding: 0;
                    margin: 9px auto;
                
                    li {
                        float: left;
                        list-style: none;
                        width: 12.5%;
                    
                        .mana-curve-amt {
                            width: 100%;
                            text-align: center;
                            font-family: hs;
                            font-size: 14px;
                            color: #FFF;
                            font-weight: bold;
                            line-height: 20px;
                            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                            margin-bottom: 5px;
                        } /* .mana-curve-amt */
                        
                        .mana-curve-bar {
                            position: relative;
                            width: 50%;
                            margin: 0 auto;
                            height: 100px;
                            background: url('../img/black-60.png');
                            background: rgba(255,255,255,.15);
                            
                            span {
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                height: 0px;
                                -webkit-transition: height .25s;
                                transition: height .25s;
                                background: #2268AD;
                            } /* span */
                        } /* .mana-curve-bar */
                        
                        .mana-curve-num {
                            position: relative;
                            width: 50%;
                            height: 20px;
                            margin: 5px auto 0 auto;
                            line-height: 20px;
                            text-align: center;
                            font-family: hs;
                            font-size: 14px;
                            color: #FFF;
                            font-weight: bold;
                            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                        
                            span {
                                position: absolute;
                                top: 1px;
                                font-size: 10px;
                            } /* span */
                        } /* .mana-curve-num */
                        
                    } /* li */
                } /* ul */
                
            } /* .mana-curve */
            
            .card-search {
                position: absolute;
                top: 200px;
                left: 0px;
                width: 299px;
                
                form {
                    margin: 10px;
                } /* form */
                
            } /* .card-search */
            
            .mana-cost {
                position: absolute;
                top: 285px;
                left: 0px;
                width: 299px;
                
                .mana-crystals {
                    margin: 10px 21px 10px 22px;
                    
                    div {
                        margin-right: 8px;
                        opacity: .6;
                        background-image: url("../img/modules/redbull/client/img/manacrystal_sm.png");
                        background-position: bottom;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 10px;
                        text-align: center;
                        float: left;
                        
                        &:hover {
                            opacity: 1;
                        }
                        
                        &.active {
                            opacity: 1;
                            background-position: top;
                        }
                        
                        a {
                            display: block;
                            height: 25px;
                            width: 25px;
                            color: white;
                            
                            &:focus,
                            &:active {
                                outline: none;
                                border: none;
                            }
                            
                        }
                    }
                    
                    div:last-child {
                        margin-right: 0px;
                    }
                    
                }
                
            } /* .mana-cost */
            
            .card-rarity {
                position: absolute;
                top: 365px;
                left: 0px;
                width: 299px;
                
                button {
                    width: 100%;
                    text-align: left;
                }
                
                ul,
                ul li {
                    width: 100%;
                }
                
            } /* .card-rarity */
            
            .card-mechanics {
                position: absolute;
                top: 454px;
                bottom: 0px;
                width: 299px;
                
                .mechanics-wrapper {
                    position: absolute;
                    top: 35px;
                    left: 0px;
                    bottom: 0px;
                    width: 300px;
                }
                
                ul {
                    margin: 0;
                    padding: 0;
                    
                    li {
                        height: 30px;
                        list-style: none;
                        border-bottom: 1px solid #000;
                        
                        &:last-child {
                            border-bottom: none;
                        }
                        
                        button {
                            display: block;
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            color: #FFF;
                            text-align: left;
                            padding: 0px 20px;
                            outline: none;
                            background: none;
                            border: none;
                            
                            &:hover {
                                background: rgba(255,255,255,.2);
                            }
                            
                            &.active {
                                background: rgba(39, 102, 173, 1);
                            }
                        }
                    }
                    
                }
                
            } /* .card-effect */
            
        } /* .draft-build-filtering */
        
        .draft-build-decks {
            position: fixed;
            top: 52px;
            right: 0px;
            bottom: 0px;
            width: 300px;
            background: rgba(0,0,0,.4);
            border-left: 1px solid #000;
            
            .deck-add-button {
                height: 50px;
                border-bottom: 1px solid #000;
                
                button {
                    display: block;
                    width: 300px;
                    height: 50px;
                    line-height: 50px;
                    outline: none;
                    border: none;
                    text-align: left;
                    text-indent: 20px;
                    color: #FFF;
                    font-size: 14px;
                    text-transform: uppercase;
                    background: #000 url("../img/modules/redbull/client/img/deck-top.png") no-repeat;
                    
                    &:hover {
                        background-color: rgba(255,255,255,.2);
                    } /* :hover */
                    
                } /* button */
                
            } /* .deck-add-button */
            
            .deck-save-button {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 300px;
                height: 50px;
                border-top: 1px solid #000;
                
                button {
                    display: block;
                    width: 300px;
                    height: 50px;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    text-transform: uppercase;
                } /* button */
                
            } /* .deck-add-button */
            
            .decks {
                min-height: calc(100% - 100px);
				height: calc(100% - 100px);
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: flex;
				-webkit-flex-direction: column;

                .deck {
                    height: 48px;
                    overflow: hidden;
                    position: relative;
                    
                    .deck-title-bar {
                        position: relative;
                        height: 48px;
                        cursor: pointer;
                        
                        .deck-title-bar-inner {
                            height: 48px;
                            border: 1px solid rgba(255,255,255,.4);
                            
                            .deck-title {
                                padding-right: 54px;
                                color: #FFF;
                                height: 46px;
                                line-height: 46px;
                                text-indent: 20px;
                                text-transform: uppercase;
                                font-size: 10px;
                                font-family: 'Open Sans Bold';
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                text-shadow: 0px 0px 2px rgba(0,0,0,1);
                            } /* .deck-title */

                            .deck-delete {
                                position: absolute;
                                top: 9px;
                                right: 9px;
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                margin: 0px;
                                padding: 0px;
                                border: none;
                                outline: none;
                                font-size: 14px;
                                background-color: #c12e2a;
                                color: #FFF;
                                opacity: .5;
                                text-shadow: 0px 0px 2px rgba(0,0,0,1);
                                border-radius: 4px;

                                &:hover {
                                    opacity: 1;
                                } /* :hover */

                            } /* .deck-delete */
                            
                        } /* .deck-title-bar-inner */
                        
                    } /* .deck-title-bar */
                    
                    @include draft-deck (druid, 255, 125, 10);
                    @include draft-deck (hunter, 171, 212, 115);
                    @include draft-deck (mage, 105, 204, 240);
                    @include draft-deck (paladin, 245, 140, 186);
                    @include draft-deck (priest, 255, 255, 255);
                    @include draft-deck (rogue, 255, 245, 105);
                    @include draft-deck (shaman, 0, 112, 222);
                    @include draft-deck (warlock, 148, 130, 201);
                    @include draft-deck (warrior, 199, 156, 110);
                    
                    .deck-cards {
                        position: absolute;
                        top: 48px;
                        bottom: 38px;
                        width: 100%;
                        
                        .deck-card {
                            margin-right: 9px;
                            position: relative;
                            height: 27px;
                            color: #FFF;
                            font-weight: bold;
                            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                            text-decoration: none;
                            cursor: pointer;
                            border-bottom: 1px solid #000;
                            -webkit-transition: opacity .3s linear;
                            transition: opacity .3s linear;
                            background: #262626;
                            -webkit-user-drag: none;
                            
                            &.druid {
                                background: rgba(255, 125, 10, .5);

                                &:hover {
                                    background: rgba(255, 125, 10, .8);
                                }
                            }

                            &.hunter {
                                background: rgba(171, 212, 115, .5);

                                &:hover {
                                    background: rgba(171, 212, 115, .8);
                                }
                            }

                            &.mage {
                                background: rgba(105, 204, 240, .5);

                                &:hover {
                                    background: rgba(105, 204, 240, .8);
                                }
                            }

                            &.paladin {
                                background: rgba(245, 140, 186, .5);

                                &:hover {
                                    background: rgba(245, 140, 186, .8);
                                }
                            }

                            &.priest {
                                background: rgba(255, 255, 255, .5);

                                &:hover {
                                    background: rgba(255, 255, 255, .8);
                                }
                            }

                            &.rogue {
                                background: rgba(255, 245, 105, .5);

                                &:hover {
                                    background: rgba(255, 245, 105, .8);
                                }
                            }

                            &.shaman {
                                background: rgba(0, 112, 222, .5);

                                &:hover {
                                    background: rgba(0, 112, 222, .8);
                                }
                            }

                            &.warlock {
                                background: rgba(148, 130, 201, .5);

                                &:hover {
                                    background: rgba(148, 130, 201, .8);
                                }
                            }

                            &.warrior {
                                background: rgba(199, 156, 110, .5);

                                &:hover {
                                    background: rgba(199, 156, 110, .8);
                                }
                            }

                            &:hover {
                                background: rgba(61,60,60,1);

                                .card-pool-card-qty,
                                .card-pool-card-legendary {
                                    background: rgba(61,60,60,1);
                                }
                            }

                            .card-pool-card-name {
                                position: absolute;
                                top: 0px;
                                left: 40px;
                                height: 26px;
                                line-height: 26px;
                                font-size: 14px;
                                z-index: 2;
                            }/* .card-pool-card-name */

                            .card-pool-card-mana {
                                display: block;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 30px;
                                height: 26px;
                                line-height: 25px;
                                font-family: hs;
                                text-align: center;
                                font-size: 20px;
                                color: #FFF;
                                z-index: 2;
                                background: #2766ad;
                                border-right: 1px solid #000;
                            }/* .card-pool-card-mana */

                            .card-pool-card-qty,
                            .card-pool-card-legendary {
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                width: 30px;
                                height: 26px;
                                font-family: hs;
                                text-align: center;
                                font-size: 20px;
                                color: #cbb800;
                                z-index: 2;
                                line-height: 26px;
                                border-left: 1px solid #000;
                                background: #262626;
                            }/* .card-pool-card-qty, .card-pool-card-legendary */

                            .card-pool-card-legendary {
                                font-size: 14px;
                            }/* .card-pool-card-legendary */

                            .card-pool-card-photo {
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                width: 100%;
                                height: 26px;

                                img {
                                    position: absolute;
                                    top: 0px; right: 0px;
                                    width: 110px;
                                    height: 26px;
                                    -webkit-user-drag: none;
                                }/* img */
                            }/* .card-pool-card-photo */

                            &.legendary {
                                .card-pool-card-photo {
                                    img {
                                        right: 30px;
                                    }
                                }
                            }

                            &.multi {
                                .card-pool-card-legendary {
                                    right: 30px;
                                }
                                .card-pool-card-photo {
                                    width: 100%;
                                    right: 0px;
                                    border-top-right-radius: 0px;
                                    border-bottom-right-radius: 0px;
                                    border-right: none;

                                    img {
                                        border-top-right-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                        position:absolute;
                                        right: 30px;
                                    }/* img */

                                }/* .card-pool-card-photo */

                                &.legendary {
                                    .card-pool-card-photo {
                                        img {
                                            right: 60px;
                                        }
                                    }
                                }

                            }/* .multi */

                        }/* .deck-card */
                        
                    } /* .deck-cards */
                    
                    .deck-count {
                        display: none;
                        color: #FFF;
                        text-align: right;
                        font-family: 'Open Sans Bold';
                        font-size: 20px;
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        height: 38px;
                        line-height: 38px;
                        
                        .deck-count-inner {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            border: 1px solid rgba(255,255,255,.4);
                            padding: 0 20px;
                            line-height: 38px;
                        }
                    }
                    
                    &.active {
                        height: 15px;
                        height: auto;
                        -webkit-flex: 1 1 auto;
                        -moz-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        
                        .deck-cards {
                            flex-grow: 1;
                        }
                        
                        .deck-cards,
                        .deck-count {
                            display: block;
                        }
                    }
                    
                } /* .deck */
                
            } /* .decks */
            
        } /* .draft-build-decks */
        
        .draft-build-cards {
            
            .card-filter-classes {
                margin: 20px auto;
                padding: 0;
                width: 401px;
                
                &.filtered {
                    width: 73px;
                }
                
                li {
                    display: inline-block;
                    list-style: none;
                    
                    button {
                        margin-right: 10px;
                        width: 31px;
                        height: 32px;
                        background: url('../img/class-icons.png') no-repeat;
                        overflow: hidden;
                        text-indent: -99999px;
                        opacity: .5;
                        border: none;
                        outline: none;
                        
                        &.neutral {
                            width: 32px;
                            background: url('../img/neutralcards.png') no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        &.warlock { background-position: -155px 0px; }
                        &.warrior { background-position: -155px -32px; }
                        &.hunter { background-position: -155px -64px; }
                        &.rogue { background-position: -155px -96px; }
                        &.priest { background-position: -155px -128px; }
                        &.paladin { background-position: -155px -160px; }
                        &.mage { background-position: -155px -192px; }
                        &.druid { background-position: -155px -224px; }
                        &.shaman { background-position: -155px -256px; }
                        &.warlock.active { background-position: -124px 0px; }
                        &.warrior.active { background-position: -124px -32px; }
                        &.hunter.active { background-position: -124px -64px; }
                        &.rogue.active { background-position: -124px -96px; }
                        &.priest.active { background-position: -124px -128px; }
                        &.paladin.active { background-position: -124px -160px; }
                        &.mage.active { background-position: -124px -192px; }
                        &.druid.active { background-position: -124px -224px; }
                        &.shaman.active { background-position: -124px -256px; }
                        &.active { opacity: 1; }
                    }
                    
                    &:last-child {
                        button {
                            margin-right: 0px;
                        }
                    }
                    
                } /* li */
                
            } /* .card-filter-classes */
            
            .draft-build-pool {
                position: relative;
                
                button.draft-build-cards-pagination {
                    position: absolute;
                    margin-top: -25px;
                    top: 50%;
                    background: none;
                    height: 50px;
                    outline: none;
                    border: none;
                    box-shadow: none;
                    z-index: 101;
                    opacity: .8;
                    
                    &:hover {
                        opacity: 1;
                    } /* :hover */
                    
                    &:disabled {
                        opacity: .2;
                    } /* :disabled */

                    &.left {
                        left: 0px;
                    } /* .left */

                    &.right {
                        right: 0px;
                    } /* .right */

                    i {
                        font-size: 48px;
                        color: rgba(255,255,255,1);
                    } /* i */

                } /* button */

                .draft-build-cards-view-wrapper {
                    position: relative;
                    padding: 30px;
                    min-height: 810px;
                    
                    .draft-build-card {
                        float: left;
                        position: relative;
                        width:20%;
                        display: block;
                        height: 250px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        -webkit-user-drag: none;
                        
                        &.disabled {
                            opacity: .3;
                        }
                            
                        a,
                        img {
                            position: relative;
                            margin: 0 auto;
                            display: block;
                            width: 160px;
                            height: 221px;
                            -webkit-user-drag: none;
                            z-index: 2;
                        } /* a, img */
                        
                        .card-qty {
                            position: relative;
                            z-index: 1;
                            margin: -10px auto 0px auto;
                            width: 45px;
                            height: 29px;
                            background: url(../img/modules/redbull/client/img/card-bottom.png) no-repeat;
                            color: #FFF;
                            font-size: 10px;
                            font-family: 'Open Sans Bold';
                            letter-spacing: 2px;
                            line-height: 18px;
                            text-align: center;
                            opacity: .5;
                        } /* .card-qty */
                        
                    } /* .draft-build-card */
                    
                } /* .draft-build-cards-view-wrapper */
                
            } /* .draft-build-pool */
            
            .draft-build-pool-no-match {
                font-size: 30px;
                color: #FFF;
                text-align: center;
                line-height: 750px;
            }
            
        } /* .draft-build-cards */
        
    } /* .draft-build */
    
} /* .redbull-draft */

.new-deck-classes {
    margin: 0;
    padding: 0;

    li {
        margin-right: 20px;
        list-style: none;
        display: inline-block;
        width: 176px;
        height: 129px;
        
        &:nth-child(3n+3) {
            margin-right: 0px;
        }
        
        button {
            width: 176px;
            height: 129px;
            outline: none;
            border: none;
            overflow: hidden;
            background: url('../img/modules/redbull/client/img/hero-select.png') no-repeat;
            white-space: nowrap;
            text-indent: -99999px;

            @include draft-hero-select (druid, 0);
            @include draft-hero-select (hunter, 1);
            @include draft-hero-select (mage, 2);
            @include draft-hero-select (paladin, 3);
            @include draft-hero-select (priest, 4);
            @include draft-hero-select (rogue, 5);
            @include draft-hero-select (shaman, 6);
            @include draft-hero-select (warlock, 7);
            @include draft-hero-select (warrior, 8);
            &.inactive { opacity: .3; }
            
        }
    }

} /* .new-deck-classes */
