.redbull-draft {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url("../img/modules/redbull/client/img/cursor.png"), auto;

    div, img {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    a {
      cursor: url("../img/modules/redbull/client/img/cursor.png"), auto;
    }
    
    .draft {
        position: absolute;
        top: 52px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #161213;
        
        &.blurred {
            .bg,
            .pack-wrapper {
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
            }
        }
        
        .bg,
        .pack-wrapper {
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);

            transition: 1s filter linear;
            -webkit-transition: 1s -webkit-filter linear;
            -moz-transition: 1s -moz-filter linear;
            -ms-transition: 1s -ms-filter linear;
            -o-transition: 1s -o-filter linear;
        }
    }
    
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #161213;
        z-index: 99;
        
        i {
            margin: -25px 0 0 -25px;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50px;
            height: 50px;
            font-size: 50px;
            color: #FFF;
        }
    }

    .draft-wrapper {
        margin-left: -683px;
        margin-top: -384px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1366px;
        height: 768px;
    
        &.grabbing {
            cursor: url("../img/modules/redbull/client/img/grab.png"), auto;
        }
        
        &.clicking {
            cursor: url("../img/modules/redbull/client/img/click.png"), auto;
        }
        
        .bg,
        .bg-glow {
            margin-left: -207px; //-253px;
            margin-top: -342px; //-384px;
            width: 649px; //width: 741px;
            height: 600px; //height: 684px;
//            margin-left: -683px;
//            margin-top: -384px;
            position: absolute;
            left: 50%;
            top: 50%;
//            width: 1366px;
//            height: 768px;
            background: url("../img/modules/redbull/client/img/bg.jpg") no-repeat center center;
            z-index: 2;
        }
        
        .bg-glow {
            display: none;
            margin-left: -207px; //-253px;
            margin-top: -342px; //-384px;
            width: 649px; //width: 741px;
            height: 600px; //height: 684px;
            background: url("../img/modules/redbull/client/img/bg-glow.jpg") no-repeat center center;
            z-index: 3;
        }

        .pack-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            
            .pack,
            .pack-next {
                position: relative;
                left: 200px;
                top: 247px;
                width: 155px;
                height: 212px;
                background: url("../img/modules/redbull/client/img/pack.png") no-repeat;
                z-index: 3;
                
                &.league-of-explorers {
                    background: url("../img/modules/redbull/client/img/pack-loe.png") no-repeat;
                }
                
                &.blackrock-mountain {
                    background: url("../img/modules/redbull/client/img/pack-brm.png") no-repeat;
                }
                
                &.naxxramas {
                    background: url("../img/modules/redbull/client/img/pack-naxx.png") no-repeat;
                }
                
                &.goblins-vs-gnomes {
                    background: url("../img/modules/redbull/client/img/pack-gvg.png") no-repeat;
                }
                
                &.the-grand-tournament {
                    background: url("../img/modules/redbull/client/img/pack-tgt.png") no-repeat;
                }
                
                &.soulbound {
                    background: url("../img/modules/redbull/client/img/pack-soulbound.png") no-repeat;
                }
            }
            
            .pack-next {
                position: absolute;
                z-index: 2;
            }
        }

        .pack-drop {
            position: absolute;
            left: 707px;
            top: 260px;
            width: 155px;
            height: 212px;
        }

        .cards {
            margin-left: -683px;
            margin-top: -384px;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 1366px;
            height: 768px;
            perspective: 1000px;
            z-index: 6;
            display: none;

            .card {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 188px;
                height: 285px;
                transition: transform 300ms;
                -webkit-transition: -webkit-transform 300ms;

                &:nth-child(1) {
                    margin-left: 8px;
                    margin-top: -332px;
                }
                &:nth-child(2) {
                    margin-left: -194px;
                    margin-top: -261px;
                }
                &:nth-child(3) {
                    margin-left: 223px;
                    margin-top: -254px;
                }
                &:nth-child(4) {
                    margin-left: -108px;
                    margin-top: 18px;
                }
                &:nth-child(5) {
                    margin-left: 127px;
                    margin-top: 26px;
                }
                
                .card-glow {
                    position: absolute;
                    left: 27px;
                    top: 43px;
                    width: 145px;
                    height: 215px;
                    transition: box-shadow 1000ms;
                    -webkit-transition: box-shadow 1000ms;
                }
                
                &:not(.flipped-left):not(.flipped-right):hover {
                    transform: scale(1.15) rotate(0.0001deg);
                    -webkit-transform: scale(1.15) rotate(0.0001deg);
                    
                    .card-glow {
                        &.rare {
                            box-shadow: 0 0 75px #0066ff;
                        }

                        &.epic {
                            box-shadow: 0 0 75px #cc33ff;
                        }

                        &.legendary {
                            box-shadow: 0 0 75px #ff8000;
                        }
                    }
                }
                
                .card-back {
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    transform: perspective(1000px) rotateY(0deg);
                    -webkit-transform: perspective(1000px) rotateY(0deg);
                    transition: transform 800ms ease-in-out 300ms;
                    -webkit-transition: -webkit-transform 800ms ease-in-out 300ms;
                }

                .card-front {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 7px;
                    top: -1px;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    transform: perspective(1000px) rotateY(180deg);
                    -webkit-transform: perspective(1000px) rotateY(180deg);
                    transition: transform 800ms ease-in-out 300ms;
                    -webkit-transition: -webkit-transform 800ms ease-in-out 300ms;
                    
                    img {
                        margin-top: 23px;
                        width: 180px;
                        height: 264px;
                    }
                }
                
                &.flipped-left,
                &.flipped-right {
                    .card-glow {
                        box-shadow: none;
                    }
                }
                
                &.flipped-left {
                    .card-back {
                        transform: perspective(1000px) rotateY(-180deg);
                        -webkit-transform: perspective(1000px) rotateY(-180deg);
                    }
                    
                    .card-front {
                        transform: perspective(1000px) rotateY(0deg);
                        -webkit-transform: perspective(1000px) rotateY(0deg);
                    }
                }
                
                &.flipped-right {
                    .card-back {
                        transform: perspective(1000px) rotateY(180deg);
                        -webkit-transform: perspective(1000px) rotateY(180deg);
                    }
                    
                    .card-front {
                        transform: perspective(1000px) rotateY(360deg);
                        -webkit-transform: perspective(1000px) rotateY(360deg);
                    }
                }
            }
        }

        .btn-done {
            margin-left: 22px;
            margin-top: -55px;
            position: absolute;
            left: 50%;
            top: 50%;
            display: none;
            width: 175px;
            height: 104px;
            z-index: 7;
            background: url("../img/modules/redbull/client/img/done.png") no-repeat;
        }

        .btn-back {
            position: absolute;
            right: 200px;
            bottom: 42px;
            width: 70px;
            height: 38px;
            z-index: 2;

            &:hover {
                right: 195px;
                bottom: 40px;
                width: 80px;
                height: 44px;
                background: url("../img/modules/redbull/client/img/back_button_hover.jpg");
            }
        }

    }
    
}