.redbull-draft {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url("../img/modules/redbull/client/img/cursor.png"), auto;

    div, img {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    a {
      cursor: url("../img/modules/redbull/client/img/cursor.png"), auto;
    }
    
    draft {
        position: relative;
    }
    
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 99;
        
        .loading {
            margin: -25px 0 0 -25px;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50px;
            height: 50px;
        }
    }

    .hs-frame {
      margin-left: -765px;
      margin-top: -444px;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1530px;
      height: 888px;
      background: url("../img/modules/redbull/client/img/bg_frame.png");
    }

    .draft-wrapper {
        margin-left: -683px;
        margin-top: -384px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1366px;
        height: 768px;
    
        &.grabbing {
            cursor: url("../img/modules/redbull/client/img/grab.png"), auto;
        }
        
        &.clicking {
            cursor: url("../img/modules/redbull/client/img/click.png"), auto;
        }
        
        .pack-burst {
            position: absolute;
        }

        .bg {
          margin-left: -683px;
          margin-top: -384px;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 1366px;
          height: 768px;
          background: url("../img/modules/redbull/client/img/bg.jpg") no-repeat center center;
        }
    
        .pack-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;

            .pack {
                position: relative;
                left: 200px;
                top: 247px;
                width: 155px;
                height: 212px;
                background: url("../img/modules/redbull/client/img/pack.png") no-repeat;
                z-index: 2;
            }
        }

        .pack-drop {
            position: absolute;
            left: 707px;
            top: 260px;
            width: 155px;
            height: 212px;
        }

        .cards {
            margin: 0 auto;
            position: relative;
            perspective: 1000px;
            z-index: 5;

            .card {
                position: absolute;
                left: 50%;
                top: 50%;

                &:nth-child(0) {
                    margin-left: 8px;
                    margin-top: -332px;
                }
                &:nth-child(1) {
                    margin-left: -194px;
                    margin-top: -261px;
                }
                &:nth-child(2) {
                    margin-left: 223px;
                    margin-top: -254px;
                }
                &:nth-child(3) {
                    margin-left: -108px;
                    margin-top: 18px;
                }
                &:nth-child(4) {
                    margin-left: 127px;
                    margin-top: 26px;
                }

                .card-glow {
                    position: absolute;
                    left: 27px;
                    top: 43px;
                    width: 145px;
                    height: 215px;
                }

                .card-face {
                    width: 188px;
                    height: 285px;
                }

                .card-back {
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    transform: perspective(1000px) rotateY(0deg);
                    -webkit-transform: perspective(1000px) rotateY(0deg);
                }

                .card-front {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 7px;
                    top: -1px;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    transform: perspective(1000px) rotateY(180deg);
                    -webkit-transform: perspective(1000px) rotateY(180deg);
                }
            }
        }

        .btn-done {
            margin-left: 22px;
            margin-top: -55px;
            position: absolute;
            left: 50%;
            top: 50%;
            display: none;
            width: 175px;
            height: 104px;
            z-index: 5;
            background: url("../img/modules/redbull/client/img/done.png") no-repeat;
        }

        .btn-back {
            position: absolute;
            right: 200px;
            bottom: 42px;
            width: 70px;
            height: 38px;
            z-index: 2;

            &:hover {
                right: 195px;
                bottom: 40px;
                width: 80px;
                height: 44px;
                background: url("../img/modules/redbull/client/img/back_button_hover.jpg");
            }
        }

    }
    
}