.redbull-draft {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .draft {
        position: absolute;
        top: 52px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #161213;
        cursor: url("../img/modules/redbull/client/img/cursor.png") 10 2, auto;

        div, img {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        a {
          cursor: url("../img/modules/redbull/client/img/cursor.png") 10 2, auto;
        }
        
        &.blurred,
        &.fast-forward {
            .bg,
            .expansion-wrapper {
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
            }
        }

        &.grabbing {
            cursor: url("../img/modules/redbull/client/img/grab.png"), auto;
        }

        &.clicking {
            cursor: url("../img/modules/redbull/client/img/click.png"), auto;
        }
        
        .bg,
        .expansion-wrapper {
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);

            transition: 1s filter linear;
            -webkit-transition: .5s -webkit-filter linear;
            -moz-transition: .5s -moz-filter linear;
            -ms-transition: .5s -ms-filter linear;
            -o-transition: .5s -o-filter linear;
        }
        
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #161213;
            z-index: 999;

            i {
                margin: -25px 0 0 -25px;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 50px;
                height: 50px;
                font-size: 50px;
                color: #FFF;
            }
        }

        .draft-wrapper {
            margin-left: -683px;
            margin-top: -384px;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 1366px;
            height: 768px;
            
            @media screen and (max-width:1330px) {
                margin-left: -55%;
            }
            
            @media screen and (max-width:925px) {
                margin-left: -65%;
            }
            
            @media screen and (max-width:800px) {
                margin-left: -78%;
            }

            .bg,
            .bg-glow {
                margin-left: -324px; //-253px;
                margin-top: -300px; //-384px;
                width: 649px; //width: 741px;
                height: 600px; //height: 684px;
    //            margin-left: -683px;
    //            margin-top: -384px;
                position: absolute;
                left: 50%;
                top: 50%;
    //            width: 1366px;
    //            height: 768px;
                background: url("../img/modules/redbull/client/img/bg.jpg") no-repeat center center;
                z-index: 2;
            }

            .bg-glow {
                display: none;
                margin-left: -324px; //-253px;
                margin-top: -300px; //-384px;
                width: 649px; //width: 741px;
                height: 600px; //height: 684px;
                background: url("../img/modules/redbull/client/img/bg-glow.jpg") no-repeat center center;
                z-index: 3;
                
                &.glow-pulse {
                    webkit-animation: glow-pulse 2s linear;
                    animation: glow-pulse 5s linear infinite;
                }
                
                @keyframes glow-pulse {
                    0% { opacity: 1; }
                    25% { opacity: .7; }
                    50% { opacity: 1; }
                    75% { opacity: .6; }
                    100% { opacity: 1; }
                } 
            }
            
            .packs {
                position: fixed;
                top: 52px;
                left: 0px;
                bottom: 0px;
                width: 300px;
                background: rgba(46,43,41,.4);
                border-right: 1px solid #000;
                z-index: 99;
                
               @media screen and (max-width:1330px) {
                    width: 200px;
                }
                
                .iscroll-wrapper {
                    overflow: inherit;
                }
                
                /* temp button for settings */
                .packs-scroller {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 100px;
                }
                
                .pack-settings-button {
                    position: absolute;
                    top: auto;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    height: 50px;
                    border-top: 1px solid #000;

                    button {
                        position: relative;
                        height: 50px;
                        line-height: 38px;
                    }
                }
                /* end temp button for settings */
                
                .volume-control {
                    position: absolute;
                    top: auto;
                    bottom: 50px;
                    left: 0px;
                    right: 0px;
                    height: 50px;
                    border-top: 1px solid #000;
                    background: rgba(46,43,41,1);
                    
                    @media screen and (max-width:1330px) {
                        height: 30px;
                        left: -41px;
                    }
                    
                    .volume-tooltip {
                        display: block;
                        position: absolute;
                        top: -25px;
                        left: 35%;
                        padding: 2px 5px;
                        width: 40px;
                        margin-left: -20px;
                        font-size: 14px;
                        line-height: 14px;
                        text-align: center;
                        background: #2766ad;
                        color: #FFF;
                        border: 1px solid #000;
                        border-radius: 4px;
                        z-index: 3;
                    }
                    
                    .volume-slider-wrapper {
                        position: relative;
                        margin: 6px auto;
                        padding: 3px 32px 4px 34px;
                        width: 282px;
                        height: 38px;
                        background: url("../img/modules/redbull/client/img/volume-slider.png") center top no-repeat;
                        
                         @media screen and (max-width:1330px) {
                            -ms-transform: scale(.7); /* IE 9 */
                            -webkit-transform: scale(.7); /* Safari */
                            transform: scale(.7);
                            margin: -3px auto;
                        }
                    }
                    
                    .volume-slider {
                        position: relative;
                        width: 216px;
                        height: 31px;
                    }
                    
                    .ui-slider-handle {
                        position: absolute;
                        top: 0px;
                        margin-left: -8px;
                        width: 16px;
                        height: 31px;
                        z-index: 2;
                        cursor: pointer;
                        background: url("../img/modules/redbull/client/img/volume-nob.png") center top no-repeat;
                        outline: none;
                    }
                    
                    .ui-slider-range {
                        position: absolute;
                        top: 0;
                        width: 185px;
                        height: 100%;
                    }
                }
                
                .expansion-wrapper {
                    position: relative;
                    margin: 15px auto;
                    padding-top: 7px;
                    width: 187px;
                    height: 271px;
                    background: url("../img/modules/redbull/client/img/pack-frame.png") center top no-repeat;
                    
                    &.goblins-vs-gnomes,
                    &.the-grand-tournament {
                        padding-top: 12px;
                    }
                    
                    .pack-wrapper {
                        position: relative;
                        margin: 0 auto;
                        width: 155px;
                        height: 212px;
                        z-index: 100;

                        .pack-tab {
                            position: absolute;
                            top: 10px;
                            right: 30px;
                            min-width: 23px;
                            height: 37px;
                            background: url("../img/modules/redbull/client/img/pack-tab.png") center top no-repeat;
                            z-index: 103;
                            color: #FFF;
                            font-family: hs;
                            text-align: center;
                            line-height: 26px;
                            font-size: 20px;
                            text-shadow: 0px 0px 1px rgba(0,0,0,.4);

                            &.goblins-vs-gnomes,
                            &.the-grand-tournament {
                                top: 15px;
                            }
                        }

                        .pack,
                        .pack-next {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 155px;
                            height: 212px;
                            background: url("../img/modules/redbull/client/img/pack.png") no-repeat;
                            z-index: 101;

                            &.league-of-explorers {
                                background: url("../img/modules/redbull/client/img/pack-loe.png") no-repeat;
                            }

                            &.blackrock-mountain {
                                background: url("../img/modules/redbull/client/img/pack-brm.png") no-repeat;
                            }

                            &.naxxramas {
                                background: url("../img/modules/redbull/client/img/pack-naxx.png") no-repeat;
                            }

                            &.goblins-vs-gnomes {
                                background: url("../img/modules/redbull/client/img/pack-gvg.png") no-repeat;
                            }

                            &.the-grand-tournament {
                                background: url("../img/modules/redbull/client/img/pack-tgt.png") no-repeat;
                            }

                            &.soulbound {
                                background: url("../img/modules/redbull/client/img/pack-soulbound.png") no-repeat;
                            }

                            &.disabled {
                                background: none !important;
                            }
                        }

                        .pack {
                            position: relative;
                            z-index: 102;

                            &.ui-draggable-dragging {
                                transform: scale(1.05) perspective(300px) rotateY(10deg);
                                webkit-transform: scale(1.05) perspective(300px) rotateY(10deg);
                                z-index: 104;
                            }
                        }

                    }

                    .pack-label {
                        margin: 0 0 0 -70px;
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        width: 141px;
                        height: 44px;
                        //background: url("../img/modules/redbull/client/img/card-pack-tab.png") no-repeat;
                        text-align: center;
                        font-size: 14px;
                        font-family: 'Open Sans Bold';
                        letter-spacing: 2px;
                        line-height: 14px;

                        span {
                            position: absolute;
                            top: 13px;
                            left: 0px;
                            width: 141px;
                            transform: rotate(-3deg);
                            text-transform: uppercase;

                            &.goblins-vs-gnomes,
                            &.blackrock-mountain,
                            &.the-grand-tournament,
                            &.league-of-explorers {
                                top: 8px;
                            }

                        } /* span */
                    } /* .pack-label */
                } /* .expansion-wrapper */

            }/* .packs */

            .pack-drop {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -77px;
                margin-top: -106px;
                width: 155px;
                height: 212px;
            }

            .cards {
                margin-left: -683px;
                margin-top: -384px;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 1366px;
                height: 768px;
                perspective: 1000px;
                z-index: 100;
                display: none;

                .card {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 251px;
                    height: 350px;
                    transition: transform 300ms;
                    -webkit-transition: -webkit-transform 300ms;
                    
                    @media screen and (max-width:1330px) {
                        -ms-transform: scale(.7); /* IE 9 */
                        -webkit-transform: scale(.7); /* Safari */
                        transform: scale(.7);
                    }

                    &:nth-child(1) {
                        //margin-left: -94px;
                        //margin-top: -332px;
                        margin-left: -129px;
                        margin-top: -414px;
                        
                        @media screen and (max-width:1330px) {
                            margin-top: -345px;
                        }
                        
                    }
                    &:nth-child(2) {
                        //margin-left: -296px;
                        //margin-top: -261px;
                        margin-left: -374px;
                        margin-top: -288px;
                        
                        @media screen and (max-width:1330px) {
                            margin-left: -301px;
                            margin-top: -256px;
                        }
                    }
                    &:nth-child(3) {
                        //margin-left: 121px;
                        //margin-top: -254px;
                        margin-left: 121px;
                        margin-top: -288px;
                                                
                        @media screen and (max-width:1330px) {
                            margin-left: 50px;
                            margin-top: -256px;
                        }
                    }
                    &:nth-child(4) {
                        //margin-left: -210px;
                        //margin-top: 26px;
                        margin-left: -278px;
                        margin-top: 49px;
                        
                        @media screen and (max-width:1330px) {
                            margin-left: -220px;
                            margin-top: -21px;
                        }
                    }
                    &:nth-child(5) {
                        //margin-left: 25px;
                        //margin-top: 26px;
                        margin-left: 25px;
                        margin-top: 49px;
                        
                        @media screen and (max-width:1330px) {
                            margin-left: -33px;
                            margin-top: -21px;
                        }
                    }

                    .card-glow {
                        position: absolute;
                        left: 30px;
                        top: 44px;
                        width: 195px;
                        height: 288px;
                        border-radius: 10px;
                        //left: 38px;
                        //top: 53px;
                        //width: 182px;
                        //height: 272px;
                        transition: box-shadow 500ms;
                        -webkit-transition: box-shadow 500ms;
                        
                        &.league-of-explorers {
                            left: 30px;
                            top: 44px;
                            width: 191px;
                            height: 288px;
                        }

                        &.blackrock-mountain {
                            left: 30px;
                            top: 44px;
                            width: 195px;
                            height: 288px;
                        }

                        &.naxxramas {
                            left: 30px;
                            top: 44px;
                            width: 191px;
                            height: 288px;
                        }

                        &.goblins-vs-gnomes {
                            left: 30px;
                            top: 44px;
                            width: 191px;
                            height: 288px;
                        }

                        &.the-grand-tournament {
                            left: 30px;
                            top: 44px;
                            width: 193px;
                            height: 288px;
                        }
                        
                    }

                    &:not(.flipped-left):not(.flipped-right):hover {
                        transform: scale(1.15) rotate(0.0001deg);
                        -webkit-transform: scale(1.15) rotate(0.0001deg);
                        
                             @media screen and (max-width:1330px) {
                                    -ms-transform: scale(.7); /* IE 9 */
                                    -webkit-transform: scale(.7); /* Safari */
                                    transform: scale(.7);
                             }

                        .card-glow {
                            &.rare {
                                box-shadow: 0 0 75px #0066ff;
                            }

                            &.epic {
                                box-shadow: 0 0 75px #cc33ff;
                            }

                            &.legendary {
                                box-shadow: 0 0 75px #ff8000;
                            }
                        }
                    }

                    .card-back {
                        width: 251px;
                        height: 350px;
                        pointer-events: none;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        transform: perspective(1000px) rotateY(0deg);
                        -webkit-transform: perspective(1000px) rotateY(0deg);
                        transition: transform 800ms ease-in-out 300ms;
                        -webkit-transition: -webkit-transform 800ms ease-in-out 300ms;
                        
                        &.league-of-explorers {
                            background: url("../img/modules/redbull/client/img/back-loe.png") no-repeat;
                        }

                        &.blackrock-mountain {
                            background: url("../img/modules/redbull/client/img/back-brm.png") no-repeat;
                        }

                        &.naxxramas {
                            background: url("../img/modules/redbull/client/img/back-naxx.png") no-repeat;
                        }

                        &.goblins-vs-gnomes {
                            background: url("../img/modules/redbull/client/img/back-gvg.png") no-repeat;
                        }

                        &.the-grand-tournament {
                            background: url("../img/modules/redbull/client/img/back-tgt.png") no-repeat;
                        }
                        
                        &.basic {
                            background: url("../img/modules/redbull/client/img/back-basic.png") no-repeat;
                        }
                        
                        &.soulbound {
                            background: url("../img/modules/redbull/client/img/back-soulbound.png") no-repeat;
                        }    
                    }

                    .card-front {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 7px;
                        top: -1px;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        transform: perspective(1000px) rotateY(180deg);
                        -webkit-transform: perspective(1000px) rotateY(180deg);
                        transition: transform 800ms ease-in-out 300ms;
                        -webkit-transition: -webkit-transform 800ms ease-in-out 300ms;
                        

                        img {
                            width: 251px;
                            height: 350px;
                            pointer-events: none;
                        }
                    }

                    &.flipped-left,
                    &.flipped-right {
                        .card-glow {
                            box-shadow: none;
                        }
                    }

                    &.flipped-left {
                        .card-back {
                            transform: perspective(1000px) rotateY(-180deg);
                            -webkit-transform: perspective(1000px) rotateY(-180deg);
                        }

                        .card-front {
                            transform: perspective(1000px) rotateY(0deg);
                            -webkit-transform: perspective(1000px) rotateY(0deg);
                        }
                    }

                    &.flipped-right {
                        .card-back {
                            transform: perspective(1000px) rotateY(180deg);
                            -webkit-transform: perspective(1000px) rotateY(180deg);
                        }

                        .card-front {
                            transform: perspective(1000px) rotateY(360deg);
                            -webkit-transform: perspective(1000px) rotateY(360deg);
                        }
                    }
                }
            }

            .btn-done {
                margin-left: -83px;
                margin-top: -50px;
                position: absolute;
                left: 50%;
                top: 50%;
                display: none;
                width: 175px;
                height: 104px;
                z-index: 101;
                background: url("../img/modules/redbull/client/img/done.png") no-repeat;
            }

        }/* .draft-wrapper */
        
        &.fast-forward {
            .draft-wrapper {
                .cards {
                    .card,
                    .card .card-back,
                    .card .card-front {
                        transition-duration: 100ms !important;
                        -webkit-transition-duration: 100ms !important;
                    }
                }
            }
        }

    }/* .draft */
    
    .card-pool {
        position: fixed;
        top: 52px;
        right: 0px;
        bottom: 0px;
        width: 300px;
        background: rgba(0,0,0,.4);
        border-left: 1px solid #000;
        z-index: 99;
        
        @media screen and (max-width:1330px) {
            display: none;
        }

        .card-pool-title,
        .card-pool-button {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 50px;
        }
        
        .card-pool-title {
            color: #FFF;
            font-size: 20px;
            line-height: 50px;
            text-indent: 20px;
            text-transform: uppercase;
            background: #000 url("../img/modules/redbull/client/img/deck-top.png") no-repeat;
            border-bottom: 1px solid #000;
        }
        
        .card-pool-button {
            top: auto;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-top: 1px solid #000;
            
            button {
                position: relative;
                height: 50px;
                line-height: 38px;
                
                i {
                    position: absolute;
                    right: 20px;
                    top: 18px;
                }
            }
            
            a {
                height: 50px;
                line-height: 38px;
            }
        }
        
        .card-pool-cards {
            position: absolute;
            top: 51px;
            left: 0px;
            right: 0px;
            bottom: 51px;
            
            p {
                color: #d4d4d4;
                padding: 10px;
                
                i {
                    color: #FFF;
                }
            }
            
            .card-pool-card {
                margin-right: 9px;
                position: relative;
                height: 27px;
                color: #FFF;
                font-weight: bold;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                text-decoration: none;
                cursor: pointer;
                border-bottom: 1px solid #000;
                -webkit-transition: opacity .3s linear;
                transition: opacity .3s linear;
                background: #262626;
                
                &.druid {
                    background: rgba(255, 125, 10, .5);
                    
                    &:hover {
                        background: rgba(255, 125, 10, .8);
                    }
                }
                
                &.hunter {
                    background: rgba(171, 212, 115, .5);

                    &:hover {
                        background: rgba(171, 212, 115, .8);
                    }
                }
                
                &.mage {
                    background: rgba(105, 204, 240, .5);

                    &:hover {
                        background: rgba(105, 204, 240, .8);
                    }
                }
                
                &.paladin {
                    background: rgba(245, 140, 186, .5);

                    &:hover {
                        background: rgba(245, 140, 186, .8);
                    }
                }
                
                &.priest {
                    background: rgba(255, 255, 255, .5);

                    &:hover {
                        background: rgba(255, 255, 255, .8);
                    }
                }
                
                &.rogue {
                    background: rgba(255, 245, 105, .5);

                    &:hover {
                        background: rgba(255, 245, 105, .8);
                    }
                }
                
                &.shaman {
                    background: rgba(0, 112, 222, .5);

                    &:hover {
                        background: rgba(0, 112, 222, .8);
                    }
                }
                
                &.warlock {
                    background: rgba(148, 130, 201, .5);

                    &:hover {
                        background: rgba(148, 130, 201, .8);
                    }
                }
                
                &.warrior {
                    background: rgba(199, 156, 110, .5);

                    &:hover {
                        background: rgba(199, 156, 110, .8);
                    }
                }
                
                &:hover {
                    background: rgba(61,60,60,1);
                    
                    .card-pool-card-qty,
                    .card-pool-card-legendary {
                        background: rgba(61,60,60,1);
                    }
                }

                .card-pool-card-name {
                    position: absolute;
                    top: 0px;
                    left: 40px;
                    height: 26px;
                    line-height: 26px;
                    font-size: 14px;
                    z-index: 2;
                }/* .card-pool-card-name */

                .card-pool-card-mana {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 30px;
                    height: 26px;
                    line-height: 25px;
                    font-family: hs;
                    text-align: center;
                    font-size: 20px;
                    color: #FFF;
                    z-index: 2;
                    background: #2766ad;
                    border-right: 1px solid #000;
                }/* .card-pool-card-mana */

                .card-pool-card-qty,
                .card-pool-card-legendary {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 30px;
                    height: 26px;
                    font-family: hs;
                    text-align: center;
                    font-size: 20px;
                    color: #cbb800;
                    z-index: 2;
                    line-height: 26px;
                    border-left: 1px solid #000;
                    background: #262626;
                }/* .card-pool-card-qty, .card-pool-card-legendary */

                .card-pool-card-legendary {
                    font-size: 14px;
                }/* .card-pool-card-legendary */

                .card-pool-card-photo {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 100%;
                    height: 26px;

                    img {
                        position: absolute;
                        top: 0px; right: 0px;
                        width: 110px;
                        height: 26px;
                    }/* img */
                }/* .card-pool-card-photo */
                
                &.legendary {
                    .card-pool-card-photo {
                        img {
                            right: 30px;
                        }
                    }
                }
                
                &.multi {
                    .card-pool-card-legendary {
                        right: 30px;
                    }
                    .card-pool-card-photo {
                        width: 100%;
                        right: 0px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        border-right: none;

                        img {
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                            position:absolute;
                            right: 30px;
                        }/* img */

                    }/* .card-pool-card-photo */

                    &.legendary {
                        .card-pool-card-photo {
                            img {
                                right: 60px;
                            }
                        }
                    }

                }/* .multi */

            }/* .card-pool-card */
        }/* .card-pool-cards */
        
    }/* .card-pool */
    
}/* .redbull-draft */

.alert-wrapper {
    margin-bottom: 20px;
}

.pack-settings-content {
    height: 400px;
    overflow: hidden;
    
    h3,
    p.rarity {
        text-transform: uppercase;
    }
    
    .form-group {
        margin-bottom: 0px;
    }
    
    .pack-settings-expansion:last-child .panel {
        margin-bottom: 0px;
    }
}
