<div class="draft-deck-share">
    <!-- Twitter  -->
    <a ng-href="http://twitter.com/home?status=Check out my Hearthstone Sealed Decks on @Tempo_Storm tempostorm.com/hearthstone/sealed/decks/{{draftId}}"
       title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
    <!-- Facebook  -->
    <a ng-href="https://www.facebook.com/sharer/sharer.php?u=tempostorm.com/hearthstone/sealed/decks/{{draftId}}&description=Check out my Hearthstone Sealed Decks on tempostorm.com"
       title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
    <!-- Google+ -->
    <a ng-href="https://plus.google.com/share?url=tempostorm.com/hearthstone/sealed/decks/{{draftId}}" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
    <!-- StumbleUpon -->
    <a ng-href="http://www.stumbleupon.com/submit?url=https://tempostorm.com/hearthstone/sealed/decks/{{draftId}}&title=Check out my Hearthstone Sealed Decks on tempostorm.com"
       title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>
</div>