<div class="footer-redbull-div">
    

    <div class="footer-toggle" ng-class="{ small: small }" ng-click="toggleSmall()"><i class="fa fa-times"></i></div>
    
    <div class="footer-redbull" ng-class="{ small: small }">

        
            <img class="rb-footer-img" src="../modules/redbull/client/img/footer-assets/ts-page-bottom-gnome-orc-isolation.png">
        <a href="/redbull"><img class="rb-logo-mini" src="../modules/redbull/client/img/footer-assets/rb-honda-logo.png"></a>
        
        <div class="content">
            <img class="bar-backing" src="../modules/redbull/client/img/footer-assets/packopenoverlay.png">
            <a href="/redbull" ><img class="rb-logo" src="../modules/redbull/client/img/footer-assets/rb-honda-logo.png"></a>

            <ul class="clearfix">
                <li><span class="highlight-text">Twelve</span> Players</li>
                <li><span class="highlight-text">Four</span> Teams</li>
                <li><span class="highlight-text">One</span> Champion</li>
                <li><span class="blurb-text">A hearthstone sealed deck tournament</span></li>
            </ul>
            <img class="hs-card" src="../modules/redbull/client/img/footer-assets/card-packs.png">
            <a href="/redbull" class="learn-more-btn">Learn More</a>
        </div>
    </div>
</div>