<!-- preloader -->
<div class="preloader" ng-if="isLoading"><i class="fa fa-refresh fa-spin"></i></div>
<!-- / preloader -->

<!-- draft wrapper -->
<div class="draft-wrapper">

    <!-- bg -->
    <div class="bg"></div>
    <div class="bg-glow"></div>
    <!-- / bg -->

    <!-- packs -->
    <div class="packs">
        <div class="iscroll-wrapper" iscroll="{mouseWheel: true, momentum: true, refreshInterval: 500, scrollbars: true, fadeScrollbars: true}">
            <div class="iscroll-scroller">
                <div class="pack-wrapper" ng-repeat="expansion in expansions track by expansion" ng-init="enablePacks()">
                    <div class="pack-tab {{packs[expansion].expansionClass}}" ng-if="packTabCount(expansion) > 1">{{packTabCount(expansion)}}</div>
                    <div class="pack-next {{packs[expansion].expansionClass}}" ng-if="currentPack[expansion] + 1 < packs[expansion].packs.length"></div>
                    <div class="pack {{packs[expansion].expansionClass}}" data-expansion="{{expansion}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pack-drop"></div>
    <!-- / packs -->
    
    <!-- cards -->
    <div class="cards">
        <div class="card"
             ng-controller="DraftPacksCardCtrl"
             ng-repeat="card in cards() track by $index"
             ng-mouseenter="cardMouseEnter($event, card)"
             ng-mouseleave="cardMouseLeave($event, card)"
             ng-mousedown="cardMouseDown($event, card)"
             ng-class="{'flipped-left': card.flipped === 'left', 'flipped-right': card.flipped === 'right'}">
            <div class="card-glow {{card.rarity.toLowerCase()}}"></div>
            <div class="card-front">
                <img ng-src="https://cdn-tempostorm.netdna-ssl.com/cards/{{card.photoNames.medium}}" />
            </div>
            <div class="card-back">
                <img ng-src="./modules/redbull/client/img/card_back.png" />
            </div>
        </div>
    </div>
    <!-- / cards -->

    <!-- done button -->
    <div class="btn-done" ng-mousedown="doneMouseDown()"></div>
    <!-- / done button -->

</div>
<!-- / draft wrapper -->