<div class="db-deck clearfix">
    <div class="db-deck-header db-deck-{{deck.playerClass.toLowerCase()}}">
        <div class="db-arena">
            <span ng-show="deck.type == 1">Constructed</span>
            <span ng-show="deck.type == 2">Arena</span>
            <span ng-show="deck.type == 3">Brawl</span>
        </div>
    </div>
    <div class="db-deck-cards">
        <div class="db-deck-card" ng-class="{multi:item.qty > 1 || item.card.rarity == 'Legendary', 'mulligan-hide': mulliganHide(item)}" ng-repeat="item in deck.cards" data-tooltip-img="{{$parent.app.cdn}}cards/{{item.card.photos.large}}" data-tooltip-pos="left" hs-card>
            <div class="db-deck-card-mana">{{item.card.cost}}</div>
            <div class="db-deck-card-qty" ng-show="item.qty > 1">{{item.qty}}</div>
            <div class="db-deck-card-legendary" ng-show="item.card.rarity == 'Legendary'"><i class="fa fa-star"></i></div>
            <div class="db-deck-card-photo"><img ng-src="{{$parent.app.cdn}}cards/{{item.card.photos.small}}" alt=""></div>
            <div class="db-deck-card-name">{{item.card.name}}</div>
        </div>
        <div class="db-deck-footer db-deck-{{deck.playerClass.toLowerCase()}}">
            <div class="db-deck-footer-wrapper">
                <div class="db-deck-dust">{{getDust()}}</div>
                <div class="dust-bottle-sm"></div>
            </div>
        </div>
    </div>
</div>