<div class="container-fluid filters-back {{currentMapBack()}}">
    <div class="container m-t-md m-b-md">
        <div class="hero-name text-center">{{hero().name}}</div>
        <div class="hero-description text-center">{{hero().title}}</div>
    </div>
    <div class="container">
        <div class="row no-pad">
            <div class="col-xs-12 col-sm-8 m-b-md">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="hero-roles clearfix">
                            <li><button class="hero-role warrior" ng-class="{ 'active': !hasFilterRole('Warrior') }" ng-click="toggleFilterRole('Warrior')" ng-tooltip title="Warrior"></button></li>
                            <li><button class="hero-role assassin" ng-class="{ 'active': !hasFilterRole('Assassin') }" ng-click="toggleFilterRole('Assassin')" ng-tooltip title="Assassin"></button></li>
                            <li><button class="hero-role support" ng-class="{ 'active': !hasFilterRole('Support') }" ng-click="toggleFilterRole('Support')" ng-tooltip title="Support"></button></li>
                            <li><button class="hero-role specialist" ng-class="{ 'active': !hasFilterRole('Specialist') }" ng-click="toggleFilterRole('Specialist')" ng-tooltip title="Specialist"></button></li>
                        </ul>
                        <ul class="hero-universes clearfix">
                            <li><button class="hero-universe warcraft" ng-class="{ 'active': !hasFilterUniverse('Warcraft') }" ng-click="toggleFilterUniverse('Warcraft')" ng-tooltip title="Warcraft"></button></li>
                            <li><button class="hero-universe starcraft" ng-class="{ 'active': !hasFilterUniverse('Starcraft') }" ng-click="toggleFilterUniverse('Starcraft')" ng-tooltip title="Starcraft"></button></li>
                            <li><button class="hero-universe diablo" ng-class="{ 'active': !hasFilterUniverse('Diablo') }" ng-click="toggleFilterUniverse('Diablo')" ng-tooltip title="Diablo"></button></li>
                            <li><button class="hero-universe retro" ng-class="{ 'active': !hasFilterUniverse('Blizzard') }" ng-click="toggleFilterUniverse('Blizzard')" ng-tooltip title="Retro"></button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 m-b-md hots-filters-search">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control input-dark" ng-model="filters.search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid hero-back {{hero().className}}">
        <ul class="hero-filters clearfix">
            <li ng-repeat="hero in heroDots">
                <button class="{{hero.className}}" ng-class="{ 'active': hasFilterHero(hero), 'not-selected': !hasFilterHero(hero) && hasAnyFilterHero(),  'filtered': !hasFilterHero(hero) && (hasFilterRole(hero.role) || hasFilterUniverse(hero.universe) || hasFilterSearch(hero)) }" ng-if="hero.className" ng-click="toggleFilterHero(hero)" ng-tooltip title="{{hero.name}}">{{hero.name}}</button>
                <button class="empty" ng-class="{ 'filtered': hasAnyFilter() }" ng-if="!hero.className"></button>
            </li>
        </ul>
    </div>
    <div class="container m-b-sm">
        <div class="filters-maps">
            <ul class="text-center">
                <li class="m-b-md" ng-repeat="map in maps"><button class="{{map.className}}" ng-class="{ 'active': hasFilterMap(map), 'not-selected': !hasFilterMap(map) && hasAnyFilterMap() }" ng-click="toggleFilterMap(map)" ng-tooltip title="{{map.name}}">{{map.name}}</button></li>
            </ul>
        </div>
    </div>
    <div class="container text-center">
        <a ui-sref="app.hots.guideBuilder.step1" class="btn btn-hots m-r-md m-b-lg"><div class="inner">CREATE A GUIDE</div></a>
        <a ui-sref="app.hots.guides.list" class="btn btn-hots m-b-lg"><div class="inner">FIND A GUIDE</div></a>
    </div>
</div>