<div class="hs-filter-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 clearfix text-center">
                <ul class="filter-class">
                    <li ng-repeat="class in classes">
                        <a href="#" ng-click="toggleFilterClass(class)" class="{{class.toLowerCase()}} active" ng-class="{ 'not-selected': !hasFilterClass() || (hasFilterClass() && !hasFilterClass(class)) }" ng-tooltip title="{{class}}">{{class}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>