<div class="login-form row" ng-if="getState() == 'login'">
    <div class="login-form-oauth col-sm-12 wrapper-none">
        <a href="#" class="btn btn-block btn-twitch" ng-controller="Twitch" ng-click="login()"><i class="fa fa-twitch"></i>Log in with Twitch</a>
        <a href="#" class="btn btn-block btn-bnet" ng-controller="Bnet" ng-click="login()" ng-if="false">Battle.net Login</a>
    </div>
    <div class="or">
        or
    </div>
    <div class="login-form-email col-sm-12 wrapper-none">
        <div class="panel panel-danger error-modal" ng-show="showError">
            <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                <strong>Unable to login</strong>
            </div>
            <div class="panel-body">
                <ul class="error text-danger">
                    <li>Please verify your login credentials are correct.</li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal form-modal" role="form" name="loginForm">
        <div class="form-group m-b-sm">
            <input type="email" class="form-control input-dark login-email" id="email" name="email" placeholder="Email Address" ng-model="loginInfo.email" required>
            <div class="login-charm">@</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-dark login-email" id="password" name="password" placeholder="Password" ng-model="loginInfo.password" required>
            <div class="login-charm lock"><i class="fa fa-lock"></i></div>
        </div>
            
        <div class="remember-me">
            <span class="fa-stack fa-lg">
                <a class="remember-me-i" href="#" ng-click="$parent.remember = !$parent.remember">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i ng-if="$parent.remember" class="fa fa-check fa-stack-1x"></i>
                </a>
            </span>
            Remember Me
            <p class="forgot-password pull-right"><a href="#" ng-click="setState('forgot')">Forgot Password?</a></p>
        </div>
            
        <button type="submit" class="btn btn-blue btn-block" ng-disabled="loginForm.$invalid" ng-click="login(loginInfo.email, loginInfo.password)">Login</button>
        </form>
        <div class="sign-up m-t-md"><span class="pull-left">Don't have an account?</span><a ng-click="setState('signup')" href="#" class="pull-right">Sign Up</a></div>
    </div>
</div>
<div class="signup-form row" ng-if="getState() == 'signup'">
        
        <div class="login-form-oauth col-sm-12 wrapper-none">
            <a href="#" class="btn btn-block btn-twitch" ng-controller="Twitch" ng-click="signup()"><i class="fa fa-twitch"></i>Twitch Signup</a>
        </div>
        <div class="or">
            or
        </div>
        <div class="login-form-email col-sm-12 wrapper-none">
            <div class="panel panel-danger error-modal animated" ng-show="showError">
                <div class="panel-heading">
                    <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                    <strong>Unable to create account</strong>
                </div>
                <div class="panel-body">
                    <ul class="error text-danger">
                        <li ng-repeat="err in errors">{{err.msg}}</li>
                    </ul>
                </div>
            </div>
            <form class="form-horizontal form-modal" role="form" name="signupForm">
            <div class="form-group">
                <input type="email" class="form-control input-dark login-email" id="email" placeholder="Email Address" ng-model="signup.email" required>
                <div class="login-charm">@</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-dark login-email" id="username" placeholder="Username" ng-model="signup.username" required>
                <div class="login-charm lock"><i class="fa fa-user"></i></div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-dark login-email" id="password" placeholder="Password" ng-model="signup.password" required>
                <div class="login-charm lock"><i class="fa fa-lock"></i></div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-dark login-email" id="cpassword" placeholder="Confirm Password" ng-model="signup.cpassword" required>
                <div class="login-charm lock"><i class="fa fa-lock"></i></div>
            </div>
            <button type="submit" class="btn btn-default btn-block" ng-disabled="signupForm.$invalid" ng-click="signup(signup.email, signup.username, signup.password, signup.cpassword)">Signup</button>
            </form>
            <div class="sign-up m-t-md"><span class="pull-left">Already have an account?</span><a ng-click="setState('login')" href="#" class="pull-right">Login</a></div>
        </div>
            

            
<!--        <a href="#" class="btn btn-block btn-twitch" ng-controller="Twitch" ng-click="login()"><i class="fa fa-twitch"></i>Log in with Twitch</a>-->
        
</div>
<div class="forgot-form row" ng-if="getState() == 'forgot'">
        <div class="col-sm-12">
            <p class="white">Enter your email address and we will email you a link to reset your password.</p>
            
            <div class="panel panel-danger error-modal animated" ng-show="showError">
                <div class="panel-heading">
                    <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                    <strong>Unable to send email</strong>
                </div>
                <div class="panel-body">
                    <ul class="error text-danger">
                        <li ng-repeat="err in errors">{{err.msg}}</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-success animated" ng-show="showSuccess">
                <div class="panel-heading">
                    <button type="button" class="close" aria-hidden="true" ng-click="showSuccess = false">&times;</button>
                    <strong>Email sent successfully!</strong>
                </div>
            </div>
            <form class="form-horizontal form-modal" role="form" name="form">
            <div class="form-group">
                <input type="email" class="form-control input-dark login-email" id="email" placeholder="Email Address" ng-model="$parent.forgot.email" required>
                <div class="login-charm">@</div>
            </div>
            <button type="submit" class="btn btn-blue btn-block" ng-disabled="form.$invalid" ng-click="forgotPassword()">Reset Password</button>
            <div class="sign-up m-t-md"><span class="pull-left">Already have an account?</span><a ng-click="setState('login')" href="#" class="pull-right">Login</a></div>

            </form>
        </div>
</div>
<div class="verify-email row" ng-if="getState() == 'verify'">
    <div class="col-sm-12">
        <p class="white">We just sent you an email to verify your account. Copy the verification code and paste it in to this form or click the link from your email to finish signing up.</p>
        <div class="panel panel-danger error-modal animated" ng-show="showError">
            <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
                <strong>Unable to verify account</strong>
            </div>
            <div class="panel-body">
                <ul class="error text-danger">
                    <li ng-repeat="err in errors">{{err.msg}}</li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal form-modal" role="form" name="verifyForm">
        <div class="form-group">
            <input type="email" class="form-control input-dark login-email" id="email" placeholder="Email" ng-model="verify.email" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-dark login-email" id="code" placeholder="Authorization Code" ng-model="verify.code" required>
        </div>
        <button type="submit" class="btn btn-blue btn-block" ng-disabled="verifyForm.$invalid" ng-click="verifyEmail(verify.email, verify.code)">Verify Account</button>
        </form>
    </div>
</div>