<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>Unable to add article</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error.msg}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default br-none">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        Add an Article
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="articleType" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <select id="articleType" name="articleType" size="4" class="form-control" ng-options="articleType.value as articleType.name for articleType in articleTypes" ng-model="article.articleType[0]" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="col-sm-2 control-label">Author</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-green" ng-show="!article.author" ng-click="openAuthors()">Add Author</button>
                        <button type="button" class="btn btn-danger" ng-show="article.author" ng-click="setAuthor(undefined)"><i class="fa fa-close"></i></button>
                        <button type="button" class="btn btn-blue" ng-show="article.author" ng-click="openAuthors()"><i class="fa fa-exchange"></i></button>
                    </span>
                    <input type="text" id="deck" name="deck" class="form-control" ng-model="article.author.username" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title" class="form-control" ng-model="article.title" ng-keyup="setSlug()" required>
            </div>
        </div>
        <div class="form-group">
            <label for="slug" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-class="{active: article.slug.linked}" ng-click="toggleSlugLink()"><i class="fa" ng-class="{'fa-link': article.slug.linked, 'fa-unlink': !article.slug.linked}"></i></button>
                    </span>
                    <input type="text" id="slug" name="slug" class="form-control" ng-model="article.slug.url" required ng-readonly="article.slug.linked">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="description" name="description" class="form-control" ng-model="article.description" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
                <summernote id="content" config="options" ng-model="article.content"></summernote>
            </div>
        </div>
        <div class="form-group">
            <label for="articlePhoto" class="col-sm-2 control-label">Article Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="articlePhotoSmall" name="articlePhotoSmall" value="" ng-model="article.photoNames.small">
                <input type="hidden" id="articlePhotoMedium" name="articlePhotoMedium" value="" ng-model="article.photoNames.medium">
                <input type="hidden" id="articlePhotoLarge" name="articlePhotoLarge" value="" ng-model="article.photoNames.large">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-article">
                        <div class="upload-drop" ng-show="article.photoNames.large === ''" ng-file-drop="photoUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{getImage()}}" alt="" ng-show="article.photoNames.large !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="photoUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="article.photoNames.large === ''">Select image</span>
                            <span ng-show="article.photoNames.large !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="article.photoNames.large = ''; article.photoNames.medium = ''; article.photoNames.small = '';" ng-show="article.photoNames.large !== ''">Remove image</a>
                    </div>
                </div>
            </div>
        </div>
        
        
<!--
        <div class="form-group">
            <label for="deck" class="col-sm-2 control-label">Related Article</label>
            <div class="col-sm-10">
                <button type="button" class="col-sm-1 btn btn-green" ng-click="addRelatedArticle()">Related Article</button>
                <input class="form-control col-sm-8" ng-model="article.related" multiple>
            </div>
        </div>
-->
        
        

        <div class="form-group">
            <label for="deck" class="col-sm-2 control-label">Related Articles</label>

            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading wrapper-sm clearfix">
                        <div class="vcenter">
                            <h4 class="pull-left lh-lg m-b-none">Article Title</h4>
                        </div>
                        <button type="button" class="btn btn-green pull-right" ng-click="addRelatedArticle()">Add Article</button>
                    </div>
                    <div ng-if="article.related.length" class="list-group clearfix">
                        <li ng-repeat="a in article.related | orderBy: '-createdDate'" class="list-group-item admin-list-item clearfix  admin-article-related-bg">
                            <a href="https://tempostorm.com/articles/{{a.slug.url}}" target="_blank">
                                <div class="lh-lg pull-left">
                                    {{a.title}} 
                                </div>
                            </a>
                            <button type="button" class="btn btn-danger pull-right" ng-click="removeRelatedArticle(a); $event.stopPropagation()">
                                <i class="fa fa-close"></i>
                            </button>
                        </li>
                    </div>
                    <div class="wrapper-md" ng-if="!article.related.length">There are currently no related articles selected.</div>
                </div>
            </div>
        </div>

        
        
        <div class="form-group" ng-show="article.articleType == 'hs'">
            <label for="deck" class="col-sm-2 control-label">Deck</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-green" ng-show="!article.deck" ng-click="openDecks()">Add Deck</button>
                        <button type="button" class="btn btn-danger" ng-show="article.deck" ng-click="setDeck(undefined)"><i class="fa fa-close"></i></button>
                        <button type="button" class="btn btn-blue" ng-show="article.deck" ng-click="openDecks()"><i class="fa fa-exchange"></i></button>
                    </span>
                    <input type="text" id="deck" name="deck" class="form-control" ng-model="article.deck.name" readonly>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="article.articleType == 'hots'">
            <label for="guide" class="col-sm-2 control-label">Guide</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-green" ng-show="!article.guide" ng-click="openGuides()">Add Guide</button>
                        <button type="button" class="btn btn-danger" ng-show="article.guide" ng-click="setGuide(undefined)"><i class="fa fa-close"></i></button>
                        <button type="button" class="btn btn-blue" ng-show="article.guide" ng-click="openGuides()"><i class="fa fa-exchange"></i></button>
                    </span>
                    <input type="text" id="deck" name="deck" class="form-control" ng-model="article.guide.name" readonly>
                </div>           
            </div>
        </div>
        <div class="form-group" ng-show="hasTags()">
            <label for="classTags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <select id="classTags" name="classTags" size="9" class="form-control" ng-options="tag as tag for tag in getTags()" ng-model="article.classTags" multiple></select>
            </div>
        </div>
        <div class="form-group">
            <label for="featured" class="col-sm-2 control-label">Featured</label>
            <div class="col-sm-10">
                <select id="featured" name="featured" class="form-control" ng-options="featured.value as featured.name for featured in articleFeatured" ng-model="article.isFeatured" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="premium" class="col-sm-2 control-label">Premium</label>
            <div class="col-sm-10">
                <select id="premium" name="premium" class="form-control" ng-options="premium.value as premium.name for premium in articlePremium" ng-model="article.premium.isPremium" required></select>
            </div>
        </div>
        <div class="form-group" ng-show="article.premium.isPremium">
            <label for="expiryDate" class="col-sm-2 control-label">Expiry Date</label>
            <div class="col-sm-10">
                <div date-picker data-id="expiryDate" data-name="expiryDate" ng-model="article.premium.expiryDate" ng-disabled="!article.premium.isPremium"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="theme" class="col-sm-2 control-label">Theme</label>
            <div class="col-sm-10">
                <select id="theme" name="theme" class="form-control" ng-options="theme.value as theme.name for theme in articleTheme" ng-model="article.themeName" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="active" class="col-sm-2 control-label">Active</label>
            <div class="col-sm-10">
                <select id="active" name="active" class="form-control" ng-options="active.value as active.name for active in articleActive" ng-model="article.isActive" required></select>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="form.$invalid || fetching" ng-click="addArticle()">
                <span ng-if="!fetching">Add Article</span>
                <span ng-if="fetching">Submitting <i class="fa fa-spinner fa-pulse"></i></span>
            </button>
        </div>
    </div>
    </form>
    </div>
</div>
