<div class="panel panel-dark m-b-none">   
    <div ng-show="article.articleType[0] == 'hs'">
        <div class="panel-heading clearfix">
            <strong class="lh-lg">ADD DECK</strong>
            <div class="pull-right m-r-sm">
                <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="getDecks()">
            </div>
        </div>
        <form class="list-group m-b-none">
            <a href="#" 
			   ng-class="{'active': article.deck.id === deck.id}"
			   class="list-group-item" 
			   ng-click="modifyItem(deck)" 
			   ng-repeat="deck in decks">
                {{deck.name}}
            </a>
        </form>
    </div>
</div>