<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 padding-none">
            <div class="admin-content-title wrapper-lg">
                <a ui-sref="app.admin.articles.add" class="btn btn-green btn-rounded pull-right">
                    <i class="fa fa-plus-circle m-r-xs"></i>
                    Add an Article
                </a>
                Articles
            </div>
            <div ui-view="articles" class="wrapper-lg animated"></div>
        </div>
    </div>
</div>