<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>Unable to edit banner</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error.msg}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default br-none">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        Edit a Banner
    </div>
    <div class="panel-body">
        
        
        <div class="form-group">
            <label for="bannerType" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <select id="bannerType" name="bannerType" size="3" class="form-control" ng-options="bannerType.value as bannerType.name for bannerType in bannerTypes" ng-model="banner.bannerType" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title" class="form-control" ng-model="banner.title" required>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description<br/>{{(descriptionMax - banner.description.length)}}</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="description" name="description" maxlength="{{descriptionMax}}" rows="2" ng-model="banner.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="articlePhoto" class="col-sm-2 control-label">Banner Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="bannerPhotoLarge" name="bannerPhotoLarge" value="" ng-model="banner.photo">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-article">
                        <div class="upload-drop" ng-show="banner.photo === ''" ng-file-drop="photoUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{getImage()}}" alt="" ng-show="banner.photo !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="photoUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="banner.photo === ''">Select image</span>
                            <span ng-show="banner.photo !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="banner.photo = '';" ng-show="banner.photo !== ''">Remove image</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="form-group">
            <label class="col-sm-2 control-label">Has Button</label>
            <div class="col-sm-10">
                <input id="buttonToggle" type="checkbox" ng-model="banner.button.hasButton">
            </div>
        </div>
        <div ng-if="banner.button.hasButton" class="form-group">
            <label for="buttonText" class="col-sm-2 control-label">Button Text</label>
            <div class="col-sm-10">
                <input type="text" id="buttonText" name="buttonText" class="form-control" ng-model="banner.button.buttonText">
            </div>
        </div>
        <div  ng-if="banner.button.hasButton" class="form-group">
            <label for="buttonLink" class="col-sm-2 control-label">Button Link</label>
            <div class="col-sm-10 control-label">
                <input type="text" id="buttonLink" name="buttonLink" class="form-control" ng-model="banner.button.buttonLink">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Active</label>
            <div class="col-sm-10">
                <input id="isActive" type="checkbox" ng-model="banner.active">
            </div>
        </div>
        
        
    <div class="panel-footer clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="form.$invalid && banner.photo == ''" ng-click="editBanner()">Edit Banner</button>
        </div>
    </div>
    </form>
    </div>
</div>
