<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>Unable to add card</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-success animated" ng-show="showSuccess">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showSuccess = false">&times;</button>
        <strong>New card added successfully</strong>
    </div>
</div>
<div class="panel panel-default br-none">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        Add a Card
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Heartstone ID</label>
            <div class="col-sm-10">
                <input type="text" id="id" name="id" value="" class="form-control" ng-model="card.id">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Card Name</label>
            <div class="col-sm-10">
                <input type="text" id="name" name="name" value="" class="form-control" ng-model="card.name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="cost" class="col-sm-2 control-label">Mana Cost</label>
            <div class="col-sm-10">
                <input type="text" id="cost" name="cost" value="" class="form-control" ng-model="card.cost" required>
            </div>
        </div>
        <div class="form-group">
            <label for="cardType" class="col-sm-2 control-label">Card Type</label>
            <div class="col-sm-10">
                <select id="cardType" name="cardType" class="form-control" ng-options="type.value as type.name for type in cardTypes" ng-model="card.cardType" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="rarity" class="col-sm-2 control-label">Rarity</label>
            <div class="col-sm-10">
                <select id="rarity" name="rarity" class="form-control" ng-options="rarity.value as rarity.name for rarity in cardRarities" ng-model="card.rarity" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="race" class="col-sm-2 control-label">Race</label>
            <div class="col-sm-10">
                <select id="race" name="race" class="form-control" ng-options="race.value as race.name for race in cardRaces" ng-model="card.race" ng-disabled="card.cardType != 'Minion'"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="playerClass" class="col-sm-2 control-label">Player Class</label>
            <div class="col-sm-10">
                <select id="playerClass" name="playerClass" class="form-control" ng-options="class.value as class.name for class in cardClasses" ng-model="card.playerClass" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="expansion" class="col-sm-2 control-label">Expansion</label>
            <div class="col-sm-10">
                <select id="expansion" name="expansion" class="form-control" ng-options="expansion.value as expansion.name for expansion in cardExpansions" ng-model="card.expansion" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Card Text</label>
            <div class="col-sm-10">
                <input type="text" id="text" name="text" value="" class="form-control" ng-model="card.text">
            </div>
        </div>
        <div class="form-group">
            <label for="mechanics" class="col-sm-2 control-label">Mechanics</label>
            <div class="col-sm-10">
                <select id="mechanics" name="mechanics" size="16" class="form-control" ng-options="mechanic.value as mechanic.name for mechanic in cardMechanics" ng-model="card.mechanics" multiple></select>
            </div>
        </div>
        <div class="form-group">
            <label for="flavor" class="col-sm-2 control-label">Flavor Text</label>
            <div class="col-sm-10">
                <input type="text" id="flavor" name="flavor" value="" class="form-control" ng-model="card.flavor">
            </div>
        </div>
        <div class="form-group">
            <label for="artist" class="col-sm-2 control-label">Artist</label>
            <div class="col-sm-10">
                <input type="text" id="artist" name="artist" value="" class="form-control" ng-model="card.artist">
            </div>
        </div>
        <div class="form-group">
            <label for="attack" class="col-sm-2 control-label">Attack</label>
            <div class="col-sm-10">
                <input type="text" id="attack" name="attack" value="" class="form-control" ng-disabled="card.cardType == 'Spell'" ng-model="card.attack">
            </div>
        </div>
        <div class="form-group">
            <label for="health" class="col-sm-2 control-label">Health</label>
            <div class="col-sm-10">
                <input type="text" id="health" name="health" value="" class="form-control" ng-disabled="card.cardType != 'Minion'" ng-model="card.health">
            </div>
        </div>
        <div class="form-group">
            <label for="durability" class="col-sm-2 control-label">Durability</label>
            <div class="col-sm-10">
                <input type="text" id="durability" name="durability" value="" class="form-control" ng-disabled="card.cardType != 'Weapon'" ng-model="card.durability">
            </div>
        </div>
        <div class="form-group">
            <label for="dust" class="col-sm-2 control-label">Dust Cost</label>
            <div class="col-sm-10">
                <input type="text" min="0" id="dust" name="dust" value="" class="form-control" ng-model="card.dust" required>
            </div>
        </div>
        <div class="form-group">
            <label for="deckable" class="col-sm-2 control-label">Deckable</label>
            <div class="col-sm-10">
                <select id="deckable" name="deckable" class="form-control" ng-options="deckable.value as deckable.name for deckable in cardDeckable" ng-model="card.deckable" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="cardPhoto" class="col-sm-2 control-label">Card Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="cardPhotoMedium" name="cardPhotoMedium" value="" ng-model="card.photoNames.medium">
                <input type="hidden" id="cardPhotoLarge" name="cardPhotoLarge" value="" ng-model="card.photoNames.large">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-card">
                        <div class="upload-drop" ng-show="card.photoNames.large === ''" ng-file-drop="cardUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{cardImg}}" alt="" ng-show="card.photoNames.large !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="cardUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="card.photoNames.large === ''">Select image</span>
                            <span ng-show="card.photoNames.large !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="card.photoNames.large = ''; card.photoNames.medium = ''" ng-show="card.photoNames.large !== ''">Remove image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="card.deckable">
            <label for="thumbPhoto" class="col-sm-2 control-label">Deck Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="cardPhotoSmall" name="cardPhotoSmall" value="" ng-model="card.photos.small">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-deck">
                        <div class="upload-drop" ng-show="card.photos.small === ''" ng-file-drop="deckUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{deckImg}}" alt="" ng-show="card.photos.small !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="deckUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="card.photos.small === ''">Select image</span>
                            <span ng-show="card.photos.small !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="card.photos.small = ''" ng-show="card.photos.small !== ''">Remove image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="active" class="col-sm-2 control-label">Active</label>
            <div class="col-sm-10">
                <select id="active" name="active" class="form-control" ng-options="active.value as active.name for active in cardActive" ng-model="card.isActive" required></select>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="form.$invalid" ng-click="addCard()">Add Card</button>
        </div>
    </div>
    </form>
    </div>
</div>
