<span class="ts-admin-styles"> <!-- Temporary remove when hero section is redesign -->

<alert-box theme="admin"></alert-box>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right pagination-margin" ng-if="cards">
            <span class="showing-numbers">
                Showing: 
                {{ cardPagination.total === 0 ? cardPagination.total : ((cardPagination.page - 1) * cardPagination.perpage) + 1 }} 
                to {{  cardPagination.page * cardPagination.perpage > cardPagination.total ? cardPagination.total : cardPagination.page * cardPagination.perpage }} 
                of {{ cardPagination.total }}
            </span>
            <div pagination="cardPagination" theme="admin" class="admin"></div>
        </div>
        <span class="pull-left m-r-sm">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                       <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-blue" ng-click="searchCards()" 
                                ng-disabled="fetching">
                            <span ng-if="!fetching"><i class="fa fa-search"></i></span>
                            <span ng-if="fetching"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
                    </div>
                    </div>
                </div>
            </form>
        </span>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm hidden-xs hidden-sm hidden-md">
                    <select id="filterExpansion" name="filterExpansion" ng-options="expansion.value as expansion.name for expansion in expansions" ng-model="filterExpansion" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
                <span class="pull-left m-r-sm hidden-xs hidden-sm hidden-md">
                    <select id="filterClass" name="filterClass" ng-options="class.value as class.name for class in classes" ng-model="filterClass" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
                <span class="pull-left m-r-sm hidden-xs hidden-sm hidden-md">
                    <select id="filterType" name="filterType" ng-options="type.value as type.name for type in types" ng-model="filterType" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
                <span class="pull-left hidden-xs hidden-sm hidden-md">
                    <select id="filterRarity" name="filterRarity" ng-options="rarity.value as rarity.name for rarity in rarities" ng-model="filterRarity" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
            </form>
        </div>
    </div>
    <div class="admin-list">
<!--        <div class="list-group-item card-list-item clearfix" ng-repeat="card in filtered = (cards | filterAll:search | filter:{ expansion: filterExpansion, playerClass: filterClass, cardType: filterType, rarity: filterRarity }) | orderBy:'name' | startFrom:pagination.pageStart() | limitTo:pagination.perpage">-->
            <div class="admin-list-item list-items clearfix" ng-repeat="card in cards">
                
                <div class="list-accent-div">
                    
                <div class="row">
                    <div class="col-xs-6 card-list-item">
                        <div class="rarity {{card.rarity | lowercase}} pull-left"></div>
                        <span class="list-item-height">{{card.name}}</span>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right btn-toolbar list-item-height">
                            <a ui-sref="app.admin.hearthstone.cards.edit({ cardID: card.id })" class="btn btn-default">Edit</a>
                            <button class="btn btn-danger" ng-click="deleteCard(card)">Delete</button>
                        </div>
                    </div>
                </div>   
            </div>
        <div class="admin-list-item placeholder-text" ng-show="!cards.length">
            There are no cards yet.
        </div>
        <div class="admin-list-item placeholder-text" ng-show="cards.length && filtered && !filtered.length">
            That search returned no results.
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right pagination-margin" ng-if="cards">
            <span class="showing-numbers">
                Showing: 
                {{ cardPagination.total === 0 ? cardPagination.total : ((cardPagination.page - 1) * cardPagination.perpage) + 1 }} 
                to {{  cardPagination.page * cardPagination.perpage > cardPagination.total ? cardPagination.total : cardPagination.page * cardPagination.perpage }} 
                of {{ cardPagination.total }}
            </span>
            <div pagination="cardPagination" theme="admin" class="admin"></div>
        </div>
        <span class="pull-left m-r-sm">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                       <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-blue" ng-click="searchCards()"
                                ng-disabled="fetching">
                            <span ng-if="!fetching"><i class="fa fa-search"></i></span>
                            <span ng-if="fetching"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
                    </div>
                    </div>
                </div>
            </form>
        </span>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm hidden-xs hidden-sm hidden-md">
                    <select id="filterExpansion" name="filterExpansion" ng-options="expansion.value as expansion.name for expansion in expansions" ng-model="filterExpansion" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
                <span class="pull-left m-r-sm hidden-xs hidden-sm hidden-md">
                    <select id="filterClass" name="filterClass" ng-options="class.value as class.name for class in classes" ng-model="filterClass" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
                <span class="pull-left m-r-sm hidden-xs hidden-sm hidden-md">
                    <select id="filterType" name="filterType" ng-options="type.value as type.name for type in types" ng-model="filterType" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
                <span class="pull-left hidden-xs hidden-sm hidden-md">
                    <select id="filterRarity" name="filterRarity" ng-options="rarity.value as rarity.name for rarity in rarities" ng-model="filterRarity" class="form-control input-sm" ng-change="searchCards()"></select>
                </span>
            </form>
        </div>
    </div>
</div>