<div class="bg-override deck-builder">
    <div class="sub-nav-wrapper hidden-xs">
        <div class="container-fluid sub-nav">
            <div class="sub-nav-links">
                <ul>
                    <li><a ui-sref="app.hs.deckBuilder.class">CLASS SELECT</a></li><li><a href="#" ng-click="step = 1" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 1} ">CARD SELECT</a></li><li><a href="#" ng-click="step = 2" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 2} ">MULLIGANS</a></li><li><a href="#" ng-click="step = 3" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 3} ">DESCRIPTION</a></li><li><a href="#" ng-click="step = 4" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 4} ">MATCH UPS</a></li><li><a href="#" ng-click="step = 5" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 5} ">SUBMIT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid-max db-wrapper">
        <div class="db-header clearfix">
            <span>
                <h1>CLASS SELECT</h1>
                <h3>CHOOSE YOUR CLASS AND HERO</h3>
            </span>
        </div>
        <div class="db-classes clearfix">
            <div ng-repeat="hero in heroes track by $index" no-animate class="db-class db-class-{{hero.class}}" 
                 ng-class="{ 'active': hero.secondary, 'no-select': ($parent.klass && $parent.klass != hero.class) || ($parent.selectedHero && $parent.selectedHero != hero.class)}" 
                 ng-mouseover="(!$parent.selectedHero) ? $parent.klass = hero.class : false" 
                 ng-mouseout="(!$parent.selectedHero) ? $parent.klass = false : false">
                <div class="db-class-clip">
                    <button class="select-hero-btn" ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: hero.class })">
                        <div class="hero-img"></div>
                    </button>
                </div>
                <button class="switch-hero-btn" ng-disabled="!hero.hasSecondary" 
                        ng-click="hero.secondary = !hero.secondary; updateHero(hero.secondary, $index)" ng-class="{'active': hero.secondary}">
                    <span ng-if="hero.hasSecondary">SWITCH HERO</span>
                    <span ng-if="!hero.hasSecondary">COMING SOON</span>
                </button>
            </div>
        </div>
        <div class="db-footer">
            
        </div>
    </div>
</div>