<div class="container-fluid ts-admin-styles">
    <div class="row">
        <div class="col-xs-12 padding-none">
            <div class="admin-content-title wrapper-md">
                <a ui-sref="app.admin.forum.structure.threadAdd" class="btn admin-btn-blue pull-right">
                    Add Thread
                </a>
                <a ui-sref="app.admin.forum.structure.categoryAdd" class="btn admin-btn-blue pull-right m-r-sm">
                    Add Category
                </a>
                Forum Structure
            </div>
            <div ui-view="categories" class="wrapper-lg animated"></div>
        </div>
    </div>
</div>