<div class="panel panel-default br-none">
  <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        Add Talent
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="name" id="name" name="name" class="form-control" ng-model="talent.name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="description" id="description" name="description" class="form-control" ng-model="talent.description" required>
            </div>
        </div>
        <div class="form-group">
            <label for="class" class="col-sm-2 control-label">CSS Class</label>
            <div class="col-sm-10">
                <input type="class" id="class" name="class" class="form-control" ng-model="talent.className" required>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-blue btn-lg" ng-disabled="talentForm.$invalid" ng-click="editTalent()">Add Talent</button>
      </div>
    </div>
  </form>
<!--
    <ul>
        <li ng-repeat="hero in talent.heroes">
            {{hero.name}}
        </li>
    </ul>
-->
</div>
