<div class="container">
    <div class="guide-text guide-builder"></div>
    <div class="hots-gb-step1 clearfix">
        <div class="hots-gb-step1-left pull-left">
            <div class="hots-guide-hero"></div>
            <div class="clearfix">
                <a ui-sref="app.admin.hots.guides.edit.hero({ guideID: guide._id })" class="hots-button pull-left">HERO GUIDE</a>
            </div>
        </div>
        <div class="hots-gb-step1-right pull-left">
            <div class="hots-guide-map"></div>
            <div class="clearfix">
                <a ui-sref="app.admin.hots.guides.edit.map({ guideID: guide._id })" class="hots-button pull-right">MAP GUIDE</a>
            </div>
        </div>
    </div>
</div>