<alert-box theme="admin"></alert-box>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right" ng-if="guides">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ guidePagination.total === 0 ? guidePagination.total : ((guidePagination.page - 1) * guidePagination.perpage) + 1 }}</strong> 
                to <strong>{{  guidePagination.page * guidePagination.perpage > guidePagination.total ? guidePagination.total : guidePagination.page * guidePagination.perpage }}</strong> 
                of <strong>{{ guidePagination.total }}</strong>
            </span>
            <div pagination="guidePagination" theme="admin" class="admin"></div>
        </div>
        <div class="pull-left">
            <form class="form-inline" ng-submit="searchGuides()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                       <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-blue" 
                                ng-disabled="fetching">
                            <span ng-if="!fetching"><i class="fa fa-search"></i></span>
                            <span ng-if="fetching"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item admin-list-item clearfix" ng-repeat="guide in guides">
            <span>{{guide.name}}</span>
            <div class="pull-right btn-toolbar">
                <button class="btn btn-default" ng-click="editGuide(guide)">Edit</a>
                <button class="btn btn-danger" ng-click="deleteGuide(guide)">Delete</button>
            </div>
        </div>
        <div class="list-group-item" ng-show="!guides.length">
            There are no guides yet.
        </div>
        <div class="list-group-item b-t-none" ng-show="guides.length && filtered && !filtered.length">
            That search returned no results.
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right" ng-if="guides">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ guidePagination.total === 0 ? guidePagination.total : ((guidePagination.page - 1) * guidePagination.perpage) + 1 }}</strong> 
                to <strong>{{  guidePagination.page * guidePagination.perpage > guidePagination.total ? guidePagination.total : guidePagination.page * guidePagination.perpage }}</strong> 
                of <strong>{{ guidePagination.total }}</strong>
            </span>
            <div pagination="guidePagination" theme="admin" class="admin"></div>
        </div>
        <div class="pull-left">
            <form class="form-inline" ng-submit="searchGuides()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                       <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-blue" 
                                ng-disabled="fetching">
                            <span ng-if="!fetching"><i class="fa fa-search"></i></span>
                            <span ng-if="fetching"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>