<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 padding-none">
            <div class="admin-content-title wrapper-lg">
                <a ui-sref="app.admin.hots.guides.add.step1" class="btn btn-green btn-rounded pull-right">
                    <i class="fa fa-plus-circle m-r-xs"></i>
                    Add Guide
                </a>
                Guides
            </div>
            <div ui-view="guides" class="wrapper-lg"></div>
        </div>
    </div>
</div>