<div class="panel panel-success animated" ng-show="success.show">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="success.show = false">&times;</button>
        <strong>{{success.msg}}</strong>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right" ng-if="talents">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ talentPagination.total === 0 ? talentPagination.total : ((talentPagination.page - 1) * talentPagination.perpage) + 1 }}</strong> 
                to <strong>{{  talentPagination.page * talentPagination.perpage > talentPagination.total ? talentPagination.total : talentPagination.page * talentPagination.perpage }}</strong> 
                of <strong>{{ talentPagination.total }}</strong>
            </span>
            <div pagination="talentPagination" theme="default" class="default"></div>
        </div>
        <div class="pull-left">
            <form class="form-inline" ng-submit="searchTalents()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                       <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-blue" 
                                ng-disabled="fetching">
                            <span ng-if="!fetching"><i class="fa fa-search"></i></span>
                            <span ng-if="fetching"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item admin-list-item clearfix" ng-repeat="talent in talents">
            <span>{{talent.name}}</span>
            <div class="pull-right btn-toolbar">
                <a ui-sref="app.admin.hots.talents.edit({ talentId: talent.id })" class="btn btn-default">Edit</a>
                <button class="btn btn-danger" ng-click="deleteTalent(talent)">Delete</button>
            </div>
        </div>
        <div class="list-group-item" ng-show="!talents.length">
            There are no talents yet.
        </div>
        <div class="list-group-item b-t-none" ng-show="talents.length && filtered && !filtered.length">
            That search returned no results.
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right" ng-if="talents">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ talentPagination.total === 0 ? talentPagination.total : ((talentPagination.page - 1) * talentPagination.perpage) + 1 }}</strong> 
                to <strong>{{  talentPagination.page * talentPagination.perpage > talentPagination.total ? talentPagination.total : talentPagination.page * talentPagination.perpage }}</strong> 
                of <strong>{{ talentPagination.total }}</strong>
            </span>
            <div pagination="talentPagination" theme="default" class="default"></div>
        </div>
        <div class="pull-left">
            <form class="form-inline" ng-submit="searchTalents()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                       <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-blue" 
                                ng-disabled="fetching">
                            <span ng-if="!fetching"><i class="fa fa-search"></i></span>
                            <span ng-if="fetching"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>