<form name="charForm">
    <div class="row form-group">
        <label for="charName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="charName" name="charName" class="form-control" ng-model="currentCharacter.name" required>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-2 col-sm-5">Base</div>
        <div class="col-sm-5">Gain</div>
    </div>
    <div class="row form-group">
        <label for="statsHealthBase" class="col-sm-2 control-label">Health</label>
        <div class="col-sm-5">
            <input type="number" id="statsHealthBase" name="statsHealthBase" class="form-control" ng-model="currentCharacter.stats.base.health" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsHealthGain" name="statsHealthGain" class="form-control" ng-model="currentCharacter.stats.gain.health" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="statsHealthBase" class="col-sm-2 control-label">Health Regen</label>
        <div class="col-sm-5">
            <input type="number" id="statsHealthBase" name="statsHealthBase" class="form-control" ng-model="currentCharacter.stats.base.healthRegen" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsHealthGain" name="statsHealthGain" class="form-control" ng-model="currentCharacter.stats.gain.healthRegen" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="statsHealthBase" class="col-sm-2 control-label">Mana</label>
        <div class="col-sm-5">
            <input type="number" id="statsHealthBase" name="statsHealthBase" class="form-control" ng-model="currentCharacter.stats.base.mana" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsHealthGain" name="statsHealthGain" class="form-control" ng-model="currentCharacter.stats.gain.mana" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="statsHealthBase" class="col-sm-2 control-label">Mana Regen</label>
        <div class="col-sm-5">
            <input type="number" id="statsHealthBase" name="statsHealthBase" class="form-control" ng-model="currentCharacter.stats.base.manaRegen" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsHealthGain" name="statsHealthGain" class="form-control" ng-model="currentCharacter.stats.gain.manaRegen" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="statsHealthBase" class="col-sm-2 control-label">Attack Speed</label>
        <div class="col-sm-5">
            <input type="number" id="statsHealthBase" name="statsHealthBase" class="form-control" ng-model="currentCharacter.stats.base.attackSpeed" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsHealthGain" name="statsHealthGain" class="form-control" ng-model="currentCharacter.stats.gain.attackSpeed" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="statsRangeBase" class="col-sm-2 control-label">Range</label>
        <div class="col-sm-5">
            <input type="number" id="statsRangeBase" name="statsRangeBase" class="form-control" ng-model="currentCharacter.stats.base.range" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsRangeGain" name="statsRangeGain" class="form-control" ng-model="currentCharacter.stats.gain.range" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="statsHealthBase" class="col-sm-2 control-label">Damage</label>
        <div class="col-sm-5">
            <input type="number" id="statsHealthBase" name="statsHealthBase" class="form-control" ng-model="currentCharacter.stats.base.damage" required>
        </div>
        <div class="col-sm-5">
            <input type="number" id="statsHealthGain" name="statsHealthGain" class="form-control" ng-model="currentCharacter.stats.gain.damage" required>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="charForm.$invalid" ng-click="addCharacter()">Add Character</button>
        </div>
    </div>
</form>