<form name="abilityForm">
    <div class="row form-group">
        <label for="abilityName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="abilityName" name="abilityName" class="form-control" ng-model="currentAbility.name" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="abilityDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input type="text" id="abilityDescription" name="abilityDescription" class="form-control" ng-model="currentAbility.description" required>
        </div>
    </div>
    <div class="row form-group">
        <label for="abilityClassName" class="col-sm-2 control-label">CSS Class</label>
        <div class="col-sm-10">
            <input type="text" id="abilityClassName" name="abilityClassName" class="form-control" ng-model="currentAbility.className" required>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="abilityForm.$invalid" ng-click="addAbility()">Add Ability</button>
        </div>
    </div>
</form>