<div class="panel panel-success animated" ng-show="success.show">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="success.show = false">&times;</button>
        <strong>{{success.msg}}</strong>
    </div>
</div>
<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>ERROR</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <i class="fa fa-cog fa-2x fa-spin" ng-if="saving"></i>
        </div>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm">
                    <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="searchHeroes()" ng-disabled="saving">
                </span>
            </form>
        </div>
    </div>
    <ul class="list-group" dnd-list="heroes" dnd-allowed-types="['hero']">
        <li class="list-group-item admin-list-item clearfix"
            ng-repeat="hero in filtered = (heroes | filter:search)"
            dnd-draggable="hero"
            dnd-moved="updateDND(heroes, $index)"
            dnd-disable-if="heroes.length < 2 || saving || search.length"
            dnd-type="'hero'"
        >
            <span>{{hero.heroName}}</span>
            <div class="pull-right btn-toolbar">
                <button ui-sref="app.admin.overwatch.heroes.edit({ heroID: hero.id })" class="btn btn-default" ng-disabled="saving">Edit</button>
                <button class="btn btn-danger" ng-click="deleteHero(hero)" ng-disabled="saving">Delete</button>
            </div>
        </li>
        <li class="list-group-item" ng-show="!heroes.length">
            There are no heroes yet.
        </li>
        <li class="list-group-item b-t-none" ng-show="heroes.length && filtered && !filtered.length">
            That search returned no results.
        </li>
    </ul>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm">
                    <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="searchHeroes()" ng-disabled="saving">
                </span>
            </form>
        </div>
    </div>
</div>