<form name="itemForm" novalidate>
    <div class="row form-group">
        <label for="abilityName" class="col-sm-2 control-label">Option</label>
        <div class="col-sm-10">
            <input type="text" id="name" name="name" class="form-control" ng-model="currentItem.name" required>
        </div>
    </div>
    <div class="row form-group" ng-if="poll.type=='img'">
        <div class="col-sm-10 col-sm-offset-2">
            <label for="itemPhoto" class="col-sm-2 control-label">Item Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="itemPhotoThumb" name="itemPhotoThumb" value="" ng-model="currentItem.thumb">
                <input type="hidden" id="itemPhotoLarge" name="itemPhotoLarge" value="" ng-model="currentItem.large">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-poll">
                        <div class="upload-drop" ng-show="currentItem.photos.thumb === ''" ng-file-drop="photoUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{getImage()}}" alt="" ng-show="currentItem.photos.thumb !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="photoUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="currentItem.photos.thumb === ''">Select image</span>
                            <span ng-show="currentItem.photos.thumb !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="currentItem.photos.thumb = ''; currentItem.thumb = '';" ng-show="currentItem.photos.thumb !== ''">Remove image</a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="itemForm.$invalid || (poll.type=='img' && currentItem.photos.thumb == '')" ng-click="addItem()">Add Item</button>
        </div>
    </div>
</form>