<div class="panel panel-success animated" ng-show="success.show">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="success.show = false">&times;</button>
        <strong>{{success.msg}}</strong>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right" ng-if="polls">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ pollPagination.total === 0 ? pollPagination.total : ((pollPagination.page - 1) * pollPagination.perpage) + 1 }}</strong> 
                to <strong>{{  pollPagination.page * pollPagination.perpage > pollPagination.total ? pollPagination.total : pollPagination.page * pollPagination.perpage }}</strong> 
                of <strong>{{ pollPagination.total }}</strong>
            </span>
            <div pagination="pollPagination" theme="default" class="default"></div>
        </div>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm">
                    <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="searchPolls()">
                </span>
            </form>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item polls-list-item clearfix" ng-repeat="poll in polls">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{poll.title}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a href="./admin/polls/edit/{{poll.id}}" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deletePoll(poll)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-if="!polls.length && !search.length">
            There are no polls yet.
        </div>
        <div class="list-group-item b-t-none" ng-if="search.length && pagination.results() == 0">
            That search returned no results.
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right" ng-if="polls">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ pollPagination.total === 0 ? pollPagination.total : ((pollPagination.page - 1) * pollPagination.perpage) + 1 }}</strong> 
                to <strong>{{  pollPagination.page * pollPagination.perpage > pollPagination.total ? pollPagination.total : pollPagination.page * pollPagination.perpage }}</strong> 
                of <strong>{{ pollPagination.total }}</strong>
            </span>
            <div pagination="pollPagination" theme="default" class="default"></div>
        </div>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm">
                    <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="searchPolls()">
                </span>
            </form>
        </div>
    </div>
</div>