
<alert-box theme="admin-new"></alert-box>
    
<div class="panel panel-default" ng-repeat="team in teams">
  
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-xs-6 admin-list-heading">
              
                <div class="admin-order-btns-wrap pull-left">
                    <div class="m-b-xs" 
                         ng-click="moveTeamUp(teams, team)">
                        <i class="fa fa-arrow-circle-up" ng-class="{ 'disabled': $index === 0 }"></i>
                    </div>
                    <div ng-click="moveTeamDown(teams, team)">
                        <i class="fa fa-arrow-circle-down" ng-class="{ 'disabled': $index === teams.length-1 }"></i>
                    </div>
                </div>
              
                <h4 class="m-b-none m-l-lg">
                    <strong>{{team.game.name}} <span ng-if="team.name">- {{team.name}}</span> Members</strong>
                </h4>
            </div>
            <div class="col-xs-6">
                <div class="pull-right btn-toolbar">
                    <button ui-sref="app.admin.teams.edit-team({ teamId: team.id })" class="btn btn-default">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteTeam(team)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div dnd-list="team.teamMembers" class="admin-list">
        <div class="admin-list-item list-items clearfix" ng-repeat="member in team.teamMembers" 
                    dnd-draggable="member"
                    dnd-moved="updateDND(team.teamMembers, $index, member)"
                    dnd-disable-if="team.teamMembers.length < 2">
            <div class="list-accent-div">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="list-item-height">{{member.screenName}}&nbsp;<span ng-if="member.screenName != '' && member.fullName != ''">-</span>&nbsp;{{member.fullName}}</span>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right btn-toolbar list-item-height">
                            <a ui-sref="app.admin.teams.edit-team-member({ memberID: member.id })" class="btn btn-default">Edit</a>
                            <button class="btn btn-danger" ng-click="deleteMember(team, member)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-list-item placeholder-text" ng-if="!team.teamMembers.length">
            There are no members yet.
        </div>
    </div>
    <div class="panel-footer clearfix">
    </div>
</div>