<alert-box theme="admin-new"></alert-box>

<div class="panel panel-default br-none">
    <form name="teamMemberForm" id="teamMemberForm" role="form" class="form-horizontal" novalidate>
    <div class="panel-heading">
        <h3>Edit Member</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="game" class="col-sm-2 control-label">Game</label>
            <div class="col-sm-10">
                <select id="game" name="game" class="form-control" 
                            ng-options="team.teamId as team.game for team in teamOptions" 
                            ng-model="member.teamId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="screenName" class="col-sm-2 control-label">Screen Name</label>
            <div class="col-sm-10">
                <input type="text" id="screenName" name="screenName" class="form-control" ng-model="member.screenName" required>
            </div>
        </div>
        <div class="form-group">
            <label for="fullName" class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-10">
                <input type="text" id="fullName" name="fullName" class="form-control" ng-model="member.fullName" required>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea type="text" id="description" name="description" class="form-control" rows="5" ng-model="member.description" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="twitter" class="col-sm-2 control-label">Twitter</label>
            <div class="col-sm-10">
                <div class="input-group social-addon-group">
                    <span class="input-group-addon social-addon" id="twitter-addon">twitter.com/</span>
                    <input type="text" id="twitter" name="twitter" class="form-control" ng-model="member.social.twitter" placeholder="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="twitch" class="col-sm-2 control-label">Twitch</label>
            <div class="col-sm-10">
                <div class="input-group social-addon-group">
                    <span class="input-group-addon social-addon" id="twitch-addon">twitch.tv/</span>
                    <input type="text" id="twitch" name="twitch" class="form-control" ng-model="member.social.twitch" placeholder="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="youtube" class="col-sm-2 control-label">Youtube</label>
            <div class="col-sm-10">
                <div class="input-group social-addon-group">
                    <span class="input-group-addon social-addon" id="youtube-addon">youtube.com/</span>
                    <input type="text" id="youtube" name="youtube" class="form-control" ng-model="member.social.youtube" placeholder="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="facebook" class="col-sm-2 control-label">Facebook</label>
            <div class="col-sm-10">
                <div class="input-group social-addon-group">
                    <span class="input-group-addon social-addon" id="facebook-addon">facebook.com/</span>
                    <input type="text" id="facebook" name="facebook" class="form-control" ng-model="member.social.facebook" placeholder="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="instagram" class="col-sm-2 control-label">Instagram</label>
            <div class="col-sm-10">
                <div class="input-group social-addon-group">
                    <span class="input-group-addon social-addon" id="instagram-addon">instagram.com/</span>
                    <input type="text" id="instagram" name="instagram" class="form-control" ng-model="member.social.instagram" placeholder="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="esea" class="col-sm-2 control-label">ESEA</label>
            <div class="col-sm-10">
                <div class="input-group social-addon-group">
                    <span class="input-group-addon social-addon" id="esea-addon">esea.com/</span>
                    <input type="text" id="esea" name="esea" class="form-control" ng-model="member.social.esea" placeholder="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="memberPhoto" class="col-sm-2 control-label">Member Image</label>
            <div class="col-sm-10">
                <input type="hidden" id="memberPhoto" name="memberPhoto" value="" ng-model="member.photoName">
                <div class="photo-input">
                    <div class="upload-thumbnail upload-thumbnail-team">
                        <div class="upload-drop" ng-show="member.photoName === ''" ng-file-drop="photoUpload($files)" ng-file-drag-over-class="active">Drop image here</div>
                        <img src="{{getImage()}}" alt="" ng-show="member.photoName !== ''">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-file-select="photoUpload($files)" onclick="this.value=null" accept="image/*">
                            <span ng-show="member.photoName === ''">Select image</span>
                            <span ng-show="member.photoName !== ''">Change image</span>
                        </button>
                        <a href="#" class="btn btn-danger" ng-click="member.photoName = '';" ng-show="member.photoName !== ''">Remove image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Active</label>
            <input ng-model="member.isActive" type="checkbox">
        </div>

    <div class="panel-footer clearfix">
        <div class="col-xs-12">
            <button type="submit" class="btn admin-btn-blue pull-right" ng-disabled="teamMemberForm.$invalid || fetching" ng-click="saveMember()">
                <span ng-if="!fetching">Edit Member</span>
                <span ng-if="fetching">Submitting <i class="fa fa-spinner fa-pulse"></i></span>
            </button>
        </div>
    </div>
    </form>
    </div>
</div>
