<div class="panel panel-success animated" ng-show="success.show">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="success.show = false">&times;</button>
        <strong>{{success.msg}}</strong>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-heading m-b-none">Hearthstone Members</h1>
    </div>
    <ul dnd-list="hsMembers" class="list-group">
        <li class="list-group-item admin-list-item clearfix" ng-repeat="member in hsMembers" 
                    dnd-draggable="member"
                    dnd-moved="updateDND(hsMembers, $index)"
                    dnd-disable-if="hsMembers.length < 2">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{member.screenName}}&nbsp;<span ng-if="member.screenName != '' && member.fullName != ''">-</span>&nbsp;{{member.fullName}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a ui-sref="app.admin.teams.edit({ memberID: member.id })" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteMember(member, hsMembers)">Delete</button>
                    </div>
                </div>
            </div>
        </li>
        <div class="list-group-item" ng-if="!hsMembers.length">
            There are no members yet.
        </div>
    </ul>
    <div class="panel-footer clearfix">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-heading m-b-none">Heroes of the Storm Members</h1>
    </div>
    <ul dnd-list="hotsMembers" class="list-group">
        <li class="list-group-item admin-list-item clearfix" ng-repeat="member in hotsMembers | orderBy : 'orderNum'" 
                    dnd-draggable="member"
                    dnd-moved="updateDND(hotsMembers, $index)"
                    dnd-disable-if="hotsMembers.length < 2">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{member.screenName}}&nbsp;<span ng-if="member.screenName != '' && member.fullName != ''">-</span>&nbsp;{{member.fullName}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a ui-sref="app.admin.teams.edit({ memberID: member.id })" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteMember(member, hotsMembers)">Delete</button>
                    </div>
                </div>
            </div>
        </li>
        <div class="list-group-item" ng-if="!hotsMembers.length">
            There are no members yet.
        </div>
    </ul>
    <div class="panel-footer clearfix">
    </div>
</div>

<!--
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-heading m-b-none">CS:GO Members</h1>
    </div>
    <ul dnd-list="csMembers" class="list-group">
        <li class="list-group-item admin-list-item clearfix" ng-repeat="member in csMembers" 
                    dnd-draggable="member"
                    dnd-moved="updateDND(csMembers, $index)"
                    dnd-disable-if="csMembers.length < 2">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{member.screenName}}&nbsp;<span ng-if="member.screenName != '' && member.fullName != ''">-</span>&nbsp;{{member.fullName}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a ui-sref="app.admin.teams.edit({ memberID: member._id })" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteMember(member, csMembers)">Delete</button>
                    </div>
                </div>
            </div>
        </li>
        <div class="list-group-item" ng-if="!csMembers.length">
            There are no members yet.
        </div>
    </ul>
    <div class="panel-footer clearfix">
    </div>
</div>
-->

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-heading m-b-none">FIFA Members</h1>
    </div>
    <ul dnd-list="fifaMembers" class="list-group">
        <li class="list-group-item admin-list-item clearfix" ng-repeat="member in fifaMembers" 
                    dnd-draggable="member"
                    dnd-moved="updateDND(fifaMembers, $index)"
                    dnd-disable-if="fifaMembers.length < 2">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{member.screenName}}&nbsp;<span ng-if="member.screenName != '' && member.fullName != ''">-</span>&nbsp;{{member.fullName}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a ui-sref="app.admin.teams.edit({ memberID: member.id })" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteMember(member, fifaMembers)">Delete</button>
                    </div>
                </div>
            </div>
        </li>
        <div class="list-group-item" ng-if="!fifaMembers.length">
            There are no members yet.
        </div>
    </ul>
    <div class="panel-footer clearfix">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-heading m-b-none">FGC Members</h1>
    </div>
    <ul dnd-list="fgcMembers" class="list-group">
        <li class="list-group-item admin-list-item clearfix" ng-repeat="member in fgcMembers" 
                    dnd-draggable="member"
                    dnd-moved="updateDND(fgcMembers, $index)"
                    dnd-disable-if="fgcMembers.length < 2">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{member.screenName}}&nbsp;<span ng-if="member.screenName != '' && member.fullName != ''">-</span>&nbsp;{{member.fullName}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a ui-sref="app.admin.teams.edit({ memberID: member.id })" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteMember(member, fgcMembers)">Delete</button>
                    </div>
                </div>
            </div>
        </li>
        <div class="list-group-item" ng-if="!fgcMembers.length">
            There are no members yet.
        </div>
    </ul>
    <div class="panel-footer clearfix">
    </div>
</div>