<alert-box theme="admin"></alert-box>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right" ng-if="users">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ userPagination.total === 0 ? userPagination.total : ((userPagination.page - 1) * userPagination.perpage) + 1 }}</strong> 
                to <strong>{{  userPagination.page * userPagination.perpage > userPagination.total ? userPagination.total : userPagination.page * userPagination.perpage }}</strong> 
                of <strong>{{ userPagination.total }}</strong>
            </span>
            <div pagination="userPagination" theme="default" class="default"></div>
        </div>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm">
                    <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="searchUsers()">
                </span>
            </form>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item articles-list-item clearfix" ng-repeat="user in users">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{user.username}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a href="./admin/users/edit/{{user.id}}" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-if="!users.length && !search.length">
            There are no users yet.
        </div>
        <div class="list-group-item b-t-none" ng-if="search.length && pagination.results() == 0">
            That search returned no results.
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right" ng-if="users">
            <span class="m-r-sm">
                Showing: 
                <strong>{{ userPagination.total === 0 ? userPagination.total : ((userPagination.page - 1) * userPagination.perpage) + 1 }}</strong> 
                to <strong>{{  userPagination.page * userPagination.perpage > userPagination.total ? userPagination.total : userPagination.page * userPagination.perpage }}</strong> 
                of <strong>{{ userPagination.total }}</strong>
            </span>
            <div pagination="userPagination" theme="default" class="default"></div>
        </div>
        <div class="pull-left">
            <form>
                <span class="pull-left m-r-sm">
                    <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search..." ng-keyup="searchUsers()">
                </span>
            </form>
        </div>
    </div>
</div>