<!-- footer -->
<div class="app-footer">
    <div class="footer-sponsors"></div>
    <div class="container wrapper-lg">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h1>CATEGORIES</h1>
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./articles">Articles</a></li>
                    <li><a href="./decks">Decks</a></li>
                    <li><a href="./deck-builder">Deck Builder</a></li>
                    <li><a href="./forum">Forum</a></li>
                    <li><a href="./sponsors">Sponsors</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1>INFORMATION</h1>
                <ul>
                    <li><a href="./contact">Contact Tempo Storm</a></li>
                    <li><a href="./terms">Terms and Conditions</a></li>
                    <li><a href="./privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1>FOLLOW US</h1>
                <div class="social">
                    <a href="http://www.twitter.com/tempo_storm"><i class="fa fa-twitter-square"></i></a>
                    <a href="http://www.facebook.com/tempostormHS"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.youtube.com/user/reynad27"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / footer -->