<!-- footer -->
<div class="app-footer">
    <div class="footer-sponsors"></div>
    <div class="container-fluid-max wrapper-lg">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <h1>CATEGORIES</h1>
                <hr>
                <ul>
                    <li><a ui-sref="app.home">Home</a></li>
                    <li><a ui-sref="app.articles.list">Articles</a></li>
                    <li><a ui-sref="app.forum.home">Forum</a></li>
                    <li><a ui-sref="app.sponsors">Sponsors</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h1>TEAM</h1>
                <hr>
                <ul>
                    <li><a ui-sref="app.team.hearthstone">Hearthstone</a></li>
                    <li><a ui-sref="app.team.heroes">Heroes of the Storm</a></li>
                    <li><a ui-sref="app.team.fifa">FIFA</a></li>
                    <li><a ui-sref="app.team.fgc">FGC</a></li>
                </ul>
            </div>
            
            <div class="col-xs-12 col-sm-2">
                <h1>HEARTHSTONE</h1>
                <hr>
                <ul>
                    <li><a ui-sref="app.hs.home">Home</a></li>
                    <li><a ui-sref="app.hs.decks.list">Decks</a></li>
                    <li><a ui-sref="app.hs.deckBuilder.class">Deck Builder</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h1>HEROES OF THE STORM</h1>
                <hr>
                <ul>
                    <li><a ui-sref="app.hots.home">Home</a></li>
                    <li><a ui-sref="app.hots.guides.list">Guides</a></li>
                    <li><a ui-sref="app.hots.guideBuilder.step1">Guide Builder</a></li>
                    <li><a ui-sref="app.hots.talentCalculator.redirect">Talent Calculator</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h1>INFORMATION</h1>
                <hr>
                <ul>
                    <li><a ui-sref="app.contact">Contact Tempo Storm</a></li>
                    <li><a ui-sref="app.terms">Terms and Conditions</a></li>
                    <li><a ui-sref="app.privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h1>FOLLOW US</h1>
                <hr>
                <div class="social">
                    <a href="http://www.twitter.com/tempo_storm"><i class="fa fa-twitter-square"></i></a>
                    <a href="http://www.facebook.com/tempostormHS"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.youtube.com/user/reynad27"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / footer -->