<div class="container m-b-md">
    
    <div class="adSenseBanner" ng-if="!app.user.isSubscribed()">
        <div ads-banner></div>
    </div>
    
    <div class="forum-thread-title clearfix">
        <a href="./forum/{{thread.slug.url}}/add" class="btn btn-blue pull-right">Write a Post</a>
        <h1>{{thread.title}}</h1>
    </div>
    <div class="forum-post clearfix">
        <div class="forum-post-right hidden-xs hidden-sm">
            <div class="author">
                <a href="#" class="avatar"><img gravatar-src-once="post.author.email" alt=""></a>
                <div class="author-info">
                    <a href="./user/{{post.author.username}}">@{{post.author.username}}</a>
                </div>
            </div>
            <!-- g2a -->
            <div class="g2a-square">
                <a href="https://www.g2a.com/r/tempo-storm"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/g2a-tempo.png" alt="G2A"></a>
            </div>
            <!-- / g2a -->
            
        </div>
        <div class="forum-post-left">
            <div class="forum-post-content">
                <h1 class="forum-post-title">{{post.title}}</h1>
                <div class="clearfix">
                    <div class="visible-xs visible-sm pull-left m-r-sm">by <a href="./user/{{post.author.username}}">@{{post.author.username}}</a></div>
                    <div class="pull-left"><span class="fa fa-clock-o"></span> <em am-time-ago="post.createdDate"></em></div>
                </div>

                <div class="forum-post-content-html clearfix" ng-bind-html="post.getContent()"></div>
            </div>
            <div class="forum-post-comments">
                <h3>COMMENTS</h3>
                <div class="comments">
                    <p class="no-comments white darkbox m-b-sm wrapper-sm" ng-if="!post.comments || !post.comments.length">There are currently no comments on this post.</p>
                    <div class="comment" ng-repeat="comment in post.comments">
                        <div class="avatar">
                            <a href="./user/{{comment.author.username}}"><img gravatar-src-once="comment.author.email" alt="" /></a>
                        </div>
                        <div class="panel">
                            <div class="panel-heading pos-rl clearfix">
                                <span class="arrow left"></span>
                                <a href="./user/{{comment.author.username}}">@{{comment.author.username}}</a>
                                <div class="pull-right">
                                    <div class="comment-votes m-l-sm pull-right clearfix">
                                        <div class="vote-count vote-small m-l-xs pull-right"><span><em ng-show="comment.votesCount > 0">+</em>{{comment.votesCount}}</span></div>
                                        <div class="vote-count-btns vote-small pull-left">
                                            <a href="#" class="btn-vote-up vote-small" ng-class="{active: comment.voted === 1}" ng-click="voteComment(1, comment)"><i class="fa fa-plus-square"></i></a>
                                            <a href="#" class="btn-vote-down vote-small" ng-class="{active: comment.voted === -1}" ng-click="voteComment(-1, comment)"><i class="fa fa-minus-square"></i></a>
                                        </div>
                                    </div>
                                    <div class="comment-ago hidden-xs">
                                        <span class="fa fa-clock-o"></span>
                                        <span am-time-ago="comment.createdDate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">{{comment.comment}}</div>
                        </div>
                    </div>
                    <div class="comment-add">
                        <div class="avatar">
                            <a href="./user/{{app.user.getUsername()}}" ng-if="app.user.isLogged()"><img gravatar-src="app.user.getUserEmail()" alt="" /></a>
                            <a href="#" ng-if="!app.user.isLogged()"><img ng-src="https://s3-us-west-2.amazonaws.com/ts-node2/img/profile.jpg" alt="" /></a>
                        </div>
                        <form class="form-horizontal" name="commentForm" novalidate>
                            <div class="input-group">
                                <input type="text" class="form-control input-dark" ng-model="comment.comment" placeholder="ADD A COMMENT" required>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default input-dark" ng-disabled="commentForm.$invalid" ng-click="commentPost()">POST</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>