<div class="container m-b-md">
    <div ng-repeat="category in categories">
        <div class="forum-category">
            {{category.title}}
        </div>
        <table class="table forum-section" ng-show="category.threads.length">
            <thead>
                <tr>
                    <th class="section">Section</th>
                    <th class="latest hidden-xs">Latest Post</th>
                    <th class="posts hidden-xs">Posts</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="thread in category.threads">
                    <td class="section">
                        <a href="./forum/{{thread.slug.url}}">{{thread.title}}</a><br>
                        <em>{{thread.description}}</em>
                    </td>
                    <td class="latest hidden-xs">
                        <div ng-if="thread.numPosts > 0">
                            <a href="./forum/{{thread.slug.url}}/{{thread.posts[0].slug.url}}" class="title">{{thread.posts[0].title}}</a>
                            <div class="latest-info clearfix">
                                <div class="author">
                                    <a href="#" class="avatar hidden-xs"><img gravatar-src-once="thread.posts[0].author.email" alt="{{thread.posts[0].author.username}}" /></a><a href="./user/{{thread.posts[0].author.username}}">@{{thread.posts[0].author.username}}</a>
                                </div>
                                <div class="ago pull-right">
                                    <span am-time-ago="thread.posts[0].createdDate"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="thread.numPosts === 0">
                            There are no posts in this thread yet.
                        </div>
                    </td>
                    <td class="posts hidden-xs">
                        {{thread.numPosts}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>