<!-- banner start -->
<div class="container-fluid nav-pad padding-none hidden-xs" ng-if="banner.slides.length">
    <div class="home-banner">
        <div class="container-fluid home-content-banner hidden-xs hidden-sm">
            <div class="container home-banner-button-wrapper">
                <div class="home-banner-hs home-banner-logo-button m-r-sm m-l-sm">
                    <a ui-sref="app.hs.home"></a>
                </div>
                <div class="home-banner-hots home-banner-logo-button m-r-sm m-l-sm">
                    <a ui-sref="app.hots.home"></a>
                </div>
            </div>
        </div>
        <a href="#" class="banner-prev" ng-if="banner.slides.length > 1" ng-click="banner.prev()"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="banner-next" ng-if="banner.slides.length > 1" ng-click="banner.next()"><i class="fa fa-angle-right"></i></a>
        <div class="banner-pages-wrapper">
            <ul class="banner-pages" ng-if="banner.slides.length > 1">
                <li ng-class="{ active: banner.current == $index }" ng-repeat="slide in banner.slides">
                    <a href="#" ng-click="banner.setCurrent($index)" ng-class="{ active: slides.current == $index }" ng-tooltip title="{{slide.title}}"></a>
                </li>
            </ul>
        </div>
        <div class="banner-slide-wrapper">
            <div class="banner-slide slide-animation" ng-class="{ active: banner.current == $index }" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/img/{{slide.photo}}" ng-repeat="slide in banner.slides">
                <div class="container">
                    <div class="banner-panel" ng-class="{ 'has-button': slide.button.hasButton }">
                        <div>
                            <h1>{{slide.title}}</h1>
                        </div>
                        <div>
                            <p>{{slide.description}}</p>
                        </div>
                        <div class="banner-btn-wrapper" ng-if="slide.button.hasButton">
                            <a href="{{slide.button.buttonLink}}" class="banner-btn" ng-if="slide.button">{{slide.button.buttonText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- content banner start -->

<!-- content banner end -->

<!-- content start -->
<div class="container home-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5">
            <div class="home-articles">
                <!-- article -->
                <div class="article-wrapper" ng-repeat="article in articles">
                    <div class="article" ng-class="{ premium: article.premium.isPremium }">
                        <a href="./articles/{{article.slug.url}}"></a>
                        <div class="article-premium" ng-if="article.premium.isPremium"></div>
                        <div class="article-theme" ng-class="{overcast:article.theme === 'overcast'}" ng-if="article.theme !== 'none'"><a href="./articles/{{article.slug.url}}"></a></div>
                        <div class="article-img" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/articles/{{article.photos.medium}}"></div>
                        <div class="article-content-wrapper">
                            <div class="article-content flex-col">
                                <h1>{{article.title}}</h1>
                                <p class="flex-grow">{{article.description}}</p>
                                <div class="article-info">
                                    <div class="pull-left m-r-sm">
                                        <span>by <a href="./user/{{article.author.username}}">@{{article.author.username}}</a></span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="pull-left m-r-sm">
                                            <span class="fa fa-clock-o"></span>
                                            <span>{{article.createdDate | date : 'mediumDate'}}</span>
                                        </div>
                                        <div class="pull-left m-r-sm">
                                            <span class="fa fa-comment-o"></span>
                                            <a href="./articles/{{article.slug.url}}">{{article.comments.length}} Comment<span ng-if="article.comments.length === 1">s</span></a>
                                        </div>
                                        <div class="pull-left">
                                            <span class="fa fa-thumbs-o-up"></span>
                                            <span><span ng-if="article.votesCount > 0">+</span>{{article.votesCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / article -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <!-- guide builder -->
            <div hots-builder></div>
            <!-- / guide builder -->
            <!-- deck builder -->
            <div hs-builder></div>
            <!-- / deck builder -->
        </div>
        
        <div class="hidden-xs hidden-s col-md-3 col-lg-3">
            
            <div class="adSenseSidebarHome clearfix" ng-show="!app.user.isSubscribed()">
                <div ads-sidebar-home></div>
            </div>
            
            <div class="twitch-feed clearfix m-b-md">
                <div class="twitch-head">
                    <div>
                        <i class="fa fa-twitch"></i>
                        <h3>TEMPO STREAMS</h3>
                    </div>
                </div>
                <div class="twitch-body">
                    <div class="stream">
                        <a ng-href="{{stuff.channelUrl}}">
                            <img ng-src="{{stuff.logoUrl}}">
                            <div class="stream-info pull-right">
                                <div class="stream-info-top">
                                    <h4>{{stuff.displayName}}</h4>
                                </div>
                                <div class="stream-info-bottom clearfix">
                                    <p>{{stuff.gameName}}</p>
                                    <h4 class="pull-right">{{stuff.viewerCount}}</h4><i class="fa fa-eye"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="stream lite"></div>
                    <div class="stream"></div>
                    <div class="stream lite"></div>
                    <div class="stream"></div>
                    <div class="stream lite"></div>
                    <div class="stream"></div>
                    <div class="stream lite"></div>
                    <div class="stream"></div>
                    <div class="stream lite"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- content end -->