<!-- game buttons -->
<div class="container-fluid padding-none">
    <div class="row no-pad games-btns">
        <div class="col-xs-12 col-sm-6">
            <a ui-sref="app.hs.home" class="games-btn games-btn-hs">
                <div class="games-btn-back"></div>
                <img ng-src="{{app.cdn}}img/hs/hs-logo.png" class="games-btn-logo img-responsive">
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a ui-sref="app.hots.home" class="games-btn games-btn-hots">
                <div class="games-btn-back"></div>
                <img ng-src="{{app.cdn}}img/hots/hots-logo.png" class="games-btn-logo img-responsive">
            </a>
        </div>
    </div>
</div>
<!-- / game buttons -->

<!-- sub nav -->
<div class="sub-nav-wrapper hidden-xs">
    <div class="container-fluid sub-nav" sub-nav>
        <div class="now-streaming pull-left">
            
        </div>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.snapshot.redirect">META SNAPSHOT</a></li><li><a ui-sref="app.hs.deckBuilder.class">DECK BUILDER</a></li><li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<!-- content -->
<div class="container-fluid padding-none home-dark home-img-back">
    
    <!-- articles -->
    <div class="home-articles">
        <button class="home-articles-prev" ng-class="{ 'hidden': !canArticlePrev() }" ng-click="prevArticles()"><span class="fa fa-angle-left"></span></button>
        <button class="home-articles-next" ng-class="{ 'hidden': !canArticleNext() }" ng-click="nextArticles()"><span class="fa" ng-class="{ 'fa-angle-right': articles.loading != 'next', 'fa-refresh fa-spin': articles.loading == 'next' }"></span></button>
        
        <div class="home-articles-wrapper" home-articles data-viewable="articles.viewable()" data-offset="articles.offset" data-size="articles.data.length">
            <div class="home-articles-inner">
                <div class="home-article-wrapper" ng-repeat="article in articles.data track by $index">
                    <a ui-sref="app.articles.article({ slug: article.slug.url })" class="home-article" ng-class="{ 'active': isArticleActive($index) }">
                        <div class="inner"></div>
                        <img ng-src="//cdn-tempostorm.netdna-ssl.com/articles/{{article.photos.small}}" class="img-responsive">
                        <div class="home-article-content">
                            <h1 class="{{article.articleType.join(' ')}}">{{article.title}}</h1>
                            <p>{{getArticleDesc(article.description, 30)}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- / articles -->
    
    <div class="home-content">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">TEMPOSTORM RESOURCES</h1>
                <h3 class="sub-title m-b-md">Amazing tools to help you up your game</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 m-b-md">
                                <a ui-sref="app.snapshot.redirect" target="_blank" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/metasnapshot.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>THE META SNAPSHOT</h1>
                                        <p>GET AHEAD OF THE META WITH TEMPOSTORM</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 m-b-md">
                                <a ui-sref="app.hs.deckBuilder.class" target="_blank" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/deckbuilder.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>DECK BUILDER</h1>
                                        <p>START CONTRIBUTING DECKS TODAY</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 m-b-md">
                                <a ui-sref="app.hs.decks.list" class="btn btn-hots"><div class="inner">VIEW ALL HEARTHSTONE DECKS</div></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 m-b-md">
                                <a ui-sref="app.hots.talentCalculator.redirect" target="_blank" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/talentcalculator.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>TALENT CALCULATOR</h1>
                                        <p>GET AHEAD OF THE META WITH TEMPOSTORM</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 m-b-md">
                                <a ui-sref="app.hots.guideBuilder.step1" target="_blank" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/heroguide.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>GUIDE BUILDER</h1>
                                        <p>ADD YOUR GUIDE TO THE COMMUNITY</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 m-b-md">
                                <a ui-sref="app.hots.guides.list" class="btn btn-hots"><div class="inner">VIEW ALL HEROES GUIDES</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h1 class="title m-t-md">VIDEO OF THE DAY</h1>
                        <h3 class="sub-title m-b-md">Subheading goes in here</h3>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <h1 class="title m-t-md">TEMPOSTORM TV</h1>
                        <h3 class="sub-title m-b-md">Check out who is streaming right now</h3>
                        <div tempostorm-tv></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <h1 class="title m-t-md">TWITTER FEED</h1>
                        <h3 class="sub-title m-b-md">Join the conversation on Twitter</h3>
                        <div twitter-feed></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / content -->