<!-- banner start -->
<div class="container-fluid nav-pad padding-none hidden-xs" ng-if="banner.slides.length">
    <div class="home-banner">
        <div class="container-fluid home-content-banner hidden-xs hidden-sm">
            <div class="container home-banner-button-wrapper">
                <div class="home-banner-hs home-banner-logo-button m-r-sm m-l-sm">
                    <a ui-sref="app.hs.home"></a>
                </div>
                <div class="home-banner-hots home-banner-logo-button m-r-sm m-l-sm">
                    <a ui-sref="app.hots.home"></a>
                </div>
            </div>
        </div>
        <a href="#" class="banner-prev" ng-if="banner.slides.length > 1" ng-click="banner.prev()"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="banner-next" ng-if="banner.slides.length > 1" ng-click="banner.next()"><i class="fa fa-angle-right"></i></a>
        <div class="banner-pages-wrapper">
            <ul class="banner-pages" ng-if="banner.slides.length > 1">
                <li ng-class="{ active: banner.current == $index }" ng-repeat="slide in banner.slides">
                    <a href="#" ng-click="banner.setCurrent($index)" ng-class="{ active: slides.current == $index }" ng-tooltip title="{{slide.title}}"></a>
                </li>
            </ul>
        </div>
        <div class="banner-slide-wrapper">
            <div class="banner-slide slide-animation" ng-class="{ active: banner.current == $index }" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/banners/{{slide.photo}}" ng-repeat="slide in banner.slides">
                <div class="container">
                    <div class="banner-panel" ng-class="{ 'has-button': slide.button.hasButton }">
                        <div>
                            <h1>{{slide.title}}</h1>
                        </div>
                        <div>
                            <p>{{slide.description}}</p>
                        </div>
                        <div class="banner-btn-wrapper" ng-if="slide.button.hasButton">
                            <a href="{{slide.button.buttonLink}}" class="banner-btn" ng-if="slide.button">{{slide.button.buttonText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- content start -->
<div class="container home-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5" >
            <div class="home-articles">
                <!-- article -->
                <div class="article-wrapper" ng-repeat="article in articles">
                    <div class="article" ng-class="{ premium: article.premium.isPremium }">
                        <a href="./articles/{{article.slug.url}}"></a>
                        <div class="article-premium" ng-if="article.premium.isPremium"></div>
                        <div class="article-theme" ng-class="{overcast:article.theme === 'overcast'}" ng-if="article.theme !== 'none'"><a href="./articles/{{article.slug.url}}"></a></div>
                        <div class="article-img" ng-background="https://s3-us-west-2.amazonaws.com/ts-node2/articles/{{article.photos.medium}}"></div>
                        <div class="article-content-wrapper">
                            <div class="article-content flex-col">
                                <h1>{{article.title}}</h1>
                                <p class="flex-grow">{{article.description}}</p>
                                <div class="article-info">
                                    <div class="author pull-left m-r-sm">
                                        <span>by <a href="./user/{{article.author.username}}">@{{article.author.username}}</a></span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="pull-left m-r-sm">
                                            <span class="fa fa-clock-o"></span>
                                            <span>{{article.createdDate | date : 'mediumDate'}}</span>
                                        </div>
                                        <div class="pull-left m-r-sm">
                                            <span class="fa fa-comment-o"></span>
                                            <a href="./articles/{{article.slug.url}}">{{article.comments.length}} Comment<span ng-if="article.comments.length === 1">s</span></a>
                                        </div>
                                        <div class="pull-left">
                                            <span class="fa fa-thumbs-o-up"></span>
                                            <span><span ng-if="article.votesCount > 0">+</span>{{article.votesCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / article -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <!-- talent calc -->
            <div hots-tc></div>
            <!-- /talent calc -->
            <!-- deck builder -->
            <div hs-builder></div>
            <!-- / deck builder -->
            <!-- guide builder -->
            <div hots-builder></div>
            <!-- / guide builder -->
        </div>
        
        <div class="col-md-12 col-lg-3">
            <div class="twitch-feed clearfix m-b-md col-xs-12 col-sm-12 col-md-6 col-lg-12">
                <div class="twitch-head wrapper-sm">
                    <div>
                        <i class="fa" ng-class="{ 'fa-twitch': streamWheel, 'fa-cog': !streamWheel, 'fa-spin': !streamWheel }"></i>
                        <h3>TEMPO STREAMS</h3>
                    </div>
                </div>
                <div ng-if="streams.length > 0" class="twitch-body" ng-show="streams">
                    <div class="stream wrapper-xs" ng-repeat="stream in streams | orderBy:-viewerCount">
                        <a target="_blank" ng-href="{{stream.channelUrl}}">
                            <div class="stream-img-wrapper">
                                <img ng-src="{{stream.logoUrl}}">
                            </div>
                            <div class="stream-info">
                                <div class="stream-info-top">
                                    <h4>{{stream.displayName}}</h4>
                                    <div class="views">
                                        <h4 class="pull-right">{{stream.viewerCount}}</h4><i class="fa fa-eye pull-right"></i>
                                    </div>
                                </div>
                                <div class="stream-info-bottom clearfix">
                                    <p>{{stream.gameName}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="darkbox nostream wrapper-md" ng-if="streams.length < 1 && streamWheel"><p class="m-b-none">Sorry, there are currently no streams available.</p></div>
            </div>
            
            <div class="twitter-feed clearfix m-b-md col-xs-12 col-sm-12 col-md-6 col-lg-12">
                <div class="twitter-head wrapper-sm">
                    <div>
                        <i class="fa" ng-class="{ 'fa-twitter': twitWheel, 'fa-cog': !twitWheel, 'fa-spin': !twitWheel }"></i>
                        <h3>TEMPO FEED</h3>
                    </div>
                </div>
                <div class="twitter-body" ng-show="tweets">
                    <div class="tweet wrapper-sm" ng-repeat="tweet in tweets">
                        <div class="tweet-info">
                            <div class="tweet-info-top">
                                <a target="_blank" ng-href="{{tweet.authorUrl}}"><h4 class="ell name">@{{tweet.screenName}}</h4></a>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i><h4 am-time-ago="tweet.timestamp" class="pull-right"></h4>
                                </div>
                            </div>
                            <div class="tweet-info-bottom wrapper-sm clearfix">
                                <p ng-bind-html="getContent(tweet.text)"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="darkbox nofeed wrapper-md" ng-show="!tweets && twitWheel"><p class="m-b-none">Sorry, there are currently no tweets available.</p></div>
            </div>
            
        </div>
        
    </div>
</div>
<!-- content end -->
