<!-- sub nav -->
<div class="sub-nav-wrapper sticky hidden-xs">
    <div class="container-fluid sub-nav sticky">
        <div class="now-streaming pull-left">
            
        </div>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li><li><a ui-sref="app.hots.guides.list">GUIDES</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<div class="hots-dark">
    <!-- filtering -->
    <div hots-filtering heroes="heroes" maps="maps" filters="filters"></div>
    <!-- / filtering -->

    <!-- top guide -->
    <div class="container-fluid hots-top-guide m-t-lg" ng-if="topGuide">
        <div class="tri-both">
            <div class="container-fluid-max hots-top-guide-inner pos-rl">
                <div class="hero {{getGuideCurrentHero(topGuide).hero.className}}"></div>
                <div class="row row-flex">
                    <div class="col-xs-7">
                        <div class="row-flex-col">
                            <h1>TOP GUIDE</h1>
                            <h3>{{topGuide.name}}</h3>
                            <ul class="hots-top-guide-talents clearfix">
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier1.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier1.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 1, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 1)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier4.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier4.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 4, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 4)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier7.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier7.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 7, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 7)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier10.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier10.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 10, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 10)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier13.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier13.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 13, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 13)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier16.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier16.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 16, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 16)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon large active {{getGuideClass(topGuide)}} {{getGuideCurrentHero(topGuide).talents.tier20.className}}" ng-tooltip title="{{getGuideCurrentHero(topGuide).talents.tier20.name}}"></a>
                                    <div class="guide-talent-dots hidden-xs">
                                        <div class="guide-talent-dot" ng-class="{ active: selectedTalent(getGuideCurrentHero(topGuide), 20, dot) }" ng-repeat="dot in getTalents(getGuideCurrentHero(topGuide), 20)"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row-flex-col">
                            <p>{{topGuide.description}}</p>
                            <a ui-sref="app.hots.guides.guide({ slug: topGuide.slug })" class="btn btn-hots m-t-md"><div class="inner">VIEW GUIDE</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / top guide -->

    <!-- tempostorm guides -->
    <div class="container-fluid">
        <div class="container-fluid-max hots-list-ts-guides">
            <div class="hots-list-guides-title clearfix">
                <div class="hots-mini-filters">
                    <div hots-filter-role filters="filters"></div>
                    <div class="m-r-md" hots-filter-universe filters="filters"></div>
                    <div class="hots-filters-search">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control input-dark hots-search" ng-model="filters.search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <h1>TEMPOSTORM GUIDES</h1>
            </div>
            <div>
                <ul class="hots-guides row no-pad" ng-if="tempostormGuides.length">
                    <li class="col-xs-3" ng-repeat="guide in tempostormGuides">
                        <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide large {{getGuideClass(guide)}}">
                            <div class="inner"></div>
                            <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
                            <h1>{{guide.name}}</h1>
                            <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                            <div class="hots-guide-votes">{{guide.votesCount}}</div>
                            <div class="hero-flip btn-group" ng-if="guide.heroes.length > 1">
                                <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                            </div>
                            <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier1.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier1.name}}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier4.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier4.name}}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier7.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier7.name}}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier10.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier10.name}}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier13.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier13.name}}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier16.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier16.name}}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier20.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier20.name}}"></li>
                            </ul>
                        </a>
                    </li>
                </ul>

                <!-- page flipping -->
                <div pagination="tempostormPagination" class="hots"></div>
                <!-- / page flipping -->

                <p class="darkbox white p-md" ng-if="!tempostormGuides.length">There are no guides for the filtering above.</p>
            </div>
        </div>
    </div>
    <!-- / tempostorm guides -->

    <!-- guides start -->
    <div class="container-fluid hots-guide-list">
        <div class="container-fluid-max hots-guide-list-inner tri-both">
            
            <div class="hots-list-guides-title clearfix">
                <div class="hots-mini-filters">
                    <div hots-filter-role filters="filters"></div>
                    <div class="m-r-md" hots-filter-universe filters="filters"></div>
                    <div class="hots-filters-search">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control input-dark hots-search" ng-model="filters.search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <h1>COMMUNITY GUIDES</h1>
            </div>

            <div>
                <!-- page flipping -->
                <div pagination="communityPagination" class="hots"></div>
                <!-- / page flipping -->

                <!-- guides titles -->
                <div class="row hots-guides-long-title m-b-sm">
                    <div class="col-xs-4">
                        <h1>GUIDE</h1>
                    </div>
                    <div class="col-xs-3">
                        <h1>TALENTS</h1>
                    </div>
                    <div class="col-xs-1">
                        <h1 class="text-center">SCORE</h1>
                    </div>
                    <div class="col-xs-4">
                        <h1>HERO / MAP</h1>
                    </div>
                </div>
                <!-- / guides titles -->
                
                <!-- guides -->
                <ul class="hots-guides" ng-if="communityGuides.length">
                    <li ng-repeat="guide in communityGuides">
                        <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide long {{getGuideClass(guide)}}">
                            <div class="inner"></div>
                            <div class="row row-flex">
                                <div class="col-xs-4">
                                    <div class="row-col">
                                        <h1>{{guide.name}}</h1>
                                        <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row-col">
                                        <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier1.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier1.name}}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier4.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier4.name}}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier7.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier7.name}}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier10.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier10.name}}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier13.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier13.name}}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier16.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier16.name}}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier20.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier20.name}}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="row-col">
                                        <p class="hots-guide-votes text-center">{{guide.votesCount}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="row-col">
                                        <p class="hots-guide-hero-name" ng-if="guide.guideType == 'hero'">{{getGuideCurrentHero(guide).hero.name}}</p>
                                        <p class="hots-guide-hero-name" ng-if="guide.guideType == 'map'">{{guide.maps[0].name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hero-flip btn-group" ng-if="guide.heroes.length > 1">
                                <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="darkbox white p-md" ng-if="!communityGuides.length">There are no guides for the filtering above.</p>
                <!-- / guides -->

                <!-- page flipping -->
                <div pagination="communityPagination"></div>
                <!-- / page flipping -->
            </div>

        </div>
    </div>
    <!-- guides end -->
</div>