<!-- title -->
<div class="container-fluid hots-home-title">
    <img ng-src="{{app.cdn}}img/hots/hots-logo.png" class="hots-home-logo img-responsive">
</div>
<!-- /title -->

<!-- sub nav -->
<div class="sub-nav-wrapper hidden-xs">
    <div class="container-fluid sub-nav" sub-nav>
        <div class="now-streaming pull-left">
            
        </div>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li><li><a ui-sref="app.hots.guides.list">GUIDES</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<!-- filtering -->
<div class="container-fluid filters-back {{currentMapBack()}}">
    <div class="container m-t-md m-b-md">
        <div class="hero-name text-center">{{hero().name}}</div>
        <div class="hero-description text-center">{{hero().title}}</div>
    </div>
    <div class="container">
        <div class="row no-pad">
            <div class="col-xs-12 col-sm-8 m-b-md">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="hero-roles clearfix">
                            <li><button class="hero-role warrior" ng-class="{ 'active': !hasFilterRole('Warrior') }" ng-click="toggleFilterRole('Warrior')" ng-tooltip title="Warrior"></button></li>
                            <li><button class="hero-role assassin" ng-class="{ 'active': !hasFilterRole('Assassin') }" ng-click="toggleFilterRole('Assassin')" ng-tooltip title="Assassin"></button></li>
                            <li><button class="hero-role support" ng-class="{ 'active': !hasFilterRole('Support') }" ng-click="toggleFilterRole('Support')" ng-tooltip title="Support"></button></li>
                            <li><button class="hero-role specialist" ng-class="{ 'active': !hasFilterRole('Specialist') }" ng-click="toggleFilterRole('Specialist')" ng-tooltip title="Specialist"></button></li>
                        </ul>
                        <ul class="hero-universes clearfix">
                            <li><button class="hero-universe warcraft" ng-class="{ 'active': !hasFilterUniverse('Warcraft') }" ng-click="toggleFilterUniverse('Warcraft')" ng-tooltip title="Warcraft"></button></li>
                            <li><button class="hero-universe starcraft" ng-class="{ 'active': !hasFilterUniverse('Starcraft') }" ng-click="toggleFilterUniverse('Starcraft')" ng-tooltip title="Starcraft"></button></li>
                            <li><button class="hero-universe diablo" ng-class="{ 'active': !hasFilterUniverse('Diablo') }" ng-click="toggleFilterUniverse('Diablo')" ng-tooltip title="Diablo"></button></li>
                            <li><button class="hero-universe retro" ng-class="{ 'active': !hasFilterUniverse('Blizzard') }" ng-click="toggleFilterUniverse('Blizzard')" ng-tooltip title="Retro"></button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 m-b-md hots-filters-search">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control input-dark" ng-model="filters.search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid hero-back {{hero().className}}">
        <ul class="hero-filters clearfix">
            <li ng-repeat="hero in heroDots">
                <button class="{{hero.className}}" ng-class="{ 'active': hasFilterHero(hero), 'not-selected': !hasFilterHero(hero) && hasAnyFilterHero(),  'filtered': !hasFilterHero(hero) && (hasFilterRole(hero.role) || hasFilterUniverse(hero.universe) || hasFilterSearch(hero)) }" ng-if="hero.className" ng-click="toggleFilterHero(hero)" ng-tooltip title="{{hero.name}}">{{hero.name}}</button>
                <button class="empty" ng-class="{ 'filtered': hasAnyFilter() }" ng-if="!hero.className"></button>
            </li>
        </ul>
    </div>
    <div class="container m-b-sm">
        <div class="filters-maps">
            <ul class="text-center">
                <li class="m-b-md" ng-repeat="map in maps"><button class="{{map.className}}" ng-class="{ 'active': hasFilterMap(map), 'not-selected': !hasFilterMap(map) && hasAnyFilterMap() }" ng-click="toggleFilterMap(map)" ng-tooltip title="{{map.name}}">{{map.name}}</button></li>
            </ul>
        </div>
    </div>
    <div class="container text-center">
        <a ui-sref="app.hots.guideBuilder.step1" class="btn btn-hots m-r-md m-b-lg"><div class="inner">CREATE A GUIDE</div></a>
        <a ui-sref="app.hots.guides.list" class="btn btn-hots m-b-lg"><div class="inner">FIND A GUIDE</div></a>
    </div>
</div>
<!-- /filtering -->

<!-- content start -->
<div class="container-fluid hots-content hots-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h1 class="title">HEROES OF THE STORM ARTICLES</h1>
            <h3 class="sub-title m-b-md">The latest articles on all things Heroes of the Storm</h3>
            <div class="row row-flex row-flex-wrap">
                <div class="col-xs-12 col-sm-6 pos-rl" ng-repeat="article in articles">
                    <a ui-sref="app.articles.article({ slug: article.slug.url })" class="hots-article flex-col m-b-lg">
                        <div class="inner"></div>
                        <img ng-src="//cdn-tempostorm.netdna-ssl.com/articles/{{article.photos.small}}" class="img-responsive">
                        <div class="hots-article-content">
                            <h1>{{article.title}}</h1>
                            <p>{{article.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h1 class="title">TEMPOSTORM GUIDES</h1>
                    <h3 class="sub-title m-b-md">Guides from Team Tempo Storm</h3>
                    <ul class="hots-guides">
                        <li ng-repeat="guide in guidesFeatured">
                            <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide small {{getGuideClass(guide)}}">
                                <div class="inner"></div>
                                <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
                                <h1>{{guide.name}}</h1>
                                <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                                <div class="hots-guide-votes">{{guide.votesCount}}</div>
                                <div class="hero-flip btn-group" ng-if="guide.heroes.length > 1">
                                    <button class="btn btn-xs btn-blue"><span class="fa fa-angle-left"></span></button>
                                    <button class="btn btn-xs btn-blue"><span class="fa fa-angle-right"></span></button>
                                </div>
                                <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier1.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier1.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier4.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier4.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier7.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier7.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier10.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier10.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier13.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier13.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier16.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier16.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier20.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier20.name}}"></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h1 class="title">COMMUNITY GUIDES</h1>
                    <h3 class="sub-title m-b-md">Guides from the Community</h3>
                    <ul class="hots-guides">
                        <li ng-repeat="guide in guidesCommunity">
                            <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide small {{getGuideClass(guide)}}">
                                <div class="inner"></div>
                                <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
                                <h1>{{guide.name}}</h1>
                                <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                                <div class="hots-guide-votes">{{guide.votesCount}}</div>
                                <div class="hero-flip btn-group" ng-if="guide.heroes.length > 1">
                                    <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                    <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                                </div>
                                <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier1.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier1.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier4.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier4.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier7.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier7.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier10.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier10.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier13.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier13.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier16.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier16.name}}"></li>
                                    <li class="talents-icon active {{getGuideClass(guide)}} {{getGuideCurrentHero(guide).talents.tier20.className}}" ng-tooltip title="{{getGuideCurrentHero(guide).talents.tier20.name}}"></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->

<!-- content footer -->
<div class="container-fluid hots-content hots-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1 class="title">VIDEO OF THE DAY</h1>
            <h3 class="sub-title m-b-md">Subheading goes in here</h3>
            
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1 class="title">TEMPOSTORM TV</h1>
            <h3 class="sub-title m-b-md">Check out who is streaming right now</h3>
            <ul class="tempostorm-tv">
                <li ng-repeat="stream in streams">
                    <a ng-href="{{stream.channelUrl}}" target="_blank" class="tempostorm-tv-stream">
                        <div class="inner"></div>
                        <div class="tempostorm-tv-wrapper clearfix">
                            <img ng-src="{{stream.screenshotUrl}}" class="pull-left img-responsive hidden-xs">
                            <div class="tempostorm-tv-content pos-rl">
                                <h1>{{stream.title}}</h1>
                                <h3>PLAYING: {{stream.gameName}}</h3>
                                <div class="streamer">{{stream.displayName}}</div>
                                <div class="viewers"><span class="fa fa-eye m-r-sm"></span>{{stream.viewerCount}}</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /content footer -->