<!-- section banner -->
<div class="container-fluid section-banner">
    <div class="container section-decks clearfix">
        <h1 class="section-title pull-left">GUIDES</h1>
        <div class="section-search pull-right">
            <form name="search-form">
            <div class="input-group">
                <input type="text" class="form-control input-dark" placeholder="search..." ng-model="search">
                <span class="input-group-btn">
                    <button type="submit" class="btn input-dark" ng-click="getGuides()"><i class="fa fa-search"></i></button>
                </span>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- / section banner -->

<!-- filter start -->
<div class="container-fluid padding-none filter-bar small filter-bar-guides">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 clearfix">
                <h1 class="pull-left">FILTER CONTENT:</h1>
                <ul class="filter-guides pull-left clearfix">
                    <li class="pull-left m-r-md">
                        <div class="dropdown">
                            <button class="btn input-dark" type="button" data-toggle="dropdown">
                                <span>Guides: {{filters.guideType.name}}</span>
                                <b class="caret"></b>
                            </button>
                            <ul class="list-group dropdown-menu dropdown-dark">
                                <li class="list-group-item" ng-class="{active: filter.value === filters.guideType.value}" ng-repeat="filter in filters.all.guideType">
                                    <a href="#" ng-click="filters.guideType = filter; pagination.setPage(1);">{{filter.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="pull-left m-r-md">
                        <div class="dropdown">
                            <button class="btn input-dark" type="button" data-toggle="dropdown">
                                <span>Hero: {{filters.hero.name}}</span>
                                <b class="caret"></b>
                            </button>
                            <div class="scroller-wrapper dropdown-menu is-dark">
                                <div class="scroller">
                                    <ul class="list-group dropdown-dark">
                                        <li class="list-group-item" ng-class="{active: filter.value === filters.hero.value}" ng-repeat="filter in filters.all.heroes">
                                            <a href="#" ng-click="filters.hero = filter; pagination.setPage(1);">{{filter.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="pull-left">
                        <div class="dropdown">
                            <button class="btn input-dark" type="button" data-toggle="dropdown">
                                <span>Map: {{filters.map.name}}</span>
                                <b class="caret"></b>
                            </button>
                            <ul class="list-group dropdown-menu dropdown-dark">
                                <li class="list-group-item" ng-class="{active: filter.value === filters.map.value}" ng-repeat="filter in filters.all.maps">
                                    <a href="#" ng-click="filters.map = filter; pagination.setPage(1);">{{filter.name}}</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- filter end -->

<!-- filter advanced start -->
<div class="container-fluid padding-none filter-bar-advanced hidden-xs">
    <div class="container pos-rl">
        <div class="filter-bar-advanced-options-wrapper pos-rl" ng-class="{ open: showAdvanced() }">
            <div class="filter-bar-advanced-options clearfix">
                <div class="pull-left m-r-sm">
                    <div class="dropdown">
                        <button class="btn input-dark" type="button" data-toggle="dropdown">
                            <span>Age: {{filters.age.name}}</span>
                            <b class="caret"></b>
                        </button>
                        <ul class="list-group dropdown-menu dropdown-dark">
                            <li class="list-group-item" ng-class="{active: filter.value === filters.age.value}" ng-repeat="filter in filters.all.age">
                                <a href="#" ng-click="filters.age = filter; pagination.setPage(1);">{{filter.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pull-left m-r-sm">
                    <div class="dropdown">
                        <button class="btn input-dark" type="button" data-toggle="dropdown">
                            <span>Order: {{filters.order.name}}</span>
                            <b class="caret"></b>
                        </button>
                        <ul class="list-group dropdown-menu dropdown-dark">
                            <li class="list-group-item" ng-class="{active: filter.value === filters.order.value}" ng-repeat="filter in filters.all.order">
                                <a href="#" ng-click="filters.order = filter; pagination.setPage(1);">{{filter.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-bar-advanced-tab clearfix">
            <a href="#" class="pull-right clearfix" ng-click="toggleAdvanced()">
                <span class="icon pull-left"><i class="fa fa-bars"></i></span>
                <span class="text pull-right">ADVANCED<br>FILTERING</span>
            </a>
        </div>
    </div>
</div>
<!-- filter advanced end -->

<div class="adSenseBanner" ng-show="!app.user.isSubscribed()">
    <div ads-sidebar-banner></div>
</div>

<!-- guides start -->
<div class="container">
    
    <!-- page flipping -->
    <div class="page-flipper page-flipper-top clearfix" ng-show="pagination.totalPages() > 1">
        <div class="pull-right">
            <span class="btn-group">
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() == 1" ng-click="pagination.setPage(pagination.page() - 1)" disabled="disabled"><i class="fa fa-arrow-circle-left"></i></button>
                <button class="btn btn-sm btn-blue" ng-repeat="i in pagination.pagesArray()" ng-click="pagination.setPage(i)" ng-class="{active:pagination.isPage(i)}">{{i}}</button>
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() + 1 > pagination.totalPages() || pagination.results() == 0" ng-click="pagination.setPage(pagination.page() + 1)" disabled="disabled"><i class="fa fa-arrow-circle-right"></i></button>
            </span>
        </div>
    </div>
    <!-- / page flipping -->
    
    <!-- guides -->
    <div class="row guides-list" ng-show="guides.length">
        <!-- guide -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="guide in guides">
            <div class="guide-wrapper">
                <div class="guide large" ng-class="{ premium: guide.premium.isPremium }">
                    <a href="./heroes-of-the-storm/guides/{{guide.slug}}"></a>
                    <div class="guide-images" ng-if="guide.guideType == 'hero'">
                        <div class="guide-image guide-image-{{$index+1}} guide-images-{{guide.heroes.length}} {{hero.hero.className}}" ng-repeat="hero in guide.heroes"></div>
                    </div>
                    <div class="guide-images" ng-if="guide.guideType == 'map'">
                        <div class="guide-image guide-images-1 guide-image-1 {{guide.maps[0].className}}"></div>
                    </div>
                    <div class="guide-overlay"></div>
                    <div class="guide-premium" ng-if="guide.premium.isPremium"></div>
                    <div class="guide-title">[{{guide.guideType.toUpperCase()}}]&nbsp;{{guide.name}}</div>
                    <div class="guide-score"><span><em ng-if="guide.votesCount > 0">+</em>{{guide.votesCount}}</span></div>
                    <div class="guide-description">
                        <p>{{guide.description}}</p>
                    </div>
                    <div class="guide-info clearfix">
                        <div class="pull-left m-r-sm">
                            <span>by <a href="./user/{{guide.author.username}}">@{{guide.author.username}}</a></span>
                        </div>
                        <div class="pull-right">
                            <div class="pull-left m-r-sm">
                                <span class="fa fa-clock-o"></span>
                                <span>{{guide.createdDate | date : 'mediumDate'}}</span>
                            </div>
                            <div class="pull-left">
                                <span class="fa fa-comment-o"></span>
                                <span><a href="./heroes-of-the-storm/guides/{{guide.slug}}">{{guide.comments.length}} Comment<span ng-hide="guide.comments.length === 1">s</span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / guide -->
    </div>
    <p ng-show="!guides.length && hero !== 'all' && !loading && !hasSearch()" class="guides-list-no-content">There are curently no guides under <strong>{{filters.hero.name}}</strong> yet.</p>
    <p ng-show="!guides.length && !loading && hasSearch()" class="guides-list-no-content">There are no results for your search.</p>
    <!-- / guides -->
    
    <!-- page flipping -->
    <div class="page-flipper page-flipper-bottom clearfix" ng-show="pagination.totalPages() > 1">
        <div class="pull-right">
            <span class="btn-group">
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() == 1" ng-click="pagination.setPage(pagination.page() - 1)" disabled="disabled"><i class="fa fa-arrow-circle-left"></i></button>
                <button class="btn btn-sm btn-blue" ng-repeat="i in pagination.pagesArray()" ng-click="pagination.setPage(i)" ng-class="{active:pagination.isPage(i)}">{{i}}</button>
                <button class="btn btn-sm btn-blue" ng-disabled="pagination.page() + 1 > pagination.totalPages() || pagination.results() == 0" ng-click="pagination.setPage(pagination.page() + 1)" disabled="disabled"><i class="fa fa-arrow-circle-right"></i></button>
            </span>
        </div>
    </div>
    <!-- / page flipping -->
    
</div>
<!-- guides end -->