<div class="bg-override deckbuilder">
    <div class="sub-nav-wrapper hidden-xs">
        <div class="container-fluid sub-nav sticky">
            <div class="sub-nav-links">
                <ul>
                    <li><a ng-disabled="" ui-sref="app.hs.deckBuilder.class">CLASS SELECT</a></li><li><a ng-disabled="" href="#" ng-click="step = 1" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 1}">CARD SELECT</a></li><li><a ng-disabled="" href="#" ng-click="step = 2" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 2}">MULLIGANS</a></li><li><a ng-disabled="" href="#" ng-click="step = 3" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 3}">DESCRIPTION</a></li><li><a ng-disabled="" href="#" ng-click="step = 4" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 4}">MATCH UPS</a></li><li><a ng-disabled="" href="#" ng-click="step = 5" ng-class="{active:$state.includes('app.hs.deckBuilder.build') && step == 5}">SUBMIT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid-max db-wrapper">
        <div class="db-header clearfix">
            <span>
                <h1>CLASS SELECT</h1>
                <h3>CHOOSE YOUR CLASS AND HERO</h3>
            </span>
            <ul class="list-inline">
                <li class="active">
                    <h1>Step 1</h1>
                    <h3>Class Select</h3>
                </li>
                <li>
                    <h1>Step 2</h1>
                    <h3>Card Select</h3>
                </li>
                <li>
                    <h1>Step 3</h1>
                    <h3>Mulligans</h3>
                </li>
                <li>
                    <h1>Step 4</h1>
                    <h3>Match Ups</h3>
                </li>
                <li>
                    <h1>Step 5</h1>
                    <h3>Description</h3>
                </li>
                <li>
                    <h1>Step 6</h1>
                    <h3>Submit</h3>
                </li>
            </ul>
        </div>
        <div class="db-classes clearfix">
            <div ng-repeat="hero in heroes track by $index" no-animate class="db-class db-class-{{hero.class}}" ng-class="{ 'active': hero.secondary, 'no-select': ($parent.klass && $parent.klass != hero.class) || ($parent.selectedHero && $parent.selectedHero != hero.class), 'selected': $parent.selectedHero == hero.class }" ng-mouseover="(!$parent.selectedHero) ? $parent.klass = hero.class : false" ng-mouseout="(!$parent.selectedHero) ? $parent.klass = false : false"><button class="select-hero-btn" ng-click="selectHero(hero)"></button><button class="switch-hero-btn" ng-disabled="!hero.hasSecondary" ng-click="hero.secondary = !hero.secondary; updateHero(hero.secondary, $index)" ng-class="{'active': hero.secondary}"><span ng-if="hero.hasSecondary">SWITCH HERO</span><span ng-if="!hero.hasSecondary">COMING SOON</span></button></div>
        </div>
        <div class="db-footer">
            <h2 class="pull-right">
                <span ng-if="!selectedHero">NEXT STEP</span>
                <a ng-if="selectedHero" href="./hearthstone/deck-builder/{{selectedHero}}">NEXT STEP</a>
            </h2>
        </div>
    </div>
</div>