<!-- sub nav -->
<div class="sub-nav-wrapper sticky hidden-xs">
    <div class="container-fluid sub-nav sticky">
        <div class="now-streaming pull-left">
            
        </div>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.snapshot.redirect">META SNAPSHOT</a></li><li><a ui-sref="app.hs.deckBuilder.class">DECK BUILDER</a></li><li><a ui-sref="app.hs.decks.list">DECKS</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<!-- decks start -->
<div class="container-fluid hs-bg">
    <div class="container-fluid container-fluid-max">
    
        <!-- tempostorm decks -->
        <div class="hs-list-decks-title clearfix">
            <h1>TEMPOSTORM DECKS</h1>
            <div class="hs-mini-filters hidden-xs">
                <div hs-filter-class filters="filters" classes="classes"></div>
                <div class="hs-filters-search">
                    <form ng-submit="newSearch()">
                        <div class="input-group">
                            <input type="text" class="form-control input-dark hs-search" ng-model="deckSearch">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="hs-list-ts-decks-wrapper">
            <div class="hs-list-ts-decks">
                <ul class="hs-decks row no-pad" ng-if="tempostormDecks.length">
                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="deck in tempostormDecks">
                        <a ui-sref="app.hs.decks.deck({ slug: deck.slug })" class="hs-deck large {{deck.playerClass.toLowerCase()}} {{deck.heroName.toLowerCase()}}">
                            <div class="inner"></div>
                            <div class="hs-deck-premium" ng-if="isPremium(deck)"></div>
                            <div class="bt-shadow"></div>
                            <div class="hs-deck-details">
                                <h1>{{deck.name}}</h1>
                                <h3>by {{deck.author.username || '[Deleted User]'}} - <span am-time-ago="deck.createdDate"></span></h3>
                            </div>
                            <div class="hs-deck-votes">{{deck.votesCount}}</div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- page flipping -->
            <div pagination="tempostormPagination" class="default"></div>
            <!-- / page flipping -->

            <p class="darkbox white p-md" ng-if="!tempostormDecks.length">There are no decks for the filtering above.</p>
        </div>
        <!-- / tempostorm decks -->
        
        <!-- community decks -->
        <div class="hs-list-decks-title clearfix">
            <h1>COMMUNITY DECKS</h1>
            <div class="hs-mini-filters hidden-xs">
                <div hs-filter-class filters="filters" classes="classes"></div>
                <div class="hs-filters-search">
                    <form ng-submit="newSearch()">
                        <div class="input-group">
                            <input type="text" class="form-control input-dark hs-search" ng-model="deckSearch">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <!-- page flipping -->
            <div pagination="communityPagination" class="default"></div>
            <!-- / page flipping -->

            <!-- decks titles -->
            <div class="row hs-decks-long-title m-b-sm">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <h1>DECK</h1>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-3">
                    <h1>DUST COST</h1>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-1">
                    <h1 class="text-center">SCORE</h1>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
                    <h1>CLASS</h1>
                </div>
            </div>
            <!-- / decks titles -->

            <!-- decks -->
            <ul class="hs-decks" ng-if="communityDecks.length">
                <li ng-repeat="deck in communityDecks">
                    <a ui-sref="app.hs.decks.deck({ slug: deck.slug })" class="hs-deck long {{deck.playerClass.toLowerCase()}} {{deck.heroName.toLowerCase()}}">
                        <div class="inner"></div>
                        <div class="hs-deck-premium" ng-if="isPremium(deck)"></div>
                        <div class="row row-flex">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="row-col">
                                    <h1>{{deck.name}}</h1>
                                    <h3>by {{deck.author.username || '[Deleted User]'}} - <span am-time-ago="deck.createdDate"></span></h3>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-6 col-md-4 col-lg-3">
                                <div class="row-col">
                                    <p class="hs-deck-dust">{{dustFormatted(deck.dust)}}</p>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm hidden-md col-lg-1">
                                <div class="row-col">
                                    <p class="hs-deck-votes text-center">{{deck.votesCount}}</p>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
                                <div class="row-col">
                                    <p class="hs-deck-hero-name">{{deck.playerClass}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <p class="darkbox white p-md" ng-if="!communityDecks.length">There are no decks for the filtering above.</p>
            <!-- / decks -->

            <!-- page flipping -->
            <div pagination="communityPagination" class="default"></div>
            <!-- / page flipping -->
        </div>
        <!-- / community decks -->
    </div>
</div>
<!-- decks end -->