<div class="db-header"></div>
<div class="db-classes clearfix">
    <div class="db-class db-class-mage"><a href="./hearthstone/deck-builder/mage"></a></div>
    <div class="db-class db-class-shaman"><a href="./hearthstone/deck-builder/shaman"></a></div>
    <div class="db-class db-class-warrior"><a href="./hearthstone/deck-builder/warrior"></a></div>
    <div class="db-class db-class-rogue"><a href="./hearthstone/deck-builder/rogue"></a></div>
    <div class="db-class db-class-paladin"><a href="./hearthstone/deck-builder/paladin"></a></div>
    <div class="db-class db-class-priest"><a href="./hearthstone/deck-builder/priest"></a></div>
    <div class="db-class db-class-warlock"><a href="./hearthstone/deck-builder/warlock"></a></div>
    <div class="db-class db-class-hunter"><a href="./hearthstone/deck-builder/hunter"></a></div>
    <div class="db-class db-class-druid"><a href="./hearthstone/deck-builder/druid"></a></div>
</div>
<div class="db-footer"></div>