<li class="dropdown notifications" ng-show="app.user.isLogged()">
    <a href="#" class="dropdown-toggle clear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="badge pull-right">2</span>
        <i class="fa fa-bell-o"></i>
    </a>
    <!-- dropdown -->
    <div class="dropdown-menu animated">
        <div class="panel">
            <div class="panel-heading">You have <strong>2</strong> new notifications.</div>
            <div class="list-group">
                <a href="#" class="list-group-item notification-link clearfix">
                    <span class="avatar avatar-md pull-left"><img ng-src="{{app.cdn}}/img/blank.png" alt="" /></span>
                    <div class="notification-msg pull-right"><span class="username">TidesOfTime</span> commented on your article "Zoo is the best deck ever".</div>
                    <div class="notification-ago"><small class="text-muted">10 minutes ago</small></div>
                </a>
                <a href="#" class="list-group-item notification-link clearfix">
                    <span class="avatar avatar-md pull-left"><img ng-src="{{app.cdn}}/img/blank.png" alt="" /></span>
                    <div class="notification-msg pull-right"><span class="username">Reynad</span> sent you a message.</div>
                    <div class="notification-ago"><small class="text-muted">10 minutes ago</small></div>
                </a>
            </div>
            <div class="panel-footer">
                <a href="#">View all notifications</a>
                <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
            </div>
        </div>
    </div>
    <!-- / dropdown -->
</li>