<div class="profile-page">
    <div class="profile-bg-override">
        <div class="container-fluid-max">
            <div class="row">
                <div class="col-lg-3 profile-info">
                    <div class="profile-col-header"></div>
                    <div class="profile-img">
                        <img gravatar-src-once="user.email" class="img-circle">
                    </div>
                    <div class="profile-info-body m-t-sm">
                        <h1>@{{user.username}}
                           <small class="m-t-xs">{{user.firstName}}&nbsp;{{user.lastName}}</small>
                        </h1>
                        
                        <div class="profile-social">
                            <a target="_blank" href="http://twitter.com/{{user.social.twitter}}" ng-if="user.social.twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="http://twitch.tv/{{user.social.twitch}}" ng-if="user.social.twitch"><i class="fa fa-twitch"></i></a>
                            <a target="_blank" href="http://youtube.com/{{user.social.youtube}}" ng-if="user.social.youtube"><i class="fa fa-youtube"></i></a>
                            <a target="_blank" href="http://facebook.com/{{user.social.facebook}}" ng-if="user.social.facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="http://instagram.com/{{user.social.instagram}}" ng-if="user.social.instagram"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="http://esea.com/{{user.social.esea}}" ng-if="user.social.esea"><i class="btn-team-esea"></i></a>
                        </div>
                        
                        <div class="counts">
                            <h2>{{postCount}}<small class="m-t-sm">POSTS</small></h2>
                            <h2>{{deckCount}}<small class="m-t-sm">DECKS</small></h2>
                            <h2>{{guideCount}}<small class="m-t-sm">GUIDES</small></h2>
                        </div>
                        
                        <div class="description">
                            <p>{{user.about}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="profile-col-header"><h2>POSTS AND COMMENTS</h2></div>
                    <div class="activity-list">
                        <!-- activity -->
                        <div class="activity {{activityType(activity)}} m-b-md" ng-repeat="activity in activities">
                            <div class="activity-left">
                                <div class="activity-img">
                                    <img gravatar-src-once="user.email" class="img-circle">
                                    <span ng-if="activity.activityType == 'createDeck'" class="activity-btn-wrapper"><a class="activity-btn" href="#"><i class="fa fa-pencil"></i></a><a class="activity-btn" href="#"><i class="fa fa-close"></i></a></span>
                                </div>
                            </div>
                            
                            <div class="activity-right">
                                <span activity-article ng-if="activity.activityType == 'createArticle'"></span>
                                <span activity-signup ng-if="activity.activityType == 'signup'"></span>
                                <span activity-article-comment ng-if="activity.activityType == 'articleComment'"></span>
                                <span activity-deck ng-if="activity.activityType == 'createDeck'"></span>
                                <span activity-deck-comment ng-if="activity.activityType == 'deckComment'"></span>
                                <span activity-forum-post ng-if="activity.activityType == 'forumPost'"></span>
                                <span activity-forum-post-comment ng-if="activity.activityType == 'forumComment'"></span>
                                <span activity-guide ng-if="activity.activityType == 'createGuide'"></span>
                                <span activity-guide-comment ng-if="activity.activityType == 'guideComment'"></span>
                                <span activity-snapshot-comment ng-if="activity.activityType == 'snapshotComment'"></span>
                            </div>
                        </div>
                        <!-- / activity -->
                    </div>
                </div>
<!--
                <div class="col-lg-3">
                    <div class="profile-col-header"><h2>GUIDES</h2></div>
                </div>
-->
            </div>
        </div>
    </div>
</div>