<div class="bg-override sponsors">
    <div class="container sponsor-page">
        <div class="row row-dark m-b-md pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-twitch"></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>Twitch is the world's leading video platform and community for gamers. Experience the best gaming entertainment available anywhere with Twitch.tv. Watch your favourite games and streams around the clock. Whether you are looking for entertainment, to improve your game, or to broadcast your antics to the world - twitch is the place for you.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="http://www.twitch.tv/" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/twitch" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/Twitch" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
        <div class="row row-dark m-b-md pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-g2a"></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>G2A.com is a digital games marketplace. With G2A you gain access to your favourite games and services at incredible prices. For full games on Steam and Origin to game cards for your favourite services like PSN, X-Box Live and, of course, time-cards for top games. G2A has everything you're looking for.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="https://www.g2a.com/" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/g2a_com" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/g2acom" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
        <div class="row row-dark m-b-md pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-namecheap"></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>Namecheap works hard to provide unparalleled levels of service, security and support. They strive to offer intuitive products at the most competitive prices in the business. Namecheap never bombards their clients with unwanted upsells or in-your-face advertising. Their goal is to be honest, straightforward, friendly and helpful. And that's all.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="https://www.namecheap.com/" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/namecheap" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/Namecheap" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
        <div class="row row-dark  pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-func"></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>Func will once again redefine the gaming experience with cutting edge products to make history for a second time. In 2012, Func decided it was time to revamp the look and feel of the brand and give it a fresh image. But bringing Func back to you is so much more than cosmetic changes, it’s about enhancing your gaming experience in a more meaningful way. We want to make a difference in performance, just like we did back in the day, and we want to do it in an honest and trustworthy way.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="http://www.func.net/" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/func" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/func" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
    </div>
</div>