<div class="container-fluid team-banner team-banner-csgo">
    <img src="{{app.cdn}}img/team/csgo-logo.png" class="img-responsive" alt="CS:GO">
</div>

<div class="container team-page">  
    <div class="m-t-lg m-b-md">
        <div class="team-member" ng-class="{active: ryx}">
            <a href="#" class="team-member-photo" ng-click="ryx = !ryx"><img src="{{app.cdn}}img/team/ryx.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>ryx</h1>
                <h3>Ronnie Bylicki</h3>
                <p>Hey everyone, my name is Ronnie. I am the current leader of Tempo Storm’s CS:GO team and a regular streamer on twitch.tv. I started playing Counter-Strike in the summer of 2003, but I didn't play competitively until 2006 when I found discovered ESEA and became the player I am today. A quote that I live by is "Be humble, hungry, and always be the hardest worker in the room." My love for CS:GO is hard to match, I always give 110% whether I'm playing for fun or gunning for first place in the grand finals of a tournament. My role on the team is the main fragger, but I also play a variety of positions on each map allowing me to run around and make plays. I am also second in line (behind stanislaw) to be the IGL (In Game Leader). Over the last few years I have played  ESEA-invite a total of 4 seasons. During this time I won ESEA-main twice, placed second in ESEA-main, and won ESEA-open while remaining undefeated.</p>
                <div class="team-member-buttons clearfix">
                    <a href="https://twitter.com/TempoRyx" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.twitch.tv/KingRonnie" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                    <a href="http://play.esea.net/users/327819" target="_blank" class="btn btn-team btn-team-esea"></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="ryx = !ryx"><i class="fa" ng-class="{'fa-angle-down': !ryx, 'fa-angle-up': ryx}"></i></a>
        </div>
    </div>
    <div class="m-t-md m-b-md">
        <div class="team-member" ng-class="{active: stanislaw}">
            <a href="#" class="team-member-photo" ng-click="stanislaw = !stanislaw"><img src="{{app.cdn}}img/team/stanislaw.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>Stanislaw</h1>
                <h3>Peter Jarguz</h3>
                <p>Stanislaw first began playing competitive CS in 2012 towards the end of the 1.6 era. Upon the release of CSGO, he slowly transitioned and adapted to the new style of gameplay and began competing competitively once again in 2014. This was a standout year for Stanislaw, as he led his former team to an ESEA-IM championship, a 2nd place finish at the ESWC Montreal LAN Qualifier, as well as an invite to the first ever ESEA-P division. It was during this season where he established himself as one of the most consistent players in the division.</br>
</br>
It wasn’t long before he was approached by an ESEA-Invite team, where he gained valuable experience against some of the best talent in North America. Stanislaw’s stint in Invite only lasted a short while, and soon after joined forces with ryx & company in ESEA-P, helping them achieve 1st place with an undefeated record of 19-0. Now Stanislaw is once again at the highest level of competitive CSGO, competing against the best players in North America with team Tempo Storm.</p>
                <div class="team-member-buttons clearfix">
                    <a href="https://www.twitter.com/TempoStanislaw" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.twitch.tv/stan_csgo" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                    <a href="http://play.esea.net/users/408263" target="_blank" class="btn btn-team btn-team-esea"></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="stanislaw = !stanislaw"><i class="fa" ng-class="{'fa-angle-down': !stanislaw, 'fa-angle-up': stanislaw}"></i></a>
        </div>
    </div>
    <div class="m-t-md m-b-md">
        <div class="team-member" ng-class="{active: shazam}">
            <a href="#" class="team-member-photo" ng-click="shazam = !shazam"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/team/shazam.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>ShahZaM</h1>
                <h3>ShahZeb Khan</h3>
                <p>
                    Hey guys, My name is ShahZeb "ShahZaM" Khan and I am the dedicated AWPer for Tempo/Storm. I've been playing Counter-Strike competitively for well over 7 years. I've played several seasons of professional CS for teams abroad, and I truly enjoy competing. I'm excited to see what I can do for Tempo Storm in the upcoming seasons!
                </p>
                <div class="team-member-buttons clearfix">
                    <a href="https://www.twitter.com/Shahzamcsgo" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/shahzamofficial" target="_blank" class="btn btn-team btn-team-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="http://www.twitch.tv/shahzam" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                    <a href="https://play.esea.net/users/157304" target="_blank" class="btn btn-team btn-team-esea"></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="shazam = !shazam"><i class="fa" ng-class="{'fa-angle-down': !shazam, 'fa-angle-up': shazam}"></i></a>
        </div>
    </div>

    <div class="m-t-md m-b-md">
        <div class="team-member" ng-class="{active: roca}">
            <a href="#" class="team-member-photo" ng-click="roca = !roca"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/team/roca.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>Roca</h1>
                <h3>Daniel Gustaferri</h3>
                <p>
                    My name is Daniel "Roca" Gustaferri, and I'm the entry fragger for Tempo Storm. I've been playing Counter-Strike competitively since about 2010. During my professional career I have player on a variety of ESEA-Invite teams, and have won several national events. I'm extremely excited to see we can do on Tempo Storm.
                </p>
                <div class="team-member-buttons clearfix">
                    <a href="https://twitter.com/TempoRoca" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.twitch.tv/roca2k9" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                    <a href="https://play.esea.net/users/438599" target="_blank" class="btn btn-team btn-team-esea"></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="roca = !roca"><i class="fa" ng-class="{'fa-angle-down': !roca, 'fa-angle-up': roca}"></i></a>
        </div>
    </div>

    <div class="m-t-md m-b-md">
        <div class="team-member" ng-class="{active: rush}">
            <a href="#" class="team-member-photo" ng-click="rush = !rush"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/team/rush.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>RUSH</h1>
                <h3>Will Wierzba</h3>
                <p>My name is Will "RUSH" Wierzba, and I've been playing Counter-Strike since 2012. I made an explosive entrance in CS:S playing for higher caliber teams and have contuned my success into CS:GO . I'm generally the 2nd guy entering the site, alongside rush. I'm super excited to be teaming up with the rest of Tempo Storm CS, and I'm also super excited to see what the future brings. 
                </p>
                <div class="team-member-buttons clearfix">
                    <a href="https://twitter.com/TempoRUSH" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.twitch.tv/RushCS" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                    <a href="https://play.esea.net/users/519503" target="_blank" class="btn btn-team btn-team-esea"></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="rush = !rush"><i class="fa" ng-class="{'fa-angle-down': !rush, 'fa-angle-up': rush}"></i></a>
        </div>
    </div>

    <div class="m-t-md m-b-md">
        <div class="team-member" ng-class="{active: warden}">
            <a href="#" class="team-member-photo" ng-click="warden = !warden"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/team/warden.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>Warden</h1>
                <h3>Matt Dickens</h3>
                <p>Matt “Warden” Dickens needs no introduction for veterans of the CS community.  His time as a competitive CS player marked the reemergence of NA as a powerful contender on the international FPS stage.  His time on the professional scene brought with it a staggering amount of competitive wins and showcased his abilities as a player.  As a coach, Warden brings with him the experience of not only a professional top tier player, but also the understanding of what it takes for a team to break into the international scene.</p>
                <div class="team-member-buttons clearfix">
                    <a href="https://twitter.com/TempoWardino" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.twitch.tv/colwardino" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="warden = !warden"><i class="fa" ng-class="{'fa-angle-down': !warden, 'fa-angle-up': warden}"></i></a>
        </div>
    </div>

    <div class="m-t-md m-b-md">
        <div class="team-member" ng-class="{active: chiznoe}">
            <a href="#" class="team-member-photo" ng-click="chiznoe = !chiznoe"><img src="{{app.cdn}}img/team/chiznoe.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>Chiznoe</h1>
                <h3>Chris Toussaint</h3>
                <p>
                    I’m Chris “Chiznoe” Toussaint and I am the CS:GO manager for Tempo Storm.  Since 2010 I have been following CS:GO professional scene and have been working within the community throughout the years. In that time I have dedicated myself to helping up-and-coming teams and players find homes in the competitive community, including such teams as TEAM4NOT and Tempo Storm (Ascendancy).  In the future I plan to continue pursuing my  passion for esports through my responsibilities at Tempo Storm as we climb to the top of the competitive CS:GO community!<br><br>
                    Follow me on twitter to stay up to date on all the CS:GO action!
                </p>
                <div class="team-member-buttons clearfix">
                    <a href="https://www.twitter.com/TempoChiznoe" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="chiznoe = !chiznoe"><i class="fa" ng-class="{'fa-angle-down': !chiznoe, 'fa-angle-up': chiznoe}"></i></a>
        </div>
    </div>
</div>