
    <div class="sub-nav-wrapper">
        <div class="container-fluid sub-nav" sub-nav>
            <div class="sub-nav-links">
                <ul>
                    <li><a ui-sref="#hs">HEARTHSTONE</a></li>
                    <li><a ui-sref="#hots">HEROES OF THE STORM</a></li>
                    <li><a ui-sref="#cs">COUNTER STRIKE: GO</a></li>
                    <li><a ui-sref="#fgc">FGC</a></li>
                    <li><a ui-sref="#fifa">FIFA</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="bg-override container-fluid">
    <div class="container-fluid-max">
        <div class="teams">
            <h1>HEARTHSTONE</h1>
            <div id="hs" class="team row">
                <div class="member m-b-lg col-lg-3" ng-repeat="member in hsMembers">
                    <div class="outer">
                        <div class="inner">
                            <img src="../../img/team/{{member.photo}}" />
                            <div class="wrapper-md content-wrapper">
                                <h1 class="m-b-xs">{{member.screenName}}</h1>
                                <span class="btn-team-wrapper">
                                    <a ng-if="member.social.twitter" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitter"></i></div></a>
                                    <a ng-if="member.social.twitch" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitch"></i></div></a>
                                    <a ng-if="member.social.youtube" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-youtube"></i></div></a>
                                    <a ng-if="member.social.facebook" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-facebook"></i></div></a>
                                    <a ng-if="member.social.instagram" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-instagram"></i></div></a>
                                    <a ng-if="member.social.esea" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="btn-team-esea"></i></div></a>
                                </span>
                                <h3>{{member.fullName}}</h3>
                                <p class="flex-col">{{getDescription(member.description)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="hots" class="team col-lg-12">
                <h1>HEROES OF THE STORM</h1>
                <div class="member m-b-lg col-lg-3" ng-repeat="member in hotsMembers">
                    <div class="outer">
                        <div class="inner">
                            <img src="../../img/team/{{member.photo}}" />
                            <div class="wrapper-md content-wrapper">
                                <h1 class="m-b-xs">{{member.screenName}}</h1>
                                <span class="btn-team-wrapper">
                                    <a ng-if="member.social.twitter" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitter"></i></div></a>
                                    <a ng-if="member.social.twitch" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitch"></i></div></a>
                                    <a ng-if="member.social.youtube" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-youtube"></i></div></a>
                                    <a ng-if="member.social.facebook" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-facebook"></i></div></a>
                                    <a ng-if="member.social.instagram" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-instagram"></i></div></a>
                                    <a ng-if="member.social.esea" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="btn-team-esea"></i></div></a>
                                </span>
                                <h3>{{member.fullName}}</h3>
                                <p class="flex-col">{{getDescription(member.description)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="cs" class="team col-lg-12">
                <h1>COUNTER STRIKE: GO</h1>
                <div class="member m-b-lg col-lg-3" ng-repeat="member in csMembers">
                    <div class="outer">
                        <div class="inner">
                            <img src="../../img/team/{{member.photo}}" />
                            <div class="wrapper-md content-wrapper">
                                <h1 class="m-b-xs">{{member.screenName}}</h1>
                                <span class="btn-team-wrapper">
                                    <a ng-if="member.social.twitter" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitter"></i></div></a>
                                    <a ng-if="member.social.twitch" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitch"></i></div></a>
                                    <a ng-if="member.social.youtube" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-youtube"></i></div></a>
                                    <a ng-if="member.social.facebook" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-facebook"></i></div></a>
                                    <a ng-if="member.social.instagram" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-instagram"></i></div></a>
                                    <a ng-if="member.social.esea" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="btn-team-esea"></i></div></a>
                                </span>
                                <h3>{{member.fullName}}</h3>
                                <p class="flex-col">{{getDescription(member.description)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="fgc" class="team col-lg-12">
                <h1>FIGHTING GAME COMMUNITY</h1>
                <div class="member m-b-lg col-lg-3" ng-repeat="member in fgcMembers">
                    <div class="outer">
                        <div class="inner">
                            <img src="../../img/team/{{member.photo}}" />
                            <div class="wrapper-md content-wrapper">
                                <h1 class="m-b-xs">{{member.screenName}}</h1>
                                <span class="btn-team-wrapper">
                                    <a ng-if="member.social.twitter" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitter"></i></div></a>
                                    <a ng-if="member.social.twitch" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitch"></i></div></a>
                                    <a ng-if="member.social.youtube" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-youtube"></i></div></a>
                                    <a ng-if="member.social.facebook" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-facebook"></i></div></a>
                                    <a ng-if="member.social.instagram" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-instagram"></i></div></a>
                                    <a ng-if="member.social.esea" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="btn-team-esea"></i></div></a>
                                </span>
                                <h3>{{member.fullName}}</h3>
                                <p class="flex-col">{{getDescription(member.description)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="fifa" class="team col-lg-12">
                <h1>FIFA</h1>
                <div class="member m-b-lg col-lg-3" ng-repeat="member in fifaMembers">
                    <div class="outer">
                        <div class="inner">
                            <img src="../../img/team/{{member.photo}}" />
                            <div class="wrapper-md content-wrapper">
                                <h1 class="m-b-xs">{{member.screenName}}</h1>
                                <span class="btn-team-wrapper">
                                    <a ng-if="member.social.twitter" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitter"></i></div></a>
                                    <a ng-if="member.social.twitch" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-twitch"></i></div></a>
                                    <a ng-if="member.social.youtube" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-youtube"></i></div></a>
                                    <a ng-if="member.social.facebook" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-facebook"></i></div></a>
                                    <a ng-if="member.social.instagram" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="fa fa-instagram"></i></div></a>
                                    <a ng-if="member.social.esea" class="m-r-xs btn-team"><div class="btn-team-inner"><i class="btn-team-esea"></i></div></a>
                                </span>
                                <h3>{{member.fullName}}</h3>
                                <p class="flex-col">{{getDescription(member.description)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>