<div class="container-fluid team-banner team-banner-fgc">
    <img src="./img/team/fgc-logo.png" class="img-responsive" alt="fgc">
</div>

<div class="container team-page">
    <div class="m-t-lg m-b-md">
        <div class="team-member" ng-class="{active: chrisg}">
            <a href="#" class="team-member-photo" ng-click="chrisg = !chrisg"><img src="https://s3-us-west-2.amazonaws.com/ts-node2/img/team/chrisg.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>ChrisG</h1>
                <h3>Christopher Gonzalez</h3>
                    <p>Chris G is arguably one of the most storied Fighting Game players in the U.S., if not the world. His prowess as a FG player is unquestioned and features a list of major tournament wins that is too long to count. Described as one of the best Ultimate Marvel vs Capcom 3 (UMVC3) players in the world, Chris is well known for his ability to take an impossible situation and turn it into a win.   <br/>
<br/>
Currently Chris is playing Ultimate Marvel Vs. Capcom 3, Ultra Street Fighter 4, Mortal Combat X, and many others.</p>
                <div class="team-member-buttons clearfix">
                    <a href="https://www.facebook.com/christopher.gonzalez.5477" target="_blank" class="btn btn-team btn-team-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/nychrisg" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/user/NYChrisG" target="_blank" class="btn btn-team btn-team-youtube"><i class="fa fa-youtube"></i></a>
                    <a href="http://www.twitch.tv/nychrisg" target="_blank" class="btn btn-team btn-team-twitch"><i class="fa fa-twitch"></i></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="chrisg = !chrisg"><i class="fa" ng-class="{'fa-angle-down': !chrisg, 'fa-angle-up': chrisg}"></i></a>
        </div>
    </div>
</div>