<div class="container-fluid team-banner team-banner-fifa">
    <img src="../img/team/fifa-logo.png" class="img-responsive" alt="FIFA">
</div>

<div class="container team-page">
    <div class="m-t-lg m-b-md">
        <div class="team-member" ng-class="{active: basu}">
            <a href="#" class="team-member-photo" ng-click="basu = !basu"><img src="{{app.cdn}}/img/team/basu.jpg" class="img-responsive img-circle"></a>
            <div class="team-member-content">
                <h1>Santanu Basu</h1>
                    <p> Santanu Basu is arguably the definition of a professional gamer. With over 50 local tournament wins, and a variety of high placing in international competitions, he has become one of the leading members of the esports scene in India. His personal journey to the top of the India gaming world is simply inspiring. From sleeping in the streets, to hitchhiking to events, Santanu had no support to pursue what he loves and yet overcame all the odds. Local and International newspapers alike have reported on his amazing journey.<br/>  
    <br/>
    Currently Santanu plays FIFA 2015 and plans on streaming regularly in the future.  <br/>
    <br/>
    Notable Accomplishments<br/>
    1st - Vconnect India 2014<br/>
    Top 8 - AFGC Malaysia 2014<br/>
    3rd - MTGSE Malaysia<br/>
    3rd - SCOGA Singapore<br/>
    3rd - IET 2014<br/>
    2013 PES World Finalist<br/>
    Rank top 40 player in the world in FIFA Online </p>
                <div class="team-member-buttons clearfix">
                    <a href="https://www.facebook.com/sbasu10" target="_blank" class="btn btn-team btn-team-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.twitter.com/shaanthegame" target="_blank" class="btn btn-team btn-team-twitter"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <a href="#" class="team-member-toggle" ng-click="basu = !basu"><i class="fa" ng-class="{'fa-angle-down': !basu, 'fa-angle-up': basu}"></i></a>
        </div>
    </div>
</div>