<div class="bg-override">
    <!-- section banner -->
    <div class="container-fluid section-banner">
        <div class="container-fluid-max section-articles clearfix">
            <h1 class="section-title pull-left">ARTICLES</h1>
            <div class="section-search pull-right">
                <form name="search-form">
                    <div class="input-group">
                        <input type="text" 
                               class="form-control input-dark" placeholder="search..."
                               ng-model="search"
                               ng-keyup="queryOnEmpty(search)">
                        <span class="input-group-btn">
                            <button type="submit" class="btn input-dark" ng-click="getArticles()">
                                <span ng-if="!fetching">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span ng-if="fetching">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / section banner -->
    <div class="container-fluid container-fluid-max min400">

        <div class="clearfix">
            <div class="article-filters m-t-lg pull-left">
                <ul>
                    <li ng-repeat="type in articleTypes track by $index">
                        <button ng-click="toggleArticleFilter(type)" 
                                style="background-position: -{{$index*40}}px" 
                                ng-class="{ active: isArticleFilter(type) }">
                            {{type}}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <!-- page flipping -->
                <div pagination="articlePagination" theme="default" class="default m-t-lg"></div>
                <!-- / page flipping -->
            </div>
        </div>

        <!-- articles -->
        <div class="articles-list m-t-lg">
            <!-- article -->
        
            <!-- first fullwidth plg -->

            <div class="row fullwidth-plg-div ts-plg clearfix hidden-sm hidden-xs article-plg-fix">
                <div class="col-lg-6 col-md-12 plg-long">
                    <div class="plg-leader img-responsive"></div>
                </div>
                <div class="col-lg-6 col-md-12 plg-long">
                    <div class="plg-leader img-responsive"></div>
                </div>
            </div>

            <!-- first fullwidth plg ends -->
            
            <div class="row no-pad">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="article in articles | orderBy: '-createdDate' track by $index">
                    <div class="article-wrapper m-b-md">
                        <article-thumb article="article" />
                    </div>
                </div>
            </div>
            <!-- / article -->
        </div>

        <p ng-if="!articles.length" class="darkbox white p-md">There are no results for your search.</p>
        <!-- / articles -->

        <!-- page flipping -->
        <div pagination="articlePagination" theme="default" class="default"></div>
        <!-- / page flipping -->
    </div>
</div>