<div class="container-fluid contact-banner">
    <div class="container">
        <h1 class="section-title pull-left">CONTACT TEMPO STORM</h1>
    </div>
</div>

<div class="container m-t-md m-b-md">
    <div class="contact-wrapper">
        <p>Are you an aspiring writer and Hearthstone player? Do you have ideas and opinions that you want to share with the Hearthstone community? Would you like to be paid for your work? Tempo Storm is looking for passionate Hearthstone writers to join our staff! Send a resume, cover letter, and writing sample to <a href="mailto:editor@tempostorm.com">editor@tempostorm.com</a>. </br></br>Do you have an issue with your Tempo Storm account, question about your subscription, or some other website related problem? </br>Contact <a href="mailto:admin@tempostorm.com">admin@tempostorm.com</a>.</p>
       </br>
    <p>Please send all business inquires to <a href="mailto:Reynad@tempostorm.com">Reynad@tempostorm.com</a>.</p>
    </div>
</div>
