<!-- game buttons -->
<div class="container-fluid padding-none">
    <div class="row no-pad games-btns">
        <div class="col-xs-12 col-sm-3">
            <a ui-sref="app.hs.home" class="games-btn games-btn-hs">
                <span class="middle-helper"></span>
                <div class="games-btn-back"></div>
                <img ng-src="{{app.cdn}}img/hs/hs-logo.png" class="games-btn-logo img-responsive">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3">
            <a ui-sref="app.hots.home" class="games-btn games-btn-hots">
                <span class="middle-helper"></span>
                <div class="games-btn-back"></div>
                <img ng-src="{{app.cdn}}img/hots/hots-logo.png" class="games-btn-logo img-responsive">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3">
            <a ui-sref="app.overwatch.home" class="games-btn games-btn-overwatch">
                <span class="middle-helper"></span>
                <div class="games-btn-back"></div>
                <img ng-src="{{app.cdn}}img/overwatch/overwatch-logo-isolation-small.png" class="games-btn-logo img-responsive">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3">
            <a href="http://store.tempostorm.com" target="_blank" class="games-btn games-btn-ts-store">
                <span class="middle-helper"></span>
                <div class="games-btn-back"></div>
                <img ng-src="{{app.cdn}}img/ts-store.png" class="games-btn-logo img-responsive" src="https://cdn-tempostorm.netdna-ssl.com/img/ts-store.png">
            </a>
        </div>
    </div>
</div>
<!-- / game buttons -->

<!-- sub nav -->
<div class="sub-nav-wrapper hidden-xs">
    <div class="container-fluid sub-nav" sub-nav>
        <sub-nav-stream class="pull-left"></sub-nav-stream>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hs.snapshot.redirect">META SNAPSHOT</a></li><li><a ui-sref="app.hs.deckBuilder.class">DECK BUILDER</a></li><li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li><li style="border-right: 0px;"><a target="_blank" ng-href="http://store.tempostorm.com" href="http://store.tempostorm.com">STORE</a></li>
                <li style="border-left: none"><a target="_blank" ng-href="http://tempostorm.com" href="http://tempostorm.com"><subnav-redbull></subnav-redbull></a></li>
            </ul>
            
        </div>
    </div>
</div>
<!-- /sub nav -->

<!-- content -->
<div class="container-fluid padding-none home-dark home-img-back">
    
    <!-- articles -->
    <div class="home-articles">
        <button class="home-articles-prev" ng-class="{ 'hidden': !canArticlePrev() }" ng-click="prevArticles()"><span class="fa fa-angle-left"></span></button>
        <button class="home-articles-next" ng-class="{ 'hidden': !canArticleNext() }" ng-click="nextArticles()"><span class="fa" ng-class="{ 'fa-angle-right': articles.loading != 'next', 'fa-refresh fa-spin': articles.loading == 'next' }"></span></button>
        
        <div class="home-articles-wrapper" home-articles data-viewable="articles.viewable()" data-offset="articles.offset" data-size="articles.data.length">
            <div class="home-articles-inner">
                <div class="home-article-wrapper" ng-repeat="article in articles.data | orderBy: '-createdDate' track by $index">
                    <article-thumb article="article" />
                </div>
            </div>
        </div>
    </div>
    
    <!-- / articles -->
    <ts-ad structure="double"></ts-ad>
  
    <div class="home-content">
        
        <!-- first fullwidth plg -->
            
<!--
        <div class="row fullwidth-plg-div ts-plg clearfix hidden-sm hidden-xs">
            <div class="col-lg-6 col-md-12 plg-long">
                <div class="plg-leader img-responsive"></div>
            </div>
            <div class="col-lg-6 col-md-12 plg-long">
                <div class="plg-leader img-responsive"></div>
            </div>
        </div>
-->
            
        <!-- first fullwidth plg ends -->
        
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">TEMPOSTORM RESOURCES</h1>
                <h3 class="sub-title m-b-md">Amazing tools to help you up your game</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 m-b-md col-lg-20p">
                                <a ui-sref="app.hs.snapshot.redirect" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/metasnapshot.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>THE META SNAPSHOT</h1>
                                        <p>GET AHEAD OF THE META WITH TEMPOSTORM</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 m-b-md hidden-xs col-lg-20p col-lg-20p-push">
                                <a ui-sref="app.hs.redbull.home" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/sealed-resource.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>BUILD A SEALED DECK</h1>
                                        <p>DRAFT PICK TO CREATE A LEGENDARY DECK</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4 m-b-md hidden-xs col-lg-20p col-lg-20p-pull">
                                <a ui-sref="app.hs.deckBuilder.class" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/deckbuilder.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>DECK BUILDER</h1>
                                        <p>START CONTRIBUTING DECKS TODAY</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4 m-b-md hidden-xs col-lg-20p">
                                <a ui-sref="app.hots.talentCalculator.redirect" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/talentcalculator.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>TALENT CALCULATOR</h1>
                                        <p>GET AHEAD OF THE META WITH TEMPOSTORM</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4 m-b-md hidden-xs col-lg-20p">
                                <a ui-sref="app.hots.guideBuilder.step1" class="home-resource">
                                    <div class="inner"></div>
                                    <img ng-src="{{app.cdn}}img/heroguide.jpg" class="img-responsive">
                                    <div class="home-resource-content">
                                        <h1>GUIDE BUILDER</h1>
                                        <p>ADD YOUR GUIDE TO THE COMMUNITY</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="row">
                     <div class="col-sm-12 col-lg-6 m-b-sm">
                        <a target="_blank" href="https://www.g2a.com/r/tempo-storm">
                            <img class="ts-outline img-responsive home-spons" src="/img/g2a-sponsor-link.jpg">
                        </a>
                    </div>
                    <div class="col-sm-12 col-lg-6 hidden-xs m-b-sm">
                        <a target="_blank" href="http://www.intotheam.com/collections/tempo-storm?rfsn=125665.33ecb">
                            <img class="ts-outline img-responsive home-spons" src="/img/store-link.jpg">
                        </a>
                    </div>  
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h1 class="title m-t-md">TEMPOSTORM TV</h1>
                        <h3 class="sub-title m-b-md">Check out who is streaming right now</h3>
                        <div tempostorm-tv></div>
                        <h1 class="title m-t-md">VIDEO OF THE DAY</h1>
                        <div video-of-the-day></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h1 class="title m-t-md">TWITTER FEED</h1>
                        <h3 class="sub-title m-b-md">Join the conversation on Twitter</h3>
                        <div twitter-feed></div>
                    </div>
                </div>
                <ts-ad class="m-t-md container" structure="single"></ts-ad>
            </div>
            
        </div>
    </div>
</div>
<!-- / content -->