<!-- title -->
<div class="container-fluid hots-home-title">
    <img ng-src="{{app.cdn}}img/hots/hots-logo.png" class="hots-home-logo img-responsive">
</div>
<!-- /title -->

<!-- sub nav -->
<div class="sub-nav-wrapper hidden-xs">
    <div class="container-fluid sub-nav" sub-nav>
        <sub-nav-stream class="pull-left"></sub-nav-stream>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li><li><a ui-sref="app.hots.guides.list">GUIDES</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<!-- filtering -->
<div hots-filtering heroes="heroes" maps="maps" filters="filters"></div>

<!-- / filtering -->
<div class="container-fluid hots-dark text-center">
    <a ui-sref="app.hots.guideBuilder.step1" class="btn btn-hots m-r-md m-b-lg"><div class="inner">CREATE A GUIDE</div></a>
    <a ui-sref="app.hots.guides.list" class="btn btn-hots m-b-lg"><div class="inner">FIND A GUIDE</div></a>
</div>



<!-- content start -->
<div class="container-fluid hots-content hots-dark">
    <div class="row no-pad">
        
        <div class="row fullwidth-plg-div ts-plg clearfix hidden-sm hidden-xs">
            <div class="col-lg-6 col-md-12 plg-long">
                <ts-ad structure="single"></ts-ad>
            </div>
            <div class="col-lg-6 col-md-12 plg-long">
                <ts-ad structure="single"></ts-ad>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h1 class="title">HEROES OF THE STORM ARTICLES</h1>
            <h3 class="sub-title m-b-md">The latest articles on all things Heroes of the Storm</h3>
            <div class="row no-pad" ng-if="articles.length">
                <div class="col-xs-12 col-sm-6 pos-rl" ng-repeat="article in articles | orderBy: '-createdDate'">
                    <div class="m-r-sm m-b-sm">
                        <article-thumb article="article" />
                    </div>
                </div>
            </div>
            <p class="white" ng-if="!articles.length">There are no articles for the filtering above.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="row no-pad">
                <div class="col-xs-12 col-sm-6">
                    <div class="m-r-sm">
                        <h1 class="title">TEMPOSTORM GUIDES</h1>
                        <h3 class="sub-title m-b-md">Guides from Team Tempo Storm</h3>
                        <ul class="hots-guides" ng-if="guidesFeatured.length">
                            <li ng-repeat="guide in guidesFeatured | orderBy: '-createdDate'">
                                <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide small {{getGuideClass(guide)}}">
                                    <div class="inner"></div>
                                    <div class="hots-guide-premium" ng-if="isPremium(guide)"></div>
                                    <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
                                    <h1>{{guide.name}}</h1>
                                    <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                                    <div class="hots-guide-votes">{{guide.voteScore}}</div>
                                    <div class="hero-flip btn-group" ng-if="guide.guideHeroes.length > 1">
                                        <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                        <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                                    </div>
                                    <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 1, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 1, true).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 4, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 4, true).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 7, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 7, true).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 10, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 10, true).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 13, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 13, true).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 16, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 16, true).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 20, true).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 20, true).name}}"></li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                        <p class="white" ng-if="!guidesFeatured.length">There are no guides for the filtering above.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="m-r-sm">
                        <h1 class="title">COMMUNITY GUIDES</h1>
                        <h3 class="sub-title m-b-md">Guides from the Community</h3>
                        <ul class="hots-guides" ng-if="guidesCommunity.length">
                            <li ng-repeat="guide in guidesCommunity">
                                <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide small {{getGuideClass(guide)}}">
                                    <div class="inner"></div>
                                    <div class="hots-guide-premium" ng-if="isPremium(guide)"></div>
                                    <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
                                    <h1>{{guide.name}}</h1>
                                    <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                                    <div class="hots-guide-votes">{{guide.voteScore}}</div>
                                    <div class="hero-flip btn-group" ng-if="guide.guideHeroes.length > 1">
                                        <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                        <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                                    </div>
                                    <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 1, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 1, false).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 4, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 4, false).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 7, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 7, false).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 10, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 10, false).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 13, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 13, false).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 16, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 16, false).name}}"></li>
                                        <li class="talents-icon active {{getGuideClass(guide)}} {{getTierTalent(getGuideCurrentHero(guide), guide, 20, false).className}}" ng-tooltip data-original-title="{{getTierTalent(getGuideCurrentHero(guide), guide, 20, false).name}}"></li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                        <p class="white" ng-if="!guidesCommunity.length">There are no guides for the filtering above.</p>
                    </div>
                </div>
            </div>
            
            <div class="row fullwidth-plg-div ts-plg clearfix hidden-sm hidden-xs">
                <div class="col-lg-12 plg-long">
                    <ts-ad structure="single"></ts-ad>
                </div>
            </div>
            
        </div>
        
        
    
        
        
    </div>
</div>
<!-- content end -->

<!-- content footer -->
<div class="container-fluid ts-content ts-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1 class="title">VIDEO OF THE DAY</h1>
            <div video-of-the-day></div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1 class="title">TEMPOSTORM TV</h1>
            <h3 class="sub-title m-b-md">Check out who is streaming right now</h3>
            <div tempostorm-tv></div>
        </div>
    </div>
</div>
<!-- /content footer -->