<span class="hots-guide-styles-new">
<div class="sub-nav-wrapper hidden-xs">
        <div class="container-fluid sub-nav" sub-nav>
            <div class="swap-to pull-right"></div>
            <div class="sub-nav-links">
                <ul>
                    <li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li><li><a ui-sref="app.hots.guides.list">GUIDES</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="guide-page">

    <div class="container-fluid container-dark">

        
        <!-- header -->
        
        <div class="row m-t-md">
            <div class="container">
                <div class="padding-none guide-header">
                    <div class="col-md-12 col-lg-7 guide-header-inner clearfix">
                        <div class="pull-left">
                            <h1>{{guide.name}}</h1>
                            <p>by <a href="./user/{{guide.author.username}}" class="m-r-lg">@{{guide.author.username}}</a>Posted: {{guide.createdDate | date:'mediumDate'}}</p>
                        </div>
                    </div>
                    <!-- guide heroes -->
                    <div class="col-md-12 col-lg-5 m-t-md guide-heroes clearfix" ng-if="guide.guideType == 'hero'">
                        <div class="guide-hero-wrapper guide-heroes-static" ng-repeat="hero in justHeroes().reverse()">
                            <div class="guide-hero" ng-class="{ active: hero == getCurrentHero() }">
                                <a href="#" ng-click="setCurrentHero(hero)">
                                    
                                    <div class="guide-hero-image {{hero.hero.className}}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- / guide heroes -->
                </div>
            </div>
        </div>
            <div class="row dark-background"> <!-- ADD BACKGROUND HERE -->
                <div class="container">
            <!-- guide talents -->
                    <div class="guide-section" ng-if="guide.guideType == 'hero'">
                        
                        <div class="" ng-show="show.talents">
                            <!-- hero talents -->
                            <div class="col-lg-8 col-md-12 guide-talents clearfix" ng-repeat="hero in [getCurrentHero()]">
                                <div class="guide-talent-wrapper m-t-lg m-b-lg" ng-repeat="talent in currentTalents track by $index">
                                    <div class="guide-talent">
                                        <div class="guide-talent-level"><span class="hidden-xs hidden-sm">LEVEL </span>{{talent.tier}}</div>
                                        <div class="guide-talent-icon talents-icon active {{hero.hero.className}} {{talent.talent.className}} {{isLarge}}" talent-icon-md hots-talent hero="hero" talent="talent.talent"></div>
                                        <div class="guide-talent-dots hidden-xs">
                                            <div class="guide-talent-dot" ng-class="{ active: selectedTalent(hero, talent.tier, dot) }" ng-repeat="dot in getTalents(hero, talent.tier)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / hero talents -->
                            <!-- / hero image -->
                            <div class="col-lg-4 hidden-md hidden-sm hidden-xs hero-image-section">
                                <img ng-src="../img/hots/modal/heroes/{{getCurrentHero().hero.className}}.png" class="talents-hero-image">
                            
                            </div>
                            <!-- / hero image -->
                        </div>
                    </div>
                </div>
                <!-- / guide talents -->
            </div>
        </div>
        <!-- / header -->
    <div class="container">
        <div class="row m-t-md">
                
            <!-- guide left -->
            <div class="col-md-12 col-lg-6 m-t-lg">

                <!-- guide map image -->
                <div class="m-t-md" ng-if="guide.guideType == 'map'">
                    <img ng-src="./img/hots/maps/guides/headers/{{guide.maps[0].className}}.jpg" class="guide-map-header img-responsive">
                </div>
                <!-- / guide map image -->

                <!-- guide description -->
                <div class="guide-section text-section">
                    <div class="guide-section-title clearfix">
                        <h3 class="pull-left">{{guide.name}}</h3>
                        <div class="m-l-md m-r-md pull-right">
                            
                        </div>
                    </div>
                    <div class="guide-section-content" ng-show="show.description">
                        <p class="m-b-none">{{guide.description}}</p>
                    </div>
                </div>
                <!-- / guide description -->

                <div class="guide-subscribe" ng-if="isPremium() && !isUser.premium && !isUser.admin && !isUser.contentProvider">
                    <div premium-page></div>
                </div>

                <!-- guide -->
                <div ng-if="!isPremium() || isUser.premium || isUser.contentProvider || isUser.admin">

                    

                    

                    

                    <!-- guide-gameplay -->
                    <div class="guide-section text-section" ng-repeat="content in guide.content">
                        <div class="guide-section-title clearfix">
                            <h3 class="pull-left guide-content-title">{{content.title}}</h3>
                            <div class="m-l-md m-r-md pull-right">
                                
                            </div>
                        </div>
                        <div class="guide-section-content">
                            <p class="m-b-none pos-rl" ng-bind-html="getContent(content.body)"></p>
                        </div>
                    </div>
                    <!-- / guide-gameplay -->
                </div>
                <!-- / guide -->
            </div>
            <!-- / guide left -->
            
            <!-- guide right -->
            <div class="col-md-12 col-lg-6 m-t-lg">
                
                    <!-- guide video -->
                    <div class="guide-section" ng-if="guide.video && guide.video.length">
                        <div class="guide-section-title clearfix">
                            <h3 class="pull-left">VIDEO</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                
                            </div>
                        </div>
                        <div class="guide-section-content ts-background">
                            <div class="guide-video" ng-bind-html="getVideo()"></div>
                        </div>
                    </div>
                    <!-- / guide video -->
               
                <!-- guide maps -->
                    <div class="guide-section map-section" ng-show="guide.maps.length" ng-if="guide.guideType == 'hero'">
                        <div class="guide-section-title map-section clearfix">
                            <h3 class="pull-left">MAPS</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                
                            </div>
                        </div>
                        <div class="guide-section-content ts-background">
                            <div class="guide-maps clearfix">
                                <img src="../img/hots/maps/modal/{{map.className}}.jpg" class="guide-map" ng-repeat="map in maps" ng-if="hasMap(map)" hots-map>
                            </div>
                        </div>
                    </div>
                    <!-- / guide maps -->
                <!-- guide matchups -->
                    <div class="guide-section" ng-show="guide.synergy.length || guide.against.strong.length || guide.against.weak.length">
                        
                        <div class="guide-section-content matchup-section" ng-show="show.matchups">
                            <div class="guide-matchups row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="guide-synergy">
                                        <h4>SYNERGY</h4>
                                        
                                    </div>
                                    <ul class="hero-list" ng-if="guide.synergy.length">
                                        <li ng-repeat="hero in heroes" ng-if="hasSynergy(hero)"><a href="#" class="{{hero.className}}" hots-hero>{{hero.name}}</a></li>
                                    </ul>
                                    <p class="white wrapper-sm" ng-if="!guide.synergy.length">No heroes were selected for synergy.</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="guide-strong">
                                        <h4 ng-if="guide.guideType == 'hero'">STRONG AGAINST</h4>
                                        
                                        <h4 ng-if="guide.guideType == 'map'">STRONG ON MAP</h4>
                                        
                                    </div>
                                    <ul class="hero-list" ng-if="guide.against.strong.length">
                                        <li ng-repeat="hero in heroes" ng-if="hasStrong(hero)"><a href="#" class="{{hero.className}}" hots-hero>{{hero.name}}</a></li>
                                    </ul>
                                    <p class="white wrapper-sm" ng-if="!guide.against.strong.length">No heroes were selected for strong against.</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="guide-weak">
                                        <h4 ng-if="guide.guideType == 'hero'">WEAK AGAINST</h4>
                                        
                                        <h4 ng-if="guide.guideType == 'map'">WEAK ON MAP</h4>
                                        
                                    </div>
                                    <ul class="hero-list" ng-if="guide.against.weak.length">
                                        <li ng-repeat="hero in heroes" ng-if="hasWeak(hero)"><a href="#" class="{{hero.className}}" hots-hero>{{hero.name}}</a></li>
                                    </ul>
                                    <p class="white wrapper-sm" ng-if="!guide.against.weak.length">No heroes were selected for weak against.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / guide matchups -->
                    <div class="guide-section related-guides-section">
                        <div class="guide-section-title related-guides clearfix">
                            <h3 class="pull-left">Other {{getCurrentHero().hero.className  | uppercase }} Guides</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                
                            </div>
                        </div>
                        <div class="guide-section-content">
                            <div class="clearfix">
                                This is a guide
                            </div>
                        </div>
                        
        
                    </div>

                

            </div>
            <!-- / guide right -->
        </div>
        <div class="row m-t-md">
            <div class="col-lg-6 col-md-12">
                <!-- comments -->
                <comment-section commentable="guide" service="Guide"></comment-section>
                <!-- / commments -->
            </div>
        </div>
    </div>
</div>
</span>