<div class="hots-modal hidden-xs">
    <div class="hots-modal-top-glow"></div>
    <div class="hots-modal-bot-glow"></div>
    <div class="hots-modal-inner">
        <div class="hots-talent-icon talents-icon large active {{hero.className}} {{talent.className}}"></div>
        <div ng-if="talent.className !== 'missing'">
            <div class="talent-text">
                <h1 class="m-b-md">{{talent.name}}</h1>
                <p>{{talent.description}}</p>
            </div>
        </div>
        <div ng-if="talent.className === 'missing'">
            <div class="talent-text">
                <h1 class="m-b-md">{{talent.name}}</h1>
                <p>Oops! We can't find the talent you are looking for, chances are it got updated in a previous patch and no longer exists.</p>
            </div>
        </div>
    </div>
</div>