<div class="hots-modal hidden-xs">
    <div class="hots-modal-top-glow"></div>
    <div class="hots-modal-bot-glow"></div>
    <div ng-if="hero.hero" class="hots-modal-inner heroes-modal">
        <div class="hero {{hero.hero.className}}"></div>
        <div class="hots-modal-hero">
            <h1 class="m-b-none">{{hero.hero.name}}</h1>
            <p class="title m-b-md">{{hero.hero.heroType}} {{hero.hero.role}}</p>
            <p class="description">{{hero.hero.description}}</p>
            <div class="universe {{hero.hero.universe.toLowerCase()}}"></div>
        </div>
    </div>
  
    <div ng-if="!hero.hero" class="hots-modal-inner heroes-modal">
        <div class="hero {{hero.className}}"></div>
        <div class="hots-modal-hero">
            <h1 class="m-b-none">{{hero.name}}</h1>
            <p class="title m-b-md">{{hero.heroType}} {{hero.role}}</p>
            <p class="description">{{hero.description}}</p>
            <div class="universe {{hero.universe.toLowerCase()}}"></div>
        </div>
    </div>
</div>