<!-- sub nav -->
<div class="sub-nav-wrapper sticky hidden-xs">
    <div class="container-fluid sub-nav sticky">
        <div class="now-streaming pull-left">
            
        </div>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hots.talentCalculator.redirect">TALENT CALCULATOR</a></li><li><a ui-sref="app.hots.guideBuilder.step1">GUIDE BUILDER</a></li><li><a ui-sref="app.hots.guides.list">GUIDES</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<div class="hots-dark">
    <!-- filtering -->
    <div hots-filtering heroes="heroes" maps="maps" filters="filters"></div>
    <!-- / filtering -->

    <!-- top guide -->
    <div class="container-fluid hots-top-guide m-t-lg pos-rl hidden-xs hidden-sm hidden-md" ng-if="topGuide" ng-repeat="topGuide in topGuides">
        <div class="hots-top-guide-premium" ng-if="isPremium(topGuide)"></div>
        <div class="tri-both">
            <div class="container-fluid-max hots-top-guide-inner pos-rl">
                <div class="hero {{getTopGuideHeroBg(topGuide)}}"></div>
                <div class="row row-flex row-flex-wrap">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                        <div class="row-flex-col">
                            <h1>TOP GUIDE</h1>
                            <h3>{{topGuide.name}}</h3>
                            <div class="hots-top-guide-votes">{{topGuide.voteScore}}</div>
                            <ul class="hots-top-guide-talents clearfix">
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 1).className }}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 1).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 1, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(1, topGuide)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 4).className}}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 4).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 4, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(4, topGuide)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 7).className}}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 7).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 7, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(7, topGuide)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 10).className }}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 10).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 10, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(10, topGuide)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 13).className }}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 13).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 13, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(13, topGuide)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 16).className }}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 16).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 16, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(16, topGuide)"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="talents-icon active large {{getGuideClass(topGuide)}} {{ getTalent(getGuideCurrentHero(topGuide), topGuide, 20).className }}" 
                                       ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(topGuide), topGuide, 20).name }}"></a>
                                    <div class="guide-talent-dots hidden-xs hidden-sm">
                                        <div class="guide-talent-dot" ng-class="{ active: activeTalent(topGuide, 20, dot) }"
                                             ng-repeat="dot in getTopGuideTierTalents(20, topGuide)"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="row-flex-col">
                            <p>{{topGuide.description}}</p>
                            <a ui-sref="app.hots.guides.guide({ slug: topGuide.slug })" class="btn btn-hots m-t-md"><div class="inner">VIEW GUIDE</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / top guide -->

    <!-- tempostorm guides -->
    <div class="container-fluid">
        <div class="container-fluid-max hots-list-ts-guides">
            <div class="hots-list-guides-title clearfix">
                <div class="hots-mini-filters">
                    <div hots-filter-role filters="filters"></div>
                    <div class="m-r-md" hots-filter-universe filters="filters"></div>
                    <div class="hots-filters-search">
                        <form ng-submit="searchGuides()">
                            <div class="input-group">
                                <input type="text" 
                                       placeholder="Search..."
                                       class="form-control input-dark hots-search" ng-model="filters.search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-blue">
                                        <span ng-if="!initializing">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <span ng-if="initializing">
                                            <i class="fa fa-spinner fa-pulse"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <h1>TEMPOSTORM GUIDES</h1>
            
            </div>
                
            <!-- first fullwidth plg -->
            <ts-ad class="container-fluid text-center m-b-md" structure="double"></ts-ad>
            <!-- first fullwidth plg ends -->
            
            <div class="hots-list-ts-guides-wrapper">
                <ul class="hots-guides row no-pad" ng-if="tempostormGuides.length">
                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="guide in tempostormGuides">
                        <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide large {{getGuideClass(guide)}}">
                            <div class="inner"></div>
                            <div class="hots-guide-premium" ng-if="isPremium(guide)"></div>
                            <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
                            <h1>{{guide.name}}</h1>
                            <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                            <div class="hots-guide-votes">{{guide.voteScore}}</div>
                            <div class="hero-flip btn-group" ng-if="guide.guideHeroes.length > 1">
                                <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                            </div>
                            <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 1, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 1, true).name }}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 4, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 4, true).name }}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 7, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 7, true).name }}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 10, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 10, true).name }}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 13, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 13, true).name }}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 16, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 16, true).name }}"></li>
                                <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 20, true).className }}" 
                                    ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 20, true).name }}"></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            
            <!-- page flipping -->
            <div pagination="tempostormPagination" class="default"></div>
            <!-- / page flipping -->

            <p class="darkbox white p-md" ng-if="!tempostormGuides.length">There are no guides for the filtering above.</p>
        </div>
    </div>
    <!-- / tempostorm guides -->

    <!-- guides start -->
    <div class="container-fluid hots-guide-list">
        <div class="container-fluid-max hots-guide-list-inner tri-both">
            
            <div class="hots-list-guides-title clearfix">
                <div class="hots-mini-filters">
                    <div hots-filter-role filters="filters"></div>
                    <div class="m-r-md" hots-filter-universe filters="filters"></div>
                    <div class="hots-filters-search">
                        <form ng-submit="searchGuides()">
                            <div class="input-group">
                                <input type="text" 
                                       placeholder="Search..."
                                       class="form-control input-dark hots-search" ng-model="filters.search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-blue">
                                        <span ng-if="!initializing">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <span ng-if="initializing">
                                            <i class="fa fa-spinner fa-pulse"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <h1>COMMUNITY GUIDES</h1>
            </div>

            <div>
                <!-- page flipping -->
                <div pagination="communityPagination" class="default"></div>
                <!-- / page flipping -->
                
                <!-- first fullwidth plg -->
                <ts-ad class="container-fluid text-center m-b-md" structure="single"></ts-ad>
                <!-- first fullwidth plg ends -->
                
                
                <!-- guides titles -->
                <div class="row hots-guides-long-title m-b-sm">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <h1>GUIDE</h1>
                    </div>
                    <div class="hidden-xs col-sm-6 col-md-4 col-lg-3">
                        <h1>TALENTS</h1>
                    </div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-1">
                        <h1 class="text-center">SCORE</h1>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
                        <h1>HERO / MAP</h1>
                    </div>
                </div>
                <!-- / guides titles -->
                
                <!-- guides -->
                <ul class="hots-guides" ng-if="communityGuides.length">
                    <li ng-repeat="guide in communityGuides">
                        <!-- TODO: Find out why Kaelthas image does not appear on guide -->
                        <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide long {{getGuideClass(guide)}}">
                            <div class="inner"></div>
                            <div class="hots-guide-premium" ng-if="isPremium(guide)"></div>
                            <div class="row row-flex">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="row-col">
                                        <h1>{{guide.name}}</h1>
                                        <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
                                    </div>
                                </div>
                                <div class="hidden-xs col-sm-6 col-md-4 col-lg-3">
                                    <div class="row-col">
                                        <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 1, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 1, false).name }}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 4, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 4, false).name }}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 7, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 7, false).name }}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 10, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 10, false).name }}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 13, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 13, false).name }}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 16, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 16, false).name }}"></li>
                                            <li class="talents-icon active {{getGuideClass(guide)}} {{ getTalent(getGuideCurrentHero(guide), guide, 20, false).className }}" 
                                                ng-tooltip data-original-title="{{ getTalent(getGuideCurrentHero(guide), guide, 20, false).name }}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm hidden-md col-lg-1">
                                    <div class="row-col">
                                        <p class="hots-guide-votes text-center">{{guide.voteScore}}</p>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
                                    <div class="row-col">
                                        <p class="hots-guide-hero-name" ng-if="guide.guideType == 'hero'">{{getGuideCurrentHero(guide).hero.name}}</p>
                                        <p class="hots-guide-hero-name" ng-if="guide.guideType == 'map'">{{guide.maps[0].name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hero-flip btn-group" ng-if="guide.guideHeroes.length > 1">
                                <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                                <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="darkbox white p-md" ng-if="!communityGuides.length">There are no guides for the filtering above.</p>
                <!-- / guides -->
                
                <!-- page flipping -->
                <div pagination="communityPagination" class="default"></div>
                <!-- / page flipping -->
            </div>

        </div>
    </div>
    <!-- guides end -->
</div>