<div class="bg-override {{deck.playerClass.toLowerCase()}}">
<div class="sub-nav-wrapper hidden-xs sticky">
    <div class="container-fluid sub-nav sticky">
        <sub-nav-stream class="pull-left"></sub-nav-stream>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hs.snapshot.redirect">META SNAPSHOT</a></li><li><a ui-sref="app.hs.deckBuilder.class">DECK BUILDER</a></li><li><a ui-sref="app.hs.decks.list">DECKS</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="deck-page">

    <!-- header -->
    <div class="container-fluid padding-none deck-header">
        <div class="container wrapper-lg deck-header-inner {{deck.playerClass.toLowerCase()}} clearfix">
            <div class="pull-left">
                <h1>{{deck.name}}</h1>
                <p>posted by <a href="./user/{{deck.author.username}}" class="m-r-sm">@{{deck.author.username}}</a><i class="fa fa-clock-o"></i> {{deck.createdDate | date:'mediumDate'}}</p>
            </div>
            <div class="pull-right">
                <!-- deck-votes -->
                <vote-widget votable="votableDeck" theme="multi"></vote-widget>
<!--
                <div class="deck-votes clearfix">
                    <div class="vote-count vote-large m-l-sm pull-right">
                        <span><em ng-show="deck.voteScore > 0">+</em>{{deck.voteScore}}</span>
                    </div>
                    <div class="vote-count-btns vote-large pull-left">
                        <a href="#" class="btn-vote-up vote-large" 
                           ng-class="{active: activeVote(deck, 1)}" 
                           ng-click="voteUp(deck)">
                            <i class="fa fa-plus-square"></i>
                        </a>
                        <a href="#" class="btn-vote-down vote-large" 
                           ng-class="{active: activeVote(deck, -1)}" 
                           ng-click="voteDown(deck)">
                            <i class="fa fa-minus-square"></i>
                        </a>
                    </div>
                </div>
-->
                <!-- / deck-votes -->
            </div>
        </div>
    </div>
    <!-- / header -->

    <!-- asense -->
    <ts-ad class="row" structure="double"></ts-ad>
    <!-- asense -->

    <div class="container">
        <div class="row m-t-lg">
            
            <!-- deck right -->
            <div class="col-md-push-8 col-md-4">
                
                <!-- mana curve -->
                <div class="db-mana-curve clearfix">
                    <div class="db-mana-curve-title">
                        <a href="#" ng-click="show.mana = !show.mana">
                            <div class="pull-right">
                                <i class="fa" ng-class="{ 'fa-angle-down': !show.mana, 'fa-angle-up': show.mana }"></i>
                            </div>
                            MANA CURVE
                        </a>
                    </div>
                    <div class="db-mana-curve-content clearfix" ng-show="show.mana">
                        <ul class="clearfix">
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(0)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(0)}}px;"></span></div>
                                <div class="db-mana-curve-num">0</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(1)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(1)}}px;"></span></div>
                                <div class="db-mana-curve-num">1</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(2)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(2)}}px;"></span></div>
                                <div class="db-mana-curve-num">2</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(3)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(3)}}px;"></span></div>
                                <div class="db-mana-curve-num">3</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(4)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(4)}}px;"></span></div>
                                <div class="db-mana-curve-num">4</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(5)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(5)}}px;"></span></div>
                                <div class="db-mana-curve-num">5</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(6)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(6)}}px;"></span></div>
                                <div class="db-mana-curve-num">6</div>
                            </li>
                            <li>
                                <div class="db-mana-curve-amt">{{deck.manaCount(7)}}</div>
                                <div class="db-mana-curve-bar"><span style="height: {{deck.manaCurve(7)}}px;"></span></div>
                                <div class="db-mana-curve-num">7<span>+</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / mana curve -->

                <!-- deck -->
                <div class="deck-deck" db-deck deck="deck" mulligan-hide="mulliganHide"></div>
                <!-- / deck -->

                <!-- adsense -->
                <ts-ad class="m-r-md m-l-md m-b-lg" structure="single"></ts-ad>
                <!-- adsense -->

            </div>
            <!-- / deck right -->

            <!-- deck left -->
            <div class="col-md-pull-4 col-md-8">

                <!-- deck description -->
                <div class="deck-section" ng-if="deck.description">
                    <div class="deck-section-title clearfix">
                        <h3 class="pull-left">DESCRIPTION</h3>
                    </div>
                    <div class="deck-section-content">
                        <p class="m-b-none">{{deck.description}}</p>
                    </div>
                </div>
                <!-- / deck description -->

                <!-- subscribe -->
                <div class="deck-subscribe" ng-if="isPremium() && !isUser.premium && !isUser.admin && !isUser.contentProvider">
                    <h1 class="deck-title">CONTINUE READING THIS DECK...</h1>
                    <h2>Signup for T/S Premium today!</h2>

                    <div premium-page></div>

                </div>
                <!-- / subscribe -->

                <!-- deck -->
                <div ng-if="!isPremium() || isUser.premium || isUser.contentProvider || isUser.admin">

                    <!-- deck-mulligans -->
                    <div class="deck-section clearfix" ng-if="anyMulliganSet()">
                        <div class="deck-section-title clearfix">
                            <h3 class="pull-left">MULLIGANS</h3>
                            <div class="m-r-md pull-right clearfix">
                                <ul class="deck-mulligan-classes pull-left clearfix">
                                    <li ng-class="{ active: currentMulligan.className === class }" 
                                        ng-repeat="class in classes">
                                        <a href="#" class="{{class.toLowerCase()}}" 
                                           ng-class="{ active: isMulliganSet(getMulligan(class)) }" 
                                           ng-click="show.mulligans = (currentMulligan.className != class); setMulligan(getMulligan(class)); (!show.mulligans) ? setMulligan(false) : false"
                                           ng-tooltip title="{{class}}">{{class}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="deck-section-content deck-mulligan-details pos-rl" ng-show="show.mulligans && currentMulligan" ng-init="show.mulligans = true">
                            <a href="#" class="mulligan-coin pull-left" ng-class="{active:coin}" ng-click="toggleCoin()"></a>
                            <div>
                                <h3>{{currentMulligan.className.toUpperCase()}} MULLIGAN</h3>
                                <p ng-if="getMulliganCards().length">
                                    <span ng-repeat="card in getMulliganCards()">
                                        <span ng-if="$last && getMulliganCards().length > 1"> and </span>{{card.card.name}}
                                        <span ng-if="!$last">, </span>
                                    </span>
                                </p>
                                <p ng-if="getMulliganInstructions().length">{{getMulliganInstructions()}}</p>
                                <p ng-if="!getMulliganCards().length">
                                    There is no mulligan set for <strong>{{currentMulligan.className}}</strong> 
                                    <span ng-if="coin">with</span><span ng-if="!coin">without</span> the coin.
                                </p>
                            </div>
                            <div ng-if="getMulliganCards().length" class="hidden-xs">
                                <div class="deck-mulligan-cards">
                                    <div class="deck-mulligan-card" 
										 ng-repeat="card in getMulliganCards()">
                                        <a href="#" 
										   data-tooltip-img="'https://cdn-tempostorm.netdna-ssl.com/cards/' + card.card.photoNames.large" 
                                           style="left: {{cardLeft($index)}}%; z-index: {{$index}};" hs-card>
                                            <img ng-src="https://cdn-tempostorm.netdna-ssl.com/cards/{{card.card.photoNames.medium}}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / deck-mulligans -->

                    <!-- deck video -->
                    <div class="deck-section" ng-if="deck.youtubeId.length > 0">
                        <div class="deck-section-title clearfix">
                            <a href="#" ng-click="show.video = !show.video"><h3 class="pull-left">VIDEO</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                <a href="#" ng-click="show.video = !show.video">
                                    <i class="fa" ng-class="{ 'fa-angle-down': !show.video, 'fa-angle-up': show.video }"></i>
                                </a>
                            </div>
                        </div>
                        <div class="deck-section-content unpadded" ng-show="show.video">
                            <div class="deck-video" ng-bind-html="getVideo()"></div>
                        </div>
                    </div>
                    <!-- / deck video -->

                    <!-- deck-against -->
                    <div class="deck-section" ng-if="deck.matchups.length > 0">
                        <div class="deck-section-title clearfix">
                            <h3 class="m-b-lg">MATCH-UPS<span ng-if="getMouseOver()">&nbsp;- {{getMouseOver()}}</span></h3>
                        </div>
                        <div class="deck-section-content">
                            <div class="match-graph m-t-md m-b-md">
                                <svg class="graph-wrapper" height="100%" width="100%">
                                    
                                    <text transform="rotate(270, 0, 210)" x="100" y="200" fill="white" text-anchor="end">Chance to win</text>
                                    <text x="50%" y="110%" fill="white" text-anchor="middle">Deck</text>
                                    
                                    <text x="1.5%" y="0%" fill="white">100</text>
                                    <text x="2.5%" y="10%" fill="white">90</text>
                                    <text x="2.5%" y="20%" fill="white">80</text>
                                    <text x="2.5%" y="30%" fill="white">70</text>
                                    <text x="2.5%" y="40%" fill="white">60</text>
                                    <text x="2.5%" y="50%" fill="white">50</text>
                                    <text x="2.5%" y="60%" fill="white">40</text>
                                    <text x="2.5%" y="70%" fill="white">30</text>
                                    <text x="2.5%" y="80%" fill="white">20</text>
                                    <text x="2.5%" y="90%" fill="white">10</text>
                                    <text x="3.5%" y="100%" fill="white">0</text>


                                    <svg class="pull-right" height="100%" width="95%" x="5%">
                                        <line x1="0" y1="0%"   x2="100%"  y2="0%" />
                                        <line x1="0" y1="10%"  x2="100%"  y2="10%" />
                                        <line x1="0" y1="20%"  x2="100%"  y2="20%" />
                                        <line x1="0" y1="30%"  x2="100%"  y2="30%" />
                                        <line x1="0" y1="40%"  x2="100%"  y2="40%" />
                                        <line x1="0" y1="50%"  x2="100%"  y2="50%" style="stroke:rgba(255,0,0,.3)"/>
                                        <line x1="0" y1="60%"  x2="100%"  y2="60%" />
                                        <line x1="0" y1="70%"  x2="100%"  y2="70%" />
                                        <line x1="0" y1="80%"  x2="100%"  y2="80%" />
                                        <line x1="0" y1="90%"  x2="100%"  y2="90%" />
                                        <line x1="0" y1="100%" x2="100%"  y2="100%" />
                                        <line x1="1.1%" y1="100%" x2="1.1%" y2="0" />

                                        <svg height="100%" width="98%" x="1.5%">
                                            <svg class="bar-wrap" 
                                                 ng-repeat="match in deck.matchups | orderBy: 'className'" 
                                                 ng-mouseover="setMouseOver(match.deckName)" 
                                                 ng-mouseleave="setMouseOver(false)" 
                                                 ng-class="{ 'no-mouse' : getMouseOver() != false && getMouseOver(match.deckName) != match.deckName }">
                                            <rect class="bar bar-{{match.className}}" 
                                                  ng-attr-width="{{(100/deck.matchups.length)-.8}}%"
                                                  ng-attr-height="{{match.forChance}}%" 
                                                  ng-attr-x="{{(100/deck.matchups.length)*$index}}%" 
                                                  ng-attr-y="{{100-match.forChance}}%"></rect>
                                            </svg>
                                        </svg>
                                    </svg>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!-- / deck-against -->

                    <!-- deck-gameplay -->
                    <div ng-if="deck.chapters.length > 0">
                        <div ng-repeat="chapter in deck.chapters" class="deck-section">
                            <div class="deck-section-title clearfix">
                                <h3 class="pull-left">{{chapter.title}}</h3>
                            </div>
                            <div class="deck-section-content">
                                <p class="pos-rl" ng-bind-html="getContent(chapter.content)"></p>
                            </div>
                        </div>
                    </div>
                    <!-- / deck-gameplay -->

                    <!-- stats -->
                    <!--
                    <div class="deck-section">
                        <div class="deck-section-title clearfix">
                            <a href="#" ng-click="show.stats = !show.stats"><h3 class="pull-left">VITAL STATS</h3></a>
                            <div class="m-l-md m-r-md pull-right">
                                <a href="#" ng-click="show.stats = !show.stats">
                                    <i class="fa" ng-class="{ 'fa-angle-down': !show.stats, 'fa-angle-up': show.stats }"></i>
                                </a>
                            </div>
                        </div>
                        <div class="deck-section-content" ng-show="show.stats">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels" colours="charts.colors"></canvas>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- / stats -->

                    <!-- comments -->
                    <comment-section commentable="deck" service="DeckService"></comment-section>
                    <!-- / commments -->

                </div>
                <!-- / deck -->

            </div>
        </div>
    </div>
</div>
