<!-- title -->
<div class="container-fluid hs-home-title">
    <img ng-src="{{app.cdn}}img/hs/hs-logo.png" class="hs-home-logo img-responsive">
</div>
<!-- /title -->

<!-- sub nav -->
<div class="sub-nav-wrapper hidden-xs">
    <div class="container-fluid sub-nav" sub-nav>
        <sub-nav-stream class="pull-left"></sub-nav-stream>
        <div class="swap-to pull-right">
            
        </div>
        <div class="sub-nav-links">
            <ul>
                <li><a ui-sref="app.hs.snapshot.redirect">META SNAPSHOT</a></li><li><a ui-sref="app.hs.deckBuilder.class">DECK BUILDER</a></li><li style="border-right: none"><a ui-sref="app.hs.decks.list">DECKS</a></li>
                <li style="border-left: none">
                    <subnav-redbull></subnav-redbull>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /sub nav -->

<div class="container-fluid padding-none hs-bg">

    <!-- adsense -->
    <ts-ad class="container-fluid text-center row" structure="single"></ts-ad>
    <!-- /adsense -->
    
    <!-- filter start -->
    <div hs-filter-class-large classes="classes" filters="filters"></div>
    <!-- filter end -->
    
    <!-- content start -->
    <div class="container-fluid hs-content">
        
        <div class="row no-pad">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <h1 class="title">HEARTHSTONE ARTICLES</h1>
                <h3 class="sub-title m-b-md">The latest articles on all things Hearthstone</h3>
                <div class="row no-pad" ng-if="articles.length">
                    <div class="col-xs-12 col-sm-6 pos-rl" ng-repeat="article in articles | orderBy: '-createdDate' track by $index">
                        <div class="m-r-sm m-b-sm">
                            <article-thumb article="article" />
                        </div>
                    </div>
                </div>
                <p class="white" ng-if="!articles.length">There are no articles for the filtering above.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row no-pad">
                    <div class="col-xs-12 col-sm-6">
                        <div class="m-r-sm">
                            <h1 class="title">TEMPOSTORM DECKS</h1>
                            <h3 class="sub-title m-b-md">Decks from Team Tempo Storm</h3>
                            <ul class="hs-decks row no-pad" ng-if="tempostormDecks.length">
                                <li class="col-xs-12" ng-repeat="deck in tempostormDecks | orderBy: '-createdDate'">
                                    <a ui-sref="app.hs.decks.deck({ slug: deck.slug })" class="hs-deck small {{deck.playerClass.toLowerCase()}} {{deck.heroName.toLowerCase()}}">
                                        <div class="inner"></div>
                                        <div class="hs-deck-premium" ng-if="isPremium(deck)"></div>
                                        <div class="bt-shadow"></div>
                                        <div class="hs-deck-details">
                                            <h1>{{deck.name}}</h1>
                                            <h3>by {{deck.author.username || '[Deleted User]'}} - <span am-time-ago="deck.createdDate"></span></h3>
                                        </div>
                                        <div class="hs-deck-votes">{{deck.voteScore}}</div>
                                    </a>
                                </li>
                            </ul>
                            <p class="white" ng-if="!tempostormDecks.length">There are no decks for the filtering above.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="m-r-sm">
                            <h1 class="title">COMMUNITY DECKS</h1>
                            <h3 class="sub-title m-b-md">Decks from the Community</h3>
                            <ul class="hs-decks row no-pad" ng-if="communityDecks.length">
                                <li class="col-xs-12" ng-repeat="deck in communityDecks">
                                    <a ui-sref="app.hs.decks.deck({ slug: deck.slug })" class="hs-deck small {{deck.playerClass.toLowerCase()}} {{deck.heroName.toLowerCase()}}">
                                        <div class="inner"></div>
                                        <div class="hs-deck-premium" ng-if="isPremium(deck)"></div>
                                        <div class="bt-shadow"></div>
                                        <div class="hs-deck-details">
                                            <h1>{{deck.name}}</h1>
                                            <h3>by {{deck.author.username || '[Deleted User]'}} - <span am-time-ago="deck.createdDate"></span></h3>
                                        </div>
                                        <div class="hs-deck-votes">{{deck.voteScore}}</div>
                                    </a>
                                </li>
                            </ul>
                            <p class="white" ng-if="!communityDecks.length">There are no decks for the filtering above.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->

    <!-- adsense -->
    <ts-ad class="m-b-lg container-fluid text-center row" structure="single"></ts-ad>
    <!-- /adsense -->

    <!-- content footer -->
    <div class="container-fluid ts-content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 m-b-lg">
                <h1 class="title">VIDEO OF THE DAY</h1>
                <div video-of-the-day></div>
            </div>
            <div class="col-xs-12 col-sm-6 m-b-lg">
                <h1 class="title">TEMPOSTORM TV</h1>
                <h3 class="sub-title m-b-md">Check out who is streaming right now</h3>
                <div tempostorm-tv></div>
            </div>
        </div>
    </div>
    <!-- /content footer -->

    <!-- adsense -->
    <ts-ad class="container-fluid text-center row" structure="single"></ts-ad>
    <!-- /adense -->

</div>