<div class="ow-bg">

<div class="container-fluid ow-home-title ">
    <img src="../../dist/img/overwatch/overwatch-logo-isolation.png" class="ow-home-logo img-responsive"  >
</div>


<div class="sub-nav-wrapper hidden-xs ">
    <div class="container-fluid sub-nav" sub-nav=""><!-- ngIf: showSubNavStream -->
        
        <div class="swap-to pull-right"></div>
        <div class="sub-nav-links">
            <ul>
                <li><a href="/overwatch/articles">ARTICLES</a>
          
                <li><a href="/overwatch/heroes">HEROES</a>
               
              
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid container-fluid-max ow-content"> <!-- overwatch articles and heroes -->
    <div class="row no-pad">
     <div class="col-lg-9 section-articles clearfix m-t-lg no-pad" >
            <h1 class="title ">OVERWATCH ARTICLES</h1>
            <h3 class="sub-title m-b-md">Articles for overwatch goes here!!</h3>

                <!-- / section banner -->
                <div class="container-fluid no-pad-left">

                    <!-- page flipping 
                    <div pagination="articlePagination" theme="default" class="default m-t-lg"></div>
                   page flipping -->
                    
                    <!-- articles -->
                    <div class="articles-list">
                        <!-- article -->
                        <div class="row no-pad">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">
                                    <article-thumb article="article" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>

                        </div>
                        <!-- / article -->
                    </div>
                </div>
          </div> 

                    <!-- / articles -->

                    <!-- page flipping 
                    <div pagination="articlePagination" theme="default" class="default"></div>
                     page flipping -->
    
         <!-- Hero section -->
    
     <div class="col-lg-3 section-heroes clearfix m-t-lg" >
         <h1 class="title">OVERWATCH CHARACTERS</h1>

         <div class="container-fluid ts-div ow-hero-filters">
            
                <ul class="ow-hero-list">
                    
                    <li ><a href="#" class="soldier-76" title="soldier-76">Arthas</a></li>
                    <li ><a href="#" class="symmetra" title="Symmetra">Symmetra</a></li>
                    <li ><a href="#" class="soldier-76" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                 
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    <li ><a href="#" class="arthas" title="Arthas">Arthas</a></li>
                    
                </ul>
                
                
                <div class="col-lg-12 ow-hero-selected">
                    
                </div>
        </div>
      
</div> <!-- ROW 1 ends -->
    
    
       <div class="row">
           <div class="col-xs-12 col-sm-6">
               <h1 class="title">VIDEO OF THE DAY</h1>
               <div video-of-the-day="">
                   <h3 class="sub-title m-b-md ng-binding">Heroes of the Storm: Arthelon suggests a talent build for Raynor and discusses his playstyle</h3><!-- ngIf: vod.url -->
                   <iframe class="home-vod ng-scope ng-isolate-scope" ng-if="vod.url" video-url="vod.url" data-ng-animate="1" id="unique-youtube-embed-id-4" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="390" src="https://www.youtube.com/embed/fyLgSUt7Wqs?start=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Ftempostorm.com"></iframe><!-- end ngIf: vod.url --><!-- ngIf: vod.vars.list --></div>
           </div>
           
           <div class="col-xs-12 col-sm-6">
               <h1 class="title">TEMPOSTORM TV</h1>
               <h3 class="sub-title m-b-md">Check out who is streaming right now</h3>
               <div tempostorm-tv=""><!-- ngIf: streams.length -->
                   <ul class="tempostorm-tv ng-scope" ng-if="streams.length"><!-- ngRepeat: stream in streams | orderBy: '-viewerCount' --><li ng-repeat="stream in streams | orderBy: '-viewerCount'" class="ng-scope"><a ng-href="http://www.twitch.tv/reckful" target="_blank" class="tempostorm-tv-stream" href="http://www.twitch.tv/reckful">
                       <div class="inner"></div>
                       <div class="tempostorm-tv-wrapper clearfix">
                           <img ng-src="https://static-cdn.jtvnw.net/previews-ttv/live_user_reckful-320x180.jpg" class="pull-left img-responsive hidden-xs" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_reckful-320x180.jpg">
                           <div class="tempostorm-tv-content pos-rl">
                           <h1 class="ng-binding">tempo storm Reckful - i am single not trying to mingle though</h1><h3 class="ng-binding">PLAYING: ArmA III</h3>
                               <div class="streamer ng-binding">Reckful</div>
                               <div class="viewers ng-binding">
                                   <span class="fa fa-eye m-r-sm"></span>5,034</div>
                           </div>
                       </div>
                       </a>
                       </li><!-- end ngRepeat: stream in streams | orderBy: '-viewerCount' --></ul><!-- end ngIf: streams.length --><!-- ngIf: !streams.length -->
               </div>
           </div>
        </div>
    
         
</div> <!-- overwatch articles and heroes ends -->


</div>
    
</div>