<div class="ow-bg">

    
     <div class="sub-nav-wrapper hidden-xs ">
        <div class="container-fluid sub-nav" sub-nav="">

            <div class="swap-to pull-right"></div>
            <div class="sub-nav-links">
                <ul>
                    <li><a href="/overwatch">ARTICLES</a>

                    <li><a href="/overwatch/heroes">HEROES</a>


                </ul>
            </div>
        </div>
    </div>
    
    <!-- Hero nav begins -->
    
    <div class="container-fluid ow-hero-filters no-side-pad">

                     <div class="col-lg-12 ow-hero-bar">


                   

                    <ul class="ow-hero-list">

                        <li ><a href="/overwatch/heroes/bastion" class="bastion" title="bastion">bastion</a></li>
                        <li ><a href="/overwatch/heroes/hanzo" class="hanzo" title="hanzo">hanzo</a></li>
                        <li ><a href="/overwatch/heroes/junkrat" class="junkrat" title="junkrat">junkrat</a></li>
                        <li ><a href="/overwatch/heroes/lucio" class="lucio" title="lucio">lucio</a></li>

                        <li ><a href="/overwatch/heroes/mccree" class="mccree" title="mccree">mccree</a></li>
                        <li ><a href="/overwatch/heroes/mercy" class="mercy" title="mercy">mercy</a></li>
                        <li ><a href="/overwatch/heroes/pharah" class="pharah" title="pharah">pharah</a></li>
                        <li ><a href="/overwatch/heroes/reaper" class="reaper" title="reaper">reaper</a></li>

                        <li ><a href="/overwatch/heroes/reinhardt" class="reinhardt" title="reinhardt">reinhardt</a></li>
                        <li ><a href="/overwatch/heroes/roadhog" class="roadhog" title="roadhog">roadhog</a></li>
                        <li ><a href="/overwatch/heroes/soldier-76" class="soldier-76" title="soldier-76">soldier-76</a></li>
                        <li ><a href="/overwatch/heroes/symmetra" class="symmetra" title="symmetra">symmetra</a></li>

                        <li ><a href="/overwatch/heroes/torbjorn" class="torbjorn" title="torbjorn">torbjorn</a></li>
                        <li ><a href="/overwatch/heroes/tracer" class="tracer" title="tracer">tracer</a></li>
                        <li ><a href="/overwatch/heroes/widowmaker" class="widowmaker" title="widowmaker">widowmaker</a></li>
                        <li ><a href="/overwatch/heroes/winston" class="winston" title="winston">winston</a></li>

                        <li ><a href="/overwatch/heroes/zarya" class="zarya" title="zarya">zarya</a></li>
                        <li ><a href="/overwatch/heroes/zenyatta" class="zenyatta" title="zenyatta">zenyatta</a></li>

                    </ul>

                     </div>


            </div>
    
    <!--Hero nav ends -->

    <div class="container-fluid container-fluid-max ow-content"> <!-- overwatch articles and heroes -->
        <div class="row no-pad">
        
        
            <div class="col-lg-12 hero-upper" style="background:red;  height:400px"> <!-- upper container -->
        

                <div class="row"> <!-- hero brief row -->       
                    
                    <div class="col-md-6" style="background:white; height:400px" > <!-- hero brief --> </div> <!-- hero brief ends -->
                    <div class="col-md-6" style="background:grey; height:400px"> <!-- hero image --> </div> <!-- hero image ends -->
                 

                </div> <!-- hero brief ends -->  

                <div class="row"> <!-- skills row -->       


                    <div class="col-sm-2 skill col-sm-offset-1" style="background:#B25472; height:200px"></div>
                    <div class="col-sm-2 skill" style="background:#72364A; height:200px"></div>
                    <div class="col-sm-2 skill" style="background:#331821; height:200px"></div>
                    <div class="col-sm-2 skill" style="background:#261218; height:200px"></div>
                      <div class="col-sm-2 skill" style="background:#331821; height:200px"></div>


                </div> <!-- skills row ends-->

    </div> <!-- upper container ends -->
            
            
            
        
        
        </div> <!-- row 1 ends -->
    </div> <!--overwatch content ends -->
 
    
    
    
    
    
    
    
        
        
        
    <!--lower ssection starts -->
        
    <div class="row hero-lower"> <!-- story row -->
        
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>

    
    </div> <!-- story row ends --> 


    
</div> <!-- ow-background ends-->