
<div class="container-fluid padding-none">
    <div class="row no-pad games-btns">
        <div class="col-xs-12 ">
            <a ui-sref="app.hs.home" class="games-btn games-btn-hs" href="/hearthstone">
            <div class="games-btn-back"></div>
            <img ng-src="https://cdn-tempostorm.netdna-ssl.com/img/hs/hs-logo.png" class="games-btn-logo img-responsive" src="https://cdn-tempostorm.netdna-ssl.com/img/hs/hs-logo.png">
            </a>
        </div>
        </div>
</div>


<div class="sub-nav-wrapper hidden-xs ">
    <div class="container-fluid sub-nav" sub-nav=""><!-- ngIf: showSubNavStream -->
        <div class="swap-to pull-right"></div>
        <div class="sub-nav-links">
            <ul>
                <li><a href="/overwatch/articles">ARTICLES</a></li>
                <li><a href="/overwatch/heroes">HEROES</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid container-fluid-max" style="background:#2b2b2b;"> <!-- overwatch articles and heroes -->
    <div class="row no-pad">
     <div class="col-lg-9 section-articles clearfix m-t-lg no-pad" >
            <h1 class="section-title ">OVERWATCH ARTICLES</h1>
            <h3 class="ow-sub-titles m-b-md">Articles for overwatch goes here!!</h3>

                <!-- / section banner -->
                <div class="container-fluid no-pad-left">

                    <!-- page flipping -->
                    <div pagination="articlePagination" theme="default" class="default m-t-lg"></div>
                    <!-- / page flipping -->
                    <!-- articles -->
                    <div class="articles-list m-t-lg">
                        <!-- article -->
                        <div class="row no-pad">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">
                                    <article-thumb article="article" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                <div class="article-wrapper m-b-md">

                                    <article-thumb article="article" />
                                </div>
                            </div>

                        </div>
                        <!-- / article -->
                    </div>
                </div>
          </div> 

                    <!-- / articles -->

                    <!-- page flipping -->
                    <div pagination="articlePagination" theme="default" class="default"></div>
                    <!-- / page flipping -->
    
         <!-- Hero section -->
    
     <div class="col-lg-3 section-heroes clearfix m-t-lg" >
         <h1 class="ow-titles">OVERWATCH CHARACTERS</h1>

         <div class="container-fluid m-t-lg ts-div ow-hero-filters">
            
                <ul class="ow-hero-list">
                    
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas active" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas" title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                 
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    <li ><button class="arthas"  title="Arthas">Arthas</button></li>
                    
                </ul>
                
                
                <div class="col-lg-12 ow-hero-selected">
                    
                </div>
        </div>
      
</div> <!-- ROW 1 ends -->
    
    <div class="row no-pad"> 
        <div class="col-lg-6 section-articles clearfix m-t-lg no-pad"  style="height:900px"> <!--video-->
            
        <h1 class="section-title ">VIDEO OF THE DAY</h1>
            <h3 class="ow-sub-titles m-b-md">Articles for overwatch goes here!!</h3>
            <div class="">
            <iframe width="420" height="315"
src="https://www.youtube.com/watch?v=FqnKB22pOC0">
            </iframe>
            </div>
            
        </div>
         
        <div class="col-lg-6 section-articles clearfix m-t-lg no-pad" style=" height:900px" > <!-- tempo -->
            <h1 class="section-title ">TEMPOSTORM TV</h1>
            <h3 class="ow-sub-titles m-b-md">CHECK OUT WHO IS STREAMING RIGHT NOW</h3>
        </div>
    </div> <!-- ROW 2 ends -->
    
       
    
         
</div> <!-- overwatch articles and heroes ends -->


