<div class="bg-override polls">
    <div class="container container-dark">

        <img class="poll-photo-banner pos-rl img-responsive" src="https://cdn-tempostorm.netdna-ssl.com/img/shirts.jpg"/>


        <!-- article page -->
        <div class="poll-page clearfix">
            <!-- pollright -->
            <div class="poll-right hidden-xs">

                <!-- g2a -->
                <div class="g2a-square">
                    <a href="https://www.g2a.com/r/tempo-storm"><img src="https://cdn-tempostorm.netdna-ssl.com/img/g2a-tempo.png" alt="G2A"></a>
                </div>
                <!-- / g2a -->

                <!-- deck -->
                <div class="past-polls" ng-if="pollsSide.length">
                    <div class="past-polls">
                        <div class="past-polls-title clearfix">
                            <h3 class="pull-left">PAST POLLS</h3>
                        </div>
                        <ul class="past-polls-content">
                            <li ng-repeat="poll in pollsSide">
                                <a href="#" ng-click="show.past = !show.past">
                                    <div class="past-polls-content-head" ng-class="{'active': show.past}">
                                        <h3 class="ell">{{poll.title}}</h3>
                                        <div class="m-l-md m-r-md pull-right">
                                            <i class="fa past-polls-arrow" ng-class="{ 'fa-angle-down': !show.past, 'fa-angle-up': show.past }"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="past-polls-content-body" ng-repeat="item in poll.items | orderBy: '-votes'" ng-show="show.past">
                                    <div class="votes-curve-bar">
                                        <span style="width: {{voteCurve(item, poll)*3}}px;"></span>
                                        <h3>{{item.name}}</h3>
                                        <h3 class="votes-curve-percentage">{{votePercentage(item, poll)}}%</h3>
                                        <h3 class="votes-curve-amount"><i class="fa fa-check-circle past-polls-icon"></i>{{item.votes}}</h3>
                                    </div>
                                </div>
                            </li>   
                        </ul>
                    </div>
                </div>
                <!-- / deck -->
            </div>
            <!-- / article right -->

            <!-- article left -->
            <div class="poll-left">

                <div class="no-polls darkbox" ng-if="!pollsMain.length">
                    <p>There are currently no active polls.</p>
                </div>

                <div ng-repeat="poll in pollsMain | orderBy: '-createdDate'">
                    <div class="poll" ng-class="{ 'poll-img' : poll.pollType == 'img'}" ng-if="poll.pollType == 'img' && !isDoneVoting(poll.id)">
                        <div class="poll-title-wrapper">
                            <h1 class="poll-title">{{poll.title}}</h1>
                            <h4 class="poll-subTitle">{{poll.subTitle}}</h4>
                        </div>

                        <div class="poll-description" ng-bind-html="getContent(poll.description)"></div>

                        <div class="row">
                            <div class="item-wrapper wrapper-xs">
                                <div class="poll-item-img-wrapper m-b-md col-xs-12 col-sm-12 col-md-6 col-lg-3"  ng-repeat="item in poll.items">
                                    <a href="#" ng-click="bigImg(item.photos.large)">
                                        <img ng-class="{ 'active' : hasVoted(poll, item) }" ng-src="https://cdn-tempostorm.netdna-ssl.com/polls/{{item.photoNames.thumb}}" alt="">
                                        <i class="fa fa-check" ng-class="{ 'active' : hasVoted(poll, item)}"></i>
                                    </a>
                                    <button class="poll-item-img-button btn btn-blue" ng-bind="btnText(poll, item)" ng-class="{ 'active' : hasVoted(poll, item) }" ng-click="toggleItem(poll, item)"></button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-blue" ng-disabled="!disableButton(poll)" ng-click="submitVote(poll)">SUBMIT VOTE</button>
                        </div>
                    </div>

                    <div class="poll" ng-class="{ 'poll-txt' : poll.pollType == 'txt'}" ng-if="poll.pollType == 'txt' && !isDoneVoting(poll.id)">
                        <div class="poll-title-wrapper">
                            <h1 class="poll-title">{{poll.title}}</h1>
                            <h4 class="poll-subTitle">{{poll.subTitle}}</h4>
                        </div>

                        <div class="poll-description" ng-bind-html="getContent(poll.description)"></div>

                        <div class="row">
                            <div class="poll-item-txt-wrapper m-b-md col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="item in poll.items">
                                <a href="#" ng-click="toggleItem(poll, item)">
                                    <div class="poll-item-txt" ng-class="{ active: hasVoted(poll, item) }">
                                        <i class="fa" ng-class="{ 'fa-check-circle': hasVoted(poll, item), 'fa-circle-thin': !hasVoted(poll, item) }"></i>
                                        <p class="m-b-none">{{item.name}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-blue" ng-disabled="!disableButton(poll)" ng-click="submitVote(poll)">SUBMIT VOTE</button>
                        </div>
                    </div>


                    <div class="poll" ng-class="{ 'poll-txt' : poll.pollType == 'txt'}" ng-if="poll.pollType == 'txt' && isDoneVoting(poll.id)">
                        <div class="poll-title-wrapper">
                            <h1 class="poll-title">{{poll.title}}</h1>
                            <h4 class="poll-subTitle">{{poll.subTitle}}</h4>
                        </div>

                        <div class="poll-description" ng-bind-html="getContent(poll.description)"></div>

                        <div class="row">
                            <div class="voted-poll-item-txt-wrapper m-b-md col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div class="voted-poll-txt-item" ng-repeat="item in poll.items | orderBy: '-votes'">
                                    <div class="voted-curve-bar" ng-class="{ 'active' : getLocalVotes(poll, item) }">
                                        <span style="width: {{voteCurve(item, poll)}}%;"></span>
                                        <h3 class="voted-curve-bar-name ell">{{item.name}}</h3>
                                        <h3 class="voted-curve-percentage">{{votePercentage(item, poll)}}%</h3>
                                        <h3 class="voted-curve-amount"><i class="fa fa-check-circle past-polls-icon"></i>{{item.votes}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="poll" ng-class="{ 'poll-img' : poll.pollType == 'img'}" ng-if="poll.pollType == 'img' && isDoneVoting(poll.id)">
                        <div class="poll-title-wrapper">
                            <h1 class="poll-title">{{poll.title}}</h1>
                            <h4 class="poll-subTitle">{{poll.subTitle}}</h4>
                        </div>
                        <div class="poll-description" ng-bind-html="getContent(poll.description)"></div>
                        <div class="row">
                            <div class="clearfix voted-img-item-wrapper wrapper-xs">
                                <div class="voted-poll-item-img-wrapper m-b-md col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-class="{ 'active' : getLocalVotes(poll, item) }"  ng-repeat="item in poll.items | orderBy: '-votes'">
                                    <a href="#" ng-click="bigImg(item.photos.large)">
                                        <span style="height: {{voteCurve(item, poll)}}%;"></span>
                                        <div>
                                            <h3>{{item.votes}}</h3>
                                            <h4>VOTES</h4>
                                        </div>
                                        <img ng-src="https://cdn-tempostorm.netdna-ssl.com/polls/{{item.photos.thumb}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- / article left -->

        <!-- / article page -->
    </div>
</div>