<div>
        <div class="article-section m-t-md">
            <div class="article-section-title">
                <h3>WHAT IS T/S PREMIUM?</h3>
            </div>
            <div class="article-section-content">
                <p>T/S Premium is designed to take your Hearthstone and Heroes of the Storm game to the next level. The best professionals in the game bringing you exclusive content daily to keep you ahead of the meta.<br><br>
Premium Membership grants you access to features and content designed to help you become the best player you can be, all while supporting the players and writers. These include exclusive mulligan guides, gameplay videos, commentary, deck/meta analysis, articles, and theory discussion to name a few. We're constantly rolling out new member benefits, and your support makes it happen.</p>
            </div>
        </div>

        <div class="article-section">
            <div class="article-section-title">
                <h3>WHY SIGN UP FOR T/S PREMIUM?</h3>
            </div>
            <div class="article-section-content">
                <ul class="premium-features">
                    <li><i class="fa fa-check"></i> Access exclusive content as it is released.</li>
                    <li><i class="fa fa-check"></i> Comprehensive deck guides by the pros (with in-depth mulligan explanation, gameplay videos, and analysis)</li>
                    <li><i class="fa fa-check"></i> Exclusive member-only articles.</li>
                    <li><i class="fa fa-check"></i> Support the contributors, developers, and players.</li>
                    <li><i class="fa fa-check"></i> Access and help expedite all upcoming member features such as profile customizati
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 premium-plan">
                <div class="article-section">
                    <div class="article-section-title">
                        <h3 class="text-center">MONTHLY</h3>
                    </div>
                    <div class="article-section-content">
                        <div class="premium-icon premium-monthly"></div>
                        <div class="premium-price">
                            <em>$7.99</em>
                            <small>per month</small>
                        </div>
                        <ul class="premium-features">
                            <li><i class="fa fa-check"></i> Premium Articles</li>
                            <li><i class="fa fa-check"></i> Premium Decks / Guides</li>
                            <li><i class="fa fa-check"></i> Premium Videos</li>
                            <li><i class="fa fa-check"></i> Early access to new content</li>
                        </ul>
                        <a href="#" class="btn btn-blue btn-block" ng-click="getPremium('tempostorm_monthly')">SIGN UP</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 premium-plan">
                <div class="article-section">
                    <div class="article-section-title">
                        <h3 class="text-center">THREE MONTHS</h3>
                    </div>
                    <div class="article-section-content">
                        <div class="premium-icon premium-quarterly"></div>
                        <div class="premium-price">
                            <em>$6.99</em>
                            <small>per month</small>
                        </div>
                        <ul class="premium-features">
                            <li><i class="fa fa-check"></i> Premium Articles</li>
                            <li><i class="fa fa-check"></i> Premium Decks / Guides</li>
                            <li><i class="fa fa-check"></i> Premium Videos</li>
                            <li><i class="fa fa-check"></i> Early access to new content</li>
                        </ul>
                        <a href="#" class="btn btn-purple btn-block" ng-click="getPremium('tempostorm_quarterly')">SIGN UP</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 premium-plan">
                <div class="article-section">
                    <div class="article-section-title">
                        <h3 class="text-center">SIX MONTHS</h3>
                    </div>
                    <div class="article-section-content">
                        <div class="premium-icon premium-semi"></div>
                        <div class="premium-price">
                            <em>$5.99</em>
                            <small>per month</small>
                        </div>
                        <ul class="premium-features">
                            <li><i class="fa fa-check"></i> Premium Articles</li>
                            <li><i class="fa fa-check"></i> Premium Decks / Guides</li>
                            <li><i class="fa fa-check"></i> Premium Videos</li>
                            <li><i class="fa fa-check"></i> Early access to new content</li>
                        </ul>
                        <a href="#" class="btn btn-orange btn-block" ng-click="getPremium('tempostorm_semi')">SIGN UP</a>
                    </div>
                </div>
            </div>
        </div>

    </div>