<div class="container">
    <!-- not subscribed -->
    
    <!-- Error panel -->
    <div ng-show="error || success" class="panel m-t-md" ng-class="{ 'panel-danger' : error, 'panel-success' : success }">
        <div class="panel-heading">{{error ? 'Error' : 'Success'}}</div>
        <div class="panel-body">
            <ul class="" ng-class="{ 'text-danger' : error, 'text-success' : success }">
                <li>{{error || success}}</li>
            </ul>
        </div>
    </div>
    <!-- /Error panel -->
    
    <div class="m-t-md" ng-show="!isSubscribed() && !getExpiryDate() && user.email && user.email.length">
        <div class="panel panel-default m-t-md">
            <div class="panel-heading">
                Subscription
            </div>
            <form stripe-form="subscribe" name="form" role="form" class="form-horizontal">
            <div class="panel-body">
<!--
                <div class="form-group">
                    <label class="col-sm-2 control-label">Plan</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="#" ng-click="plan = 'tempostorm_monthly'">
                                    <div class="panel" ng-class="{ 'panel-default': plan != 'tempostorm_monthly', 'panel-primary': plan == 'tempostorm_monthly' }">
                                        <div class="panel-heading text-center">
                                            MONTHLY
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3>USD$7.99</h3>
                                            per month
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="#" ng-click="plan = 'tempostorm_quarterly'">
                                    <div class="panel" ng-class="{ 'panel-default': plan != 'tempostorm_quarterly', 'panel-primary': plan == 'tempostorm_quarterly' }">
                                        <div class="panel-heading text-center">
                                            THREE MONTHS
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3>USD$20.97</h3>
                                            <strong>$6.99</strong> per month
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="#" ng-click="plan = 'tempostorm_semi'">
                                    <div class="panel" ng-class="{ 'panel-default': plan != 'tempostorm_semi', 'panel-primary': plan == 'tempostorm_semi' }">
                                        <div class="panel-heading text-center">
                                            SIX MONTHS
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3>USD$35.94</h3>
                                            <strong>$5.99</strong> per month
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
-->
                <div class="form-group">
                    <label for="card" class="col-sm-2 control-label">Card Number</label>
                    <div class="col-sm-10">
                        <input type="text" id="card" name="card" class="form-control" ng-model="number" placeholder="xxxx xxxx xxxx xxxx" payments-format="card" payments-validate="card" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="expiry" class="col-sm-2 control-label">Expiry</label>
                    <div class="col-sm-10">
                        <input type="text" id="expiry" name="expiry" class="form-control" ng-model="expiry" placeholder="MM / YYYY" payments-format="expiry" payments-validate="expiry" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cvc" class="col-sm-2 control-label">CVC</label>
                    <div class="col-sm-10">
                        <input type="text" id="cvc" name="cvc" class="form-control" ng-model="cvc" placeholder="1234" payments-validate="cvc" required>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="col-sm-10 col-sm-offset-2">
                    <button spinner-button="isLoading()" type="submit" class="btn btn-blue btn-lg" ng-class="{ 'disabled' : isLoading() }" ng-disabled="form.$invalid || isLoading() === true">Get Premium</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- / not subscribed -->
    
    <!-- subscribed -->
    <div class="panel panel-default m-t-md" ng-show="isSubscribed() && !getExpiryDate()">
        <div class="panel-heading">
            Subscription
        </div>
        <div class="panel-body">
            <form stripe-form="updateCard" name="formCard" role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Update Credit Card</h3>
                </div>
            </div>
            <div class="form-group">
                <label for="card" class="col-sm-2 control-label">Card Number</label>
                <div class="col-sm-10">
                    <input type="text" id="card" name="card" class="form-control" ng-model="number" placeholder="xxxx xxxx xxxx xxxx" payments-format="card" payments-validate="card" required>
                </div>
            </div>
            <div class="form-group">
                <label for="expiry" class="col-sm-2 control-label">Expiry</label>
                <div class="col-sm-10">
                    <input type="text" id="expiry" name="expiry" class="form-control" ng-model="expiry" placeholder="MM / YYYY" payments-format="expiry" payments-validate="expiry" required>
                </div>
            </div>
            <div class="form-group">
                <label for="cvc" class="col-sm-2 control-label">CVC</label>
                <div class="col-sm-10">
                    <input type="text" id="cvc" name="cvc" class="form-control" ng-model="cvc" placeholder="1234" payments-validate="cvc" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-blue btn-lg" ng-disabled="formCard.$invalid">Update Card</button>
                </div>
            </div>
            </form>
            <hr>
            <form name="formPlan" role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Update Plan</h3>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Plan</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#" ng-click="plan = 'tempostorm_monthly'">
                                <div class="panel" ng-class="{ 'panel-default': plan != 'tempostorm_monthly', 'panel-primary': plan == 'tempostorm_monthly' }">
                                    <div class="panel-heading text-center">
                                        MONTHLY
                                    </div>
                                    <div class="panel-body text-center">
                                        <h3>USD$7.99</h3>
                                        per month
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" ng-click="plan = 'tempostorm_quarterly'">
                                <div class="panel" ng-class="{ 'panel-default': plan != 'tempostorm_quarterly', 'panel-primary': plan == 'tempostorm_quarterly' }">
                                    <div class="panel-heading text-center">
                                        THREE MONTHS
                                    </div>
                                    <div class="panel-body text-center">
                                        <h3>USD$20.97</h3>
                                        <strong>$6.99</strong> per month
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" ng-click="plan = 'tempostorm_semi'">
                                <div class="panel" ng-class="{ 'panel-default': plan != 'tempostorm_semi', 'panel-primary': plan == 'tempostorm_semi' }">
                                    <div class="panel-heading text-center">
                                        SIX MONTHS
                                    </div>
                                    <div class="panel-body text-center">
                                        <h3>USD$35.94</h3>
                                        <strong>$5.99</strong> per month
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-blue btn-lg" ng-disabled="formPlan.$invalid || plan == app.user.getSubscription().tsPlan" ng-click="updatePlan()">Update Plan</button>
                </div>
            </div>
            </form>
            <hr>
            <form name="formCancel" role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-danger btn-lg" ng-disabled="formCancel.$invalid" ng-click="cancel()">Cancel Subscription</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- / subscribed -->
    
    <!-- canceled -->
    <div class="panel panel-default m-t-md" ng-show="!isSubscribed() && getExpiryDate()">
        <div class="panel-heading">
            Subscription
        </div>
        <div class="panel-body">
            <p>Your subscription has been canceled but will remain active until <strong>{{getExpiryDate() | date: 'mediumDate'}}</strong>. You must wait for your current subscription to expire before you can renew.</p>
        </div>
    </div>
    <!-- / canceled -->
    
    <!-- no email -->
    <div class="panel panel-default m-t-md" ng-show="!isSubscribed() && !user.email && !user.email.length">
        <div class="panel-heading">
            Subscription
        </div>
        <div class="panel-body">
            <p>You must add an email to your account before signing up for Tempostorm Premium.</p>
        </div>
    </div>
    <!-- / no email -->
</div>