<h2>BASIC INFORMATION</h2>
<h3>Edit your basic profile information including name, email, bio, and photo.</h3>


<div class="row basic-wrapper">
    <div class="col-sm-3">
        <div class="row no-wrap">
            <img gravatar-src="user.email" class="img-responsive img-circle gravatar">
        
            <span class="col-sm-12 padding-none">
                <a class="gravatar-button" href="http://www.gravatar.com" target="_blank"><h2>ADD IMAGE</h2></a>
            </span>
        </div>
    </div>
    <div class="col-sm-9 padding-none">
        <div class="notification clearfix" ng-class="{ 'hidden' : user.email === email }">
            <div class="pull-left">!</div> <p>An email will be sent to the new address. Please confirm your new email before changes take effect.</p>
        </div>
        <div class="form-group basic-form">
            <div class="row">
                <span class="col-sm-6"><input ng-model="email" type="email" class="form-control pull-right" placeholder="Email"><div class="email-charm">@</div></span>
                <span class="col-sm-6"><button ng-click="resetPassword()" class="reset-password pull-right"><h2>RESET PASSWORD</h2></button></span>
            </div>
            <div class="row">
                <span class="col-sm-6"><input ng-model="user.firstName" type="firstname" class="form-control pull-right" placeholder="First Name"></span>
                <span class="col-sm-6"><input ng-model="user.lastName" type="lastname" class="form-control pull-right" placeholder="Last Name"></span>
            </div>
            <div class="row">
                <span class="col-sm-12">
                    <textarea ng-model="user.about" class="form-control pull-right" placeholder="Bio"></textarea>
                </span>
            </div>
        </div>
    </div>
</div>