<h2>CONNECTED SERVICES</h2>
<h3>Attach extra services to your Tempo Storm account to make the most of your user experience.</h3>

<div class="row connect-wrapper">
    
    <div class="connect twitchBorder">
        <div class="logo-wrapper twitchBack">
            <i class="fa fa-twitch"></i>
        </div>
        <div class="connect-body">
            <button ng-class="{ 'twitchBack' : true }" class="link"><i class="fa fa-chain-broken"></i></button>
        </div>
    </div>
    
    <div class="connect blizzBorder">
        <div class="logo-wrapper blizzBack">
            <img src="../../img/BattleNet_white.png">
        </div>
        <div class="connect-body">
            <button class="link"><i class="fa fa-chain-broken"></i></button>
        </div>
    </div>
    
    <div class="connect gravBorder">
        <div class="logo-wrapper gravBack">
            <img src="../../img/gravatar_white_sm.png">
        </div>
        <div class="connect-body">
            <button class="link"><i class="fa fa-chain-broken"></i></button>
        </div>
    </div>
    
</div>