<div class="profile-col-header"><h2>GUIDES</h2></div>
 
    
<div class="row no-wrap hots-styles" ng-show="guides.length">
    <div ng-repeat="guide in guides" class="col-xs-12 col-sm-6 m-b-sm">
        <a ui-sref="app.hots.guides.guide({ slug: guide.slug })" class="hots-guide large {{getGuideClass(guide)}}">
            <div class="inner"></div>
            <div class="hots-guide-premium" ng-if="isPremium(guide)"></div>
            <div class="bt-shadow" ng-if="guide.guideType == 'hero'"></div>
            <h1>{{guide.name}}</h1>
            <h3>by {{guide.author.username || '[Deleted User]'}} - <span am-time-ago="guide.createdDate"></span></h3>
            <div class="hots-guide-votes">{{guide.votesCount}}</div>
            <div class="hero-flip btn-group" ng-if="guide.heroes.length > 1">
                <button class="btn btn-xs btn-blue" ng-click="guidePrevHero($event, guide)"><span class="fa fa-angle-left"></span></button>
                <button class="btn btn-xs btn-blue" ng-click="guideNextHero($event, guide)"><span class="fa fa-angle-right"></span></button>
            </div>
            <ul class="hots-guide-talents" ng-if="guide.guideType == 'hero'">
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 1).className}}"
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 1).name}}"></li>
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 4).className}}" 
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 4).name}}"></li>
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 7).className}}" 
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 7).name}}"></li>
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 10).className}}" 
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 10).name}}"></li>
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 13).className}}" 
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 13).name}}"></li>
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 16).className}}" 
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 16).name}}"></li>
                <li class="talents-icon active {{getGuideClass(guide)}} {{getTalent(getGuideCurrentHero(guide), guide, 20).className}}" 
                    ng-tooltip title="{{getTalent(getGuideCurrentHero(guide), guide, 20).name}}"></li>
            </ul>
            <div class="hots-guide-owner" ng-if="$parent.$parent.user.id == guide.author.id">
                <button class="btn btn-blue btn-xs" ng-click="guideEdit($event, guide)">Edit</button>
                <button class="btn btn-danger btn-xs" ng-click="guideDelete($event, guide)">Delete</button>
            </div>
        </a>
    </div>
</div>
<p class="profile-no-content" ng-if="!guides.length">@{{user.username}} hasn't created any guides yet.</p>
