<h2>CONNECTED SERVICES</h2>
<h3>Attach extra services to your Tempo Storm account to make the most of your user experience.</h3>

<div class="row connect-wrapper">
    
    <div class="connect twitchBorder">
        <div class="logo-wrapper twitchBack">
            <i class="fa fa-twitch"></i>
        </div>
        <div class="connect-body">
            Link your twitter account.
            <button ng-click="twitchLink()" ng-class="{ 'twitchBack' : true }" class="link"><i class="fa fa-chain-broken"></i></button>
        </div>
    </div>
    
    <div class="connect blizzBorder">
        <div class="logo-wrapper blizzBack">
            <img src="../../img/BattleNet_white.png">
        </div>
        <div class="connect-body">
            Link your Battlenet account
            <button ng-click="bnetLink()" class="link"><i class="fa fa-chain-broken"></i></button>
        </div>
    </div>
</div>