<h2>CONNECTED SERVICES</h2>
<h3>Attach extra services to your Tempo Storm account to make the most of your user experience.</h3>

<div class="row connect-wrapper">
    
    <div class="connect twitchBorder">
        <div class="logo-wrapper twitchBack">
            <i class="fa fa-twitch"></i>
        </div>
        <div class="connect-body">
            <span ng-if="!isLinked.twitch" class="hidden-xs connect-text">Link your twitch account.</span>
            <span ng-if="isLinked.twitch" class="hidden-xs connect-text">Your account is linked.</span>

            <div class="pull-right clearfix connect-btn-wrapper">
                <span ng-if="isLinked.twitch">
                    <button ng-click="twitchLink()" class="link twitchBack pull-left"><i class="fa fa-chain"></i></button>
                    <button ng-disabled="isUnlinking" ng-click="unlink('twitch')" class="link unlink pull-left">
                        <i ng-if="!isUnlinking" class="fa fa-close"></i>
                        <i ng-if="isUnlinking" class="fa fa-cog fa-spin"></i>
                    </button>
                </span>

                <button ng-if="!isLinked.twitch" ng-click="twitchLink()" class="link"><i class="fa fa-chain-broken"></i></button>
            </div>
        </div>
    </div>
    
    <div class="connect blizzBorder">
        <div class="logo-wrapper blizzBack">
            <img src="../../img/BattleNet_white.png">
        </div>
        <div class="connect-body">
            <span ng-if="!isLinked.bnet" class="hidden-xs connect-text">Link your Battlenet account.</span>
            <span ng-if="isLinked.bnet" class="hidden-xs connect-text">Your account is linked.</span>

            <div class="pull-right clearfix connect-btn-wrapper">
                <span ng-if="isLinked.bnet">
                    <button ng-click="bnetLink()" class="link blizzBack pull-left"><i class="fa fa-chain"></i></button>
                    <button ng-click="unlink('bnet')" class="link unlink pull-left"><i class="fa fa-close"></i></button>
                </span>

                <button ng-if="!isLinked.bnet" ng-click="bnetLink()" class="link"><i class="fa fa-chain-broken"></i></button>
            </div>
        </div>
    </div>
</div>