<div class="clearfix">
    <span class="pull-left">
        <h2>TEMPO STORM PREMIUM</h2>
        <h3>Obtain early access to all the best Tempo Storm articles.</h3>
    </span>

    <button ng-if="!isPremium || user.subscription.isSubscribed" class="update-card-btn cancel-subscription pull-right" ng-click="cancelSubscription()" ng-disabled="isLoading() || !user.subscription.isSubscribed">Cancel Subscription</button>
</div>

<div class="premium-wrapper row">
    <div class="premium-btns" ng-if="!isPremium || user.subscription.isSubscribed">
        <button ng-class="{ 'active' : plan == 'tempostorm_monthly' }" ng-click="selectPlan('tempostorm_monthly')" class="prem-btn monthly col-sm-4">
            <h3>MONTHLY</h3>
            <div class="price-wrap">
                <h2>USD $7.99</h2>
                <h3>per month</h3>
            </div>
        </button>
        <button ng-class="{ 'active' : plan == 'tempostorm_quarterly' }" 
                ng-click="selectPlan('tempostorm_quarterly')" class="prem-btn tri-monthly col-sm-4">
            <h3>THREE MONTHS</h3>
            <div class="price-wrap">
                <h2>USD $20.97</h2>
                <h3>$6.99 per month</h3>
            </div>
        </button>
        <button ng-class="{ 'active' : plan == 'tempostorm_semi' }" ng-click="selectPlan('tempostorm_semi')" class="prem-btn six-month col-sm-4">
            <h3>SIX MONTHS</h3>
            <div class="price-wrap">
                <h2>USD $35.94</h2>
                <h3>$5.99 per month</h3>
            </div>
        </button>
    </div>
<!--    <credit-form></credit-form>-->
    
    <form ng-if="!isPremium && !user.subscription.isSubscribed" stripe-form="subscribe" role="subscribe" class="form-horizontal">
        <div class="premium-form">
            <input type="text" id="card" name="card" ng-model="number" placeholder="{{subform.cardPlaceholder}}" payments-format="card" payments-validate="card" required>
            <input type="text" id="expiry" name="expiry" ng-model="expiry" placeholder="MM / YYYY" payments-format="expiry" payments-validate="expiry" required>
            <input type="text" id="cvc" name="cvc" class="cvc" ng-model="cvc" placeholder="CVC" payments-validate="cvc" required>
        </div>
        
<!--        <button spinner-button="isLoading" type="submit" class="update-card-btn" ng-disabled="form.$invalid || isLoading == true"><h2>Get Premium</h2></button>-->
        <input type="submit" class="update-card-btn"  value="Subscribe" ng-class="{ 'disabled' : isLoading() }" ng-disabled="subscribe.$invalid || isLoading()" />
<!--
        <div ng-if="isLoading()" class="please-wait clearfix">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
-->
    </form>
    
    <form ng-if="isPremium && user.subscription.isSubscribed" stripe-form="updateCard" name="update" role="form" class="form-horizontal">
        <div class="premium-form">
            <input type="text" id="card" name="card" ng-model="number" placeholder="{{subform.cardPlaceholder}}" payments-format="card" payments-validate="card" required>
            <input type="text" id="expiry" name="expiry" ng-model="expiry" placeholder="MM / YYYY" payments-format="expiry" payments-validate="expiry" required>
            <input type="text" id="cvc" name="cvc" class="cvc" ng-model="cvc" placeholder="CVC" payments-validate="cvc" required>
        </div>
        
        <div class="update-card-btn-wrapper clearfix">
            <input type="submit" class="update-card-btn"  value="Update Card" ng-class="{ 'disabled' : isLoading() }" ng-disabled="update.$invalid || isLoading()" />
<!--
            <div ng-if="isLoading()" class="please-wait clearfix">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
-->
        </div>
    </form>
    
    <div ng-if="isPremium && !user.subscription.isSubscribed">
        <h2 style="font-size: 16px;">Looks like your subscription was cancelled but is still active until <span style="text-decoration: underline;" ng-bind="parseDate(user.subscription.expiryDate)"></span>. You must wait until your current subscription expires before you can resubscribe.</h2>
    </div>
</div>