<div class="profile-col-header"><h2>DECKS</h2></div>

<ul class="hs-decks row" ng-if="decks.length">
    <li class="col-xs-12 col-sm-6 m-b-sm" ng-repeat="deck in decks">
        <a ui-sref="app.hs.decks.deck({ slug: deck.slug })" class="hs-deck large {{deck.playerClass.toLowerCase()}} {{deck.heroName.toLowerCase()}}">
            <div class="inner"></div>
            <div class="hs-deck-premium" ng-if="isPremium(deck)"></div>
            <div class="bt-shadow"></div>
            <div class="hs-deck-details">
                <h1>{{deck.name}}</h1>
                <h3>by {{deck.author.username || '[Deleted User]'}} - <span am-time-ago="deck.createdDate"></span></h3>
            </div>
            <div class="hs-deck-votes">{{deck.voteScore}}</div>
            <div class="hs-deck-owner" ng-if="$parent.$parent.User.getCurrentId() === deck.author.id">
                <button class="btn btn-blue btn-xs" ng-click="deckEdit($event, deck)">Edit</button>
                <button class="btn btn-danger btn-xs" ng-click="deckDelete($event, deck)">Delete</button>
            </div>
        </a>
    </li>
</ul>
<p class="profile-no-content" ng-if="!decks.length">@{{user.username}} hasn't created any decks yet.</p>
