<h2>SOCIAL</h2>
<h3>Share all your social network connections with the Tempo Storm Community</h3>

<div class="row social-wrapper">
    
    <div ng-class="{ 'invalid': !testString('twitch') }" class="link twitchBorder clearfix">
        <div class="logo-wrapper twitchBack">
            <i class="fa fa-twitch"></i>
        </div>
        <input class="hidden-xs twitchWidth static-text" type="text" value="http://www.twitch.tv/" disabled></input>
        <input class="social-input" placeholder="username" ng-model="user.social.twitch">
    </div>

    <div ng-class="{ 'invalid': !testString('youtube') }" class="link youtubeBorder clearfix">
        <div class="logo-wrapper youtubeBack">
            <i class="fa fa-youtube-play"></i>
        </div>
        <input class="hidden-xs youtubeWidth static-text" type="text" value="https://www.youtube.com/channel/" disabled></input>
        <input class="social-input" placeholder="username" ng-model="user.social.youtube">
    </div>

    <div ng-class="{ 'invalid': !testString('twitter') }" class="link twitterBorder clearfix">
        <div class="logo-wrapper twitterBack">
            <i class="fa fa-twitter"></i>
        </div>
        <input class="hidden-xs twitterWidth static-text" type="text" value="https://twitter.com/" disabled></input>
        <input class="social-input" placeholder="username" ng-model="user.social.twitter">
    </div>

    <div ng-class="{ 'invalid': !testString('facebook') }" class="link facebookBorder clearfix">
        <div class="logo-wrapper facebookBack">
            <i class="fa fa-facebook"></i>
        </div>
        <input class="hidden-xs facebookWidth static-text" type="text" value="https://facebook.com/" disabled></input>
        <input class="social-input" placeholder="username" ng-model="user.social.facebook">
    </div>

    <div ng-class="{ 'invalid': !testString('instagram') }" class="link instagramBorder clearfix">
        <div class="logo-wrapper instagramBack">
            <i class="fa fa-instagram"></i>
        </div>
        <input class="hidden-xs instagramWidth static-text" type="text" value="https://instagram.com/" disabled></input>
        <input class="social-input" placeholder="username" ng-model="user.social.instagram">
    </div>
</div>