<div class="bg-override sponsors">
    <div class="container sponsor-page">
        <div class="row row-dark m-b-md pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-twitch"><a href="https://twitch.tv/" target="_blank"></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>Twitch is the world's leading video platform and community for gamers. Experience the best gaming entertainment available anywhere with Twitch.tv. Watch your favourite games and streams around the clock. Whether you are looking for entertainment, to improve your game, or to broadcast your antics to the world - twitch is the place for you.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="http://www.twitch.tv/" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/twitch" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/Twitch" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
        <div class="row row-dark m-b-md pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-g2a"><a href="https://www.g2a.com/r/tempo-storm" target="_blank"></a></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>G2A.com is a digital games marketplace. With G2A you gain access to your favourite games and services at incredible prices. For full games on Steam and Origin to game cards for your favourite services like PSN, X-Box Live and, of course, time-cards for top games. G2A has everything you're looking for.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="https://www.g2a.com/r/tempo-storm" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/g2a_com" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/g2acom" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
        <div class="row row-dark m-b-md pin-stripe drop-shadow">
            <div class="col-xs-12 col-sm-6 col-md-4 wrapper-lg">
                <div class="sponsor-logo-curse"><a href="https://www.curse.com/" target="_blank"></a></div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-6 wrapper-lg">
                <p>Curse is a global multimedia and technology company focused on creating content and products specifically for gamers. Curse provides information and tools to help gamers better enjoy all aspects of their gaming lifestyle. Through their various endeavors, Curse fosters the formation of new communities, and help like-minded gamers around the world connect, interact and share information with one another.</p>
            </div>
            <div class="col-xs-2 wrapper-lg">
                <a class="btn-sponsor" href="https://www.curse.com/" target="_blank"><div class="btn-inner"><i class="fa fa-globe"></i></div></a>
                <a class="btn-sponsor" href="https://twitter.com/cursenetwork" target="_blank"><div class="btn-inner"><i class="fa fa-twitter"></i></div></a>
                <a class="btn-sponsor" href="https://www.facebook.com/CurseNetwork" target="_blank"><div class="btn-inner"><i class="fa fa-facebook"></i></div></a>
            </div>
        </div>
    </div>
</div>