<div class="panel panel-dark m-b-none">
    
    
    
    <div class="panel-heading clearfix">
        <strong class="lh-lg">ADD DECK</strong>
        <div class="pull-right m-r-sm">
            <input type="text" ng-model="search" class="form-control input-sm" placeholder="Search...">
        </div>
    </div>
    
    <form class="list-group">
        <a class="list-group-item" ng-click="addDeck(deck)" ng-repeat="deck in filtered = (decks | filterAll:search | orderBy:'-createdDate' | limitTo:10)">
            {{deck.name}}
        </a>
    </form>
</div>