<div class="db-classes clearfix">
    <div class="db-class db-class-mage"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'mage' })"></a></div>
    <div class="db-class db-class-shaman"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'shaman' })"></a></div>
    <div class="db-class db-class-warrior"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'warrior' })"></a></div>
    <div class="db-class db-class-rogue"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'rogue' })"></a></div>
    <div class="db-class db-class-paladin"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'paladin' })"></a></div>
    <div class="db-class db-class-priest"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'priest' })"></a></div>
    <div class="db-class db-class-warlock"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'warlock' })"></a></div>
    <div class="db-class db-class-hunter"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'hunter' })"></a></div>
    <div class="db-class db-class-druid"><a ui-sref="app.admin.hearthstone.decks.addBuild({ playerClass: 'druid' })"></a></div>
</div>