<div class="panel panel-success animated" ng-show="success.show">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="success.show = false">&times;</button>
        <strong>{{success.msg}}</strong>
    </div>
</div>
<div class="panel panel-default" ng-repeat="category in categories">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-sm-6 admin-list-item">
                <span>{{category.title}}</span>
            </div>
            <div class="col-sm-6">
                <div class="pull-right btn-toolbar">
                    <a href="./admin/forum/structure/category/edit/{{category._id}}" class="btn btn-default">Edit</a>
                    <button class="btn btn-danger" ng-click="deleteCategory(category)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item admin-list-item clearfix" ng-repeat="thread in category.threads">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{thread.title}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right btn-toolbar">
                        <a href="./admin/forum/structure/thread/edit/{{thread._id}}" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger" ng-click="deleteThread(thread)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-show="!categories.length">
            There are no threads yet.
        </div>
    </div>
</div>