<div class="panel panel-danger error-modal animated" ng-show="showError">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="showError = false">&times;</button>
        <strong>Unable to update hero</strong>
    </div>
    <div class="panel-body">
        <ul class="error text-danger">
            <li ng-repeat="error in errors">{{error.msg}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default br-none">
    <form name="form" role="form" class="form-horizontal">
    <div class="panel-heading">
        Edit Hero
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control" ng-model="hero.name" required>
            </div>
        </div>
        <div class="row form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="description" name="description" class="form-control" ng-model="hero.description" required></textarea>
            </div>
        </div>
        <div class="row form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title" class="form-control" ng-model="hero.title" required>
            </div>
        </div>
        <div class="row form-group">
            <label for="role" class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
                <select id="role" name="role" class="form-control" ng-options="role as role for role in roles" ng-model="hero.role" required></select>
            </div>
        </div>
        <div class="row form-group">
            <label for="heroType" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <select id="heroType" name="heroType" class="form-control" ng-options="heroType as heroType for heroType in heroTypes" ng-model="hero.heroType" required></select>
            </div>
        </div>
        <div class="row form-group">
            <label for="manaType" class="col-sm-2 control-label">Mana Type</label>
            <div class="col-sm-10">
                <select id="manaType" name="manaType" class="form-control" ng-options="manaType as manaType for manaType in manaTypes" ng-model="hero.manaType" required></select>
            </div>
        </div>
        <div class="row form-group">
            <label for="universe" class="col-sm-2 control-label">Universe</label>
            <div class="col-sm-10">
                <select id="universe" name="universe" class="form-control" ng-options="universe as universe for universe in universes" ng-model="hero.universe" required></select>
            </div>
        </div>
        <div class="row form-group">
            <label for="gold" class="col-sm-2 control-label">Gold Cost</label>
            <div class="col-sm-10">
                <input type="number" id="gold" name="gold" class="form-control" ng-model="hero.price.gold" required>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a href="#" class="btn btn-sm btn-green btn-rounded pull-right" ng-click="abilityAddWnd()">
                    <i class="fa fa-plus-circle m-r-xs"></i>Add
                </a>
                <strong class="lh-lg">Abilities</strong>
            </div>
            <ul class="list-group" dnd-list="hero.abilities" dnd-allowed-types="['ability']" ng-show="hero.abilities.length">
                <li class="list-group-item admin-list-item lh-lg clearfix"
                    ng-repeat="ability in hero.abilities | orderBy: 'orderNum'"
                    dnd-draggable="ability"
                    dnd-moved="updateDND(hero.abilities, $index)"
                    dnd-disable-if="hero.abilities.length < 2"
                    dnd-type="'ability'"
                >
                    {{ability.name}}
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="abilityEditWnd(ability)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteAbility(ability)">Delete</button>
                    </div>
                </li>
            </ul>
            <div class="panel-body" ng-show="!hero.abilities.length">
                <p class="m-b-none">There are no abilities added for this hero yet.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a href="#" class="btn btn-sm btn-green btn-rounded pull-right" ng-click="talentAddWnd()">
                    <i class="fa fa-plus-circle m-r-xs"></i>Add
                </a>
                <strong class="lh-lg">Talents</strong>
            </div>
            <ul class="list-group" dnd-list="hero.talents" dnd-allowed-types="['talent']" ng-show="hero.talents.length">
                <li class="list-group-item admin-list-item lh-lg clearfix"
                    ng-repeat="talent in hero.talents | orderBy: 'orderNum'"
                    dnd-draggable="talent"
                    dnd-moved="updateDND(hero.talents, $index)"
                    dnd-disable-if="hero.talents.length < 2"
                    dnd-type="'talent'"
                >
                    Level {{talent.tier}} - {{talent.name}}
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="talentEditWnd(talent)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteTalent(talent)">Delete</button>
                    </div>
                </li>
            </ul>
            <div class="panel-body" ng-show="!hero.talents.length">
                <p class="m-b-none">There are no talents added for this hero yet.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a href="#" class="btn btn-sm btn-green btn-rounded pull-right" ng-click="charAddWnd()">
                    <i class="fa fa-plus-circle m-r-xs"></i>Add
                </a>
                <strong class="lh-lg">Characters</strong>
            </div>
            <ul class="list-group" ng-show="hero.characters.length">
                <li class="list-group-item admin-list-item lh-lg clearfix" ng-repeat="character in hero.characters | orderBy: 'name'">
                    {{character.name}}
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="charEditWnd(character)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteChar(character)">Delete</button>
                    </div>
                </li>
            </ul>
            <div class="panel-body" ng-show="!hero.characters.length">
                <p class="m-b-none">There are no characters added for this hero yet.</p>
            </div>
        </div>
        <!--
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="btn-group pull-right clearfix">
                    <a href="#" class="btn btn-sm btn-blue pull-left" ng-click="prevLevel()" ng-disabled="getLevel() === 1"><i class="fa fa-angle-left"></i></a>
                    <a href="#" class="btn btn-sm btn-blue pull-left" ng-click="nextLevel()" ng-disabled="getLevel() === 30"><i class="fa fa-angle-right"></i></a>
                </div>
                <strong class="lh-lg">Stats - Level {{statLevel}}</strong>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <label for="statsHealth" class="col-sm-2 control-label">Health</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsHealth" name="statsHealth" class="form-control" ng-model="currentStats().health" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="statsHealth" class="col-sm-2 control-label">Health Regen</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsHealth" name="statsHealth" class="form-control" ng-model="currentStats().healthRegen" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="statsHealth" class="col-sm-2 control-label">Mana</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsHealth" name="statsHealth" class="form-control" ng-model="currentStats().mana" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="statsHealth" class="col-sm-2 control-label">Mana Regen</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsHealth" name="statsHealth" class="form-control" ng-model="currentStats().manaRegen" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="statsHealth" class="col-sm-2 control-label">Attack Speed</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsHealth" name="statsHealth" class="form-control" ng-model="currentStats().attackSpeed" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="statsRange" class="col-sm-2 control-label">Range</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsRange" name="statsRange" class="form-control" ng-model="currentStats().range" required>
                    </div>
                </div>
                <div class="row form-group m-b-none">
                    <label for="statsHealth" class="col-sm-2 control-label">Damage</label>
                    <div class="col-sm-10">
                        <input type="text" id="statsHealth" name="statsHealth" class="form-control" ng-model="currentStats().damage" required>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row form-group">
            <label for="className" class="col-sm-2 control-label">CSS Class</label>
            <div class="col-sm-10">
                <input type="text" id="className" name="className" class="form-control" ng-model="hero.className" required>
            </div>
        </div>
        <div class="row form-group">
            <label for="active" class="col-sm-2 control-label">Active</label>
            <div class="col-sm-10">
                <select id="active" name="active" class="form-control" ng-options="active.value as active.name for active in heroActive" ng-model="hero.active" required></select>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-blue btn-lg" ng-disabled="form.$invalid" ng-click="editHero()">Update Hero</button>
        </div>
    </div>
    </form>
    </div>
</div>
