<!-- Mobile override div -->
<div class="mobile-override">
    <div class="override-msg">
        <h2>Feature Unavailable</h2>
        <p>This feature is unavailable on devices and browsers with this resolution.</p>
        <p>Please use a device with a larger resolution.</p>

    </div>
</div>
<!-- end Mobile override div -->

<div class="draft-build">
    <!-- mobile cardpool button -->
    <div class="filter-button-bar">
        <button class="filtering-mobile-toggle-btn btn btn-blue" ng-click="mobileCardFilters = !mobileCardFilters">Filtering</button>
    <!-- mobile cardpool button -->
    </div>
    
    <div class="draft-build-filtering" ng-class="{ 'mobile-show': mobileCardFilters, 'mana-closed': manaCurveFilter }">
    
        <div class="mana-curve">
            <h3 ng-click="manaCurveFilter = !manaCurveFilter">Mana Curve</h3>
            
            <ul class="clearfix">
                <li ng-repeat="cost in manaCosts">
                    <div class="mana-curve-amt">{{manaCount(cost)}}</div>
                    <div class="mana-curve-bar"><span style="height: {{manaCurve(cost)}}px;"></span></div>
                    <div class="mana-curve-num">{{cost}}<span ng-if="cost === 7">+</span></div>
                </li>
            </ul>
            
        </div>
        
        <div class="card-search">
            <h3>Card Search</h3>
            <form>
                <div class="input-group">
                    <input type="text" name="search" class="input-sm input-dark form-control" placeholder="Search..." ng-model="search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-blue btn-sm" ng-click="setSearch()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        
        <div class="mana-cost">
            <h3>Mana Cost</h3>
            
            <div class="mana-crystals clearfix">
                <div ng-class="{active: filters.mana === cost}" ng-repeat="cost in manaCosts">
                    <a href="#" ng-click="toggleFilterByMana(cost); pagination.setPage(1)">{{cost}}<span ng-if="cost === 7">+</span></a>
                </div>
            </div>
            
        </div>
        
        <div class="card-rarity">
            <h3>Card Rarity</h3>
            
            <div class="dropdown m-t-sm m-l-sm m-r-sm m-b-sm">
                <button class="btn card-rarity-btn input-dark" type="button" data-toggle="dropdown">
                    <span>
                        Rarity:
                        <strong class="m-l-md">{{filters.rarity.name}}</strong>
                    </span>
                    <span class="pull-right">
                        <b class="caret"></b>
                    </span>
                </button>
                <ul class="list-group dropdown-menu dropdown-dark">
                    <li class="list-group-item" ng-class="{active: filters.rarity === rarity}" ng-repeat="rarity in rarities">
                        <a href="#" ng-click="setFilterRarity(rarity); pagination.setPage(1);">{{rarity.name}}</a>
                    </li>
                </ul>
            </div>
            
        </div>
        
        <div class="card-mechanics">
            <h3>Card Mechanics</h3>
            
            <div class="mechanics-wrapper">
                <div class="iscroll-wrapper" iscroll="{mouseWheel: true, momentum: true, refreshInterval: 500, scrollbars: true, interactiveScrollbars: true}">
                    <div class="iscroll-scroller">
                        <ul>
                            <li ng-repeat="mechanic in cardMechanics">
                                <button ng-class="{ active: hasFilterMechanic(mechanic) }" ng-click="toggleFilterByMechanic(mechanic)">{{mechanic}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <div class="draft-build-decks">
        
        <div class="deck-add-button">
            <button ng-click="addDeckWnd()" ng-disabled="!canEdit()">
                <i class="fa fa-plus-circle"></i>
                Add Deck
            </button>
        </div>
        
        <div class="decks">
            
            <div class="deck {{deck.playerClass.toLowerCase()}}" ng-class="{ active: isCurrentDeck(deck) }" ng-repeat="deck in decks">
                
                <div class="deck-title-bar" ng-click="toggleCurrentDeck(deck)">
                    <div class="deck-title-bar-inner">
                        <button class="deck-delete" ng-click="deleteDeck($event, deck)" ng-if="canEdit()"><i class="fa fa-times"></i></button>
                        <div class="deck-title">{{deck.name}}</div>
                    </div>
                </div>
                
                <div class="deck-cards">
                    <div class="iscroll-wrapper" iscroll="{mouseWheel: true, momentum: true, refreshInterval: 500, scrollbars: true, interactiveScrollbars: true}">
                        <div class="iscroll-scroller">
                            
                            <div class="deck-card {{card.card.playerClass.toLowerCase()}}" ng-class="{multi:card.cardQuantity > 1, legendary: card.card.rarity === 'Legendary'}" 
                                 ng-repeat="card in deck.cards track by card.card.id" 
                                 data-tooltip-img="'https://cdn-tempostorm.netdna-ssl.com/cards/' + card.card.photoNames.large" 
                                 data-tooltip-pos="left" hs-card
                                 ng-click="removeCardFromDeck(card)">
                                <div class="card-pool-card-mana">{{card.card.cost}}</div>
                                <div class="card-pool-card-qty" ng-if="card.cardQuantity > 1">{{card.cardQuantity}}</div>
                                <div class="card-pool-card-legendary" ng-if="card.card.rarity === 'Legendary'">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="card-pool-card-photo">
                                    <img ng-src="https://cdn-tempostorm.netdna-ssl.com/cards/{{card.card.photoNames.small}}" alt="card.card.name">
                                </div>
                                <div class="card-pool-card-name">{{card.card.name}}</div>
                            </div>
                    
                        </div>
                    </div>
                </div>
                
                <div class="deck-count">
                    <div class="deck-count-inner">
                        {{deck.getSize()}}/30
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <div class="deck-save-button">
            <button class="btn btn-block btn-blue" ng-click="saveDecks()" ng-disabled="decksSaving" ng-if="!tournament.hasDecksConstructed">
                SAVE DECKS
                <i class="fa fa-refresh fa-spin" ng-if="decksSaving"></i>
            </button>
            <button class="btn btn-block btn-blue" ng-click="shareDecks()" ng-if="tournament.hasDecksConstructed">
                SHARE DECKS
            </button>
        </div>
        
    </div>
    
    <draft-timer start-time="tournament.deckBuildStartTime" time-limit="tournament.deckBuildTimeLimit" on-time-up="timesUp" ng-if="!tournament.hasDecksConstructed"></draft-timer>
    
    <div class="draft-build-cards">
        <div class="container container-override">
            <ul class="card-filter-classes clearfix" ng-class="{ filtered: currentDeck }">
                <li ng-repeat="klass in klasses">
                    <button class="{{klass.toLowerCase()}}" ng-class="{ active: hasFilterClass(klass) }" ng-click="setFilterClass(klass)" ng-tooltip data-original-title="{{klass}}" ng-if="currentDeck.playerClass === klass || !currentDeck">{{klass}}</button>
                </li>
                <li>
                    <button class="neutral" ng-class="{ active: hasFilterClass('Neutral') }" ng-click="setFilterClass('Neutral')" ng-tooltip data-original-title="Neutral">Neutral</button>
                </li>
            </ul>

            <div class="draft-build-pool clearfix">
                <button class="draft-build-cards-pagination left" ng-disabled="pagination.getPage() === 1" ng-click="pagination.setPage(pagination.getPage() - 1)" ng-if="pagination.pages() > 1"><div class="inner"><i class="fa fa-caret-left"></i></div></button>
                <button class="draft-build-cards-pagination right" ng-disabled="pagination.getPage() + 1 > pagination.pages() || pagination.results() === 0" ng-click="pagination.setPage(pagination.getPage() + 1)" ng-if="pagination.pages() > 1"><div class="inner"><i class="fa fa-caret-right"></i></div></button>

                <div class="draft-build-cards-view-wrapper clearfix">
                    <div class="draft-build-cards-view clearfix">
                        <div class="draft-build-card" ng-class="{ disabled: (currentDeck && !currentDeck.isAddable(card.card)) || (qtyUsed(card) === card.qty) }" ng-repeat="card in getCardsCurrent()">
                            <a href="#" data-tooltip-img="'https://cdn-tempostorm.netdna-ssl.com/cards/' + card.card.photoNames.large" ng-click="addCardToDeck(card)" ng-right-click="removeCardFromDeck(card)" hs-card>
                                <img ng-src="https://cdn-tempostorm.netdna-ssl.com/cards/{{card.card.photoNames.medium}}" alt="{{card.card.name}}">
                            </a>
                            <div class="card-qty">{{card.qty - qtyUsed(card)}}/{{card.qty}}</div>
                        </div>
                        <div class="draft-build-pool-no-match" ng-if="!getCardsCurrent().length">No Matches Found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>