<div class="draft container-fluid"
     redbull-draft
     packs="packs"
     is-loading="isLoading"
     current-pack="currentPack"
     current-cards="currentCards"
     audio-files="audioFiles"
     add-card-to-pool="addCardToPool">
</div>

<!-- card pool -->
<div class="card-pool">
    <div class="card-pool-title"></div>
    <div class="card-pool-cards iscroll-wrapper" iscroll="{mouseWheel: true, momentum: true, refreshInterval: 500, scrollbars: true}">
        <div class="iscroll-scroller">
            <div class="card-pool-card" ng-class="{multi:card.qty > 1, legendary: card.card.rarity === 'Legendary'}" 
                 ng-repeat="card in sortedPool() track by card.card.id" 
                 data-card-id="card.card.id" 
                 data-tooltip-img="'https://cdn-tempostorm.netdna-ssl.com/cards/' + card.card.photoNames.large" 
                 data-tooltip-pos="left" pool-card>
                <div class="card-pool-card-mana">{{card.card.cost}}</div>
                <div class="card-pool-card-qty" ng-if="card.qty > 1">{{card.qty}}</div>
                <div class="card-pool-card-legendary" ng-if="card.card.rarity === 'Legendary'">
                    <i class="fa fa-star"></i>
                </div>
                <div class="card-pool-card-photo">
                    <img ng-src="https://cdn-tempostorm.netdna-ssl.com/cards/{{card.card.photoNames.small}}" alt="card.card.name">
                </div>
                <div class="card-pool-card-name">{{card.card.name}}</div>
            </div>
        </div>
    </div>
</div>
<!-- / card pool -->
