<div class="container-fluid generator-home">
    <ts-ad structure="double"></ts-ad>
    
    <div class="row top-section m-b-xl">
        
<!--        <div class="bran-box hidden-md hidden-sm hidden-xs"><img src="https://staging-cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/home/bran-right-edge.png"></div>-->
        <div class="container">
            <div class="col-md-12 col-lg-5 m-t-xl">
    <!--            <button class="btn btn-blue btn-block" ng-click="playerLogin()">Player Login</button>-->
                <h2>Welcome to the</h2>
                <h1 class="blue-title">Tempo Storm</h1>
                <h3 class="m-b-xl">Sealed Deck Generator</h3>
                <p class="m-b-xl">Tempo Storm presents an entirely new way to play Hearthstone! Open up a bunch of packs, and build three decks from the cards you open before the timer runs out! Play for fun, put some gold on the line or host a tournament with your local Hearthstone community!</p>
                
<!--
                <button class="m-t-xl hidden-xs pack-button tourney-button btn-blue" ng-click="draftLoadingToggle()" ng-disabled="isDraftLoading()">
                    
                    <span ng-if="!isDraftLoading()">Open packs now!</span>
                    <span class="m-r-sm" ng-if="isDraftLoading()">Loading </span>
                    <i class="fa fa-refresh fa-spin" ng-if="isDraftLoading()"></i>
                
                </button>
-->
                
                
                
                
<!--                <div class="m-t-xl hidden-sm hidden-md hidden-lg hidden-xl pack-button tourney-button override ">Not Available on Mobile</div>-->
<!--
                <div class="m-t-xl pack-button tourney-button override ">Coming Soon</div>
-->
            </div>
            <div class="hidden-xs  col-md-12 col-lg-7 card-div " ng-mouseover="packTrigger=true" ng-mouseout="packTrigger=false" >
                <div class="bg-glow glow-pulse" ng-class="{'speed-pulse': isDraftLoading()}"></div>
                    <span ng-class="{'loading-builder': isDraftLoading()}">
                        <div class="card-packs-container" ng-click="draftLoadingToggle()" ng-disabled="isDraftLoading()">
                            <div class="pack-three card-pack" ng-class="{'three-transform':packTrigger}">
                                <div class="display-none" ng-class="{'three':packTrigger, 'glow-div':packTrigger}"></div>
                                <img src="https://cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/home/tgt-pack.png" >
                            </div>

                            <div class="pack-two card-pack" ng-class="{'two-transform':packTrigger}">
                                <div class="display-none" ng-class="{'two':packTrigger, 'glow-div':packTrigger}"></div>
                                <img src="https://cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/home/gvg-pack.png" >

                            </div>
                            <div class="pack-one card-pack">
                                <div class="display-none" ng-class="{'glow-div':packTrigger}"></div>
                                <img src="https://cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/home/classic-pack.png">

                            </div>
                            <i class="fa fa-refresh fa-spin" ng-class="{'opac-change': isDraftLoading()}"></i>
                        </div>
                    </span>
                
                
            </div>
            <div class="hidden-sm hidden-md hidden-lg hidden-xl mobile-warning m-t-xl m-b-xl">
            
                <h2>Sealed tool Not available on Mobile</h2>
                
                
            </div>
        </div>
    </div>
<!--
    <div class="row mid-section">
        <div class="container">
            <div class="col-sm-12 col-md-6 logo-section">
                 <a href="http://www.redbull.com/TeamBrawl" target="_blank"><img class="rb-logo m-b-xl" src="https://staging-cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/home/rb-icon.png"></a>
            </div>
            <div class="col-sm-12 col-md-6 team-brawl-info">
                <h2><span class="red-title">Red Bull</span> Team Brawl</h2>
                <h4>A Hearthstone Sealed Deck Tournament</h4>
                <p class="m-t-md">Tempo Storm is proud to announce we have partnered with the amazing team at Red Bull and in connection with Honda will be providing the worlds first Hearthstone Sealed Deck tournament! Featuring your favorite teams and players, battling it out in this new format to determine a champion!</p>
                <h2 class="red-title">Join Us!</h2>
                <h4>February 6th 2016 12pm PST 3pm est</h4>
                <p class="m-t-md m-b-xl">Visit <a href="http://www.redbull.com/TeamBrawl" target="_blank" class="red-bull-link">Redbull's Website</a> to learn more.</p>
            </div>
        </div>
    </div>
    <div class="row bottom-section">
        <div class="container">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 prize-section">
                <h2 class="red-title">Grand Prize</h2>
                <h4>To the Victor go the spoils</h4>
                <div class="prizes-div m-b-lg">
                    <h2 class="red-title m-t-md m-b-n">$3000.00</h2>
                    <h4 class="m-b-md ">Cash purse</h4>
                    
                    <i class="m-t-md fa fa-trophy"></i>
                    <h4 class="m-b-md">Team Brawl<br>Trophy</h4>
                    
                    <img class="m-t-md" src="https://staging-cdn-tempostorm.netdna-ssl.com/img/modules/redbull/client/img/home/dxracerlogo.png">
                    <h4 class="m-b-xl">Customized <strong>dx</strong>racer gaming chair</h4>
                </div>
                <a href="http://www.redbull.com/teambrawl" target="_blank" class="tourney-button red-btn m-t-md">Tournament Page</a>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
-->
</div>