<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#f1f2f4">
    <tbody>

    <tr>
        <td height="30px" style="line-height:30px;font-size:30px">&nbsp;</td>
    </tr>

    <%- include("server/views/notification-email/notification-email-header", header) %>

    <%- include("server/views/notification-email/account-activation/account-activation-body", body) %>

    <tr>
        <td height="30px" style="line-height:30px;font-size:30px">&nbsp;</td>
    </tr>

    <%- include("server/views/notification-email/notification-email-footer", footer) %>

    <tr>
        <td height="30px" style="line-height:30px;font-size:30px">&nbsp;</td>
    </tr>

    </tbody>
</table>


